<div class="panel panel--info ">
    	<p>You're booking a ticket for</p>
    	<h4 class="heading-medium flush--top">{{ data['event-title'] }}</h4>
    	<ul>
    		<div class="bold-small" style="margin-top:15px">Date and time</div>
    		<li style="padding-left:0">{{ session.data['event-day'] }} {{ session.data['event-month-name'] }} {{ session.data['event-year'] }}</li>
    		<li style="padding-left:0">{{ session.data['event-start-time'] }} to {{ session.data['event-finish-time'] }} <br /><br /></li>
    		<div class="bold-small">Location</div>
    		<li style="white-space: pre-wrap;padding-left:0">{{ data['full-address-holder'] }}</li>
    	</ul>
    	<br>
		<p>Free</p>
</div>