
<!--  MACRO TO MAKE EACH LIVE LINE ITEM -->
{% macro regiseredPerson(nameNumber) %}
<tr  style="border-bottom: 1px solid #bfc1c3;">

  <td valign="top" style="border: 0px; padding-top: 32px; padding-bottom: 25px; width:55%;">
    {% if session.currentEventShowing == 0 %}
      <p style="font-weight:700; margin:0;">{{ session.registeredPeopleCheckinNames1[nameNumber][0] }} {{ session.registeredPeopleCheckinNames1[nameNumber][1] }}</p>
    {% elif  session.currentEventShowing == 1  %}
      <p style="font-weight:700; margin:0;">{{ session.registeredPeopleCheckinNames2[nameNumber][0] }} {{ session.registeredPeopleCheckinNames2[nameNumber][1] }}</p>
    {% endif %}

  </td>

  <td valign="top" style="border: 0px; padding-top: 18px; padding-bottom: 16px;">

    <div style="float:right">
      <!--<input type="submit" class="button" value="Check in"  formaction="#"  onclick="checkin(this)" style="margin-top:px;"> -->

      <p class="button" onclick="checkin(this)" value="Check in" style="margin-top:0px; margin-bottom:12px;">Check in</p>


      <div class="js-hidden">
        <p style="margin-top:0px; margin-bottom:0px;">Checked in  <br><a href="#">Undo check-in</a></p>
      </div>
    </div>

  </td>

</tr>




<script>
  function checkin(button)
  {
    console.log("button is " + jQuery(button).parent());
    jQuery(button).parent().children()[0].classList.add("js-hidden");
    jQuery(button).parent().children()[1].classList.remove("js-hidden");
  }
</script>


{% endmacro %}





<div >


    <table style="width:40%; margin-top:40px;">
      <thead>
      </thead>

      <tbody>

      {% if session.currentEventShowing == 0 %}
        {{ regiseredPerson(0) }}
        {{ regiseredPerson(1) }}
        {{ regiseredPerson(2) }}
        {{ regiseredPerson(3) }}
        {{ regiseredPerson(4) }}
        {{ regiseredPerson(5) }}
        {{ regiseredPerson(6) }}
        {{ regiseredPerson(7) }}
        {{ regiseredPerson(8) }}
        {{ regiseredPerson(9) }}
      {% endif %}

      {% if session.currentEventShowing == 1 %}
        {{ regiseredPerson(0) }}
        {{ regiseredPerson(1) }}
        {{ regiseredPerson(2) }}
        {{ regiseredPerson(3) }}
        {{ regiseredPerson(4) }}
        {{ regiseredPerson(5) }}
        {{ regiseredPerson(6) }}
      {% endif %}



      </tbody>
    </table>




</div>