
<!--  MACRO TO MAKE EACH DRAFT LINE ITEM -->
{% macro draftEvent(itemRow) %}
<tr>

  <th scope="row" style="padding-top:18px; padding-bottom: 11px;">{{ session.eventsDraft[itemRow][0] }}<br>
    <table style="margin-top: 0px;">
      <thead>
      <tr>
        <td valign="top" style="border: 0px; padding-top: 2px; padding-bottom: 0px;"><a href="/summary-data/{{itemRow}}/false">View summary</a></td>
        <td valign="top" style="border: 0px; padding-top: 2px; padding-bottom: 0px;"><a href="/preview-data/{{itemRow}}/false">View event page</a></td>
        <td valign="top" style="width:40%; border: 0px; padding-right: 0px; padding-top: 2px; padding-bottom: 0px;">
          <details style="display:inline;">
            <summary><span class="summary">More options</span></summary>
            <div class="panel panel-border-narrow">
              <ul>
                <li style="margin-bottom:3px;"><a href="/summary-data/{{itemRow}}/false">Edit event</a> </li>
                <li style="margin-bottom:3px;"><a href="/clone-event/{{itemRow}}/false">Clone event</a> </li>
                <!-- <a href="#">Close registrations</a> <br> -->
                <li style="margin-bottom:3px;"><a href="#">Delete event</a> </li>
              </ul>
            </div>
          </details>
        </td>
      </tr>
      </thead>
      <tbody>
      </tbody>
    </table>
  </th>
  <td class="row" valign="top" style="padding-top:18px; padding-bottom: 11px;">{{ session.eventsDraft[itemRow][3] }} {{ session.eventsDraft[itemRow][5] }} {{ session.eventsDraft[itemRow][6] }}</td>
  <td class="row" valign="top" style="padding-top:18px; padding-bottom: 11px; padding-right:0px; text-align:right;">{{ session.eventsDraft[itemRow][8] }} tickets</td>
  <!--<td class="row" valign="top" style="padding-right:0px; font-weight:700; color:#B10E1E;">Private draft</td>-->
</tr>
{% endmacro %}





<div >

  <!-- EMPTY LIST STATE  -->
  {% if session.eventsDraft.length == 0 %}
    <br>
    <br>

    <p>You don't have any draft events right now.</p>

    <form action="/create-event/new" method="get" class="form">

      <div class="form-group">
        <input type="submit" class="button" value="Create new event">
      </div>

    </form>
    <br>
    <br>
    <br>
    <br>
    <br>
  {% else %}
    <table style="width:100%;">
      <thead>
      <tr>
        <th scope="col" style="width:65%; border-bottom: 0px; padding-top: 0px;"> </th>
        <th class="col" style="width:20%; border-bottom: 0px; padding-top: 0px;" scope="col"></th>
        <th class="col" style="width:16%; border-bottom: 0px; padding-top: 0px;" scope="col"></th>
        <!-- <th class="col" style="width:13%; border-bottom: 0px; padding-top: 0px;" scope="col"></th>  -->
      </tr>
      </thead>

      <tbody>

      <!-- EVENT ONE  -->
      {% if session.eventsDraftBoolean[0] %}
        {{ draftEvent(0) }}
      {% endif %}

      <!-- EVENT TWO  -->
      {% if session.eventsDraftBoolean[1] %}
        {{ draftEvent(1) }}
      {% endif %}

      <!-- EVENT THREE  -->
      {% if session.eventsDraftBoolean[2] %}
        {{ draftEvent(2) }}
      {% endif %}

      <!-- EVENT THREE  -->
      {% if session.eventsDraftBoolean[3] %}
      {{ draftEvent(3) }}
      {% endif %}

      <!-- EVENT THREE  -->
      {% if session.eventsDraftBoolean[4] %}
      {{ draftEvent(4) }}
      {% endif %}


      </tbody>
    </table>
  {% endif %}




</div>