<style>
	header, #global-header-bar {display: none}

    border: 0;
    font: inherit;
    font-size: 100%;
    margin: 0;
    padding: 0;
    vertical-align: baseline;

.navigation-strip {
    padding: 8px 0 3px;
}
.background--dark-navy {
    background-color: #160d37;
    height: 40px;
}
.outer-container {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
}

.navigation-main-section.outer-container {
	display: none;
}
.background--great-blue {
    background-color: #1e1348;
}
.navigation a {
    display: block;
    float: none
}
.navigation-logo-link {
    margin-bottom: 3px;
}
.float--left {
    float: left;
}
a {
    text-decoration: none;
}

main#content {max-width: 1200px}
.breadcrumbs, #global-cookie-message {display: none}

.navigation {margin-bottom: -3px}
</style>


<!--  When the event is not live we should show the big white header -->
{% if session.externalUser == false %}
    <!-- These require the ""  -->
   {% if session.liveOrNot == "false" %}
      <div style="background-color: #FFFFFF; border-bottom: 10px solid #000000; height:410px; padding-top:0px; padding-bottom:10px; display: flex; " >

        <div style="flex-grow:1"> </div>

        <div style=" margin:20px; margin-top:0px;  width:600px;"  >

            <div class="govuk-box-highlight background--aqua" style="padding-top:60px; padding-bottom:40px;">
                <h1 class="bold-large" style="margin-bottom:10px" align="center">Event saved as draft<br> </h1>
            </div>

            <div>
                <!--<h2 class="heading-medium" style="margin-bottom:10px; margin-top:20px;">Actions</h2>  -->
                <p class="form-label-bold" style="font-size:18px; font-family: Arial,sans-serif; margin-top:30px;  margin-bottom:15px;" align="left">
                    Share draft: <span style="font-weight:400">www.great.gov.uk/event/mh43dz</span>
                </p>

                <p style="font-size:16px;" align="left"><a style="font-family: Arial,sans-serif;" href="summary">Back to event summary</a></p>

                <p style="font-size:16px;" align="left"><a style="font-family: Arial,sans-serif;" href="/events-home_v2">Account home</a></p>

                <p><a class="button-secondary" style="font-family: Arial,sans-serif; padding: .526315em .789473em .263157em;  font-size: 1.2em;   line-height: 1.25;
              " href="/create-event/go-live-now">Make event live</a></p>

            </div>
        </div>

        <div style="flex-grow:1"> </div>

      </div>

    <!-- These require the ""  -->
    {% elif session.liveOrNot == "true" %}

        <div style="background-color: #FFFFFF; border-bottom: 10px solid #000000; height:410px; padding-top:0px; padding-bottom:10px; display: flex; " >

            <div style="flex-grow:1"> </div>

            <div style=" margin:20px; margin-top:0px;  width:600px;"  >

                <div class="govuk-box-highlight background--aqua" style="padding-top:40px; padding-bottom:20px;">
                    <h1 class="bold-large" style="margin-bottom:10px" align="center">Live event<br> </h1>
                    {% if session.data['radio-link-access'] != ""  %}
                        <p>Visible to {{ session.data['radio-link-access'] }}</p>
                    {% endif %}
                </div>

                <div>
                    <p style="font-size:16px; margin-top:30px;" align="left"><a style="font-family: Arial,sans-serif;" href="/create-event/summary">View event summary</a></p>

                    <p style="font-size:16px; "><a href="/create-event/go-live-now">Change page visibility</a></p>

                    <p style="font-size:16px; " align="left"><a style="font-family: Arial,sans-serif;" href="#">Track and monitor this event</a></p>

                    <p><a class="button-secondary" style="font-family: Arial,sans-serif; padding: .526315em .789473em .263157em;  font-size: 1.2em;   line-height: 1.25;
                  " href="/account">Account home</a></p>
                </div>
            </div>

            <div style="flex-grow:1"> </div>

        </div>

    {% endif %}

{% endif %}



<div class="navigation">
      <div class="navigation-strip background--dark-navy">
        <div class="outer-container">
          <ul class="list-inline list-separators">
            <li class="float--left soft-half--right navigation-skip-to"><a class="link link--grey" href="#content" title="Skip to main content"><strong>Skip to main content</strong></a></li>
            <li class="float--left soft-half--right"><a class="logo-hmg" href="https://www.gov.uk/" title="Go to the GOV.UK homepage"><img src="/public/great-library/images/hm_government_logo_horizontal.svg" alt="HM Government logo"></a></li>
            <li class="float--left soft-half--left"><a class="link link--white" href="https://great.gov.uk" title="part of great.gov.uk"><span class="hide-mobile font-light-grey font-light">Part of </span><span class="font-regular">great.gov.uk</span></a></li>
          </ul>
{% if loggedIn == false and external_journey == true %}
          <ul class="list-inline list-separators float--right navigation-login font-regular" id="sso-signin">
            <li class="float--left soft-half--right"><a class="link--white" href="/register/sign-in" title="Sign in"><i class="icon icon--left icon-sign-in" style="background-image: url(/public/great-library/images/icons/signin.svg)"></i><span class="hide-mobile">Sign in</span></a></li>
            <li class="float--left soft-half--left hide-mobile"><a class="link--white" href="https://sso.trade.great.gov.uk/accounts/signup/" title="Register"><span>Test</span></a></li>
          </ul>
          <ul class="list-inline list-separators float--right navigation-login font-regular" id="sso-signout" style="display:none">
            <li class="float--left soft-half--right"><a class="link--white" href="https://profile.great.gov.uk/export-opportunities/applications/" title="Profile"><i class="icon icon--left icon-sign-in" style="background-image: url(/public/great-library/images/icons/signout.svg)"></i><span class="hide-mobile">Profile</span></a></li>
            <li class="float--left soft-half--left hide-mobile"><a class="link--white" href="https://sso.trade.great.gov.uk/accounts/logout/" title="Register"><span>Test out</span></a></li>
          </ul>
{% elif loggedIn == true and external_journey == true %}
            
          <ul class="list-inline list-separators float--right navigation-login font-regular" id="sso-signout">
            
            <li class="float--left soft-half--right"> <a class="link--white" href="https://profile.great.gov.uk/export-opportunities/applications/" title="Profile"><span class="hide-mobile">Profile</span></a></li>
            <li class="float--left soft-half--left hide-mobile"><a class="link--white" href="https://sso.trade.great.gov.uk/accounts/logout/" title="Register"><span>Sign out</span></a></li>
          </ul>
          <div class="float--right soft-half--right"> <a class="link--white" href="#" title="Profile"><span class="hide-mobile">Hi {{ data['email-address'] }}</span></div>
{% endif %}
        </div>
      </div>
      <div class="background--great-blue">
        <div class="outer-container">
          <a href="https://export.great.gov.uk/" title="Go to the Exporting is GREAT homepage" class="navigation-logo-link float--left">
            <img src="/public/great-library/images/eig_logo_horizontal.svg" alt="Exporting is GREAT logo" class="navigation-logo">
          </a>
        </div>
      </div>
      <div class="navigation-main background--dark-blue">
        <div class="navigation-main-section outer-container">
          <nav>
            <ul class="list-inline list-separators navigation-main-menu">
             
            </ul>
          </nav>
          <a class="button navigation-main-button font-white" title="" href=""><i class="icon icon-menu"></i>All</a>
        </div>
        <div class="navigation-toggle background--dark-navy">
          <div class="outer-container">
            <div class="col-3">
              <div class="navigation-toggle-services-section">
                <h3 class="font-large font-light-grey font-light push--bottom hide-mobile">Export readiness</h3>
                <ul class="font-regular">
                  <li class="navigation-toggle-item navigation-toggle-services"><a title="new to exporting" href="/new/" class="">New to exporting</a></li>
                  <li class="navigation-toggle-item navigation-toggle-services"><a title="occasional exporter" href="/occasional/" class="">Occasional exporter</a></li>
                  <li class="navigation-toggle-item navigation-toggle-services"><a title="regular exporter" href="/regular/" class="last ">Regular exporter</a></li>
                </ul>
              </div>
            </div>
            <div class="col-3">
              <h3 class="font-large font-light-grey font-light push--bottom hide-mobile soft--left">Online tools</h3>
              <ul class="navigation-toggle-middle">
                <li class="navigation-toggle-item"><a href="https://export.great.gov.uk/opportunities" title="Export opportunities">Export opportunities</a></li>
                <li class="navigation-toggle-item"><a href="http://find-a-buyer.export.great.gov.uk/" title="Find a buyer">Find a buyer</a></li>
                <li class="navigation-toggle-item"><a href="https://selling-online-overseas.export.great.gov.uk/markets/" title="Selling online overseas">Selling online overseas</a></li>
              </ul>
            </div>
            <div class="col-3">
              <h3 class="font-large font-light-grey font-light push--bottom hide-mobile soft--left">Other support</h3>
              <ul class="navigation-toggle-middle">
                <li class="navigation-toggle-item"><a href="/get-finance/" title="Get finance" class="">Get finance</a></li>
                <li class="navigation-toggle-item"><a href="https://events.trade.gov.uk/" title="Events">Events</a></li>
              </ul>
            </div>
            <div class="col-3">
              <h3 class="font-large font-light-grey font-light soft--left push--bottom hide-mobile">About us</h3>
              <ul class="navigation-toggle-middle">
                <li class="navigation-toggle-item"><a href="/about/" title="About great.gov.uk">About great.gov.uk</a></li>
                <li class="navigation-toggle-item"><a href="https://contact-us.export.great.gov.uk/selling_online_overseas" title="Contact us" class="last">Contact us</a></li>
              </ul>
            </div>
          </div>
        </div>


      </div>


    </div>


    <div class="govuk-beta-label" style="max-width: 1200px; margin-left: auto; margin-right: auto;">
      <p style="
        font-size: 14px;
        padding: 10px 0;
        border-bottom: 1px solid #DDD;">
        <strong class="phase-tag">Alpha</strong>
        <span>
            This is a new service - your
              <a target="_blank" rel="noopener noreferrer" href="/account/great-feedback" style="text-decoration: underline;">feedback</a> will help us improve it.
          </span>
      </p>
    </div>