<style>
footer ul li {
  list-style: none;
}
footer {display: none}
footer.static-header-footer {display: block}

div#gethelp {display: none}

</style>



<div id="gethelpgreat" style=margin:30px;">
  <p style="width:1200px; margin: auto;"><a href="#" style="color: #6f777b; text-decoration: underline">Get help with this page</a></p>
</div>



<footer id="footer" class="static-header-footer">
  <nav class="container">
    <div class="link-group"><img id="footer-dit-logo" src="/public/great-library/images/DfIT_WHITE_AW.de9db0b6a757.png" height="70px" alt="Department for International Trade"><img id="footer-eig-logo" src="/public/great-library/images/eig-logo-stacked.90894c28d774.svg" height="82px" alt="Exporting is Great">
    </div>
    <div class="link-group">
      <p id="footer-export-readiness-links" class="list-heading">Export readiness</p>
      <ul aria-labelledby="footer-export-readiness-links" class="navigation">
        <li><a href="/new/">I'm new to exporting</a></li>
        <li><a href="/occasional/">I export occasionally</a></li>
        <li><a href="/regular/">I'm a regular exporter</a></li>
      </ul>
    </div>
    <div class="link-group">
      <p id="footer-guidance-links" class="list-heading">Guidance</p>
      <ul aria-labelledby="footer-guidance-links" class="navigation">
        <li><a href="/market-research/">Market research</a></li>
        <li><a href="/customer-insight/">Customer insight</a></li>
        <li><a href="/finance/">Finance</a></li>
        <li><a href="/business-planning/">Business planning</a></li>
        <li><a href="/getting-paid/">Getting paid</a></li>
        <li><a href="/operations-and-compliance/">Operations and compliance</a></li>
      </ul>
    </div>
    <div class="link-group">
      <p id="footer-services-links" class="list-heading">Services</p>
      <ul aria-labelledby="footer-services-links" class="navigation">
        <li><a href="https://find-a-buyer.export.great.gov.uk/">Create an export profile</a></li>
        <li><a href="https://selling-online-overseas.export.great.gov.uk/">Sell online overseas</a></li>
        <li><a href="/export-opportunities/">Find export opportunities</a></li>
        <li><a href="/get-finance/">Get finance</a></li>
        <li><a href="https://events.trade.gov.uk/">Attend events</a></li>
      </ul>
    </div>
  </nav>
  <div class="site-links container">
    <ul class="navigation">
      <li><a href="/about/" class="">About</a></li>
      <li><a href="https://contact-us.export.great.gov.uk/directory/" class="">Contact us</a></li>
      <li><a href="/privacy-and-cookies/" class="">Privacy and cookies</a></li>
      <li><a href="/terms-and-conditions/" class="">Terms and conditions</a></li>
      <li><a href="https://www.gov.uk/government/organisations/department-for-international-trade" class="">Department for International Trade on GOV.UK</a></li>
    </ul>
  </div>
  <div class="global-footer">
    <p class="container"><span>© Crown copyright 2017. All rights reserved.</span></p>
  </div>
</footer>