
<style>
  .footer .footer-bottom {border:0} 
  #footer {
    display: none
  }
</style>
<footer role="contentinfo">
  <div class="footer background--great-blue soft--top">
      <div class="outer-container">
        <div class="footer-section">
          <div class="col-8">
            <a href="https://www.exportingisgreat.gov.uk/" title="Go to the Exporting is Great homepage">
              <img src="https://d2w7ccnd7xbk9v.cloudfront.net/static/images/EiG-logo-stacked.8bc6134cffb3.svg" alt="Exporting is Great logo" class="footer-logo">
            </a>
          </div>

          

        </div>
      </div>
      <div class="outer-container">
        <div class="footer-bottom">
          <div class="navigation-strip">
            <ul class="list-inline list-separators">
              <li class="float--left soft--right"><a class="" href="https://www.gov.uk/" title="hm government"><img src="https://d2w7ccnd7xbk9v.cloudfront.net/static/images/hm-gov-horizontal.30bb3826fd58.svg"></a></li>
              <li class="float--left soft--left footer-links--border"><a class="link--grey" href="https://www.great.gov.uk/" title="part of great.gov.uk">Part of <strong>great.gov.uk</strong></a></li>
            </ul>
          </div>
          <div class="footer-copy font-light-grey font-xsmall">
            <p>© Crown copyright 2017. All rights reserved.</p>
          </div>
        </div>
      </div>
  </div>
</footer>