
<!--  MACRO TO MAKE EACH LIVE LINE ITEM -->
{% macro liveEvent(itemRow) %}

<table style="width:100%;">
  <thead>
  <tr>
    <th scope="col" style="width:65%; border-bottom: 0px; padding-top: 0px; padding-top:0px;"> </th>
    <th class="col" style="width:20%; border-bottom: 0px; padding-top: 0px; padding-top:0px;" scope="col"></th>
    <th class="col" style="width:16%; border-bottom: 0px; padding-top: 0px; padding-top:0px;" scope="col"></th>
    <!-- <th class="col" style="width:13%; border-bottom: 0px; padding-top: 0px;" scope="col"></th>  -->
  </tr>
  </thead>

  <tbody>
<tr style="">

  <th scope="row" style="padding-top:2px; padding-bottom: 3px; border-bottom:0px">{{ session.eventsLive[itemRow][0] }}<br>

  </th>
  <td class="row" valign="top" style="padding-top:2px; padding-bottom: 3px; border-bottom:0px">{{ session.eventsLive[itemRow][3] }} {{ session.eventsLive[itemRow][5] }} {{ session.eventsLive[itemRow][6] }}</td>

  <!-- Number to match Filips scenarios  -->
    <td class="row" valign="top" style="padding-top:2px; padding-bottom: 3px; padding-right:0px; text-align:right; border-bottom:0px">{{session.eventsLive[itemRow][20]}} / {{ session.eventsLive[itemRow][8] }} tickets</td>

</tr>


  </tbody>
</table>

<!--  the bottom roww of data  -->
<table style="width:100%; margin-top:0px; padding-bottom:10px; border-bottom:1px solid #bfc1c3;">
  <thead>
    <tr>
      <th scope="col" style="width:34%; border-bottom: 0px; padding-top: 0px; padding-bottom: 0px;"> </th>
      <th class="col" style="width:26%; border-bottom: 0px; padding-top: 0px;; padding-bottom: 0px;" scope="col"></th>
      <th class="col" style="width:40%; border-bottom: 0px; padding-top: 0px;; padding-bottom: 0px;"></th>
      <!-- <th class="col" style="width:13%; border-bottom: 0px; padding-top: 0px;" scope="col"></th>  -->
    </tr>
  </thead>

  <tbody>


    <tr>

      <td valign="top" style="border: 0px; padding-top: 2px; padding-bottom: 12px; ">
        <a href="/monitor-event/{{itemRow}}/true">Monitor and track</a>  &nbsp; &nbsp; &nbsp;
        <a href="/preview-data/{{itemRow}}/true">View web page</a></td>

      <td valign="top" style=" border: 0px; padding-right: 0px; padding-top: 2px; padding-bottom: 12px;">
        <details style="display:inline;">
          <summary><span class="summary">More options</span></summary>
          <div class="panel panel-border-narrow">
            <ul>
              <li style="margin-bottom:3px;"><a href="/summary-data/{{itemRow}}/true">Edit page</a></li>
              <li style="margin-bottom:3px;"><a href="/clone-event/{{itemRow}}/true">Clone event</a></li>

              {% if session.eventsLive[itemRow][19] == false %}
                 <li style="margin-bottom:3px;"><a href="/toggle-closed-reg/{{itemRow}}">Close registrations</a></li>
              {% else %}
                 <li style="margin-bottom:3px;"><a href="/toggle-closed-reg/{{itemRow}}">Open registrations</a></li>
              {% endif %}

              <li style="margin-bottom:3px;"><a href="#">Unpublish</a></li>
              <li style="margin-bottom:3px;"><a href="#">Delete</a></li>
            </ul>
          </div>
        </details>
      </td>



      <td valign="top" style="border: 0px; padding-top: 2px; padding-bottom: 12px; padding-right:0px; text-align:right;">
        {% if session.eventsLive[itemRow][19] %}
          <span style="font-weight:700">Registrations are closed</span>
        {% else %}
            {% if session.eventsLive[itemRow][20]/session.eventsLive[itemRow][8] < 0.05 %}
                <div style="background-color: #FFFFFF; margin-left:261px; border:1px solid #000000; height:5px; border-left:1px solid #000000;"> </div>
            {% elif session.eventsLive[itemRow][20]/session.eventsLive[itemRow][8] < 0.1 %}
                <div style="background-color: #FFFFFF; margin-left:261px; border:1px solid #000000; height:5px; border-left:7px solid #000000;"> </div>
            {% elif  session.eventsLive[itemRow][20]/session.eventsLive[itemRow][8] < 0.15 %}
                <div style="background-color: #FFFFFF; margin-left:261px; border:1px solid #000000; height:5px; border-left:13px solid #000000;"> </div>
            {% elif  session.eventsLive[itemRow][20]/session.eventsLive[itemRow][8] < 0.2 %}
                <div style="background-color: #FFFFFF; margin-left:261px; border:1px solid #000000; height:5px; border-left:19px solid #000000;"> </div>
            {% elif  session.eventsLive[itemRow][20]/session.eventsLive[itemRow][8] < 0.25 %}
                <div style="background-color: #FFFFFF; margin-left:261px; border:1px solid #000000; height:5px; border-left:25px solid #000000;"> </div>
            {% elif  session.eventsLive[itemRow][20]/session.eventsLive[itemRow][8] < 0.3 %}
                <div style="background-color: #FFFFFF; margin-left:261px; border:1px solid #000000; height:5px; border-left:31px solid #000000;"> </div>
            {% elif  session.eventsLive[itemRow][20]/session.eventsLive[itemRow][8] < 0.35 %}
                <div style="background-color: #FFFFFF; margin-left:261px; border:1px solid #000000; height:5px; border-left:37px solid #000000;"> </div>
            {% elif  session.eventsLive[itemRow][20]/session.eventsLive[itemRow][8] < 0.4 %}
                <div style="background-color: #FFFFFF; margin-left:261px; border:1px solid #000000; height:5px; border-left:43px solid #000000;"> </div>
            {% elif  session.eventsLive[itemRow][20]/session.eventsLive[itemRow][8] < 0.45 %}
                <div style="background-color: #FFFFFF; margin-left:261px; border:1px solid #000000; height:5px; border-left:49px solid #000000;"> </div>
            {% elif  session.eventsLive[itemRow][20]/session.eventsLive[itemRow][8] < 0.5 %}
                <div style="background-color: #FFFFFF; margin-left:261px; border:1px solid #000000; height:5px; border-left:55px solid #000000;"> </div>
            {% elif  session.eventsLive[itemRow][20]/session.eventsLive[itemRow][8] < 0.55 %}
                <div style="background-color: #FFFFFF; margin-left:261px; border:1px solid #000000; height:5px; border-left:61px solid #000000;"> </div>
            {% elif  session.eventsLive[itemRow][20]/session.eventsLive[itemRow][8] < 0.6 %}
                <div style="background-color: #FFFFFF; margin-left:261px; border:1px solid #000000; height:5px; border-left:67px solid #000000;"> </div>
            {% elif  session.eventsLive[itemRow][20]/session.eventsLive[itemRow][8] < 0.65 %}
                <div style="background-color: #FFFFFF; margin-left:261px; border:1px solid #000000; height:5px; border-left:73px solid #000000;"> </div>
            {% elif  session.eventsLive[itemRow][20]/session.eventsLive[itemRow][8] < 0.7 %}
                <div style="background-color: #FFFFFF; margin-left:261px; border:1px solid #000000; height:5px; border-left:79px solid #000000;"> </div>
            {% elif  session.eventsLive[itemRow][20]/session.eventsLive[itemRow][8] < 0.75 %}
                <div style="background-color: #FFFFFF; margin-left:261px; border:1px solid #000000; height:5px; border-left:85px solid #000000;"> </div>
            {% elif  session.eventsLive[itemRow][20]/session.eventsLive[itemRow][8] < 0.8 %}
                <div style="background-color: #FFFFFF; margin-left:261px; border:1px solid #000000; height:5px; border-left:91px solid #000000;"> </div>
            {% elif  session.eventsLive[itemRow][20]/session.eventsLive[itemRow][8] < 0.85 %}
                <div style="background-color: #FFFFFF; margin-left:261px; border:1px solid #000000; height:5px; border-left:97px solid #000000;"> </div>
            {% elif  session.eventsLive[itemRow][20]/session.eventsLive[itemRow][8] < 0.9 %}
                <div style="background-color: #FFFFFF; margin-left:261px; border:1px solid #000000; height:5px; border-left:106px solid #000000;"> </div>
            {% elif  session.eventsLive[itemRow][20]/session.eventsLive[itemRow][8] < 0.95 %}
                <div style="background-color: #FFFFFF; margin-left:261px; border:1px solid #000000; height:5px; border-left:112px solid #000000;"> </div>
            {% elif  session.eventsLive[itemRow][20]/session.eventsLive[itemRow][8] >= 0.95 %}
                <div style="background-color: #FFFFFF; margin-left:261px; border:1px solid #000000; height:5px; border-left:122px solid #000000;"> </div>
            {% endif %}
        {% endif %}
      </td>

    </tr>

  </tbody>
</table>




{% endmacro %}





<div >

  <!-- EMPTY LIST STATE  -->
  {% if session.eventsLive.length == 0 %}
    <br>
    <br>

  <p>You don't have any live events right now.</p>

  <form action="/create-event/new" method="get" class="form">

    <div class="form-group">
      <input type="submit" class="button" value="Create new event">
    </div>

    </form>
    <br>
    <br>
    <br>
    <br>
    <br>
  {% else %}


      <!-- EVENT ONE  -->
      {% for i in range(0, 100) -%}
          {% if i < session.eventsLive.length %}
             {{ liveEvent(i) }}
          {% endif %}
      {%- endfor %}


  {% endif %}




</div>