
<!--  MACRO TO MAKE EACH LIVE LINE ITEM -->
{% macro regiseredPerson(listItemNumber, whichList) %}


{% if whichList == 1  %}
<tr>

  <td valign="top" style="border: 0px; padding-top: 14px; padding-bottom: 0px;"> {{ session.registeredPeopleData1[listItemNumber][2] }} </td>
  <td valign="top" style="border: 0px; padding-top: 14px; padding-bottom: 0px;"> {{ session.registeredPeopleData1[listItemNumber][3] }}</td>
  <td valign="top" style="border: 0px; padding-top: 14px; padding-bottom: 0px;"> {{ session.registeredPeopleData1[listItemNumber][4] }}</td>
  <td valign="top" style="border: 0px; padding-top: 14px; padding-bottom: 0px;">South West<br>{{ session.registeredPeopleData1[listItemNumber][10] }}</td>
  <td valign="top" style="border: 0px; padding-top: 14px; padding-bottom: 0px;">
    {% if session.registeredPeopleData1[listItemNumber][17] == "New to DIT"  %}
      <span style="font-weight:700;">{{ session.registeredPeopleData1[listItemNumber][17] }}</span>
    {% else %}
      {{ session.registeredPeopleData1[listItemNumber][17] }}
    {% endif  %}
  </td>
</tr>

<tr>

  <td colspan="5" style="padding-top:2px;">
    <div>
      <details>
        <summary><span class="summary">More details</span></summary>
        <div class="panel panel-border-narrow">

          <p><span style="font-weight:700;">Registration time</span><br>
            {{ session.registeredPeopleData1[listItemNumber][1] }}<br>{{ session.registeredPeopleData1[listItemNumber][0] }}
            <br><a href="#">Cancel registration</a>
          </p>


          <div style="display: -webkit-flex; display: flex; -webkit-flex-direction: row; flex-direction: row; margin-bottom:25px;  margin-top:50px;">
            <div style=" width: 33%; ">
              <p><span style="font-weight:700;">First name</span><br>
                {{ session.registeredPeopleData1[listItemNumber][2] }}
              </p>
            </div>
            <div style=" width: 33%; ">
              <p><span style="font-weight:700;">Last name</span><br>
                {{ session.registeredPeopleData1[listItemNumber][3] }}
              </p>
            </div>
            <div style=" width: 33%; ">
              <p><span style="font-weight:700;">Job title</span><br>
                {{ session.registeredPeopleData1[listItemNumber][4] }}
              </p>
            </div>
          </div>


          <div style="display: -webkit-flex; display: flex; -webkit-flex-direction: row; flex-direction: row; margin-bottom:50px;">
            <div style=" width: 33%; ">
              <p><span style="font-weight:700;">Phone Number</span><br>
                {{ session.registeredPeopleData1[listItemNumber][6] }}
              </p>
            </div>
            <div style=" width: 33%; ">
              <p><span style="font-weight:700;">Email address</span><br>
                {{ session.registeredPeopleData1[listItemNumber][7] }}
              </p>
            </div>
            <div style=" width: 33%; ">
            </div>
          </div>



          <div style="display: -webkit-flex; display: flex; -webkit-flex-direction: row; flex-direction: row; margin-bottom:30px;">
            <div style=" width: 33%; ">
              <p><span style="font-weight:700;">Company</span><br>
                {{ session.registeredPeopleData1[listItemNumber][4] }}
              </p>
            </div>
            <div style=" width: 33%; ">
              <p><span style="font-weight:700;">Sector</span><br>
                {{ session.registeredPeopleData1[listItemNumber][12] }} <br>
              </p>
            </div>
            <div style=" width: 33%; ">
              <p><span style="font-weight:700;">Website</span><br>
                {{ session.registeredPeopleData1[listItemNumber][13] }} <br>
              </p>
            </div>
          </div>




          <div style="display: -webkit-flex; display: flex; -webkit-flex-direction: row; flex-direction: row; margin-bottom:50px;">
            <div style=" width: 33%; ">
              <p><span style="font-weight:700;">Currently exporting</span><br>
                {{ session.registeredPeopleData1[listItemNumber][14] }} <br>
              </p>
            </div>
            <div style=" width: 33%; ">
              <p><span style="font-weight:700;">Company turnover</span><br>
                {{ session.registeredPeopleData1[listItemNumber][15] }} <br>
              </p>
            </div>
            <div style=" width: 33%; ">
              <p><span style="font-weight:700;">Address</span><br>
                {{ session.registeredPeopleData1[listItemNumber][9] }} <br>
                {{ session.registeredPeopleData1[listItemNumber][10] }} <br>
                {{ session.registeredPeopleData1[listItemNumber][11] }}
              </p>

            </div>
          </div>



          <div style="display: -webkit-flex; display: flex; -webkit-flex-direction: row; flex-direction: row; margin-bottom:50px;">
            <div style=" width: 33%; ">
              <p><span style="font-weight:700;">ITA</span><br>
                Abc Xyz
              </p>
            </div>
            <div style=" width: 33%; ">
              <p><span style="font-weight:700;">See company's DIT record</span><br>
                Abc Xyz
              </p>
            </div>
            <div style=" width: 33%; ">
              <p><span style="font-weight:700;">Consent for marketing</span><br>
                {{ session.registeredPeopleData1[listItemNumber][8] }}
              </p>
            </div>
          </div>


          <p><span style="font-weight:700;">Food allergies</span><br>
            {{ session.registeredPeopleData1[listItemNumber][16] }}
          </p>

            {% if false %}
              <a href="#">See full customer record</a>
            {% endif %}
          </p>
        </div>
      </details>
    </div>
  </td>

</tr>


{% elif whichList == 2 %}
<tr>

  <td valign="top" style="border: 0px; padding-top: 14px; padding-bottom: 0px;"> {{ session.registeredPeopleData2[listItemNumber][2] }} </td>
  <td valign="top" style="border: 0px; padding-top: 14px; padding-bottom: 0px;"> {{ session.registeredPeopleData2[listItemNumber][3] }}</td>
  <td valign="top" style="border: 0px; padding-top: 14px; padding-bottom: 0px;"> {{ session.registeredPeopleData2[listItemNumber][4] }}</td>
  <td valign="top" style="border: 0px; padding-top: 14px; padding-bottom: 0px;">South West<br>{{ session.registeredPeopleData2[listItemNumber][10] }}</td>
  <td valign="top" style="border: 0px; padding-top: 14px; padding-bottom: 0px;">
    {% if session.registeredPeopleData2[listItemNumber][17] == "New to DIT"  %}
    <span style="font-weight:700;">{{ session.registeredPeopleData2[listItemNumber][17] }}</span>
    {% else %}
    {{ session.registeredPeopleData2[listItemNumber][17] }}
    {% endif  %}
  </td>
</tr>

<tr>

  <td colspan="5" style="padding-top:2px;">
    <div>
      <details>
        <summary><span class="summary">More details</span></summary>
        <div class="panel panel-border-narrow">

          <p><span style="font-weight:700;">Registration time</span><br>
            {{ session.registeredPeopleData2[listItemNumber][1] }}<br>{{ session.registeredPeopleData2[listItemNumber][0] }}
            <br><a href="#">Cancel registration</a>
          </p>


          <div style="display: -webkit-flex; display: flex; -webkit-flex-direction: row; flex-direction: row; margin-bottom:25px;  margin-top:50px;">
            <div style=" width: 33%; ">
              <p><span style="font-weight:700;">First name</span><br>
                {{ session.registeredPeopleData2[listItemNumber][2] }}
              </p>
            </div>
            <div style=" width: 33%; ">
              <p><span style="font-weight:700;">Last name</span><br>
                {{ session.registeredPeopleData2[listItemNumber][3] }}
              </p>
            </div>
            <div style=" width: 33%; ">
              <p><span style="font-weight:700;">Job title</span><br>
                {{ session.registeredPeopleData2[listItemNumber][4] }}
              </p>
            </div>
          </div>


          <div style="display: -webkit-flex; display: flex; -webkit-flex-direction: row; flex-direction: row; margin-bottom:50px;">
            <div style=" width: 33%; ">
              <p><span style="font-weight:700;">Phone Number</span><br>
                {{ session.registeredPeopleData2[listItemNumber][6] }}
              </p>
            </div>
            <div style=" width: 33%; ">
              <p><span style="font-weight:700;">Email address</span><br>
                {{ session.registeredPeopleData2[listItemNumber][7] }}
              </p>
            </div>
            <div style=" width: 33%; ">
            </div>
          </div>



          <div style="display: -webkit-flex; display: flex; -webkit-flex-direction: row; flex-direction: row; margin-bottom:30px;">
            <div style=" width: 33%; ">
              <p><span style="font-weight:700;">Company</span><br>
                {{ session.registeredPeopleData2[listItemNumber][4] }}
              </p>
            </div>
            <div style=" width: 33%; ">
              <p><span style="font-weight:700;">Sector</span><br>
                {{ session.registeredPeopleData2[listItemNumber][12] }} <br>
              </p>
            </div>
            <div style=" width: 33%; ">
              <p><span style="font-weight:700;">Website</span><br>
                {{ session.registeredPeopleData2[listItemNumber][13] }} <br>
              </p>
            </div>
          </div>




          <div style="display: -webkit-flex; display: flex; -webkit-flex-direction: row; flex-direction: row; margin-bottom:50px;">
            <div style=" width: 33%; ">
              <p><span style="font-weight:700;">Currently exporting</span><br>
                {{ session.registeredPeopleData2[listItemNumber][14] }} <br>
              </p>
            </div>
            <div style=" width: 33%; ">
              <p><span style="font-weight:700;">Company turnover</span><br>
                {{ session.registeredPeopleData2[listItemNumber][15] }} <br>
              </p>
            </div>
            <div style=" width: 33%; ">
              <p><span style="font-weight:700;">Address</span><br>
                {{ session.registeredPeopleData2[listItemNumber][9] }} <br>
                {{ session.registeredPeopleData2[listItemNumber][10] }} <br>
                {{ session.registeredPeopleData2[listItemNumber][11] }}
              </p>

            </div>
          </div>



          <div style="display: -webkit-flex; display: flex; -webkit-flex-direction: row; flex-direction: row; margin-bottom:50px;">
            <div style=" width: 33%; ">
              <p><span style="font-weight:700;">ITA</span><br>
                Abc Xyz
              </p>
            </div>
            <div style=" width: 33%; ">
              <p><span style="font-weight:700;">See company's DIT record</span><br>
                Abc Xyz
              </p>
            </div>
            <div style=" width: 33%; ">
              <p><span style="font-weight:700;">Consent for marketing</span><br>
                {{ session.registeredPeopleData2[listItemNumber][8] }}
              </p>
            </div>
          </div>


          <p><span style="font-weight:700;">Food allergies</span><br>
            {{ session.registeredPeopleData2[listItemNumber][16] }}
          </p>

          {% if false %}
          <a href="#">See full customer record</a>
          {% endif %}
          </p>
        </div>
      </details>
    </div>
  </td>

</tr>

{% endif  %}




{% endmacro %}





<div >


    <table style="width:100%; margin-top:40px;">
      <thead>
        <tr  style="border-bottom: 1px solid #bfc1c3;">
          <th scope="col" style="width:20%; padding-bottom:10px; padding-top: 0px;">First name</th>
          <th scope="col" style="width:23%; padding-bottom:10px; padding-top: 0px;">Last name <span style="font-weight:400;">&nbsp;<a href="#">Order A to Z</a></span></th>
          <th class="col" style="width:29%; padding-bottom:10px; padding-top: 0px;">Company <span style="font-weight:400;">&nbsp;<a href="#">Order A to Z</a></span></th>
          <th class="col" style="width:16%; padding-bottom:10px; padding-top: 0px;">Region</th>
          <th scope="col" style="width:12%; padding-bottom:10px; padding-top: 0px;">DIT record</th>
        </tr>
      </thead>

      <tbody>

      <!-- EVENT ONE  -->


      <!-- Low Carbon registrations -->
      {% if session.currentEventShowing == 0 %}
          {{ regiseredPerson(0, 1) }}
          {{ regiseredPerson(1, 1) }}
          {{ regiseredPerson(2, 1) }}
          {{ regiseredPerson(3, 1) }}
          {{ regiseredPerson(4, 1) }}
          {{ regiseredPerson(5, 1) }}
          {{ regiseredPerson(6, 1) }}
          {{ regiseredPerson(7, 1) }}
          {{ regiseredPerson(8, 1) }}
          {{ regiseredPerson(9, 1) }}
      {% endif  %}


      <!-- Coal Mongolia  -->
      {% if session.currentEventShowing == 1 %}
        {{ regiseredPerson(0, 2) }}
        {{ regiseredPerson(1, 2) }}
        {{ regiseredPerson(2, 2) }}
        {{ regiseredPerson(3, 2) }}
        {{ regiseredPerson(4, 2) }}
        {{ regiseredPerson(5, 2) }}
        {{ regiseredPerson(6, 2) }}
      {% endif  %}




      <!--
      {% if session.trackingTotalReg == 2 %}
        {{ regiseredPerson('Joe Desiato', 'CEO', 'Firefield LTD', 'Apparel', '07865 595 588', 'joe.desiato@gmail.com', true) }}
        {{ regiseredPerson('Guy Nociar', 'Head of sales', 'Meat professionals  south east', 'Food and drink', '07375 357 382', 'g.nociar@meatSE.com', true) }}

      {% elif session.trackingTotalReg == 10 %}

        {{ regiseredPerson('Joe Desiato', 'CEO', 'Firefield LTD', 'Apparel', '07865 595 588', 'joe.desiato@gmail.com', true) }}
        {{ regiseredPerson('Guy Nociar', 'Head of sales', 'Meat professionals  south east', 'Food and drink', '07375 357 382', 'g.nociar@meatSE.com', true) }}

        {{ regiseredPerson('Henry Brown', 'CEO', 'Crane Electronics Ltd.', 'Electronics & IT hardware', '07933465544', 'henry@crane.co.uk', true) }}
        {{ regiseredPerson('Geoff Clooney', 'International Sales Director', 'Crystalclear Aspects Ltd', 'Chemicals', '07986366723', 'geoff@crystalclear.co.uk', false) }}
        {{ regiseredPerson('Katie Howard', 'Finance Manager', 'CWSEC Ltd', 'Construction', '07974652277', 'katie@cwsec.com', true) }}
        {{ regiseredPerson('Robert McKinley', 'Sales Executive', 'David Jerome Ltd', 'Communications', '07933465544', 'robert@jerome.co.uk', false) }}
        {{ regiseredPerson('Charlotte Walsh', 'Creative Director', 'Dianne Illsley', 'Creative & Media', '07986366723', 'charlotte@diannecreative.com', false) }}

        {{ regiseredPerson('Gavin Bell', 'Sales Manager', 'Direct Trade Bags Company Ltd', 'Household Goods, Furniture & Furnishings', '07974652277', 'gavin@tradebags.co.uk', false) }}
        {{ regiseredPerson('Deepak Patel', 'Head of Engineering', 'Dy-Pack UK Ltd', 'Mining', '07933465544', 'deepak@dypack.com', false) }}
        {{ regiseredPerson('Mohammed Akram', 'International Sales Manager', 'Elat3d Ltd', 'Mining', '07986366723', 'moh@elat3d.com', false) }}

      {% elif session.trackingTotalReg == 17 %}

        {{ regiseredPerson('Joe Desiato', 'CEO', 'Firefield LTD', 'Apparel', '07865 595 588', 'joe.desiato@gmail.com', true) }}
        {{ regiseredPerson('Guy Nociar', 'Head of sales', 'Meat professionals  south east', 'Food and drink', '07375 357 382', 'g.nociar@meatSE.com', true) }}

        {{ regiseredPerson('Henry Brown', 'CEO', 'Crane Electronics Ltd.', 'Electronics & IT hardware', '07933465544', 'henry@crane.co.uk', true) }}
        {{ regiseredPerson('Geoff Clooney', 'International Sales Director', 'Crystalclear Aspects Ltd', 'Chemicals', '07986366723', 'geoff@crystalclear.co.uk', false) }}
        {{ regiseredPerson('Katie Howard', 'Finance Manager', 'CWSEC Ltd', 'Construction', '07974652277', 'katie@cwsec.com', true) }}
        {{ regiseredPerson('Robert McKinley', 'Sales Executive', 'David Jerome Ltd', 'Communications', '07933465544', 'robert@jerome.co.uk', false) }}
        {{ regiseredPerson('Charlotte Walsh', 'Creative Director', 'Dianne Illsley', 'Creative & Media', '07986366723', 'charlotte@diannecreative.com', false) }}

        {{ regiseredPerson('Gavin Bell', 'Sales Manager', 'Direct Trade Bags Company Ltd', 'Household Goods, Furniture & Furnishings', '07974652277', 'gavin@tradebags.co.uk', false) }}
        {{ regiseredPerson('Deepak Patel', 'Head of Engineering', 'Dy-Pack UK Ltd', 'Mining', '07933465544', 'deepak@dypack.com', false) }}
        {{ regiseredPerson('Mohammed Akram', 'International Sales Manager', 'Elat3d Ltd', 'Mining', '07986366723', 'moh@elat3d.com', false) }}
        {{ regiseredPerson('Jane Green', 'Director', 'Empirical Science Education CIC', 'Education & Training', '07974652277', 'jane@science.co.uk', true) }}
        {{ regiseredPerson('Nadia Panucci', 'Sales Executive', 'Jet Pumps UK Ltd', 'Environment & Water', '07933465544', 'nadia@jetpumps.com') }}

        {{ regiseredPerson('Connor Shaw', 'Chief Engineer', 'Equiture Limited', 'Oil & Gas', '07986366723', 'connor@equiture.co.uk', false) }}
        {{ regiseredPerson('Victoria O Leary', 'Creative Consultant', 'Fi Burke Contemporary Art', 'Creative & Media', '07974652277', 'victoria@burke.com', false) }}
        {{ regiseredPerson('Solomon Yakubu', 'Marketing Manager', 'Illuminow Ltd', 'Oil & Gas', '07933465544', 'solomon@illuminow.co.uk', false) }}
        {{ regiseredPerson('Joseph Goldberg', 'Chief Finance Officer', 'IMS Risk Solutions Ltd', 'Advanced Engineering', '07986366723', 'joseph@ims.co.uk', true) }}
        {{ regiseredPerson('Magda Michalenko', 'International Growth Manager', 'India Impex (UK) Ltd', 'Mining', '07974652277', 'magda@impex.com', true) }}

      {% endif  %}
    -->





      </tbody>
    </table>


</div>