
{% macro tracklincone (linkNumberPercntage, linkQuantity) %}

<div style="width:100%;" display="flex">

    {% if linkNumberPercntage == 0 %}
        <div style="float:left; width:0%; background-color:#DF3034; height:10px;  margin-top:6px;">&nbsp;</div>
    {% elif linkNumberPercntage < 5 %}
        <div style="float:left; width:1%; background-color:#DF3034; height:10px;  margin-top:6px;">&nbsp;</div>
    {% elif linkNumberPercntage < 10 %}
    <div style="float:left; width:5%; background-color:#DF3034; height:10px;  margin-top:6px;">&nbsp;</div>
    {% elif linkNumberPercntage < 15 %}
    <div style="float:left; width:10%; background-color:#DF3034; height:10px;  margin-top:6px;">&nbsp;</div>
    {% elif linkNumberPercntage < 20 %}
    <div style="float:left; width:15%; background-color:#DF3034; height:10px;  margin-top:6px;">&nbsp;</div>
    {% elif linkNumberPercntage < 25 %}
    <div style="float:left; width:20%; background-color:#DF3034; height:10px;  margin-top:6px;">&nbsp;</div>
    {% elif linkNumberPercntage < 30 %}
    <div style="float:left; width:25%; background-color:#DF3034; height:10px;  margin-top:6px;">&nbsp;</div>
    {% elif linkNumberPercntage < 35 %}
    <div style="float:left; width:30%; background-color:#DF3034; height:10px;  margin-top:6px;">&nbsp;</div>
    {% elif linkNumberPercntage < 40 %}
    <div style="float:left; width:35%; background-color:#DF3034; height:10px;  margin-top:6px;">&nbsp;</div>
    {% elif linkNumberPercntage < 45 %}
    <div style="float:left; width:40%; background-color:#DF3034; height:10px;  margin-top:6px;">&nbsp;</div>
    {% elif linkNumberPercntage < 50 %}
    <div style="float:left; width:45%; background-color:#DF3034; height:10px;  margin-top:6px;">&nbsp;</div>
    {% elif linkNumberPercntage < 55 %}
    <div style="float:left; width:50%; background-color:#DF3034; height:10px;  margin-top:6px;">&nbsp;</div>
    {% elif linkNumberPercntage < 60 %}
    <div style="float:left; width:55%; background-color:#DF3034; height:10px;  margin-top:6px;">&nbsp;</div>
    {% elif linkNumberPercntage < 65 %}
    <div style="float:left; width:60%; background-color:#DF3034; height:10px;  margin-top:6px;">&nbsp;</div>
    {% elif linkNumberPercntage < 70 %}
    <div style="float:left; width:65%; background-color:#DF3034; height:10px;  margin-top:6px;">&nbsp;</div>
    {% elif linkNumberPercntage < 75 %}
    <div style="float:left; width:70%; background-color:#DF3034; height:10px;  margin-top:6px;">&nbsp;</div>
    {% elif linkNumberPercntage < 80 %}
    <div style="float:left; width:75%; background-color:#DF3034; height:10px;  margin-top:6px;">&nbsp;</div>
    {% elif linkNumberPercntage < 85 %}
    <div style="float:left; width:80%; background-color:#DF3034; height:10px;  margin-top:6px;">&nbsp;</div>
    {% elif linkNumberPercntage < 90 %}
    <div style="float:left; width:85%; background-color:#DF3034; height:10px;  margin-top:6px;">&nbsp;</div>
    {% elif linkNumberPercntage < 95 %}
    <div style="float:left; width:90%; background-color:#DF3034; height:10px;  margin-top:6px;">&nbsp;</div>
    {% elif linkNumberPercntage < 100 %}
    <div style="float:left; width:95%; background-color:#DF3034; height:10px;  margin-top:6px;">&nbsp;</div>
    {% elif linkNumberPercntage >= 100 %}
    <div style="float:left; width:100%; background-color:#DF3034; height:10px;  margin-top:6px;">&nbsp;</div>
    {% endif %}

    {% if linkNumberPercntage == 0 %}
        <div style="float:left; width:40px; height:10px;">{{linkQuantity}}</div>
    {% else %}
        <div style="float:left; width:40px; height:10px;">&nbsp;&nbsp;{{linkQuantity}}</div>
    {% endif %}

</div>


{% endmacro %}


{{ tracklincone(session.eventsLiveURLS[session.currentEventShowing][3][3], session.eventsLiveURLS[session.currentEventShowing][2][3]) }}
