
.tabs {
margin-bottom:1.05263em
}
.tabs [role="tablist"] {
border-top:1px solid #bfc1c3;
margin:0
}
.tabs-panel-inner table {
margin-top:10px
}
.tabs-panel-inner table tr:first-child td,.tabs-panel-inner table tr:first-child th {
border-top:0!important
}
.table-summary-title {
width:42%
}
.tabs-nav li a {
font-size:24px
}
@media (min-width: 641px) {
.tabs [role="tablist"] {
border-top:0 none
}
}
.tabs [role="tablist"] li {
font-family:"nta",Arial,sans-serif;
font-size:19px;
line-height:1.31579;
font-weight:400;
text-transform:none;
border-bottom:1px solid #bfc1c3;
margin:0
}
@media (max-width: 640px) {
.tabs [role="tablist"] li {
font-size:16px;
line-height:1.25
}
}
@media (min-width: 641px) {
.tabs [role="tablist"] li {
border-bottom:0 none;
float:left;
margin:0 0 -1px;
padding:0
}
}
.tabs [role="tablist"] li a {
background-color:#fff;
display:block;
padding:.47368em;
text-decoration:none
}
.tabs [role="tablist"] li a:focus {
outline:3px
}
@media (min-width: 641px) {
.tabs [role="tablist"] li a {
/* background-color:#dee0e2; */
border:0 none;
float:left;
margin:.26316em .26316em .26316em 0;
padding:.47368em 2em;
text-align:center;
text-decoration: underline;
}
.tabs [role="tablist"] li a:hover {
  background-color: #DEE0E2;
}

.tabs [role="tablist"] li [aria-selected="true"]:hover {
  background-color: white;
}

}
.tabs [role="tablist"] li [aria-selected="true"] {
background-color:#fff;
color:#0b0c0c;
cursor:default;
text-decoration:none;
font-weight:700;
}

@media (min-width: 641px) {
.tabs [role="tablist"] li [aria-selected="true"] {
border:1px solid #bfc1c3;
border-bottom:1px solid transparent;
margin-top:0;
margin-bottom:0;
padding:.68421em 1.78em .73684em
}
}
.tabs-content {
clear:both
}
@media (min-width: 641px) {
.tabs-content [role="tabpanel"] {
border-top:1px solid #bfc1c3
}
}
.tabs-content [role="tabpanel"][aria-hidden="true"] {
display:none
}