{% extends "layout.html" %}

{% block page_title %}
  GOV.UK prototype kit
{% endblock %}

{% block content %}

<main id="content" role="main">
  <div class="grid-row">
    <div class="column-two-thirds">


      <h1 class="heading-large">
        Give feedback
      </h1>


      <p class="font-medium bold" style="margin-bottom:5px;">How could we improve this service?</p>


	  <form action="/account" method="get" class="form">

		  <textarea style="width:660px;" rows="4" ></textarea>


		  <p>(Limit is 1200 chraracters)</p>

		  <p>Please don't include any personal or financial information.</p>

		  <div class="form-group" style="margin-top:10px;">
			  <input type="submit" class="button" value="Send feedback">
		  </div>

	  </form>

    </div>
  </div>
</main>

{% endblock %}


