{% extends "layout.html" %}

{% block page_title %}
  GOV.UK prototype kit
{% endblock %}

{% block content %}

<main id="content" role="main">
  <div class="grid-row">
    <div class="column-full">

      <h1 class="heading-large">
        Region abcxyz events
      </h1>


		<!--  TABS FOR TYPES OF EVENT STATUS  -->

		<div class="tabs" style="margin-top:30px;">

			<div class="tabs-nav">
				<ul class="tabs-list">
					<li><a class="address" href="#live-events" style="text-decoration: none;">Live</a></li>
					<li><a class="name" href="#draft-events" style="text-decoration: none;">Draft</a></li>
					<li><a class="phone" href="#template-events" style="text-decoration: none;">Templates</a></li>
					<li><a class="email" href="#past-events" style="text-decoration: none;">Past</a></li>
				</ul>
			</div>



			<div class="tabs-content">

				<!-- Live -->
				<div class="tabs-panel" id="live-events" style="border-top:1px solid #bfc1c3;">
					<div class="tabs-panel-inner">
						<br>
						<br>

						<p>You don't have any live events right now.</p>

						<form action="/create-event/new" method="get" class="form">

							<div class="form-group">
								<input type="submit" class="button-secondary" value="Create new event">
							</div>

						</form>
						<br>
						<br>
						<br>
						<br>
						<br>
					</div>
				</div>

				<!--  Draft   -->
				<div class="tabs-panel" id="draft-events" style="border-top:1px solid #bfc1c3;">
					<div class="tabs-panel-inner">
						{% include "includes/draft-events.html" %}
					</div>
				</div>

				<!--  Templates   -->
				<div class="tabs-panel" id="template-events" style="border-left:1px solid #bfc1c3; border-right:1px solid #bfc1c3;">
					<div class="tabs-panel-inner">

					</div>
				</div>

				<!--   Past   -->
				<div class="tabs-panel" id="past-events" style="border-left:1px solid #bfc1c3; border-right:1px solid #bfc1c3;">
					<div class="tabs-panel-inner">

					</div>
				</div>

			</div>

		</div>



		<br>
		<br>
		<br>
		<br>
		<br>
		<br>

    </div>
  </div>
</main>







<script src="/public/javascripts/jquery.tabs.js" type="text/javascript"></script>

{% endblock %}


