{% extends "layout.html" %}

{% block page_title %}
  GOV.UK prototype kit
{% endblock %}

{% block content %}

<main id="content" role="main">
  <div class="grid-row">
    <div class="column-full">

      <h1 class="heading-large">
        Region abcxyz events
      </h1>{{releaseVersion | log }}




		<!--  TABS FOR TYPES OF EVENT STATUS  -->

		<div class="tabs">

			<div class="tabs-nav">
				<ul class="tabs-list">
					<li><a class="address" href="#live-events">Live</a></li>
					<li><a class="name" href="#draft-events">Draft</a></li>
					<li><a class="phone" href="#template-events">Templates</a></li>
					<li><a class="email" href="#past-events">Past</a></li>
				</ul>
			</div>



			<div class="tabs-content">

				<!-- Live -->
				<div class="tabs-panel" id="live-events" style="border-left:1px solid #bfc1c3; border-right:1px solid #bfc1c3;">
					<div class="tabs-panel-inner">

					</div>
				</div>

				<!--  Draft   -->
				<div class="tabs-panel" id="draft-events" style="border-top:1px solid #bfc1c3;">
					<div class="tabs-panel-inner">
						{% include "includes/draft-events.html" %}
					</div>
				</div>

				<!--  Templates   -->
				<div class="tabs-panel" id="template-events" style="border-left:1px solid #bfc1c3; border-right:1px solid #bfc1c3;">
					<div class="tabs-panel-inner">

					</div>
				</div>

				<!--   Past   -->
				<div class="tabs-panel" id="past-events" style="border-left:1px solid #bfc1c3; border-right:1px solid #bfc1c3;">
					<div class="tabs-panel-inner">

					</div>
				</div>

			</div>

		</div>




		<br>

		<br>

		<br>



		<br>
		<br>

    </div>
  </div>
</main>







<script src="/public/javascripts/jquery.tabs.js" type="text/javascript"></script>

{% endblock %}


