




<!DOCTYPE html>

<body>

<div>


	<div border="0" cellpadding="0" cellspacing="0" height="100%" width="100%" bgcolor="#F7F7F7" style="margin:0">




		<table border="0" cellpadding="0" cellspacing="0" height="100%" width="100%" bgcolor="#F7F7F7">

			<tbody><tr>
				<td style="padding-right:10px;padding-left:10px">


					<table class="m_-5453710799991933279m_-636110139478864565content" align="center" cellpadding="0" cellspacing="0" border="0" bgcolor="#F7F7F7" style="width:600px;max-width:600px">
						<tbody><tr>
							<td width="33%" valign="middle" style="text-align:left;padding:30px 0 20px 0">
								<a href="http://www.eventbrite.com/?utm_source=eb_email&amp;utm_medium=email&amp;utm_campaign=order_confirmation_email&amp;utm_term=eb_logo" target="_blank" data-saferedirecturl="https://www.google.com/url?hl=en-GB&amp;q=http://www.eventbrite.com/?utm_source%3Deb_email%26utm_medium%3Demail%26utm_campaign%3Dorder_confirmation_email%26utm_term%3Deb_logo&amp;source=gmail&amp;ust=1513332789854000&amp;usg=AFQjCNGYswBmSU-4dvGG5kg2IaF694-oqQ">
									<img src="https://ci5.googleusercontent.com/proxy/B8O_1kYNxncv9PlvGSuUabALBY_ZSuNjKbykdBo4Xby6yZr_TEz0clOGmkYl7JMdSfr228h6hLQg32OGMw2Ps14W8LZ9utj_R-AfJTO2JVWy8dbS6napgkNyDJCiHuGa_TYFetA=s0-d-e1-ft#https://cdn.evbstatic.com/s3-s3/marketing/emails/images/logos/eb-wordmarkx2.png" width="136" height="22" border="0" alt="Eventbrite" style="width:136px;height:22px" class="CToWUd">
								</a>
							</td>
							<td width="66%" valign="middle" style="font-family:'Helvetica Neue',Helvetica,Arial,sans-serif;text-align:right;padding-top:12px;vertical-align:middle">



								<div class="m_-5453710799991933279m_-636110139478864565header_defer m_-5453710799991933279m_-636110139478864565no_text_resize">


									<a style="text-decoration:none;color:#0f90ba;font-family:'Benton Sans',-apple-system,BlinkMacSystemFont,Roboto,'Helvetica neue',Helvetica,Tahoma,Arial,sans-serif;font-size:13px;font-weight:500;color:#aaa;text-decoration:none" href="https://www.eventbrite.com/directory/?utm_source=eb_email&amp;utm_medium=email&amp;utm_campaign=order_confirmation_email&amp;utm_term=findtickets&amp;ref=eemailordconf" target="_blank" data-saferedirecturl="https://www.google.com/url?hl=en-GB&amp;q=https://www.eventbrite.com/directory/?utm_source%3Deb_email%26utm_medium%3Demail%26utm_campaign%3Dorder_confirmation_email%26utm_term%3Dfindtickets%26ref%3Deemailordconf&amp;source=gmail&amp;ust=1513332789854000&amp;usg=AFQjCNG6sdFVGYcIJQ8o3SWDbjaR9009lg">Find events</a>


									<a style="text-decoration:none;color:#0f90ba;font-family:'Benton Sans',-apple-system,BlinkMacSystemFont,Roboto,'Helvetica neue',Helvetica,Tahoma,Arial,sans-serif;font-size:13px;font-weight:500;color:#aaa;text-decoration:none;padding-left:20px" href="https://www.eventbrite.com/mytickets/?utm_source=eb_email&amp;utm_medium=email&amp;utm_campaign=order_confirmation_email&amp;utm_term=mytickets&amp;ref=eemailordconf" target="_blank" data-saferedirecturl="https://www.google.com/url?hl=en-GB&amp;q=https://www.eventbrite.com/mytickets/?utm_source%3Deb_email%26utm_medium%3Demail%26utm_campaign%3Dorder_confirmation_email%26utm_term%3Dmytickets%26ref%3Deemailordconf&amp;source=gmail&amp;ust=1513332789854000&amp;usg=AFQjCNH3QqmCkq05GAgNrfb0L7pnOKUVKQ">My Tickets</a>
								</div>



							</td>
						</tr>
						</tbody></table>

				</td>
			</tr>
			<tr>
				<td>

					<table class="m_-5453710799991933279m_-636110139478864565content" align="center" cellpadding="0" cellspacing="0" border="0" bgcolor="#F7F7F7" style="width:600px;max-width:600px">
						<tbody><tr>
							<td colspan="2" style="background:#fff;border-radius:8px">
								<table border="0" cellpadding="0" cellspacing="0" width="100%">
									<tbody><tr>
										<td style="font-family:'Helvetica Neue',Helvetica,Arial,sans-serif">















										</td></tr><tr>
										<td class="m_-5453710799991933279m_-636110139478864565grid__col" style="font-family:'Benton Sans',-apple-system,BlinkMacSystemFont,Roboto,'Helvetica neue',Helvetica,Tahoma,Arial,sans-serif;padding:32px 40px;border-radius:6px 6px 0 0" align="">



											<h2 style="color:#404040;font-weight:300;margin:0 0 12px 0;font-size:24px;line-height:30px;font-family:'Benton Sans',-apple-system,BlinkMacSystemFont,Roboto,'Helvetica neue',Helvetica,Tahoma,Arial,sans-serif">

												Hi Joe, this is your registration confirmation for <a href="https://www.eventbrite.co.uk/e/dit-meet-the-buyer-at-tradexpo-registration-39948447883?utm_source=eb_email&amp;utm_medium=email&amp;utm_campaign=order_confirmation_email&amp;utm_term=eventname&amp;ref=eemailordconf" style="text-decoration:none;color:#1090ba;font-weight:normal" target="_blank" data-saferedirecturl="https://www.google.com/url?hl=en-GB&amp;q=https://www.eventbrite.co.uk/e/dit-meet-the-buyer-at-tradexpo-registration-39948447883?utm_source%3Deb_email%26utm_medium%3Demail%26utm_campaign%3Dorder_confirmation_email%26utm_term%3Deventname%26ref%3Deemailordconf&amp;source=gmail&amp;ust=1513332789854000&amp;usg=AFQjCNF514IYLhe6bdiFJLG_8JaPcWcZ0A">DIT 'Meet the buyer' at Tradexpo</a>

											</h2>






											<div style="color:#666666;font-weight:400;font-size:15px;line-height:21px;font-family:'Benton Sans',-apple-system,BlinkMacSystemFont,Roboto,'Helvetica neue',Helvetica,Tahoma,Arial,sans-serif;font-weight:300" class="m_-5453710799991933279m_-636110139478864565organized_by">


												Organised by <a href="https://www.eventbrite.co.uk/o/department-of-international-trade-14853973026?utm_source=eb_email&amp;utm_medium=email&amp;utm_campaign=order_confirmation_email&amp;utm_term=orgname&amp;ref=eemailordconf" style="color:#999" target="_blank" data-saferedirecturl="https://www.google.com/url?hl=en-GB&amp;q=https://www.eventbrite.co.uk/o/department-of-international-trade-14853973026?utm_source%3Deb_email%26utm_medium%3Demail%26utm_campaign%3Dorder_confirmation_email%26utm_term%3Dorgname%26ref%3Deemailordconf&amp;source=gmail&amp;ust=1513332789854000&amp;usg=AFQjCNGVC4OBHKO5WIj3Qr_XRSRWi6mRtQ">Department of International Trade</a>


											</div>





										</td>
									</tr>










									<tr>
										<td style="padding:0 40px">

											<table cellspacing="0" cellpadding="0" width="100%" style="width:100%;min-width:100%">
												<tbody><tr>
													<td style="background-color:#dedede;width:100%;min-width:100%;font-size:1px;height:1px;line-height:1px">&nbsp;
													</td>
												</tr>
												</tbody></table>

										</td>
									</tr>


									<tr>
										<td class="m_-5453710799991933279m_-636110139478864565grid__col" style="font-family:'Benton Sans',-apple-system,BlinkMacSystemFont,Roboto,'Helvetica neue',Helvetica,Tahoma,Arial,sans-serif;padding:32px 40px" align="">





											<h2 style="color:#404040;font-weight:300;margin:0 0 12px 0;font-size:24px;line-height:30px;font-family:'Benton Sans',-apple-system,BlinkMacSystemFont,Roboto,'Helvetica neue',Helvetica,Tahoma,Arial,sans-serif">

												Message from <a href="https://www.eventbrite.co.uk/o/department-of-international-trade-14853973026?utm_source=eb_email&amp;utm_medium=email&amp;utm_campaign=order_confirmation_email&amp;utm_term=orgnamemessage&amp;ref=eemailordconf" style="text-decoration:none;color:#1090ba;font-weight:normal" target="_blank" data-saferedirecturl="https://www.google.com/url?hl=en-GB&amp;q=https://www.eventbrite.co.uk/o/department-of-international-trade-14853973026?utm_source%3Deb_email%26utm_medium%3Demail%26utm_campaign%3Dorder_confirmation_email%26utm_term%3Dorgnamemessage%26ref%3Deemailordconf&amp;source=gmail&amp;ust=1513332789854000&amp;usg=AFQjCNG4Acg14k2jjKJ4Xf_hGmDsstUxrw">Department of International Trade</a>

											</h2>


											<table width="100%" cellspacing="0" cellpadding="0">
												<tbody><tr width="100%">
													<td width="100%">

														The event organiser has provided the following information:

													</td>
												</tr>
												</tbody></table>

											<br>

											<table width="100%" cellspacing="0" cellpadding="0">
												<tbody><tr width="100%">
													<td width="100%" style="font-size:15px;font-weight:bold">

														Event Information

													</td>
												</tr>
												</tbody></table>

											<br>

											<table width="100%" cellspacing="0" cellpadding="0">
												<tbody><tr width="100%">
													<td width="100%" style="font-size:13px">

														<p><span style="font-size:small">Thank you for registering for this event.</span></p>
														<p><span style="font-size:small">Do keep an eye on your inbox for latest event updates, including any agenda additions or changes.</span></p>
														<p><span style="font-size:medium"><strong>Next steps and useful links</strong></span></p>
														<ul>
															<ul>
																<li style="margin-bottom:10px;"><span style="font-size:small"><strong>Browse buyers and request meetings</strong>: you can browse attending buyers and send them requests for meeting appointments during the event, <a href="https://tradeshow.b2match.io/my#/" target="_blank" data-saferedirecturl="https://www.google.com/url?hl=en-GB&amp;q=https://tradeshow.b2match.io/my%23/&amp;source=gmail&amp;ust=1513332789855000&amp;usg=AFQjCNH-BL0czF98YtfmyTrM3EAFM32j5Q">on&nbsp;b2match</a>&nbsp;(simply register a b2match profile to start arranging meetings)</span></li>
																<li style="margin-bottom:10px;"><span style="font-size:small"><strong>View latest event agenda</strong>: <a href="https://www.eventbrite.co.uk/e/dit-meet-the-buyer-at-tradexpo-registration-39948447883?utm_source=eb_email&amp;utm_medium=email&amp;utm_campaign=order_confirmation_email&amp;utm_term=eventname&amp;ref=eemailordconf" target="_blank" data-saferedirecturl="https://www.google.com/url?hl=en-GB&amp;q=https://www.eventbrite.co.uk/e/dit-meet-the-buyer-at-tradexpo-registration-39948447883?utm_source%3Deb_email%26utm_medium%3Demail%26utm_campaign%3Dorder_confirmation_email%26utm_term%3Deventname%26ref%3Deemailordconf&amp;source=gmail&amp;ust=1513332789855000&amp;usg=AFQjCNFxdPXLP4dL7426nMhYFkdG0_loJg">by visiting the event webpage</a></span></li>
																<li style="margin-bottom:10px;"><span style="font-size:small"><strong>Cancel</strong>: if you no longer wish to attend this event, please let us know <a href="https://diteventprototype.herokuapp.com/return-journey/cancel-confirm" target="_blank" data-saferedirecturl="https://www.google.com/url?hl=en-GB&amp;q=https://diteventprototype.herokuapp.com/return-journey/cancel-confirm&amp;source=gmail&amp;ust=1513332789855000&amp;usg=AFQjCNEBcGVxJngFnoLvIlAQaoDjmtW3EA">by visiting the cancellation page</a> so that the place can be freed up for others who wish to attend</span></li>
															</ul>
														</ul>
														<p><span style="font-size:small">For any general questions or requests, please get in touch using the event organiser contact found <a href="https://www.eventbrite.co.uk/e/dit-meet-the-buyer-at-tradexpo-registration-39948447883?utm_source=eb_email&amp;utm_medium=email&amp;utm_campaign=order_confirmation_email&amp;utm_term=eventname&amp;ref=eemailordconf" target="_blank" data-saferedirecturl="https://www.google.com/url?hl=en-GB&amp;q=https://www.eventbrite.co.uk/e/dit-meet-the-buyer-at-tradexpo-registration-39948447883?utm_source%3Deb_email%26utm_medium%3Demail%26utm_campaign%3Dorder_confirmation_email%26utm_term%3Deventname%26ref%3Deemailordconf&amp;source=gmail&amp;ust=1513332789855000&amp;usg=AFQjCNFxdPXLP4dL7426nMhYFkdG0_loJg">on the event webpage</a>.</span></p>
														<p><span style="font-size:small">We look forward to seeing you on the day. </span></p>
														<p><span style="font-size:small">Kind regards,<br> <span style="font-size:small">DIT Events</span><span style="font-size:small"><br></span></span></p>

													</td>
												</tr>
												</tbody></table>

											<br>



											<div style="color:#666666;font-weight:400;font-size:15px;line-height:21px;font-family:'Benton Sans',-apple-system,BlinkMacSystemFont,Roboto,'Helvetica neue',Helvetica,Tahoma,Arial,sans-serif;font-weight:500">


												Have a question?


												<a href="https://www.eventbrite.com/mytickets/708184717/?contact_organizer=1" style="text-decoration:none;color:#1090ba;font-weight:normal" target="_blank" data-saferedirecturl="https://www.google.com/url?hl=en-GB&amp;q=https://www.eventbrite.com/mytickets/708184717/?contact_organizer%3D1&amp;source=gmail&amp;ust=1513332789855000&amp;usg=AFQjCNF1RdxtearZzJlBWsBWinJD1enVOQ">Contact the organiser</a>



											</div>



										</td>
									</tr>








									<tr><td class="m_-5453710799991933279m_-636110139478864565table__ridge m_-5453710799991933279m_-636110139478864565table__ridge--top">
										<img src="https://ci3.googleusercontent.com/proxy/IQahZVq8RnsGGUT5P_dRhdAKB7Uk49NXr5pmKfCiQZDLTeGDLVz8CBjmzVwdqY8T6OJ_1IQ1aL7-HPiuJB_GOXXdRc1sK1cr9RnLJGGv26jp7VvAw_-j5ZMQ-NyMxNkXAOi6Rg=s0-d-e1-ft#https://cdn.evbstatic.com/s3-s3/marketing/emails/modules/ridges_top_fullx2.jpg" alt="eventbrite" height="7" style="height:7px;border:none;display:block" border="0" class="CToWUd">
									</td></tr>
									<tr><td class="m_-5453710799991933279m_-636110139478864565grid__col" style="font-family:'Benton Sans',-apple-system,BlinkMacSystemFont,Roboto,'Helvetica neue',Helvetica,Tahoma,Arial,sans-serif;padding:32px 40px;background-color:#ededed">
										<table cellpadding="0" cellspacing="0" border="0" style="width:100%;margin-bottom:12px" class="m_-5453710799991933279m_-636110139478864565no_text_resize">
											<tbody><tr>
												<td style="border-bottom:1px dashed #d3d3d3">


													<h2 style="color:#404040;font-weight:300;margin:0 0 12px 0;font-size:24px;line-height:30px;font-family:'Benton Sans',-apple-system,BlinkMacSystemFont,Roboto,'Helvetica neue',Helvetica,Tahoma,Arial,sans-serif">

														Order Summary

													</h2>

												</td>
												<td colspan="2" style="text-align:right;border-bottom:1px dashed #d3d3d3">


													<div style="color:#666666;font-weight:400;font-size:13px;line-height:18px;font-family:'Benton Sans',-apple-system,BlinkMacSystemFont,Roboto,'Helvetica neue',Helvetica,Tahoma,Arial,sans-serif">

														13 December 2017

													</div>

												</td>
											</tr>
											<tr>
												<td colspan="3">


													<p style="color:#666666;font-weight:400;font-size:15px;line-height:21px;font-family:'Benton Sans',-apple-system,BlinkMacSystemFont,Roboto,'Helvetica neue',Helvetica,Tahoma,Arial,sans-serif;margin-bottom:18px">

														Order no.: 708184717

													</p><div><div class="adm"><div id="q_16050c7058711b1f_10" class="ajR h4"><div class="ajT"></div></div></div><div class="h5">

													<table cellpadding="0" cellspacing="0" border="0" style="width:100%">
														<thead>
														<tr>

															<th style="border-bottom:1px dashed #d3d3d3;text-align:left;padding-bottom:12px;padding-right:12px">



																<div style="color:#666666;font-weight:400;font-size:15px;line-height:21px;font-family:'Benton Sans',-apple-system,BlinkMacSystemFont,Roboto,'Helvetica neue',Helvetica,Tahoma,Arial,sans-serif;font-weight:500">


																	Name


																</div>


															</th>
															<th style="border-bottom:1px dashed #d3d3d3;text-align:left;padding-bottom:12px;padding-right:12px">



																<div style="color:#666666;font-weight:400;font-size:15px;line-height:21px;font-family:'Benton Sans',-apple-system,BlinkMacSystemFont,Roboto,'Helvetica neue',Helvetica,Tahoma,Arial,sans-serif;font-weight:500">


																	Type


																</div>


															</th>
															<th style="border-bottom:1px dashed #d3d3d3;text-align:right;padding-bottom:12px;padding-right:0">



																<div style="color:#666666;font-weight:400;font-size:15px;line-height:21px;font-family:'Benton Sans',-apple-system,BlinkMacSystemFont,Roboto,'Helvetica neue',Helvetica,Tahoma,Arial,sans-serif;font-weight:500">


																	Quantity


																</div>


															</th>
														</tr>
														</thead>
														<tbody>
														<tr>

															<td style="padding:12px 0;padding-right:3px">


																<div style="color:#666666;font-weight:400;font-size:15px;line-height:21px;font-family:'Benton Sans',-apple-system,BlinkMacSystemFont,Roboto,'Helvetica neue',Helvetica,Tahoma,Arial,sans-serif">

																	Leslie Smith

																</div>

															</td>

															<td style="padding:12px 0;padding-right:3px">


																<div style="color:#666666;font-weight:400;font-size:15px;line-height:21px;font-family:'Benton Sans',-apple-system,BlinkMacSystemFont,Roboto,'Helvetica neue',Helvetica,Tahoma,Arial,sans-serif">

																	UK exporter

																</div>

															</td>

															<td style="text-align:right;padding:12px 0">


																<div style="color:#666666;font-weight:400;font-size:15px;line-height:21px;font-family:'Benton Sans',-apple-system,BlinkMacSystemFont,Roboto,'Helvetica neue',Helvetica,Tahoma,Arial,sans-serif">

																	1

																</div>

															</td>
														</tr>
														</tbody>
													</table>
												</div></div></td>
											</tr>
											</tbody></table><div><div class="adm"><div id="q_16050c7058711b1f_12" class="ajR h4"><div class="ajT"></div></div></div><div class="h5">




										<p style="text-align:center;color:#999;margin-bottom:0" class="m_-5453710799991933279m_-636110139478864565no_text_resize">
											This order is subject to Eventbrite <a href="https://www.eventbrite.com/tos/" style="text-decoration:none;color:#0f90ba" target="_blank" data-saferedirecturl="https://www.google.com/url?hl=en-GB&amp;q=https://www.eventbrite.com/tos/&amp;source=gmail&amp;ust=1513332789855000&amp;usg=AFQjCNFEt-EGtk8rc89Rek-oTDkBke6nRA">Terms of Service</a>, <a href="https://www.eventbrite.com/privacypolicy/" style="text-decoration:none;color:#0f90ba" target="_blank" data-saferedirecturl="https://www.google.com/url?hl=en-GB&amp;q=https://www.eventbrite.com/privacypolicy/&amp;source=gmail&amp;ust=1513332789855000&amp;usg=AFQjCNF7dJVaMYH1HLIZU0VObcgR2LtrUg">Privacy Policy</a> and <a href="https://www.eventbrite.com/cookies/" style="text-decoration:none;color:#0f90ba" target="_blank" data-saferedirecturl="https://www.google.com/url?hl=en-GB&amp;q=https://www.eventbrite.com/cookies/&amp;source=gmail&amp;ust=1513332789855000&amp;usg=AFQjCNEOdjui7RUDw6tp2LBHhn3zua9ieQ">Cookie Policy</a>
										</p>

									</div></div></td></tr>
									<tr><td class="m_-5453710799991933279m_-636110139478864565table__ridge m_-5453710799991933279m_-636110139478864565table__ridge--bottom">
										<img src="https://ci6.googleusercontent.com/proxy/ChkWB3VCDXts8fGD_fBmRzOcAG5oJwt9sGbDs6uysurO_fiBa2BV4lrAGSNt9MvTKvqx5M4v_WcCBRHhQd8y-tQIsA_1t6ZnpR8YDXy3o1GWtyEeazTP0MixLEvW1SaAohvp3R7p3Q=s0-d-e1-ft#https://cdn.evbstatic.com/s3-s3/marketing/emails/modules/ridges_bottom_fullx2.jpg" alt="eventbrite" height="7" style="height:7px;border:none;display:block" border="0" class="CToWUd">
									</td></tr>










									<tr>
										<td class="m_-5453710799991933279m_-636110139478864565grid__col" style="font-family:'Benton Sans',-apple-system,BlinkMacSystemFont,Roboto,'Helvetica neue',Helvetica,Tahoma,Arial,sans-serif;padding:32px 40px;border-radius:0 0 6px 6px" align="">



											<table cellpadding="0" cellspacing="0" border="0" align="left" style="width:260px;line-height:1.67;font-size:13px" class="m_-5453710799991933279m_-636110139478864565small_full_width">
												<tbody><tr>
													<td>



														<h2 style="color:#404040;font-weight:300;margin:0 0 12px 0;font-size:24px;line-height:30px;font-family:'Benton Sans',-apple-system,BlinkMacSystemFont,Roboto,'Helvetica neue',Helvetica,Tahoma,Arial,sans-serif">
															About this event
														</h2>


														<table cellspacing="0" cellpadding="0" width="100%" align="">



															<tbody><tr>


																<td width="20" height="" style="vertical-align:top;padding-right:10px" align="" valign="" colspan="1">



																	<img src="https://ci5.googleusercontent.com/proxy/K5NOKd2qRftFOiSFcKbzG2xIEoT5TsuEhqxZYpsPovzNv3ftZUWB5HHbrXY3_H8siBt0HFXxBev2YpiWh2yQpTzHuHF2GEi_JnCi2AwuMB8Fe65DQGb14F8c9B62BEa86Xil1zU2sPDX=s0-d-e1-ft#https://cdn.evbstatic.com/s3-s3/marketing/emails/order_confirmation/date-iconx2.png" title="date" alt="date" style="width:20px;height:20px;vertical-align:-2px" border="0" width="20" height="20" class="CToWUd">



																</td>


																<td width="" height="" align="" valign="" colspan="1">



																	<div style="color:#666666;font-weight:400;font-size:15px;line-height:21px;font-family:'Benton Sans',-apple-system,BlinkMacSystemFont,Roboto,'Helvetica neue',Helvetica,Tahoma,Arial,sans-serif">

																		Sunday, 14 January 2018 at 09:00 - Thursday, 18 January 2018 at 17:00 (CET)

																	</div>


																</td>


															</tr>




															<tr>


																<td width="20" height="" style="vertical-align:top;padding-right:10px" align="" valign="" colspan="1">



																	<img src="https://ci6.googleusercontent.com/proxy/0EyFIZsXl2MqZQQ6aFvuUJTNcprk97pCJebIvMsVIElYkmuBmk9PRurQ4lOmde9CUGy42OT7YGXF3MiKkQ2YswIbCn83g7Iv_c9WOgsIqXOdtkPOxFNWhNQDAVR0lcjQaYTiSwysz2Mn2SFvYXphsWo=s0-d-e1-ft#https://cdn.evbstatic.com/s3-s3/marketing/emails/order_confirmation/location-pin-iconx2.png" title="date" alt="date" style="width:20px;height:20px;vertical-align:-4px" border="0" width="20" height="20" class="CToWUd">



																</td>


																<td width="" height="" style="padding-bottom:10px" align="" valign="" colspan="1">

																	Palais des Expositions<br>Carrefour Charles Lindbergh<br>93350 Le Bourget<br>France

																</td>


															</tr>




															<tr class="m_-5453710799991933279m_-636110139478864565hide-for-small">


																<td width="20" height="" style="vertical-align:top;padding-right:10px;padding-top:10px" align="" valign="" class="m_-5453710799991933279m_-636110139478864565hide-for-small" colspan="1">



																	<img src="https://ci6.googleusercontent.com/proxy/mxXBYATunu3EOSIMILty3zgVnkAdbkhR1uBIk4u59BqOpUc7VIemDqDtoNvbUr89m2Qj8t_Uyx_FFfGoFiVEzxOr-WI0-M3gA-Z2llNdJEN1ykRHw7u9d3UJd4zS8Q_PSOE225Tlj9-_GRwsSemEpd4=s0-d-e1-ft#https://cdn.evbstatic.com/s3-s3/marketing/emails/order_confirmation/add-calendar-iconx2.png" title="date" alt="date" style="width:20px;height:20px;vertical-align:-2px" border="0" width="20" height="20" class="CToWUd">



																</td>


																<td width="" height="" style="padding-top:10px" align="" valign="" class="m_-5453710799991933279m_-636110139478864565hide-for-small" colspan="1">



																	<div style="color:#666666;font-weight:400;font-size:15px;line-height:21px;font-family:'Benton Sans',-apple-system,BlinkMacSystemFont,Roboto,'Helvetica neue',Helvetica,Tahoma,Arial,sans-serif">

																		Add to my calendar:

																	</div>



																	<div style="color:#666666;font-weight:400;font-size:15px;line-height:21px;font-family:'Benton Sans',-apple-system,BlinkMacSystemFont,Roboto,'Helvetica neue',Helvetica,Tahoma,Arial,sans-serif;margin-top:6px;margin-bottom:0" class="m_-5453710799991933279m_-636110139478864565no_text_resize">



																		<a style="text-decoration:none;color:#0f90ba;font-family:'Benton Sans',-apple-system,BlinkMacSystemFont,Roboto,'Helvetica neue',Helvetica,Tahoma,Arial,sans-serif" href="http://www.eventbrite.co.uk/calendar.ics?eid=39948447883&amp;calendar=google" target="_blank" data-saferedirecturl="https://www.google.com/url?hl=en-GB&amp;q=http://www.eventbrite.co.uk/calendar.ics?eid%3D39948447883%26calendar%3Dgoogle&amp;source=gmail&amp;ust=1513332789855000&amp;usg=AFQjCNH4K20ArgD7qK3YsQv0mS_WZNNtKQ">Google</a>

																		<span style="margin:0 8px">-</span>



																		<a style="text-decoration:none;color:#0f90ba;
																		font-family:'Benton Sans',-apple-system,BlinkMacSystemFont,Roboto,'Helvetica neue',Helvetica,Tahoma,Arial,sans-serif"
																		   href="http://www.eventbrite.co.uk/calendar.ics?eid=39948447883&amp;calendar=outlook" target="_blank"
																		   data-saferedirecturl="https://www.google.com/url?hl=en-GB&amp;q=http://www.eventbrite.co.uk/calendar.ics?eid%3D39948447883%26calendar%3Doutlook&amp;source=gmail&amp;ust=1513332789855000&amp;usg=AFQjCNHAkUC0FA91cdXPW9Onr5x9E1FtaQ"
																		>Outlook</a>

																		<span style="margin:0 8px">-</span>



																		<a style="text-decoration:none;color:#0f90ba;font-family:'Benton Sans',-apple-system,BlinkMacSystemFont,Roboto,'Helvetica neue',Helvetica,Tahoma,Arial,sans-serif" href="http://www.eventbrite.co.uk/calendar.ics?eid=39948447883&amp;calendar=ical" target="_blank" data-saferedirecturl="https://www.google.com/url?hl=en-GB&amp;q=http://www.eventbrite.co.uk/calendar.ics?eid%3D39948447883%26calendar%3Dical&amp;source=gmail&amp;ust=1513332789855000&amp;usg=AFQjCNHbwY91yaF58R1xMHfwqDrPldvLBA">iCal</a>

																		<span style="margin:0 8px">-</span>



																		<a style="text-decoration:none;color:#0f90ba;font-family:'Benton Sans',-apple-system,BlinkMacSystemFont,Roboto,'Helvetica neue',Helvetica,Tahoma,Arial,sans-serif" href="http://www.eventbrite.co.uk/calendar.ics?eid=39948447883&amp;calendar=yahoo" target="_blank" data-saferedirecturl="https://www.google.com/url?hl=en-GB&amp;q=http://www.eventbrite.co.uk/calendar.ics?eid%3D39948447883%26calendar%3Dyahoo&amp;source=gmail&amp;ust=1513332789855000&amp;usg=AFQjCNFb5jfRKpRL-_G8Jue_lF0IFhWKJg">Yahoo</a>

																	</div>


																</td>


															</tr>


															</tbody></table>


													</td>
												</tr>
												</tbody></table>



											<table cellpadding="0" cellspacing="0" border="0" align="right" style="width:240px;text-align:center;margin-top:16px" class="m_-5453710799991933279m_-636110139478864565small_full_width">
												<tbody><tr>
													<td>





														<a style="text-decoration:none;color:#0f90ba;font-family:'Benton Sans',-apple-system,BlinkMacSystemFont,Roboto,'Helvetica neue',Helvetica,Tahoma,Arial,sans-serif" href="http://maps.google.com/maps?q=Palais+des+Expositions+Carrefour+Charles+Lindbergh+Le+Bourget+%C3%8Ele-de-France+93350+France" target="_blank" data-saferedirecturl="https://www.google.com/url?hl=en-GB&amp;q=http://maps.google.com/maps?q%3DPalais%2Bdes%2BExpositions%2BCarrefour%2BCharles%2BLindbergh%2BLe%2BBourget%2B%25C3%258Ele-de-France%2B93350%2BFrance&amp;source=gmail&amp;ust=1513332789855000&amp;usg=AFQjCNEYUX1yypHPj2ds5oj2VxSUEuj94Q">


															<img src="https://ci5.googleusercontent.com/proxy/d3dei_A0if1wvcOpZNqS0RbaDace9NdbpC6PkxBEuV5x3ImBv-32p2r8Cxms_vHnw_TLoJBSA78u-HiUrsLpd75TQjhjUkJ1AGSHms3MYbV-9aphIgHUQ3ilAFd0yrCZFwoFObuFLITAg2iYYq5tPxOyv-TtAalNZrU0HfwpNAO-r3UT8e-ZIAZstM-mPXZXxIXbHkH3GRd8re9AlbrnQ3OyDl2PNJlGI111RiQnDv4z9dosGdU8BpI4-SzqgXB1jw=s0-d-e1-ft#https://www.eventbrite.com/staticmap_https_proxy?size=240x160&amp;sensor=true&amp;center=48.9441442%2C2.430017399999997&amp;markers=label%3AA%7C48.9441442%2C2.430017399999997&amp;zoom=13" title="map" alt="map" style="width:240px;height:160px" border="0" width="240" height="160" class="m_-5453710799991933279m_-636110139478864565hide-for-small CToWUd">


														</a>


													</td>
												</tr>
												</tbody></table>



										</td>
									</tr>






									<tr>
										<td style="padding:0 40px">

											<table cellspacing="0" cellpadding="0" width="100%" style="width:100%;min-width:100%">
												<tbody><tr>
													<td style="background-color:#dedede;width:100%;min-width:100%;font-size:1px;height:1px;line-height:1px">&nbsp;
													</td>
												</tr>
												</tbody></table>

										</td>
									</tr>


									<tr>
										<td class="m_-5453710799991933279m_-636110139478864565grid__col" style="font-family:'Benton Sans',-apple-system,BlinkMacSystemFont,Roboto,'Helvetica neue',Helvetica,Tahoma,Arial,sans-serif;padding:32px 40px;border-radius:0 0 6px 6px" align="">



											<h2 style="color:#404040;font-weight:300;margin:0 0 12px 0;font-size:24px;line-height:30px;font-family:'Benton Sans',-apple-system,BlinkMacSystemFont,Roboto,'Helvetica neue',Helvetica,Tahoma,Arial,sans-serif">
												Registration Information
											</h2>


											<table cellspacing="0" cellpadding="0" width="100%" style="font-size:13px" align="">


												<tbody><tr>
													<td width="24" style="width:24px;padding-right:10px;vertical-align:top;padding-top:10px">
														<img src="https://ci3.googleusercontent.com/proxy/CZbq4OpDrpt1kyqVQsswpsEpZLS7IR_LOAYdezeR0tnEwYF1mtUGrkh8yPiuMHnxKU7WjLN7VFgWECHBqk8MWD-MiF2IIFJswemM1zn0phK3_5snQHfu5xomY3uGK8jik-3j39go2j_3UB8=s0-d-e1-ft#https://cdn.evbstatic.com/s3-s3/marketing/emails/order_confirmation/ticket-iconx2.png" title="ticket" alt="ticket" border="0" width="24" height="21" style="width:24px;height:21px;vertical-align:-2px" class="CToWUd">
													</td>
													<td>




														<div style="color:#666666;font-weight:400;font-size:15px;line-height:21px;font-family:'Benton Sans',-apple-system,BlinkMacSystemFont,Roboto,'Helvetica neue',Helvetica,Tahoma,Arial,sans-serif;font-weight:300;line-height:1.5;padding:10px 0">


															Registration #1 - UK exporter


														</div>



													</td>
												</tr>


												<tr>
													<td></td>
													<td>



														<div style="color:#666666;font-weight:400;font-size:13px;line-height:18px;font-family:'Benton Sans',-apple-system,BlinkMacSystemFont,Roboto,'Helvetica neue',Helvetica,Tahoma,Arial,sans-serif">

															Name:

														</div>




														<div style="color:#666666;font-weight:400;font-size:15px;line-height:21px;font-family:'Benton Sans',-apple-system,BlinkMacSystemFont,Roboto,'Helvetica neue',Helvetica,Tahoma,Arial,sans-serif;font-weight:500;margin-bottom:12px">


															Leslie Smith


														</div>



													</td>
												</tr>


												<tr>
													<td></td>
													<td>



														<div style="color:#666666;font-weight:400;font-size:13px;line-height:18px;font-family:'Benton Sans',-apple-system,BlinkMacSystemFont,Roboto,'Helvetica neue',Helvetica,Tahoma,Arial,sans-serif">

															Email:

														</div>




														<div style="color:#666666;font-weight:400;font-size:15px;line-height:21px;font-family:'Benton Sans',-apple-system,BlinkMacSystemFont,Roboto,'Helvetica neue',Helvetica,Tahoma,Arial,sans-serif;font-weight:500;margin-bottom:12px">




															<a style="text-decoration:none;color:#0f90ba;font-family:'Benton Sans',-apple-system,BlinkMacSystemFont,Roboto,'Helvetica neue',Helvetica,Tahoma,Arial,sans-serif" href="https://www.joseph.phillips@digital.trade.gov.uk" target="_blank" data-saferedirecturl="https://www.google.com/url?hl=en-GB&amp;q=https://www.joseph.phillips@digital.trade.gov.uk&amp;source=gmail&amp;ust=1513332789855000&amp;usg=AFQjCNFq7Gpa2ZkJ7D_0rC2DKbGV8TMmHA">leslie.smith@gmail.com</a>


														</div>



													</td>
												</tr>





												<tr>
													<td></td>
													<td>

														What's your primary sector?



														<div style="color:#666666;font-weight:400;font-size:15px;line-height:21px;font-family:'Benton Sans',-apple-system,BlinkMacSystemFont,Roboto,'Helvetica neue',Helvetica,Tahoma,Arial,sans-serif;font-weight:500;margin-bottom:12px">


															Retail and Luxury


														</div>



													</td>
												</tr>




												</tbody></table>


										</td>
									</tr>






									<tr>
										<td style="padding:0 40px">

											<table cellspacing="0" cellpadding="0" width="100%" style="width:100%;min-width:100%">
												<tbody><tr>
													<td style="background-color:#dedede;width:100%;min-width:100%;font-size:1px;height:1px;line-height:1px">&nbsp;
													</td>
												</tr>
												</tbody></table>

										</td>
									</tr>


									<tr>
										<td class="m_-5453710799991933279m_-636110139478864565grid__col" style="font-family:'Benton Sans',-apple-system,BlinkMacSystemFont,Roboto,'Helvetica neue',Helvetica,Tahoma,Arial,sans-serif;padding:32px 40px;border-radius:0 0 6px 6px" align="">




											<table cellpadding="0" cellspacing="0" border="0" align="left" style="width:360px" class="m_-5453710799991933279m_-636110139478864565small_full_width">
												<tbody><tr>
													<td>



														<h2 style="color:#404040;font-weight:300;margin:0 0 12px 0;font-size:24px;line-height:30px;font-family:'Benton Sans',-apple-system,BlinkMacSystemFont,Roboto,'Helvetica neue',Helvetica,Tahoma,Arial,sans-serif;margin-bottom:8px">

															Eventbrite for mobile

														</h2>




														<div style="color:#666666;font-weight:400;font-size:15px;line-height:21px;font-family:'Benton Sans',-apple-system,BlinkMacSystemFont,Roboto,'Helvetica neue',Helvetica,Tahoma,Arial,sans-serif;font-weight:300">


															Easily pull up event details and discover upcoming events on the go.


															<a style="text-decoration:none;color:#0f90ba;font-family:'Benton Sans',-apple-system,BlinkMacSystemFont,Roboto,'Helvetica neue',Helvetica,Tahoma,Arial,sans-serif" href="http://www.eventbrite.co.uk/eventbriteapp?utm_source=eb_email&amp;utm_medium=email&amp;utm_campaign=order_confirmation_email&amp;utm_term=ebmobiledownloadtext&amp;ref=eemailordconf" target="_blank" data-saferedirecturl="https://www.google.com/url?hl=en-GB&amp;q=http://www.eventbrite.co.uk/eventbriteapp?utm_source%3Deb_email%26utm_medium%3Demail%26utm_campaign%3Dorder_confirmation_email%26utm_term%3Debmobiledownloadtext%26ref%3Deemailordconf&amp;source=gmail&amp;ust=1513332789855000&amp;usg=AFQjCNFt3eI-2_mLJkRniCAzw1kpAkRVdg">Download</a>


														</div>



													</td>
												</tr>
												</tbody></table>



											<table cellpadding="0" cellspacing="0" border="0" align="right" style="width:150px;text-align:center" class="m_-5453710799991933279m_-636110139478864565small_full_width">
												<tbody><tr>
													<td>



														<a style="text-decoration:none;color:#0f90ba;font-family:'Benton Sans',-apple-system,BlinkMacSystemFont,Roboto,'Helvetica neue',Helvetica,Tahoma,Arial,sans-serif" href="https://www.%(url_domain)s/eventbriteapp?utm_source=eb_email&amp;utm_medium=email&amp;utm_campaign=order_confirmation_email&amp;utm_term=ebmobiledownloadimg&amp;ref=eemailordconf" target="_blank" data-saferedirecturl="https://www.google.com/url?hl=en-GB&amp;q=https://www.%25(url_domain)s/eventbriteapp?utm_source%3Deb_email%26utm_medium%3Demail%26utm_campaign%3Dorder_confirmation_email%26utm_term%3Debmobiledownloadimg%26ref%3Deemailordconf&amp;source=gmail&amp;ust=1513332789856000&amp;usg=AFQjCNEWb4otJcJCDOikfoObr7rnZsQqsQ">



															<img src="https://ci5.googleusercontent.com/proxy/I-RxNqZvD7lshMOE2eHiSX5662ZGzFb73o_701K8cCL8QL_pA_8N0iQw66nb52IXMOUyj8BejKyVp6NpBJY4hIgO0hFLTz7vza22NnH1lugdcZELLPgAdxbigMWuJTFZ15JhlkN-vgVfSrmLX146eeWFmrw=s0-d-e1-ft#https://cdn.evbstatic.com/s3-s3/marketing/emails/order_confirmation/mobile-tickets-largex2.png" title="mobile" alt="mobile" style="width:145px;height:84px" border="0" width="145" height="84" class="CToWUd">



														</a>

													</td>
												</tr>
												</tbody></table>



										</td>
									</tr>






									<tr>
										<td style="padding:0 40px">

											<table cellspacing="0" cellpadding="0" width="100%" style="width:100%;min-width:100%">
												<tbody><tr>
													<td style="background-color:#dedede;width:100%;min-width:100%;font-size:1px;height:1px;line-height:1px">&nbsp;
													</td>
												</tr>
												</tbody></table>

										</td>
									</tr>



									<tr>
										<td class="m_-5453710799991933279m_-636110139478864565grid__col" style="font-family:'Benton Sans',-apple-system,BlinkMacSystemFont,Roboto,'Helvetica neue',Helvetica,Tahoma,Arial,sans-serif;padding:32px 40px;border-radius:0 0 6px 6px" align="">


											<table cellpadding="0" cellspacing="0" border="0" align="left" style="width:168px;text-align:center" class="m_-5453710799991933279m_-636110139478864565small_full_width m_-5453710799991933279m_-636110139478864565your-account__logo">
												<tbody><tr>
													<td>



														<a style="text-decoration:none;color:#0f90ba;font-family:'Benton Sans',-apple-system,BlinkMacSystemFont,Roboto,'Helvetica neue',Helvetica,Tahoma,Arial,sans-serif" href="http://www.eventbrite.co.uk/mytickets?utm_source=eb_email&amp;utm_medium=email&amp;utm_campaign=order_confirmation_email&amp;utm_term=loginyouraccountimg&amp;ref=eemailordconf" target="_blank" data-saferedirecturl="https://www.google.com/url?hl=en-GB&amp;q=http://www.eventbrite.co.uk/mytickets?utm_source%3Deb_email%26utm_medium%3Demail%26utm_campaign%3Dorder_confirmation_email%26utm_term%3Dloginyouraccountimg%26ref%3Deemailordconf&amp;source=gmail&amp;ust=1513332789856000&amp;usg=AFQjCNEUNBLCaCgrNEWosmoxkxWZhp5koQ">



															<img src="https://ci4.googleusercontent.com/proxy/Di56k4_zD1k6WY02YcQUUDAwThCXZ4vR9HLG99h-9wHn4mJXGTk_XNwaDLBzjVHKDntcEZ-FPrKky9lxRRRRrPBUXnh7cvzdtwmEYrnGygSC8TnRVbIHYbH8VfG9O5WC1MvD6TgQFOAgM6pf=s0-d-e1-ft#https://cdn.evbstatic.com/s3-s3/marketing/emails/order_confirmation/account-iconx2.png" title="your account" alt="your account" style="width:157px;height:94px" border="0" width="157" height="94" class="CToWUd">



														</a>

													</td>
												</tr>
												</tbody></table>



											<table cellpadding="0" cellspacing="0" border="0" align="right" style="width:340px" class="m_-5453710799991933279m_-636110139478864565small_full_width">
												<tbody><tr>
													<td>



														<h2 style="color:#404040;font-weight:300;margin:0 0 12px 0;font-size:24px;line-height:30px;font-family:'Benton Sans',-apple-system,BlinkMacSystemFont,Roboto,'Helvetica neue',Helvetica,Tahoma,Arial,sans-serif;margin-bottom:8px">

															Your Account

														</h2>




														<div style="color:#666666;font-weight:400;font-size:15px;line-height:21px;font-family:'Benton Sans',-apple-system,BlinkMacSystemFont,Roboto,'Helvetica neue',Helvetica,Tahoma,Arial,sans-serif;font-weight:300;font-size:14px;line-height:1.5">


															<a href="http://www.eventbrite.co.uk/mytickets?utm_source=eb_email&amp;utm_medium=email&amp;utm_campaign=order_confirmation_email&amp;utm_term=loginyouraccounttext&amp;ref=eemailordconf" style="text-decoration:none;color:#1090ba;font-weight:normal" target="_blank" data-saferedirecturl="https://www.google.com/url?hl=en-GB&amp;q=http://www.eventbrite.co.uk/mytickets?utm_source%3Deb_email%26utm_medium%3Demail%26utm_campaign%3Dorder_confirmation_email%26utm_term%3Dloginyouraccounttext%26ref%3Deemailordconf&amp;source=gmail&amp;ust=1513332789856000&amp;usg=AFQjCNE9-IzNvKpYjqC2ge6sja8U8pis0A">Log in</a> to manage your orders.


														</div>



													</td>
												</tr>
												</tbody></table>


										</td>
									</tr>











									</tbody></table>
							</td>
						</tr>
						</tbody></table><div><div class="adm"><div id="q_16050c7058711b1f_16" class="ajR h4"><div class="ajT"></div></div></div><div class="h5">











					<table class="m_-5453710799991933279m_-636110139478864565content" align="center" cellpadding="0" cellspacing="0" border="0" style="width:600px;max-width:600px;font-family:Helvetica,Arial,sans-serif">
						<tbody><tr class="m_-5453710799991933279m_-636110139478864565hide-for-small">
							<td style="padding-top:24px">







							</td></tr><tr class="m_-5453710799991933279m_-636110139478864565footer-attendee-cta">
							<td class="m_-5453710799991933279m_-636110139478864565grid__col" style="font-family:'Benton Sans',-apple-system,BlinkMacSystemFont,Roboto,'Helvetica neue',Helvetica,Tahoma,Arial,sans-serif;padding:12px 20px" align="">


								<table cellspacing="0" cellpadding="0" width="100%" align="" class="m_-5453710799991933279m_-636110139478864565col-layout">


									<tbody><tr>




										<td width="50%" height="" align="" valign="top" class="m_-5453710799991933279m_-636110139478864565col-footer-cta" colspan="1">

											<table border="0" cellpadding="0" cellspacing="0" width="100%">



												<tbody><tr>
													<td class="m_-5453710799991933279m_-636110139478864565grid__col" style="font-family:'Benton Sans',-apple-system,BlinkMacSystemFont,Roboto,'Helvetica neue',Helvetica,Tahoma,Arial,sans-serif;padding:0 28px 0 0" align="">


														<table cellspacing="0" cellpadding="0" width="100%" align="" class="m_-5453710799991933279m_-636110139478864565col-layout">


															<tbody><tr>




																<td width="75%" height="" style="padding-right:10px" align="" valign="middle" class="m_-5453710799991933279m_-636110139478864565col-container" colspan="1">

																	<table border="0" cellpadding="0" cellspacing="0" width="100%">


																		<tbody><tr>


																			<td width="" height="" align="" valign="" colspan="1">



																				<h2 style="color:#404040;font-weight:300;margin:0 0 12px 0;font-size:17px;line-height:24px;padding-top:0;padding-bottom:0;margin-top:0;margin-bottom:0;font-family:'Benton Sans',-apple-system,BlinkMacSystemFont,Roboto,'Helvetica neue',Helvetica,Tahoma,Arial,sans-serif">

																					Create your own event

																				</h2>



																				<div style="color:#666666;font-weight:400;font-size:13px;line-height:18px;font-family:'Benton Sans',-apple-system,BlinkMacSystemFont,Roboto,'Helvetica neue',Helvetica,Tahoma,Arial,sans-serif;padding-bottom:6px">

																					Anyone can sell tickets or manage registration with Eventbrite.

																				</div>



																				<div style="color:#666666;font-weight:400;font-size:13px;line-height:18px;font-family:'Benton Sans',-apple-system,BlinkMacSystemFont,Roboto,'Helvetica neue',Helvetica,Tahoma,Arial,sans-serif">




																					<a style="text-decoration:none;color:#0f90ba;font-family:'Benton Sans',-apple-system,BlinkMacSystemFont,Roboto,'Helvetica neue',Helvetica,Tahoma,Arial,sans-serif" href="http://www.eventbrite.co.uk/features/?utm_source=eb_email&amp;utm_medium=email&amp;utm_campaign=&amp;utm_term=footer_learn_more&amp;utm_content=&amp;ref=eemail" target="_blank" data-saferedirecturl="https://www.google.com/url?hl=en-GB&amp;q=http://www.eventbrite.co.uk/features/?utm_source%3Deb_email%26utm_medium%3Demail%26utm_campaign%3D%26utm_term%3Dfooter_learn_more%26utm_content%3D%26ref%3Deemail&amp;source=gmail&amp;ust=1513332789856000&amp;usg=AFQjCNFa03r5RMoFqCEHxEUGN6HpagnTQA">Learn More</a>

																				</div>


																			</td>


																		</tr>


																		</tbody></table>

																</td>




																<td width="25%" height="" align="" valign="middle" class="m_-5453710799991933279m_-636110139478864565col-container" colspan="1">

																	<table border="0" cellpadding="0" cellspacing="0" width="100%">


																		<tbody><tr>


																			<td width="" height="" align="" valign="" colspan="1">




																				<a style="text-decoration:none;color:#0f90ba;font-family:'Benton Sans',-apple-system,BlinkMacSystemFont,Roboto,'Helvetica neue',Helvetica,Tahoma,Arial,sans-serif" href="http://www.eventbrite.co.uk/features/?utm_source=eb_email&amp;utm_medium=email&amp;utm_campaign=&amp;utm_term=footer_learn_more_logo&amp;utm_content=&amp;ref=eemail" class="m_-5453710799991933279m_-636110139478864565hide-for-small" target="_blank" data-saferedirecturl="https://www.google.com/url?hl=en-GB&amp;q=http://www.eventbrite.co.uk/features/?utm_source%3Deb_email%26utm_medium%3Demail%26utm_campaign%3D%26utm_term%3Dfooter_learn_more_logo%26utm_content%3D%26ref%3Deemail&amp;source=gmail&amp;ust=1513332789856000&amp;usg=AFQjCNHaj__qwiqbtj_AY3AOdujGFtxWyw">


																					<img src="https://ci3.googleusercontent.com/proxy/0KNj9Phw9n_fIpgR1sT7xmTeb0KjlLKF7Ig2w_Ml2Yp7yAa7h1BBWi02L7g3CrG6j8KfkeMw9zTkzyjANWwWir4xNAxf9diDYue7jufVMoDyqgeHyS7hHONiUqOFZuA=s0-d-e1-ft#https://cdn.evbstatic.com/s3-s3/marketing/emails/images/icons/tickets.png" title="" alt="" border="0" width="60" height="60" class="CToWUd">


																				</a>

																			</td>


																		</tr>


																		</tbody></table>

																</td>




															</tr>


															</tbody></table>


													</td>
												</tr>



												</tbody></table>

										</td>





										<td width="1px" height="" style="height:100%;background:#dedede" align="" valign="" class="m_-5453710799991933279m_-636110139478864565col_container" colspan="1">

											<table border="0" cellpadding="0" cellspacing="0" width="100%">


											</table>

										</td>





										<td width="50%" height="" align="" valign="top" class="m_-5453710799991933279m_-636110139478864565col-footer-cta" colspan="1">

											<table border="0" cellpadding="0" cellspacing="0" width="100%">



												<tbody><tr>
													<td class="m_-5453710799991933279m_-636110139478864565grid__col" style="font-family:'Benton Sans',-apple-system,BlinkMacSystemFont,Roboto,'Helvetica neue',Helvetica,Tahoma,Arial,sans-serif;padding:0 0 0 28px" align="">


														<table cellspacing="0" cellpadding="0" width="100%" align="" class="m_-5453710799991933279m_-636110139478864565col-layout">


															<tbody><tr>




																<td width="75%" height="" style="padding-right:10px" align="" valign="middle" class="m_-5453710799991933279m_-636110139478864565col-container" colspan="1">

																	<table border="0" cellpadding="0" cellspacing="0" width="100%">


																		<tbody><tr>


																			<td width="" height="" align="" valign="" colspan="1">



																				<h2 style="color:#404040;font-weight:300;margin:0 0 12px 0;font-size:17px;line-height:24px;padding-top:0;padding-bottom:0;margin-top:0;margin-bottom:0;font-family:'Benton Sans',-apple-system,BlinkMacSystemFont,Roboto,'Helvetica neue',Helvetica,Tahoma,Arial,sans-serif">

																					Discover great events

																				</h2>



																				<div style="color:#666666;font-weight:400;font-size:13px;line-height:18px;font-family:'Benton Sans',-apple-system,BlinkMacSystemFont,Roboto,'Helvetica neue',Helvetica,Tahoma,Arial,sans-serif;padding-bottom:6px">

																					Find local events that match your passions.

																				</div>



																				<div style="color:#666666;font-weight:400;font-size:13px;line-height:18px;font-family:'Benton Sans',-apple-system,BlinkMacSystemFont,Roboto,'Helvetica neue',Helvetica,Tahoma,Arial,sans-serif">




																					<a style="text-decoration:none;color:#0f90ba;font-family:'Benton Sans',-apple-system,BlinkMacSystemFont,Roboto,'Helvetica neue',Helvetica,Tahoma,Arial,sans-serif" href="http://www.eventbrite.co.uk/directory/?utm_source=eb_email&amp;utm_medium=email&amp;utm_campaign=&amp;utm_term=footer_iconmap&amp;utm_content=&amp;ref=eemail" target="_blank" data-saferedirecturl="https://www.google.com/url?hl=en-GB&amp;q=http://www.eventbrite.co.uk/directory/?utm_source%3Deb_email%26utm_medium%3Demail%26utm_campaign%3D%26utm_term%3Dfooter_iconmap%26utm_content%3D%26ref%3Deemail&amp;source=gmail&amp;ust=1513332789856000&amp;usg=AFQjCNHMcZGjKjzjiQnlTP3cbzYMTzyN_A">See events</a>

																				</div>


																			</td>


																		</tr>


																		</tbody></table>

																</td>




																<td width="25%" height="" align="" valign="middle" class="m_-5453710799991933279m_-636110139478864565col-container" colspan="1">

																	<table border="0" cellpadding="0" cellspacing="0" width="100%">


																		<tbody><tr>


																			<td width="" height="" align="" valign="" colspan="1">




																				<a style="text-decoration:none;color:#0f90ba;font-family:'Benton Sans',-apple-system,BlinkMacSystemFont,Roboto,'Helvetica neue',Helvetica,Tahoma,Arial,sans-serif" href="http://www.eventbrite.co.uk/directory/?utm_source=eb_email&amp;utm_medium=email&amp;utm_campaign=&amp;utm_term=footer_iconmap_logo&amp;utm_content=&amp;ref=eemail" class="m_-5453710799991933279m_-636110139478864565hide-for-small" target="_blank" data-saferedirecturl="https://www.google.com/url?hl=en-GB&amp;q=http://www.eventbrite.co.uk/directory/?utm_source%3Deb_email%26utm_medium%3Demail%26utm_campaign%3D%26utm_term%3Dfooter_iconmap_logo%26utm_content%3D%26ref%3Deemail&amp;source=gmail&amp;ust=1513332789856000&amp;usg=AFQjCNG3a0qCHo6TZDWtU0jHitoePCXC7Q">


																					<img src="https://ci4.googleusercontent.com/proxy/6jLysxTcDxuRIVT5j-oqDg-cER_e-TyH-4Czj70vkfc_u0R0bcOcyBoxyCXSiOXDx-e9xDUdlqsEMKiHEBVnt1noRjRwn2HlYhMLl895TF4aJtkwdd9236FfRUE=s0-d-e1-ft#https://cdn.evbstatic.com/s3-s3/marketing/emails/images/icons/city.png" title="" alt="" border="0" width="60" height="60" class="CToWUd">


																				</a>

																			</td>


																		</tr>


																		</tbody></table>

																</td>




															</tr>


															</tbody></table>


													</td>
												</tr>



												</tbody></table>

										</td>




									</tr>


									</tbody></table>


							</td>
						</tr>






						<tr>
							<td style="padding-top:24px">

								<table cellspacing="0" cellpadding="0" width="100%" style="width:100%;min-width:100%">
									<tbody><tr>
										<td style="background-color:#dedede;width:100%;min-width:100%;font-size:1px;height:1px;line-height:1px">&nbsp;
										</td>
									</tr>
									</tbody></table>

							</td>
						</tr>

						<tr>
							<td class="m_-5453710799991933279m_-636110139478864565grid__col" style="font-family:'Benton Sans',-apple-system,BlinkMacSystemFont,Roboto,'Helvetica neue',Helvetica,Tahoma,Arial,sans-serif;padding:24px 0;text-align:center" align="">




								<div style="color:#666666;font-weight:400;font-size:13px;line-height:18px;font-family:'Benton Sans',-apple-system,BlinkMacSystemFont,Roboto,'Helvetica neue',Helvetica,Tahoma,Arial,sans-serif;font-weight:300;padding-bottom:6px">





<span>
                This email was sent to

    <a style="text-decoration:none;color:#0f90ba;font-family:'Benton Sans',-apple-system,BlinkMacSystemFont,Roboto,'Helvetica neue',Helvetica,Tahoma,Arial,sans-serif" href="mailto:joseph.phillips@digital.trade.gov.uk" target="_blank">leslie.smith@gmail.com</a>
            </span>




								</div>





								<div style="color:#666666;font-weight:400;font-size:13px;line-height:18px;font-family:'Benton Sans',-apple-system,BlinkMacSystemFont,Roboto,'Helvetica neue',Helvetica,Tahoma,Arial,sans-serif;font-weight:300;padding-bottom:6px">




									<a style="text-decoration:none;color:#0f90ba;font-family:'Benton Sans',-apple-system,BlinkMacSystemFont,Roboto,'Helvetica neue',Helvetica,Tahoma,Arial,sans-serif" href="http://www.eventbrite.co.uk" target="_blank" data-saferedirecturl="https://www.google.com/url?hl=en-GB&amp;q=http://www.eventbrite.co.uk&amp;source=gmail&amp;ust=1513332789856000&amp;usg=AFQjCNH1bS5rPwypA0Q5NiDciiBezGiUxw">Eventbrite</a>  | <a href="https://maps.google.com/?q=10-11+Charterhouse+Square+%7C+EC1M+6EE+London&amp;entry=gmail&amp;source=g" target="_blank" data-saferedirecturl="https://www.google.com/url?hl=en-GB&amp;q=https://maps.google.com/?q%3D10-11%2BCharterhouse%2BSquare%2B%257C%2BEC1M%2B6EE%2BLondon%26entry%3Dgmail%26source%3Dg&amp;source=gmail&amp;ust=1513332789856000&amp;usg=AFQjCNFUSZKS1A_OV3KSUzVMv7K6u9DRIg">10-11 Charterhouse Square | EC1M 6EE London</a>


								</div>





								<div style="color:#666666;font-weight:400;font-size:13px;line-height:18px;font-family:'Benton Sans',-apple-system,BlinkMacSystemFont,Roboto,'Helvetica neue',Helvetica,Tahoma,Arial,sans-serif;font-weight:300">


									Copyright © 2017 Eventbrite. All rights reserved.


								</div>



							</td>
						</tr>

						</tbody></table>

					<img src="https://ci4.googleusercontent.com/proxy/CY0zcHWv87xgI5fPpVE6BF309hWWswZr-cQjYB3cXAdoCIeNBVlClOli4zT-1isrW3nqJw_32JOoIkJPvy8rn6AAzLISyQQZw1-NQKqas0yDozMvJ67nPZpkcyxZL3qGYizNFHEbdGaBuEkyH-bjMoiJQ5YcP2sW63mkUQJmReRBDtVRBLfKCwCVH0a9zyb_ZGjCi6RhtyiIN3RxbduVabeNNQ=s0-d-e1-ft#https://www.eventbrite.com/emails/action/?recipient=joseph.phillips%40digital.trade.gov.uk&amp;type_id=65&amp;type=open&amp;send_id=2017-12-13&amp;list_id=9" alt="" width="1" height="1" border="0" style="border:0" class="CToWUd">

				</div></div></td>
			</tr>
			</tbody></table><div class="yj6qo"></div><div class="adL">

	</div></div>








</div>


</body>






</html>