{% extends "layout.html" %}
{% set loggedIn = true %}
{% set external_journey = true %}

{% block page_title %}

  GOV.UK prototype kit
{% endblock %}

{% block content %}
{% include "includes/great-header.html" %} 


{% macro createYesOrNoQuestion(id, question, type, values) %}
<input type="hidden" name="question--{{id}}" value="{{question}}">
<input type="hidden" name="question--{{id}}" value="{{type}}">
{% if (type === "yes-or-no") %}
<div class="form-group {% if errorQuestionEmpty%} form-group-error {% endif %}">
  <label class="form-label" for="question--{{id}}">
	  {{question}}
	  {% if errorQuestionEmpty %}
				<span class="error-message">
					Attendee question missing
				</span>
	  {% endif %}
  </label>

  <fieldset class="inline">
    <div class="multiple-choice">
      <input id="radio-inline-1" type="radio" name="question--{{id}}" value="Yes">
      <label for="radio-inline-1">Yes</label>
    </div>
    <div class="multiple-choice">
      <input id="radio-inline-2" type="radio" name="question--{{id}}" value="No">
      <label for="radio-inline-2">No</label>
    </div>
  </fieldset>
</div>

{% elif (type == "long") %}
<div class="form-group  {% if errorQuestionEmpty%} form-group-error {% endif %}">
					  <label class="form-label" for="question--{{id}}">
						  {{question}}
						  {% if errorQuestionEmpty %}
									<span class="error-message">
										Attendee question missing
									</span>
						  {% endif %}
					  </label>
					  <div id="show-new-question" style="width:100%;  margin-bottom:0px;">
						  <textarea class="form-control  {% if errorQuestionEmpty %} form-control-error {% endif %}"
								 id="question--{{QuestionsCounter}}" name="question--{{id}}" value="" ></textarea>
					  </div>
				  </div>

{% elif (type == "short") %}
<div class="form-group form-control-2-3 {% if errorQuestionEmpty%} form-group-error {% endif %}">
					  <label class="form-label" for="question--{{id}}">
						  {{question}}
						  {% if errorQuestionEmpty %}
									<span class="error-message">
										Attendee question missing
									</span>
						  {% endif %}
					  </label>
					  <div id="show-new-question" style="width:100%;  margin-bottom:0px;">
						  <input type="text" class="form-control  {% if errorQuestionEmpty %} form-control-error {% endif %}"
								 id="question--{{QuestionsCounter}}" name="question--{{id}}" value="" style="width:30%;">
					  </div>
				  </div>

{% elif (type == "multiple") %}
<div class="form-group">
			 
				  <label class="form-label" for="question--{{id}}" style="margin-bottom:5px; ">{{question}}</label>
				  <fieldset>
				  	{% for value in values %}		  	
			      <div class="multiple-choice">
			        <input id="answer{{id}}" name="question--{{id}}" type="checkbox" value="{{value}}">
			        <label for="{{ value }}">{{ value }}</label>
			      </div>
			      {% endfor %}
			    </fieldset>

			 
				</div>

{% endif %}
{% endmacro %}

<main id="content" role="main">
<h1 class="heading-large">
		  Registration questions
      </h1>
  <div class="grid-row">
    <div class="column-two-thirds">

	  <!--  BREADCRUMB  -->
	  <div class="breadcrumbs">
		
	  </div>


	  <!-- CONDITIONAL ERROR  -->
		{% if errorQuestions %}
		<div class="error-summary" role="alert" aria-labelledby="error-summary-heading-example-1" tabindex="-1">

			<h2 class="heading-medium error-summary-heading" id="error-summary-heading-example-1">
				Missing fields
			</h2>

			<p>
				Please check the following errors and try again
			</p>


			{% if errorNewQuestionEmpty %}
				<ul class="error-summary-list">
					<li><a href="#previous-questions">Need select a new question or a previous question</a></li>
				</ul>
			{% endif %}

			{% if errorQuestionEmpty %}
				<ul class="error-summary-list">
					<li><a href="#show-answer-type">Need to enter the question</a></li>
				</ul>
			{% endif %}

			{% if errorAnswerTypeEmpty %}
				<ul class="error-summary-list">
					<li><a href="#answer-types">Need to select the type of answers for their question</a></li>
				</ul>
			{% endif %}

			{% if errorAnswersError %}
			<ul class="error-summary-list">
				<li><a href="#show-answers">You need to enter at least 2 answers</a></li>
			</ul>
			{% endif %}



		</div>
      {% endif %}


	 
	  <form action="/create-event/question-onwards" method="get" class="form">


			  <fieldset class="form-group {% if 0 < session.previousQuestions.length  and
			  									(errorQuestionEmpty == undefined or errorQuestionEmpty == false) and
			  									(errorAnswerTypeEmpty == undefined or errorAnswerTypeEmpty == false) and
			  									(errorAnswersError == undefined or errorAnswersError == false) %}
			  								 js-hidden
			  							  {% endif %}"
						id="show-answer-type">

				<!--  
 				{{ createYesOrNoQuestion(1, "Long title", "long") }}

 				{{ createYesOrNoQuestion(2, "Short title", "short") }}

 				{{ createYesOrNoQuestion(3, "Yes or no title", "yes-or-no") }}

 				{{ createYesOrNoQuestion(4, "Multiple title ", "multiple", ["value1", "value2"]) }}
		  -->
				{{ createYesOrNoQuestion(1, "Is your business currently exporting?", "yes-or-no") }}
				{{ createYesOrNoQuestion(2, "What is your latest annual turnover? (£)", "short") }}
				{{ createYesOrNoQuestion(3, "Do you have any food allergies we should be aware of?", "yes-or-no") }}

	

</fieldset>
		  <div class="form-group">

			  <input type="submit" class="button button-blue" formaction="/register/check-your-answers" value="Continue">
		  </div>



	  </form>

    </div>

<div class="column-one-third">
	{% include "includes/basket.html" %} 
</div>

  </div>


</main>

{% include "includes/great-footer.html" %} 


{% endblock %}


