{% extends "layout.html" %}
{% set loggedIn = true %}
{% set external_journey = true %}

{% block page_title %}

  GOV.UK prototype kit
{% endblock %}

{% block content %}
{% include "includes/great-header.html" %} 
{% set QuestionsCounter = 0 %}
{{QuestionsCounter}}
{% macro createYesOrNoQuestion(question, type) %}
<input type="hidden" name="question{{QuestionsCounter}}" value="{{question}}">
{% if (type === "yes-or-no") %}
<div class="form-group {% if errorQuestionEmpty%} form-group-error {% endif %}">
  <label class="form-label" for="question{{QuestionsCounter}}">
	  {{question}}
	  {% if errorQuestionEmpty %}
				<span class="error-message">
					Attendee question missing
				</span>
	  {% endif %}
  </label>

  <fieldset class="inline">
    <div class="multiple-choice">
      <input id="radio-inline-1" type="radio" name="radio-inline-group" value="Yes">
      <label for="radio-inline-1">Yes</label>
    </div>
    <div class="multiple-choice">
      <input id="radio-inline-2" type="radio" name="radio-inline-group" value="No">
      <label for="radio-inline-2">No</label>
    </div>
  </fieldset>
</div>
{% elif (type == "long") %}
<div class="form-group  {% if errorQuestionEmpty%} form-group-error {% endif %}">
					  <label class="form-label" for="question{{QuestionsCounter}}">
						  Question with long answer
						  {% if errorQuestionEmpty %}
									<span class="error-message">
										Attendee question missing
									</span>
						  {% endif %}
					  </label>
					  <div id="show-new-question" style="width:100%;  margin-bottom:0px;">
						  <textarea class="form-control  {% if errorQuestionEmpty %} form-control-error {% endif %}"
								 id="question{{QuestionsCounter}}" name="question{{QuestionsCounter}}" value="" ></textarea>
					  </div>
				  </div>
{% elif (type == "short") %}
<div class="form-group form-control-2-3 {% if errorQuestionEmpty%} form-group-error {% endif %}">
					  <label class="form-label" for="question{{QuestionsCounter}}">
						  Question with short answer
						  {% if errorQuestionEmpty %}
									<span class="error-message">
										Attendee question missing
									</span>
						  {% endif %}
					  </label>
					  <div id="show-new-question" style="width:100%;  margin-bottom:0px;">
						  <input type="text" class="form-control  {% if errorQuestionEmpty %} form-control-error {% endif %}"
								 id="question{{QuestionsCounter}}" name="question{{QuestionsCounter}}" value="" style="width:100%;">
					  </div>
				  </div>

{% elif (type == "multiple") %}
<div class="form-group">
			 
				  <label class="form-label" for="town" style="margin-bottom:5px; ">Question with multiple answers</label>
				  <fieldset>
			      <legend>
			        <span class="visually-hidden">Which types of waste do you transport regularly?</span>
			      </legend>
			      <div class="multiple-choice">
			        <input id="waste-type-1" name="waste-types" type="checkbox" value="waste-animal">
			        <label for="waste-type-1">Waste from animal carcasses</label>
			      </div>
			      <div class="multiple-choice">
			        <input id="waste-type-2" name="waste-types" type="checkbox" value="waste-mines">
			        <label for="waste-type-2">Waste from mines or quarries</label>
			      </div>
			      <div class="multiple-choice">
			        <input id="waste-type-3" name="waste-types" type="checkbox" value="waste-farm-agricultural">
			        <label for="waste-type-3">Farm or agricultural waste</label>
			      </div>
			    </fieldset>

			 
				</div>
{% endif %}
{% set QuestionsCounter = randomHash() %}
{{QuestionsCounter}}
{% endmacro %}

<main id="content" role="main">
<h1 class="heading-large">
		  Registration questions
      </h1>
  <div class="grid-row">
    <div class="column-two-thirds">

	  <!--  BREADCRUMB  -->
	  <div class="breadcrumbs">
		
	  </div>


	  <!-- CONDITIONAL ERROR  -->
		{% if errorQuestions %}
		<div class="error-summary" role="alert" aria-labelledby="error-summary-heading-example-1" tabindex="-1">

			<h2 class="heading-medium error-summary-heading" id="error-summary-heading-example-1">
				Missing fields
			</h2>

			<p>
				Please check the following errors and try again
			</p>


			{% if errorNewQuestionEmpty %}
				<ul class="error-summary-list">
					<li><a href="#previous-questions">Need select a new question or a previous question</a></li>
				</ul>
			{% endif %}

			{% if errorQuestionEmpty %}
				<ul class="error-summary-list">
					<li><a href="#show-answer-type">Need to enter the question</a></li>
				</ul>
			{% endif %}

			{% if errorAnswerTypeEmpty %}
				<ul class="error-summary-list">
					<li><a href="#answer-types">Need to select the type of answers for their question</a></li>
				</ul>
			{% endif %}

			{% if errorAnswersError %}
			<ul class="error-summary-list">
				<li><a href="#show-answers">You need to enter at least 2 answers</a></li>
			</ul>
			{% endif %}



		</div>
      {% endif %}


	 
	  <form action="/create-event/question-onwards" method="get" class="form">


			  <fieldset class="form-group {% if 0 < session.previousQuestions.length  and
			  									(errorQuestionEmpty == undefined or errorQuestionEmpty == false) and
			  									(errorAnswerTypeEmpty == undefined or errorAnswerTypeEmpty == false) and
			  									(errorAnswersError == undefined or errorAnswersError == false) %}
			  								 js-hidden
			  							  {% endif %}"
						id="show-answer-type">

				  
 				{{ createYesOrNoQuestion("Long", "long") }}

 				{{ createYesOrNoQuestion("Short Question", "short") }}

 				{{ createYesOrNoQuestion("Question with yes or no", "yes-or-no") }}

 				{{ createYesOrNoQuestion("Multiple", "multiple") }}
		  
							  
			  
	

</fieldset>
		  <div class="form-group">

			  <input type="submit" class="button button-blue" formaction="/register/check-your-answers" value="Continue">
		  </div>



	  </form>

    </div>

<div class="column-one-third">
	{% include "includes/basket.html" %} 
</div>

  </div>


</main>

{% include "includes/great-footer.html" %} 


{% endblock %}


