{% extends "layout.html" %}
{% if loggedIn == undefined %}
{% set loggedIn = false %}
{% endif %}
{% set external_journey = true %}

{% block page_title %}

  GOV.UK prototype kit
{% endblock %}

{% block content %}
{% include "includes/great-header.html" %} 

<main id="content" role="main">
	  <h1 class="heading-large" style="font-weight:400;">
		  Your business
      </h1>
  <div class="grid-row">
    <div class="column-two-thirds">

	  <!--  BREADCRUMB  -->
	  <div class="breadcrumbs">
		
	  </div>


	  <!-- CONDITIONAL ERROR  -->
		{% if errorQuestions %}
		<div class="error-summary" role="alert" aria-labelledby="error-summary-heading-example-1" tabindex="-1">

			<h2 class="heading-medium error-summary-heading" id="error-summary-heading-example-1">
				Missing fields
			</h2>

			<p>
				Please check the following errors and try again
			</p>


			{% if errorNewQuestionEmpty %}
				<ul class="error-summary-list">
					<li><a href="#previous-questions">Need select a new question or a previous question</a></li>
				</ul>
			{% endif %}

			{% if errorQuestionEmpty %}
				<ul class="error-summary-list">
					<li><a href="#show-answer-type">Need to enter the question</a></li>
				</ul>
			{% endif %}

			{% if errorAnswerTypeEmpty %}
				<ul class="error-summary-list">
					<li><a href="#answer-types">Need to select the type of answers for their question</a></li>
				</ul>
			{% endif %}

			{% if errorAnswersError %}
			<ul class="error-summary-list">
				<li><a href="#show-answers">You need to enter at least 2 answers</a></li>
			</ul>
			{% endif %}



		</div>
      {% endif %}


	  <form action="/create-event/question-onwards" method="get" class="form">


		  	<fieldset class="form-group {% if session.previousQuestions.length == 0 %} js-hidden {% endif %}" style="margin-bottom:0; padding-bottom:30px" id="previous-questions">
			  <!--  Additional questions that the registering user need to answer  -->

				<div class="form-group " style="margin-top:10px; margin-bottom:0px">

					{% if errorNewQuestionEmpty %}
						<div class="form-group  form-group-error">
					{% endif %}

						<label class="bold" for="question">
							New or previous question
							{% if errorNewQuestionEmpty %}
								<span class="error-message">
									Attendee question missing
								</span>
							{% endif %}
						</label>


						<div class="form-group" style="margin-top:0px; margin-bottom:0px">

							<div class="form-date" style="margin-top:5px">

								<div class="multiple-choice"  data-target="show-answer-type">
									<input id="new-question" type="radio" name="radio-additional-new-old-questions" value="new-question"
										   {% if errorNewQuestionSelected %} checked="checked" {% endif %}   onclick="prepopClear()">
									<label for="new-question">New question</label>
								</div>
								<div class="multiple-choice" data-target="show-answer-type">
									<input id="previous-question-one" type="radio" name="radio-additional-new-old-questions" value="previous-question-one"
										   {% if errorOldQuestionOneSelected %} checked="checked" {% endif %}   onclick="prepopQuestionOne()">
									<label for="previous-question-one">{{ session.previousQuestions[0][0] }}&nbsp;</label>
								</div>

								<div class="multiple-choice {% if session.previousQuestions.length < 2 %} js-hidden {% endif %} " data-target="show-answer-type"
									 	   {% if errorOldQuestionTwoSelected %} checked="checked" {% endif %} >
									<input id="previous-question-two" type="radio" name="radio-additional-new-old-questions" value="previous-question-two"    onclick="prepopQuestionTwo()">
									<label for="previous-question-two">{{ session.previousQuestions[1][0] }}&nbsp;</label>
								</div>

								<div class="multiple-choice {% if session.previousQuestions.length < 3 %} js-hidden {% endif %} " data-target="show-answer-type"
									 	   {% if errorOldQuestionThreeSelected %} checked="checked" {% endif %} >
									<input id="previous-question-three" type="radio" name="radio-additional-new-old-questions" value="previous-question-two"    onclick="prepopQuestionThree()">
									<label for="previous-question-two">{{ session.previousQuestions[2][0] }}&nbsp;</label>
								</div>

								<div class="multiple-choice {% if session.previousQuestions.length < 4 %} js-hidden {% endif %} " data-target="show-answer-type"
									       {% if errorOldQuestionFourSelected %} checked="checked" {% endif %} >
									<input id="previous-question-four" type="radio" name="radio-additional-new-old-questions" value="previous-question-two"    onclick="prepopQuestionFour()">
									<label for="previous-question-four">{{ session.previousQuestions[3][0] }}&nbsp;</label>
								</div>

								<div class="multiple-choice {% if session.previousQuestions.length < 5 %} js-hidden {% endif %} " data-target="show-answer-type"
									 	   {% if errorOldQuestionFiveSelected %} checked="checked" {% endif %} >
									<input id="previous-question-five" type="radio" name="radio-additional-new-old-questions" value="previous-question-two"     onclick="prepopQuestionFive()">
									<label for="previous-question-five">{{ session.previousQuestions[4][0] }}&nbsp;</label>
								</div>
							</div>

						</div>


					{% if errorNewQuestionEmpty %}
						</div>
					{% endif %}

				</div>
		  	</fieldset>



			<fieldset class=" {% if 0 < session.previousQuestions.length  and
			  									(errorQuestionEmpty == undefined or errorQuestionEmpty == false) and
			  									(errorAnswerTypeEmpty == undefined or errorAnswerTypeEmpty == false) and
			  									(errorAnswersError == undefined or errorAnswersError == false) %}
			  								 js-hidden
			  							  {% endif %}"
						id="show-answer-type">



				  <div class="form-group form-control-2-3 {% if errorQuestionEmpty%} form-group-error {% endif %}">
					  <label class="form-label" for="question">
						  Business name
						  {% if errorQuestionEmpty %}
									<span class="error-message">
										Attendee question missing
									</span>
						  {% endif %}
					  </label>
					  <div id="show-new-question" style="width:100%;  margin-bottom:0px;">
						  <input type="text" class="form-control  {% if errorQuestionEmpty %} form-control-error {% endif %}"
								 id="business-name" name="business-name" value="" style="width:100%;">
					  </div>
				  </div>
		

				  <div class="form-group {% if errorQuestionEmpty%} form-group-error {% endif %}">
					  <label class="form-label" for="question">
						  Business website (optional)
						  {% if errorQuestionEmpty %}
									<span class="error-message">
										Attendee question missing
									</span>
						  {% endif %}
					  </label>
					  <div id="show-new-question" style="width:100%;  margin-bottom:0px;">
						  <input type="text" class="form-control  {% if errorQuestionEmpty %} form-control-error {% endif %}"
								 id="website" name="website" value="" style="width:50%;">
					  </div>
				  </div>

		  </fieldset>


		  <fieldset>

			  <div class="form-group" id="revenue">

				  <label class="form-label">
					  What is your latest annual turnover?

					  {% if errorMissingSector %}
							  <span class="error-message">
								  Select no or yes
							  </span>
					  {% endif %}
				  </label>

				  <div style="margin-top:5px;">

					  <div class="multiple-choice" style="margin-bottom:10px">
						  <input id="revenue-1" type="radio" name="radio-revenue" value="no" {% if sectorIsNo %} checked="checked" {% endif %}>
						  <label for="revenue-1">£0 to £100,000</label>
					  </div>

					  <div class="multiple-choice" style="margin-bottom:10px">
						  <input id="revenue-2" type="radio" name="radio-revenue" value="yes"
								 {% if errorMissingSectorBox %} checked="checked" {% endif %} {% if sectorIsYes %} checked="checked" {% endif %}>
						  <label for="revenue-2">£100,000 to £500,000</label>
					  </div>

					  <div class="multiple-choice" style="margin-bottom:10px">
						  <input id="revenue-3" type="radio" name="radio-revenue" value="yes"
								 {% if errorMissingSectorBox %} checked="checked" {% endif %} {% if sectorIsYes %} checked="checked" {% endif %}>
						  <label for="revenue-3">£500,000 to £1,000,000</label>
					  </div>

					  <div class="multiple-choice" style="margin-bottom:10px">
						  <input id="revenue-4" type="radio" name="radio-revenue" value="yes"
								 {% if errorMissingSectorBox %} checked="checked" {% endif %} {% if sectorIsYes %} checked="checked" {% endif %}>
						  <label for="revenue-4">Above £1,000,000</label>
					  </div>

				  </div>

			  </fieldset>



			  <fieldset class="form-group" id="export-ready">

			  <div class="form-group" id="sector-area"  >

				  <label class="form-label" >
					  Have you exported before?

					  {% if errorMissingSector %}
						  <span class="error-message">
							  Select no or yes
						  </span>
					  {% endif %}
				  </label>

				  <div style="margin-top:5px;">

					  <div class="multiple-choice" style="margin-bottom:10px">
						  <input id="radio-inline-2" type="radio" name="radio-sector" value="no" {% if sectorIsNo %} checked="checked" {% endif %}>
						  <label for="radio-inline-2">No</label>
					  </div>

					  <div class="multiple-choice" style="margin-bottom:10px" data-target="export-frequency-section">
						  <input id="radio-inline-1" type="radio" name="radio-sector" value="yes"
								 {% if errorMissingSectorBox %} checked="checked" {% endif %} {% if sectorIsYes %} checked="checked" {% endif %}>
						  <label for="radio-inline-1">Yes</label>
					  </div>

				  </div>


				  <div class="form-group js-hidden" id="export-frequency-section"  style="border-left:5px solid #bfc1c3; padding:15px; margin-top:5px" >

					  <label class="form-label">
						  Do you export regularly?

						  {% if errorMissingSector %}
						  <span class="error-message">
							  Select no or yes
						  </span>
						  {% endif %}
					  </label>

					  <div style="margin-top:5px;">

						  <div class="multiple-choice" style="margin-bottom:10px">
							  <input id="radio-frequency-1" type="radio" name="radio-sector-frequency" value="no" {% if sectorIsNo %} checked="checked" {% endif %}>
							  <label for="radio-frequency-1">No</label>
						  </div>

						  <div class="multiple-choice" style="margin-bottom:10px">
							  <input id="radio-frequency-2" type="radio" name="radio-sector-frequency" value="yes"
									 {% if errorMissingSectorBox %} checked="checked" {% endif %} {% if sectorIsYes %} checked="checked" {% endif %}>
							  <label for="radio-frequency-2">Yes</label>
						  </div>

					  </div>

				  </div>


			  </div>

		  </fieldset>



		  <div class="form-group">

			  <input type="submit" class="button button-blue" formaction="/register/business-address" value="Continue">
		  </div>



	  </form>

    </div>

<div class="column-one-third">
	{% include "includes/basket.html" %} 
</div>

  </div>


</main>


{% include "includes/great-footer.html" %} 


{% endblock %}


