{% extends "layout.html" %}

{% if loggedIn == undefined %}
{% set loggedIn = false %}
{% endif %}

{% set external_journey = true %}

{% block after_header %}
<!-- nothing to there is no second alpha banner -->
{% endblock %}

{% block page_title %}
GOV.UK prototype kit
{% endblock %}


{% block content %}

{% include "includes/great-header-beta-signed-in.html" %}


<main id="content" role="main">
	  <h1 class="heading-large">
		  Your business
      </h1>
  <div class="grid-row">
    <div class="column-two-thirds">

	  <!--  BREADCRUMB  -->
	  <div class="breadcrumbs">
		
	  </div>


	  <form action="" method="post" class="form">




			<fieldset>



				  <div class="form-group form-control-2-3 {% if errorQuestionEmpty%} form-group-error {% endif %}">
					  <label class="form-label" for="question">
						  Business name
						  {% if errorQuestionEmpty %}
									<span class="error-message">
										Attendee question missing
									</span>
						  {% endif %}
					  </label>
					  <div id="show-new-question" style="width:100%;  margin-bottom:0px;">
						  <input type="text" class="form-control  {% if errorQuestionEmpty %} form-control-error {% endif %}"
								 id="business-name" name="business-name" value="" style="width:100%;">
					  </div>
				  </div>
		

				  <div class="form-group {% if errorQuestionEmpty%} form-group-error {% endif %}">
					  <label class="form-label" for="question">
						  Business website (optional)
						  {% if errorQuestionEmpty %}
									<span class="error-message">
										Attendee question missing
									</span>
						  {% endif %}
					  </label>
					  <div id="show-new-question" style="width:100%;  margin-bottom:0px;">
						  <input type="text" class="form-control  {% if errorQuestionEmpty %} form-control-error {% endif %}"
								 id="website" name="website" value="" style="width:50%;">
					  </div>
				  </div>

		  </fieldset>


		  <fieldset>

			  <div class="form-group" id="revenue">

				  <label class="form-label">
					  What is your latest annual turnover?

					  {% if errorMissingSector %}
							  <span class="error-message">
								  Select no or yes
							  </span>
					  {% endif %}
				  </label>

				  <div style="margin-top:5px;">

					  <div class="multiple-choice" style="margin-bottom:10px">
						  <input id="revenue-1" type="radio" name="radio-revenue" value="£0  to  £150,000" {% if sectorIsNo %} checked="checked" {% endif %}>
						  <label for="revenue-1">£0  to  £150,000</label>
					  </div>

					  <div class="multiple-choice" style="margin-bottom:10px">
						  <input id="revenue-2" type="radio" name="radio-revenue" value="£150,001  to  £500,000"
								 {% if errorMissingSectorBox %} checked="checked" {% endif %} {% if sectorIsYes %} checked="checked" {% endif %}>
						  <label for="revenue-2">£150,001  to  £500,000</label>
					  </div>

					  <div class="multiple-choice" style="margin-bottom:10px">
						  <input id="revenue-3" type="radio" name="radio-revenue" value="£500,001  to  £2,000,000"
								 {% if errorMissingSectorBox %} checked="checked" {% endif %} {% if sectorIsYes %} checked="checked" {% endif %}>
						  <label for="revenue-3">£500,001  to  £2,000,000</label>
					  </div>

					  <div class="multiple-choice" style="margin-bottom:10px">
						  <input id="revenue-4" type="radio" name="radio-revenue" value="£2,000,001  to  £5,000,000"
								 {% if errorMissingSectorBox %} checked="checked" {% endif %} {% if sectorIsYes %} checked="checked" {% endif %}>
						  <label for="revenue-4">£2,000,001  to  £5,000,000</label>
					  </div>

					  <div class="multiple-choice" style="margin-bottom:10px">
						  <input id="revenue-5" type="radio" name="radio-revenue" value="£5,000,001  to  £34,000,000"
								 {% if errorMissingSectorBox %} checked="checked" {% endif %} {% if sectorIsYes %} checked="checked" {% endif %}>
						  <label for="revenue-5">£5,000,001  to  £34,000,000</label>
					  </div>

					  <div class="multiple-choice" style="margin-bottom:10px">
						  <input id="revenue-6" type="radio" name="radio-revenue" value="£34,000,000+"
								 {% if errorMissingSectorBox %} checked="checked" {% endif %} {% if sectorIsYes %} checked="checked" {% endif %}>
						  <label for="revenue-6">£34,000,000+</label>
					  </div>

				  </div>

			  </fieldset>



			  <fieldset class="form-group" id="export-ready">

			  <div class="form-group" id="sector-area"  >

				  <label class="form-label" >
					  Have you exported before?

					  {% if errorMissingSector %}
						  <span class="error-message">
							  Select no or yes
						  </span>
					  {% endif %}
				  </label>

				  <div style="margin-top:5px;">

					  <div class="multiple-choice" style="margin-bottom:10px">
						  <input id="radio-inline-2" type="radio" name="radio-exported-before" value="No" {% if sectorIsNo %} checked="checked" {% endif %}>
						  <label for="radio-inline-2">No</label>
					  </div>

					  <div class="multiple-choice" style="margin-bottom:10px" data-target="export-frequency-section">
						  <input id="radio-inline-1" type="radio" name="radio-exported-before" value="Yes"
								 {% if errorMissingSectorBox %} checked="checked" {% endif %} {% if sectorIsYes %} checked="checked" {% endif %}>
						  <label for="radio-inline-1">Yes</label>
					  </div>

				  </div>


				  <div class="form-group js-hidden" id="export-frequency-section"  style="border-left:5px solid #bfc1c3; padding:15px; margin-top:5px" >

					  <label class="form-label">
						  Do you export regularly?

						  {% if errorMissingSector %}
						  <span class="error-message">
							  Select no or yes
						  </span>
						  {% endif %}
					  </label>

					  <div style="margin-top:5px;">

						  <div class="multiple-choice" style="margin-bottom:10px">
							  <input id="radio-frequency-1" type="radio" name="radio-sector-frequency" value="No" {% if sectorIsNo %} checked="checked" {% endif %}>
							  <label for="radio-frequency-1">No</label>
						  </div>

						  <div class="multiple-choice" style="margin-bottom:10px">
							  <input id="radio-frequency-2" type="radio" name="radio-sector-frequency" value="Yes"
									 {% if errorMissingSectorBox %} checked="checked" {% endif %} {% if sectorIsYes %} checked="checked" {% endif %}>
							  <label for="radio-frequency-2">Yes</label>
						  </div>

					  </div>

				  </div>


			  </div>

		  </fieldset>



		  <div class="form-group">

			  <input type="submit" class="button button-blue"  value="Continue">
		  </div>



	  </form>

    </div>

<div class="column-one-third">
	{% include "includes/basket.html" %} 
</div>

  </div>


</main>


{% include "includes/great-footer.html" %} 


{% endblock %}


