{% extends "layout.html" %}

{% if loggedIn == undefined %}
{% set loggedIn = false %}
{% endif %}

{% set external_journey = true %}

{% block after_header %}
<!-- nothing to there is no second alpha banner -->
{% endblock %}

{% block page_title %}
GOV.UK prototype kit
{% endblock %}


{% block content %}

{% include "includes/great-header-beta-signed-in.html" %}


<main id="content" role="main">
	  <h1 class="heading-large">
		  Your business address
      </h1>
  <div class="grid-row">
    <div class="column-two-thirds"> 

	  <form action="" method="post" class="form">

	    <div class="multiple-choice" data-target="country-selection" onclick="checkLabel()">
        <input id="example-contact-by-email" type="checkbox" name="radio-contact-group" value="Yes">
   <!--     <label for="example-contact-by-email">This business is not based in the UK</label> -->
      </div>
	
			  <fieldset>

<div class="form-group js-hidden" id="country-selection">

	<label class="form-label" for="contact-email">Country</label>

	<input class="form-control" name="contact-email" type="text" id="contact-email" style="width:60%">

</div>

				  <div class="form-group {% if errorQuestionEmpty%} form-group-error {% endif %}">

					  <label class="form-label" for="question">
						  Building and street
						  {% if errorQuestionEmpty %}
							<span class="error-message">
								Attendee question missing
							</span>
						  {% endif %}
					  </label>
				
			  
				  <input class="form-control " id="business-building" type="text" name="business-building" style="width:75%" value="{{ session.data['business-building'] }}">
				  <input class="form-control" id="business-street" type="text" name="business-street" style="width:75%; margin-top:8px" value="{{ session.data['business-street'] }}">
			  
				</div>
			  
				<div class="form-group">
				  <label class="form-label" for="business-town" style="margin-bottom:5px; ">Town or city</label>
				  <input class="form-control " id="business-town" type="text" name="business-town" style="width:40%" value="{{ session.data['business-town'] }}">
				</div>
			  
				<div class="form-group">
				  <label class="form-label" for="business-postcode" style="margin-bottom:5px;" id="postcode-zipcode">Postcode</label>
				  <input class="form-control " id="business-postcode" type="text" name="business-postcode" style="width:25%" value="{{ session.data['business-postcode'] }}">

				</div>


			</fieldset>
		  <div class="form-group">
			  <input type="submit" class="button button-blue" value="Continue">
		  </div>



	  </form>

    </div>

<div class="column-one-third" style="margin-top:30px;">
	{% include "includes/basket.html" %} 
</div>

  </div>


</main>


{% include "includes/great-footer.html" %} 

    {% include "includes/scripts.html" %}

<script>
function checkLabel() { 
	if ($('#country-selection').hasClass("js-hidden"))
	$('#postcode-zipcode').text("Zipcode")
	else $('#postcode-zipcode').text("Postcode")
}
</script>

{% endblock %}

