{% extends "layout.html" %}
{% if loggedIn == undefined %}
{% set loggedIn = false %}
{% endif %}
{% set external_journey = true %}

{% block page_title %}

  GOV.UK prototype kit
{% endblock %}

{% block content %}
{% include "includes/great-header.html" %} 




<main id="content" role="main">
<h1 class="heading-large" style="font-weight:400;">
		  Registration
      </h1>



              <!-- Noscript content for added SEO -->
<noscript><a href="https://www.eventbrite.co.uk/e/dit-meet-the-buyer-at-tradexpo-tickets-39948447883" rel="noopener noreferrer" target="_blank"></noscript>
<!-- You can customize this button any way you like -->
<button id="eventbrite-widget-modal-trigger-39948447883" type="button">Register</button>
<noscript></a>Buy Tickets</noscript>

<script src="https://www.eventbrite.co.uk/static/widgets/eb_widgets.js"></script>

<script type="text/javascript">
    var exampleCallback = function() {
        console.log('Order complete!');
        window.location.replace("http://events-middleman-app.herokuapp.com/confirmation-page");
    };

    window.EBWidgets.createWidget({
        widgetType: 'checkout',
        eventId: '39948447883',
        modal: true,
        modalTriggerElementId: 'eventbrite-widget-modal-trigger-39948447883',
        onOrderComplete: exampleCallback
    });
</script>






</main>

{% include "includes/great-footer.html" %} 


{% endblock %}


