{% extends "layout.html" %}
{% set loggedIn = true %}
{% set external_journey = true %}

{% block page_title %}

  GOV.UK prototype kit
{% endblock %}

{% block content %}
{% include "includes/great-header.html" %} 

<style type="text/css">
  dt.cya-question {font-weight: normal !important}
</style>
<main id="content" role="main">
  <div class="grid-row">
    <div class="column-two-thirds">

      <h1 class="heading-large">
        Registration summary
      </h1>


      <!-- only add a heading for a list if there is more than one list -->
      

      <!-- use additional modifier class to change column widths for multiple groups of questions and answers: -->
      <!--   * `cya-questions-short` for short questions -->
      <!--   * `cya-questions-long` for long questions -->
      <!--   * none for single group of q&a -->

<!-- EVENT DETAILS -->

      
      <h2 class="heading-medium">
        Event details
      </h2>

      <dl class="govuk-check-your-answers cya-questions-short">
        <div>
          <dt class="cya-question">
            Name
          </dt>
          <dd class="cya-answer">
            {{ data['event-title'] }}
          </dd>
          <dd class="cya-change">
            
          </dd>
        </div>

        <div>
          <dt class="cya-question">
            Date and time 
          </dt>
          <dd class="cya-answer">
            {{ session.data['event-day'] }} {{ session.data['event-month-name'] }} {{ session.data['event-year'] }} <br />
            {{ session.data['event-start-time'] }} to {{ session.data['event-finish-time'] }}<br />
          </dd>
          <dd class="cya-change">
            
          </dd>
        </div>

        <div>
          <dt class="cya-question">
            Venue address 
          </dt>
          <dd class="cya-answer" style="white-space: pre-wrap;">{{ data['full-address-holder'] }}</dd>
          <dd class="cya-change">
            
          </dd>
        </div>

        <div>
          <dt class="cya-question">
            Ticket price 
          </dt>
          <dd class="cya-answer">
            Free of charge
          </dd>
          <dd class="cya-change">
            
          </dd>
        </div>
      </dl>


<!-- BUSINESS DETAILS -->
        <h2 class="heading-medium">
        Business details
      </h2>
      <dl class="govuk-check-your-answers cya-questions-short">
        <div>
          <dt class="cya-question">
            Business name
          </dt>
          <dd class="cya-answer">
            {{ data['business-name'] }}
          </dd>
          <dd class="cya-change">
            <a href="#">
              Change<span class="visually-hidden"> name</span>
            </a>
          </dd>
        </div>

        <div>
          <dt class="cya-question">
            Primary sector
          </dt>
          <dd class="cya-answer">
            {{ data['sectors'] }}
          </dd>
          <dd class="cya-change">
            <a href="#">
              Change<span class="visually-hidden"> date of birth</span>
            </a>
          </dd>
        </div>

        <div>
          <dt class="cya-question">
            Business address
          </dt>
          <dd class="cya-answer">
            {{ data['building'] }} <br />
            {{ data['street'] }} <br />
            {{ data['town'] }} <br />
            {{ data['postcode'] }} <br />
          </dd>
          <dd class="cya-change">
            <a href="#">
              Change<span class="visually-hidden"> home address</span>
            </a>
          </dd>
        </div>

        <div>
          <dt class="cya-question">
            Website 
          </dt>
          <dd class="cya-answer">
            {{ data['website'] }}<br />
          </dd>
          <dd class="cya-change">
            <a href="#">
              Change<span class="visually-hidden"> contact details</span>
            </a>
          </dd>
        </div>
      </dl>


<!-- TICKET DETAILS -->
        <h2 class="heading-medium">
        Attendee details
      </h2>
     <!--  <h2 class="heading-small">
        Ticket 1
      </h2> -->
      <dl class="govuk-check-your-answers cya-questions-short">
        <div>
          <dt class="cya-question">
            Full name
          </dt>
          <dd class="cya-answer">
            {{ data['full-name'] }}
          </dd>
          <dd class="cya-change">
            <a href="#">
              Change<span class="visually-hidden"> name</span>
            </a>
          </dd>
        </div>

        <div>
          <dt class="cya-question">
            Job title
          </dt>
          <dd class="cya-answer">
            {{ data['job-title'] }}
          </dd>
          <dd class="cya-change">
            <a href="#">
              Change<span class="visually-hidden"> date of birth</span>
            </a>
          </dd>
        </div>

        <div>
          <dt class="cya-question">
            Email
          </dt>
          <dd class="cya-answer">
            {{ data['email-address'] }}
          </dd>
          <dd class="cya-change">
            <a href="#">
              Change<span class="visually-hidden"> home address</span>
            </a>
          </dd>
        </div>

        <div>
          <dt class="cya-question">
            Phone number
          </dt>
          <dd class="cya-answer">
            {{ data['phone-number'] }}<br />
            Yes to text reminders on this number
          </dd>
          <dd class="cya-change">
            <a href="#">
              Change<span class="visually-hidden"> contact details</span>
            </a>
          </dd>
        </div>
      </dl>


<!-- REGISTRATION QUESTIONS -->
        <h2 class="heading-medium">
        Registration questions </h2>
       
  
      <dl class="govuk-check-your-answers cya-questions-short">
         {% for key,value in data %}
        {% if "question--" in key %}
        {% if value[2] %}
        <div>
          <dt class="cya-question">
            {{ value[0]}}            
          </dt>
          <dd class="cya-answer">
            {{ value[2]}}<br />{{ value[3]}}
          </dd>
          <dd class="cya-change">
            <a href="#">
              Change<span class="visually-hidden"> name</span>
            </a>
          </dd>
        </div>
        {% endif %}
        {% endif %}
{% endfor %}
      </dl>

<!-- POLICY TO BE AGREED
      <h2 class="heading-medium">Booking your event</h2>

      <p class="text">
        By continuing you accept that the information provided may be shared with DIT trade advisers who might contact you in regards your export needs. 
      </p>
-->

      <div class="form-group" style="margin-top:50px">
        <a href="confirmation-page" class="button button-blue">Book event</a>
      </div>

    </form>

    </div>


  </div>


</main>

{% include "includes/great-footer.html" %} 

{% endblock %}
