{% extends "layout.html" %}
{% set loggedIn = true %}
{% set external_journey = true %}

{% block page_title %}

  GOV.UK prototype kit
{% endblock %}

{% block content %}
{% include "includes/great-header.html" %} 

<main id="content" role="main">

  <div class="grid-row">
    <div class="column-two-thirds">

      <div class="govuk-box-highlight background--aqua">
        <h1 class="bold-large">Ticket confirmation</h1>
        <p>
          Your reference number is <br>
          <strong class="heading-medium">HDJ2123F</strong>
        </p>
      </div>
      <p>We have sent you a confirmation email to {{ data['email-address'] }} .</p>

      <h2 class="heading-medium">What happens next</h2>
      <p>Updates and reminders containing further details and instructions will be sent out closer to the day of your event, so do keep an eye on your inbox.</p>
      <p>On the day of the event, you'll just need to provide your confirmation number in order to check-in.</p>
      <p>We really hope that you enjoy the event and that it will be a valuable part of your export journey with us.</p>
      <h2 class="heading-medium">What did you think of this service?</h2>
      <p><a class="link" href="#">Our feedback survey</a> only takes about 30 seconds to complete and helps us to understand how we can improve our events experience.</p>


    </div>
  </div>

</main>

{% endblock %}
