{% extends "layout.html" %}
{% set loggedIn = true %}
{% set external_journey = true %}

{% block page_title %}

  GOV.UK prototype kit
{% endblock %}

{% block content %}
{% include "includes/great-header.html" %} 

<main id="content" role="main">

  <div class="grid-row">
    <div class="column-two-thirds">

      <div class="govuk-box-highlight background--aqua">
        <h1 class="bold-large">Ticket confirmation</h1>
        <p>
          Your reference number is <br>
          <strong class="heading-medium">HDJ2123F</strong>
        </p>
      </div>

      <table>
  
  <tbody>
    <tr>
      <td class="bold">Event details</td>
      <td>{{ data['event-title'] }}</td>
    </tr>
    <tr>
      <td class="bold">Date and time</td>
      <td>{{ session.data['event-day'] }} {{ session.data['event-month-name'] }} {{ session.data['event-year'] }} <br />
            {{ session.data['event-start-time'] }} to {{ session.data['event-finish-time'] }}<br />
            <a href="#">Add to calendar</a>
      </td>
    </tr>
    <tr>
      <td class="bold">Venue</td>
      <td style="white-space: pre-wrap;">{{ data['full-address-holder'] }}
        <a href="https://www.google.co.uk/maps/place/University+of+Exeter+Innovation+Centre/@50.7384791,-3.5323014,17z/data=!3m1!4b1!4m5!3m4!1s0x486da4430cc4d16f:0xec0fc5491010f1f4!8m2!3d50.7384791!4d-3.5301074">View map</a></td>
    </tr>
    
  </tbody>
</table>
<br />
      <p>We have sent you a confirmation email to {{ data['email-address'] }}</p>

      <p>You can print this confirmation of <a class="link" href="#">download a PDF</a>.</p>

      <h2 class="heading-medium">What happens next</h2>
      <p>Updates and reminders containing further details and instructions will be sent out closer to the day of your event, so do keep an eye on your inbox.</p>
      <p>On the day of the event, you'll just need to provide your confirmation number in order to check-in.</p>
      <p>We really hope that you enjoy the event and that it will be a valuable part of your export journey with us.</p>
      <h2 class="heading-medium">What did you think of this service?</h2>
      <p><a class="link" href="#">Our feedback survey</a> only takes about 30 seconds to complete and helps us to understand how we can improve our events experience.</p>


    </div>
  </div>

</main>

{% endblock %}
