{% extends "layout.html" %}

{% if loggedIn == undefined %}
	{% set loggedIn = false %}
{% endif %}

{% set external_journey = true %}

{% block after_header %}
<!-- nothing to there is no second alpha banner -->
{% endblock %}

{% block page_title %}
GOV.UK prototype kit
{% endblock %}


{% block content %}

{% include "includes/great-header-no-beta.html" %}





<main id="content" role="main">

	<!-- CONDITIONAL ERROR  -->
	{% if errorsExist %}
	<div class="error-summary" role="alert" aria-labelledby="error-summary-heading-example-1" tabindex="-1" style="width:620px;">

		<h2 class="heading-medium error-summary-heading" id="error-summary-heading-example-1">
			Missing fields
		</h2>

		<p>
			Please check the following errors and try again.
		</p>

		<ul class="error-summary-list">
			{% if errorMissingPasswordError %}
				<li><a href="#password-field">Password: missing</a></li>
			{% endif %}
			{% if errorPasswordTooShortError %}
				<li><a href="#password-field">Password: too short</a></li>
			{% endif %}
			{% if errorPasswordOnlyLettersError %}
				<li><a href="#password-field">Password: missing numbers</a></li>
			{% endif %}
			{% if errorPasswordOnlyNumbersError %}
				<li><a href="#password-field">Password: missing letters</a></li>
			{% endif %}
			{% if errorPasswordContainsPasswordError %}
				<li><a href="#password-field">Password: contains "password</a></li>
			{% endif %}

			{% if errorMissingConfirmPasswordError %}
			<li><a href="#password-confirm-field">Confirm password: missing</a></li>
			{% endif %}
			{% if errorPasswordDoNotMatchError %}
			<li><a href="#password-confirm-field">Passwords: not the same</a></li>
			{% endif %}

		</ul>
	</div>
	{% endif %}


	<h1 class="heading-large" style="font-weight:400; font-size:48px; margin-top:40px;" >
		Create an account
	</h1>

  <div class="grid-row">
    <div class="column-two-thirds">



	  <form action="" method="post" class="form">

		  <p style="margin-bottom:0px;">Your password must:</p>
		  <ul class="list list-bullet" style="margin-left:25px; margin-bottom:30px;">
			  <li>be at least 10 characters</li>
			  <li>contain at least one letter</li>
			  <li>contain at least one number</li>
			  <li>not contain the word "password"</li>
		  </ul>


		  <fieldset id="bothfields" class="" >

			  <div id="password-field" class="form-group form-control-2-3
			  	{% if errorMissingPasswordError or errorPasswordTooShortError or errorPasswordOnlyLettersError or errorPasswordOnlyNumbersError or errorPasswordContainsPasswordError %} form-group-error {% endif %}"
				   style="width:580px;">

				  <label class="form-label" for="password-area" style="margin-bottom:5px;">
					  Password
					  {% if errorMissingPasswordError %}
						  <span class="error-message">
							  Please enter a password
						  </span>
					  {% endif %}
					  {% if errorPasswordTooShortError %}
						  <span class="error-message">
							  This password is too short.<br>It must contain at least 10 characters.
						  </span>
					  {% endif %}
					  {% if errorPasswordOnlyLettersError %}
						  <span class="error-message">
							  Password must contain numbers
						  </span>
					  {% endif %}
					  {% if errorPasswordOnlyNumbersError %}
						  <span class="error-message">
							  Password must contain letters
						  </span>
					  {% endif %}
					  {% if errorPasswordContainsPasswordError %}
						  <span class="error-message">
							  Password can't contains the word "password"
						  </span>
					  {% endif %}
				  </label>
				  <div id="password-area" style="width:100%;  margin-bottom:0px;">
					  <input type="password" class="form-control"
							 id="password" name="password" value="{{ data['password'] }}" style="width:200px;">
				  </div>
			  </div>


			  <div id="password-confirm-field" class="form-group form-control-2-3 {% if errorMissingConfirmPasswordError or errorPasswordDoNotMatchError %} form-group-error {% endif %}" style="width:580px;">
				  <label class="form-label" for="password-confirm-area" style="margin-bottom:5px;">
					  Confirm password
					  {% if errorMissingConfirmPasswordError %}
						  <span class="error-message">
							  Please enter a password
						  </span>
					  {% elif errorPasswordDoNotMatchError %}
						  <span class="error-message">
							  Passwords entered are not the same
						  </span>
					  {% endif %}
				  </label>
				  <div id="password-confirm-area" style="width:100%;  margin-bottom:0px;">
					  <input type="password" class="form-control"
							 id="password-confirm" name="password-confirm" value="{{ data['password-confirm'] }}" style="width:200px;">
				  </div>
			  </div>


		  </fieldset>


		  <div class="form-group" style="display: flex;  flex-direction: row;   margin-top:10px;">
			  <input type="submit" class="button button-blue"  value="Continue">
		  </div>


	  </form>

    </div>

	  <!--
<div class="column-one-third">
	{% include "includes/basket.html" %} 
</div>
-->

  </div>


</main>


{% include "includes/great-footer.html" %} 


{% endblock %}


