{% extends "layout.html" %}

{% if loggedIn == undefined %}
	{% set loggedIn = false %}
{% endif %}

{% set external_journey = true %}

{% block after_header %}
<!-- nothing to there is no second alpha banner -->
{% endblock %}

{% block page_title %}
GOV.UK prototype kit
{% endblock %}


{% block content %}

{% include "includes/great-header-no-beta.html" %}





<main id="content" role="main">

	<!-- CONDITIONAL ERROR  -->
	{% if errorsExist %}
	<div class="error-summary" role="alert" aria-labelledby="error-summary-heading-example-1" tabindex="-1" style="width:620px;">

		<h2 class="heading-medium error-summary-heading" id="error-summary-heading-example-1">
			Missing fields
		</h2>

		<p>
			Please check the following errors and try again.
		</p>

		<ul class="error-summary-list">
			{% if errorEmailMissing %}
			<li><a href="#email-field">Email: missing</a></li>
			{% endif %}
			{% if errorInvalidEmail %}
			<li><a href="#email-field">Email: invalid</a></li>
			{% endif %}
		</ul>
	</div>
	{% endif %}




	<h1 class="heading-large" style="font-weight:400; font-size:48px; margin-top:40px;" >
		Password reset
      </h1>

  <div class="grid-row">
    <div class="column-two-thirds">



	  <form action="" method="post" class="form">

		  <!-- <p style="margin-bottom:30px;"><a href="#" >Register</a> if you don't have an account.</p>  -->


			  <fieldset id="bothfields" class="" >

				  <div id="email-field" class="form-group form-control-2-3 {% if errorEmailMissing or errorInvalidEmail %} form-group-error {% endif %}" style="width:580px;">
					  <label class="form-label" for="email-area" style="margin-bottom:5px;">
						  Email address
						  {% if errorEmailMissing %}
							  <span class="error-message">
								  Please enter an email address
							  </span>
						  {% elif errorInvalidEmail %}
							  <span class="error-message">
								  Please enter a valid email address
							  </span>
						  {% endif %}
					  </label>
					  <div id="email-area" style="width:100%;  margin-bottom:0px;">
						  <input type="text" class="form-control"
								 id="email-address" name="email-address" value="{{ data['email-address'] }}" style="width:100%;">
					  </div>
				  </div>

			  </fieldset>

			  

			  <div class="form-group" style="display: flex;  flex-direction: row;">
				  <input type="submit" class="button button-blue"  value="Reset your password">
				  <!-- <p style="margin-left:32px; margin-top:15px;"><a href="#" style="font-size: 19px; text-decoration: none">Reset your password</a></p> -->
			  </div>


		      <div>
				  <p style="margin-bottom:30px; font-size: 19px"><a href="#" >Contact us</a> if the password reset doesn't work.</p>
			  </div>

	  </form>

    </div>

	  <!--
<div class="column-one-third">
	{% include "includes/basket.html" %} 
</div>
-->

  </div>


</main>


{% include "includes/great-footer.html" %} 


{% endblock %}


