{% extends "layout.html" %}
{% set loggedIn = false %}
{% set external_journey = true %}

<!--
  {% for key,value in data %}
            <h4>{{ key }}{{ value }}</h4>
            {% endfor %}
-->
{% block page_title %}

  GOV.UK prototype kit
{% endblock %}

{% block content %}
{% include "includes/great-header-event-page.html" %}

<main id="content" role="main">
	  <h1 class="heading-large" style="font-weight:400;" >
		  Sign in or create an account
      </h1>

  <div class="grid-row">
    <div class="column-two-thirds">



	  <form action="" method="post" class="form">

		  <div class="form-group">
			  <a href="/register/sign-in" class="button button-blue" >Sign in</a>
		  </div>


		  <p class="bold">Don't have an account yet?</p>

 <!-- Noscript content for added SEO -->
<noscript><a href="https://www.eventbrite.co.uk/e/dit-meet-the-buyer-at-tradexpo-tickets-39948447883" rel="noopener noreferrer" target="_blank"></noscript>

<!-- You can customize this button any way you like -->
<button id="eventbrite-widget-modal-trigger-39948447883" class="link" type="button" style="margin-bottom:15px;padding-left:0;font-size: 19px;text-shadow: none;border: 0;
    text-decoration: underline;background-color:transparent;">Create an account</button>
<noscript></a>Buy Tickets</noscript>

<script src="https://www.eventbrite.co.uk/static/widgets/eb_widgets.js"></script>

<script type="text/javascript">
    var exampleCallback = function() {
        console.log('Order complete!');
        window.location.replace("https://events-middleman-app.herokuapp.com/confirmation-page?event_id=$event_id&order_id=$order_id");
    };

    window.EBWidgets.createWidget({
        widgetType: 'checkout',
        eventId: '39948447883',
        modal: true,
        modalTriggerElementId: 'eventbrite-widget-modal-trigger-39948447883',
        onOrderComplete: exampleCallback
    });
</script>
		  <p style="margin-bottom:15px;">By creating an account, you'll be able to:</p>

		  <ul class="list list-bullet" style="margin-left:20px;">
			  <li>sign up for and manage all other GREAT services with one single login</li>
			  <li>quickly edit your event registration, schedule and personal details</li>
			  <li>receive personalised industry insights and tips in your account dashboard</li>
		  </ul>

	  </form>

    </div>

<div class="column-one-third">
    <div class="panel panel--info ">
        <p>You're booking tickets for</p>
        <h4 class="heading-small">DIT ‘Meet the buyer’ at Tradexpo</h4>
        <ul>
            <div class="bold-xsmall" style="margin-top:15px">Date and time</div>
            <li style="font-size:16px">Sunday 14 to Thursday 18 January 2018</li>
            <li style="font-size:16px">9am to 5pm<br /><br /></li>
            <div class="bold-xsmall">Location</div>
            <li style="font-size:16px;white-space: pre-wrap;">Palais des Expositions
                Carrefour Charles Lindbergh
                Le Bourget, Île-de-France</li>
        </ul>
        <br>
        <p>Free</p>
    </div>
</div>

  </div>


</main>


{% include "includes/great-footer.html" %} 


{% endblock %}


