{% extends "layout.html" %}
{% if loggedIn == undefined %}
{% set loggedIn = false %}
{% endif %}
{% set external_journey = true %}

{% block after_header %}
<!-- nothing to there is no second alpha banner -->
{% endblock %}

{% block page_title %}
GOV.UK prototype kit
{% endblock %}


{% block content %}
{% include "includes/great-header.html" %} 

<main id="content" role="main">
<h1 class="heading-large">
		  Attendee details 
      </h1>
      
  <div class="grid-row">
  
    <div class="column-two-thirds">

		<!--  we will tackl this later
    <h2 class="bold-medium" style="margin-bottom:15px">
		  Attendee 1 
    </h2>
    -->


	  <!--  BREADCRUMB  -->
	  <div class="breadcrumbs">
		
	  </div>


	  <form action="/create-event/question-onwards" method="get" class="form">


		  



			  <fieldset>



				  <div class="form-group form-control-2-3 {% if errorQuestionEmpty%} form-group-error {% endif %}">
					  <label class="form-label" for="question">
						  First name
						  {% if errorQuestionEmpty %}
									<span class="error-message">
										Attendee question missing
									</span>
						  {% endif %}
					  </label>
					  <div id="show-new-question" style="width:100%;  margin-bottom:0px;">
						  <input type="text" class="form-control  {% if errorQuestionEmpty %} form-control-error {% endif %}"
								 id="first-name" name="first-name" value="{{ data['first-name'] }}" style="width:80%;">
					  </div>
				  </div>

				   <div class="form-group form-control-2-3 {% if errorQuestionEmpty%} form-group-error {% endif %}">
					  <label class="form-label" for="question">
						  Last name
						  {% if errorQuestionEmpty %}
									<span class="error-message">
										Attendee question missing
									</span>
						  {% endif %}
					  </label>
					  <div id="show-new-question" style="width:100%;  margin-bottom:0px;">
						  <input type="text" class="form-control  {% if errorQuestionEmpty %} form-control-error {% endif %}"
								 id="last-name" name="last-name" value="{{ data['last-name'] }}" style="width:80%;">
					  </div>
				  </div>

				  <div class="form-group  {% if errorQuestionEmpty%} form-group-error {% endif %}">
					  <label class="form-label" for="question">
						  Job title
						  {% if errorQuestionEmpty %}
									<span class="error-message">
										Attendee question missing
									</span>
						  {% endif %}
					  </label>
					  <div id="show-new-question" style="width:100%;  margin-bottom:0px;">
						  <input type="text" class="form-control  {% if errorQuestionEmpty %} form-control-error {% endif %}"
								 id="job-title" name="job-title" value="" style="width:30%;">
					  </div>
				  </div>



				<!--
				  <div class="form-group form-control-2-3 {% if errorQuestionEmpty%} form-group-error {% endif %}">
					  <label class="form-label" for="question">
						  Email address
						<div class="form-hint">
						  We’ll create an account and send confirmations to this email
					  	</div>
					  </label>
					 <!-- <div class="form-hint">We’ll send a confirmation to this email address</div> -->

				  <!--
					  <div id="show-new-question" style="width:100%;  margin-bottom:0px;">
						  <input type="text" class="form-control  {% if errorQuestionEmpty %} form-control-error {% endif %}"
								 id="email-address" name="email-address" value="" style="width:80%;">
					  </div> 
				  </div>

				  <div class="form-group form-control-2-3 {% if errorQuestionEmpty%} form-group-error {% endif %}">
					  <label class="form-label" for="question">
						  Password 
						<div class="form-hint">
						  At least 10 characters
					  	</div>
					  </label>
					  <div id="show-new-question" style="width:80%;  margin-bottom:0px;">
						  <input type="Password" class="form-control  {% if errorQuestionEmpty %} form-control-error {% endif %}"
								 id="password" name="password" value="" style="width:80%;">
					  </div> 
				  </div>

				  <div class="form-group form-control-2-3 {% if errorQuestionEmpty%} form-group-error {% endif %}">
					  <label class="form-label" for="question">
						  Confirm password 
					  </label>
					  <div id="show-new-question" style="width:80%;  margin-bottom:0px;">
						  <input type="Password" class="form-control  {% if errorQuestionEmpty %} form-control-error {% endif %}"
								 id="confirm-password" name="confirm-password" value="" style="width:80%;">
					  </div> 
				  </div>

	  			-->

				  <div class="form-group {% if errorQuestionEmpty%} form-group-error {% endif %}">
					  <label class="form-label" for="question">
						  Phone number
						  {% if errorQuestionEmpty %}
									<span class="error-message">
										Attendee question missing
									</span>
						  {% endif %}
					  </label>
					  <div id="show-new-question" style="width:100%;  margin-bottom:0px;">
						  <input type="text" class="form-control  {% if errorQuestionEmpty %} form-control-error {% endif %}"
								 id="phone-number" name="phone-number" value="" style="width:200px;">
					  </div>

					  <!--
					  <div class="multiple-choice" style="margin-top:15px">
  						<input id="checkbox-text-reminders" name="checkbox-text-reminders" type="checkbox" value="true">
 						<label for="checkbox-telephone-number">I'd like to receive free text reminders on this number</label>
					  </div>
					  -->

				  </div>


				  <!--
				  <div class="form-group form-control-2-3" style="margin-bottom:15px; ">
					  <label class="form-label" for="questio">
						  Would you also like to get text updates about this event?
					  </label>
					  <fieldset class="inline">
						  <div class="multiple-choice" data-target="enter-phone">
							  <input id="radio-inline-1" type="radio" name="question--{{id}}" value="Yes">
							  <label for="radio-inline-1">Yes</label>
						  </div>
						  <div class="multiple-choice">
							  <input id="radio-inline-2" type="radio" name="question--{{id}}" value="No">
							  <label for="radio-inline-2">No</label>
						  </div>
					  </fieldset>
				  </div>
				  -->

				  <div class="form-group form-control-2-3">
					  <div class="js-hidden" id="enter-phone" style="border-left:5px solid #bfc1c3; padding:15px; margin-bottom:15px">
						  <label class="form-label" for="mobile-phone">Mobile phone number</label>
						  <input class="form-control" type="text" id="mobile-phone" name="mobile-phone" style="width:200px;">
					  </div>
				  </div>



		  </fieldset>


		  <!--
		<div class="form-group">
			<a href="#">Add another attendee</a><br />
		</div>
		-->

		  <div class="form-group">
			  <input type="submit" class="button button-blue" formaction="/register/additional-questions" value="Continue">
		  </div>



	  </form>

    </div>

<div class="column-one-third">
	{% include "includes/basket.html" %} 
</div>

  </div>


</main>




{% include "includes/great-footer.html" %} 

{% endblock %}


