{% extends "layout.html" %}
{% set loggedIn = true %}
{% block page_title %}

GOV.UK prototype kit
{% endblock %}

{% block content %}

<main id="content" role="main">
  <div class="grid-row">
    <div class="column-full">


      <!--  BREADCRUMB  -->
      <div class="breadcrumbs">
        <ol>
          <li><a href="/account">Account home</a></li>
        </ol>
      </div>


      <h1 class="heading-large">
        {{ data['event-title'] }}
      </h1>


      <!--  TABS FOR TYPES OF EVENT STATUS  -->

      <form action="/create-event/new" method="get" class="form">

        <div class="tabs" style="margin-top:30px;">

          <div class="tabs-nav">
            <ul class="tabs-list">
              <li><a class="stats" href="#stats" style="text-decoration: none;">Performance</a></li>
              <li><a class="track-links" href="#track-links" style="text-decoration: none;">Tracking links</a></li>
              <li><a class="reg-people" href="#reg-people" style="text-decoration: none;">Registered people</a></li>
              <li><a class="checkin" href="#checkin" style="text-decoration: none;">Check-in</a></li>
            </ul>
          </div>


          <div class="tabs-content">

            <!-- Stats -->
            <div class="tabs-panel" id="stats" >
              <div class="tabs-panel-inner">

                <br>
                <br>

                <div id=top-row" display="flex" style="margin-bottom:30px">
                  <div style="float:left; width:41%;">
                    <p><span class="heading-xlarge">{{session.ticketsSoldPercentage}}%</span> of tickets sold</p>
                  </div>
                  <div style="float:left; width:31%; margin-top:8px;" display="flex">
                    <div>
                      <p><span class="heading-large">{{20 - session.trackingTotalReg}}</span> tickets remaining</p>
                    </div>
                  </div>
                  <div style="float:right; width:28%;  margin-top:8px;">
                    <div style="margin-left:40px">
                      <p style="margin-bottom:0px"><span class="heading-large">20</span> ticket capacity</p>
                      <p style="margin-top:0px"><a href="#">Change amount of tickets</a></p>
                    </div>
                  </div>
                </div>

                <br>
                <br>
                <br>
                <br>

                <div id=middle-row" display="flex">
                  <div style="float:left; width:41%; ">
                    <div style="width:74%">

                      <p style="margin-bottom:5px">Visitors to event page</p>
                      <p class="heading-xlarge" style="margin-top:0px; margin-bottom:30px;">{{session.trackingTotalViews}}</p>
                      <p class="heading-small" style="margin-bottom:0px;">Email marketing</p>
                      {% include "includes/track-link-progress-one.html" %}

                      <p class="heading-small"  style="margin-top:35px; margin-bottom:0px;">Twitter</p>
                      {% include "includes/track-link-progress-two.html" %}

                      <p class="heading-small"  style="margin-top:35px; margin-bottom:0px;">Export for Growth</p>
                      {% include "includes/track-link-progress-three.html" %}

                      <p class="heading-small"  style="margin-top:35px; margin-bottom:0px;">Enterprise M3</p>
                      {% include "includes/track-link-progress-four.html" %}

                    </div>
                  </div>


                  <div style="float:left; width:31%; margin-top:0px;" display="flex">
                    <div>

                      <p style="margin-bottom:5px">Total registrations</p>
                      <p class="heading-xlarge" style="margin-top:0px; margin-bottom:30px;">{{session.trackingTotalReg}}</p>

                        <p class="heading-small" style="margin-bottom:0px;">Email marketing</p>
                        {% include "includes/track-link-progress-reg-one.html" %}

                        <p class="heading-small"  style="margin-top:35px; margin-bottom:0px;">Twitter</p>
                        {% include "includes/track-link-progress-reg-two.html" %}

                        <p class="heading-small"  style="margin-top:35px; margin-bottom:0px;">Export for Growth</p>
                        {% include "includes/track-link-progress-reg-three.html" %}

                        <p class="heading-small"  style="margin-top:35px; margin-bottom:0px;">Enterprise M3</p>
                        {% include "includes/track-link-progress-reg-four.html" %}

                      </div>
                    </div>


                  <!--  Registrations  -->
                  <div style="float:right; width:28%;  margin-top:8px;">
                    <div style="margin-left:40px">
                      <p style="margin-bottom:5px">Checked-in attendees</p>
                      <p class="heading-xlarge" style="margin-top:0px; margin-bottom:30px;">0</p>
                    </div>
                  </div>

                </div>

              </div>
            </div>




            <!--  Tracking links for reg  -->
            <div class="tabs-panel" id="track-links" >
              <div class="tabs-panel-inner">

                {% include "includes/tracking-links.html" %}

              </div>
            </div>




            <!--  Regristrared people  -->
            <div class="tabs-panel" id="reg-people" >
              <div class="tabs-panel-inner">

                <div style="margin-top: 30px; margin-bottom: 30px;">
                  <input type="submit" class="button-secondary" formaction="#" value="Download this data">
                </div>

                {% include "includes/registered-people-list.html" %}

              </div>
            </div>




            <!--  Checking  -->
            <div class="tabs-panel" id="checkin" >
              <div class="tabs-panel-inner">

                {% include "includes/checkin-list.html" %}

              </div>
            </div>

          </div>

        </div>

      </form>

      <br>
      <br>
      <br>
      <br>
      <br>
      <br>

    </div>
  </div>
</main>





{% endblock %}


{% block page_scripts %}
<script>

  $(document).ready(function() {

    console.log("THIS ACTOUN HOME TASB SHIT IS RUN ---------------------");
    if(window.location.hash) {
      $("." + window.location.hash.substr(1)).trigger("click");
    }

  });

</script>
{% endblock %}

