{% extends "layout.html" %}
{% set loggedIn = true %}
{% block page_title %}

GOV.UK prototype kit
{% endblock %}

{% block content %}

<main id="content" role="main">
  <div class="grid-row">
    <div class="column-full">


      <!--  BREADCRUMB  -->
      <div class="breadcrumbs">
        <ol>
          <li><a href="/account">Account home</a></li>
        </ol>
      </div>


      <h1 class="heading-large" style="margin-top:10px; margin-bottom:40px;">
        {{ data['event-title'] }}
      </h1>


      <!--  TABS FOR TYPES OF EVENT STATUS  -->

      <form method="get" class="form">

        <div class="tabs" style="margin-top:30px;">

          <div class="tabs-nav">
            <ul class="tabs-list">
              <li><a class="stats" href="#stats" style="text-decoration: none;">Performance</a></li>
              <li><a class="track-links" href="#track-links" style="text-decoration: none;">Tracking links</a></li>
              <li><a class="reg-people" href="#reg-people" style="text-decoration: none;">Registrations</a></li>
              <li><a class="checkin" href="#checkin" style="text-decoration: none;">Check-in</a></li>
            </ul>
          </div>


          <div class="tabs-content">

            <!-- Stats -->
            <div class="tabs-panel" id="stats" >
              <div class="tabs-panel-inner">

                <br>
                <br>

                <div id=top-row" display="flex" style="margin-bottom:30px">
                  <div style="float:left; width:39%;">
                    <!--  This infomation is now clear enough from the front page
                    <p><span class="heading-xlarge">{{session.ticketsSoldPercentage}}%</span> of tickets sold</p>
                    -->
                    <div>
                      <p><span class="heading-large">{{data['attendee-quantity'] - data['attendee-reg-count']}}</span> tickets remaining</p>
                    </div>
                  </div>
                  <div style="float:left; width:33%; margin-top:0px;" display="flex">
                    <div style="margin-left:0px">
                      <p style="margin-bottom:0px"><span class="heading-large">{{data['attendee-quantity']}}</span> ticket capacity</p>
                      <p style="margin-top:0px"><a href="/create-event/change-attendees-monitoring">Change event capacity</a></p>
                    </div>
                  </div>
                  <div style="float:right; width:28%;  margin-top:0px;">
                    <div style="margin-left:40px">
                      <p class="heading-small" style="margin-top:10px;">Event organiser</p>
                      <p style="margin-top:0px">Alex Smith</p>
                    </div>
                  </div>
                </div>

                <br>
                <br>
                <br>
                <br>

                <div id=middle-row" display="flex">
                  <div style="float:left; width:39%; ">
                    <div style="width:74%">

                      <p style="margin-bottom:5px">Visitors to event page</p>
                      <p class="heading-xlarge" style="margin-top:0px; margin-bottom:30px;">{{ session.eventsLiveURLS[session.currentEventShowing][2][0]}}</p>

                      <!-- if the link exisits show it and its count -->
                      {% if 1 < session.eventsLiveURLS[session.currentEventShowing][0].length %}
                          <p class="heading-small" style="margin-bottom:0px;">{{ session.eventsLiveURLS[session.currentEventShowing][0][1] }}</p>
                          {% include "includes/track-link-progress-one.html" %}
                      {% endif %}

                      {% if 2 < session.eventsLiveURLS[session.currentEventShowing][0].length %}
                          <p class="heading-small"  style="margin-top:35px; margin-bottom:0px;">{{ session.eventsLiveURLS[session.currentEventShowing][0][2] }}</p>
                          {% include "includes/track-link-progress-two.html" %}
                      {% endif %}

                      {% if 3 < session.eventsLiveURLS[session.currentEventShowing][0].length %}
                          <p class="heading-small"  style="margin-top:35px; margin-bottom:0px;">{{ session.eventsLiveURLS[session.currentEventShowing][0][3] }}</p>
                          {% include "includes/track-link-progress-three.html" %}
                      {% endif %}

                      {% if 4 < session.eventsLiveURLS[session.currentEventShowing][0].length %}
                          <p class="heading-small"  style="margin-top:35px; margin-bottom:0px;">{{ session.eventsLiveURLS[session.currentEventShowing][0][4] }}</p>
                          {% include "includes/track-link-progress-four.html" %}
                      {% endif %}

                      {% if 5 < session.eventsLiveURLS[session.currentEventShowing][0].length %}
                      <p class="heading-small"  style="margin-top:35px; margin-bottom:0px;">{{ session.eventsLiveURLS[session.currentEventShowing][0][5] }}</p>
                      {% include "includes/track-link-progress-five.html" %}
                      {% endif %}

                    </div>
                  </div>


                  <div style="float:left; width:33%; margin-top:0px;" display="flex">
                    <div>

                      <p style="margin-bottom:5px">Total registrations</p>
                      <p class="heading-xlarge" style="margin-top:0px; margin-bottom:30px;">{{ data['attendee-reg-count'] }}</p>

                      {% if 1 < session.eventsLiveURLS[session.currentEventShowing][0].length %}
                          <p class="heading-small" style="margin-bottom:0px;">{{ session.eventsLiveURLS[session.currentEventShowing][0][1] }}</p>
                          {% include "includes/track-link-progress-reg-one.html" %}
                      {% endif %}

                      {% if 2 < session.eventsLiveURLS[session.currentEventShowing][0].length %}
                        <p class="heading-small"  style="margin-top:35px; margin-bottom:0px;">{{ session.eventsLiveURLS[session.currentEventShowing][0][2] }}</p>
                        {% include "includes/track-link-progress-reg-two.html" %}
                      {% endif %}

                      {% if 3 < session.eventsLiveURLS[session.currentEventShowing][0].length %}
                        <p class="heading-small"  style="margin-top:35px; margin-bottom:0px;">{{ session.eventsLiveURLS[session.currentEventShowing][0][3] }}</p>
                        {% include "includes/track-link-progress-reg-three.html" %}
                      {% endif %}

                      {% if 4 < session.eventsLiveURLS[session.currentEventShowing][0].length %}
                        <p class="heading-small"  style="margin-top:35px; margin-bottom:0px;">{{ session.eventsLiveURLS[session.currentEventShowing][0][4] }}</p>
                        {% include "includes/track-link-progress-reg-four.html" %}
                      {% endif %}

                      {% if 5 < session.eventsLiveURLS[session.currentEventShowing][0].length %}
                        <p class="heading-small"  style="margin-top:35px; margin-bottom:0px;">{{ session.eventsLiveURLS[session.currentEventShowing][0][5] }}</p>
                        {% include "includes/track-link-progress-reg-five.html" %}
                      {% endif %}

                      </div>
                    </div>


                  <!--  Registrations  -->
                  <!--
                  <div style="float:right; width:28%;  margin-top:8px;">
                    <div style="margin-left:40px">
                      <p style="margin-bottom:5px">Checked-in attendees</p>
                      <p class="heading-xlarge" style="margin-top:0px; margin-bottom:30px;">0</p>
                    </div>
                  </div>
                  -->

                </div>

              </div>
            </div>




            <!--  Tracking links for reg  -->
            <div class="tabs-panel" id="track-links" >
              <div class="tabs-panel-inner " style="margin-top:20px;">

                {% include "includes/tracking-links.html" %}

              </div>
            </div>




            <!--  Regristrared people  -->
            <div class="tabs-panel" id="reg-people" >
              <div class="tabs-panel-inner">

                <div style="display: flex; justify-content: space-between;">

                    <div style="margin-top: 30px; margin-bottom: 0px; width:250px;">
                      <input type="submit" class="button-secondary" formaction="#" style="margin-bottom:20px" value="Download this data">
                      <input type="submit" class="button-secondary" formaction="#" style="margin-bottom:20px"  value="Download doorlist (PDF)">
                      <p><a href="#">Design and create badges</a></p>
                    </div>

                    <div style="margin-top: 30px; margin-bottom: 0px; margin-left: auto;">
                      <p><a href="#">Send email to list</a></p>
                      <p><a href="#">Register someone</a></p>
                    </div>

                </div>


                {% include "includes/registered-people-list.html" %}

              </div>
            </div>




            <!--  Checking  -->
            <div class="tabs-panel" id="checkin" >
              <div class="tabs-panel-inner">


                <div style="display: flex; justify-content: space-between;">

                  <p style="margin-top:50px;"><span class="heading-xlarge">0 / {{ data['attendee-reg-count'] }}</span> checked in</p>

                  <div style="margin-top: 30px; margin-bottom: 0px; margin-left: auto; width:235px;">
                    <p><a href="#">Design and create badges</a></p>
                    <input type="submit" class="button-secondary" formaction="#" value="Download doorlist (PDF)">
                  </div>

                </div>

                {% include "includes/checkin-list.html" %}

              </div>
            </div>

          </div>

        </div>

      </form>

      <br>
      <br>
      <br>
      <br>
      <br>
      <br>

    </div>
  </div>
</main>





{% endblock %}


{% block page_scripts %}
<script>

  $(document).ready(function() {

    console.log("THIS ACTOUN HOME TASB SHIT IS RUN ---------------------");
    if(window.location.hash) {
      $("." + window.location.hash.substr(1)).trigger("click");
    }

  });

</script>
{% endblock %}

