{% extends "layout.html" %}
{% set loggedIn = true %}
{% block page_title %}

  GOV.UK prototype kit
{% endblock %}

{% block content %}

<main id="content" role="main">
  <div class="grid-row">
    <div class="column-two-thirds">

	  <!--  BREADCRUMB  -->
	  <div class="breadcrumbs">
		<ol>
			<li><a href="/account">Account home</a></li>
		</ol>
	  </div>


	  <!-- CONDITIONAL ERROR  -->
		{% if errorQuestions %}
		<div class="error-summary" role="alert" aria-labelledby="error-summary-heading-example-1" tabindex="-1">

			<h2 class="heading-medium error-summary-heading" id="error-summary-heading-example-1">
				Missing fields
			</h2>

			<p>
				Please check the following errors and try again
			</p>

			{% if errorNewQuestionEmpty %}
				<ul class="error-summary-list">
					<li><a href="#previous-questions">Need select a new question or a previous question</a></li>
				</ul>
			{% endif %}

			{% if errorQuestionEmpty %}
				<ul class="error-summary-list">
					<li><a href="#show-answer-type">Need to enter the question</a></li>
				</ul>
			{% endif %}

			{% if errorAnswerTypeEmpty %}
				<ul class="error-summary-list">
					<li><a href="#answer-types">Need to select the type of answers for their question</a></li>
				</ul>
			{% endif %}

			{% if errorAnswersError %}
			<ul class="error-summary-list">
				<li><a href="#show-answers">You need to enter at least 2 answers</a></li>
			</ul>
			{% endif %}

		</div>
      {% endif %}


	  <h1 class="heading-large" style="margin-top:15px">
		  Question {{ data['additional-questions-incrementer'] }}
      </h1>



	  <form action="/create-event/question-onwards" method="get" class="form">

		  	<fieldset class="form-group {% if session.previousQuestions.length == 0 %} js-hidden {% endif %}" style="margin-bottom:0; padding-bottom:30px" id="previous-questions">
			  <!--  Additional questions that the registering user need to answer  -->

				<div class="form-group " style="margin-top:10px; margin-bottom:0px">

					{% if errorNewQuestionEmpty %}
						<div class="form-group  form-group-error">
					{% endif %}

						<label class="form-label-bold" for="question">
							New or previous question
							{% if errorNewQuestionEmpty %}
								<span class="error-message">
									Attendee question missing
								</span>
							{% endif %}
						</label>


						<div class="form-group" style="margin-top:0px; margin-bottom:0px">

							<div class="form-date" style="margin-top:5px">

								<div class="multiple-choice"  data-target="show-answer-type">
									<input id="new-question" type="radio" name="radio-additional-new-old-questions" value="new-question"
										   {% if errorNewQuestionSelected %} checked="checked" {% endif %}   onclick="prepopClear()">
									<label for="new-question">New question</label>
								</div>
								<div class="multiple-choice" data-target="show-answer-type">
									<input id="previous-question-one" type="radio" name="radio-additional-new-old-questions" value="previous-question-one"
										   {% if errorOldQuestionOneSelected %} checked="checked" {% endif %}   onclick="prepopQuestionOne()">
									<label for="previous-question-one">{{ session.previousQuestions[0][0] }}&nbsp;</label>
								</div>

								<div class="multiple-choice {% if session.previousQuestions.length < 2 %} js-hidden {% endif %} " data-target="show-answer-type"
									 	   {% if errorOldQuestionTwoSelected %} checked="checked" {% endif %} >
									<input id="previous-question-two" type="radio" name="radio-additional-new-old-questions" value="previous-question-two"    onclick="prepopQuestionTwo()">
									<label for="previous-question-two">{{ session.previousQuestions[1][0] }}&nbsp;</label>
								</div>

								<div class="multiple-choice {% if session.previousQuestions.length < 3 %} js-hidden {% endif %} " data-target="show-answer-type"
									 	   {% if errorOldQuestionThreeSelected %} checked="checked" {% endif %} >
									<input id="previous-question-three" type="radio" name="radio-additional-new-old-questions" value="previous-question-two"    onclick="prepopQuestionThree()">
									<label for="previous-question-two">{{ session.previousQuestions[2][0] }}&nbsp;</label>
								</div>

								<div class="multiple-choice {% if session.previousQuestions.length < 4 %} js-hidden {% endif %} " data-target="show-answer-type"
									       {% if errorOldQuestionFourSelected %} checked="checked" {% endif %} >
									<input id="previous-question-four" type="radio" name="radio-additional-new-old-questions" value="previous-question-two"    onclick="prepopQuestionFour()">
									<label for="previous-question-four">{{ session.previousQuestions[3][0] }}&nbsp;</label>
								</div>

								<div class="multiple-choice {% if session.previousQuestions.length < 5 %} js-hidden {% endif %} " data-target="show-answer-type"
									 	   {% if errorOldQuestionFiveSelected %} checked="checked" {% endif %} >
									<input id="previous-question-five" type="radio" name="radio-additional-new-old-questions" value="previous-question-two"     onclick="prepopQuestionFive()">
									<label for="previous-question-five">{{ session.previousQuestions[4][0] }}&nbsp;</label>
								</div>
							</div>

						</div>

					{% if errorNewQuestionEmpty %}
						</div>
					{% endif %}

				</div>
		  	</fieldset>



			  <fieldset class="form-group {% if 0 < session.previousQuestions.length  and
			  									(errorQuestionEmpty == undefined or errorQuestionEmpty == false) and
			  									(errorAnswerTypeEmpty == undefined or errorAnswerTypeEmpty == false) and
			  									(errorAnswersError == undefined or errorAnswersError == false) %}
			  								 js-hidden
			  							  {% endif %}"
						id="show-answer-type">



				  <div class="form-group {% if errorQuestionEmpty%} form-group-error {% endif %}" style="margin-top:10px; margin-bottom:0px;">
					  <label class="form-label-bold" for="question">
						  Question for attendee
						  {% if errorQuestionEmpty %}
									<span class="error-message">
										Attendee question missing
									</span>
						  {% endif %}
					  </label>
					  <div id="show-new-question" style="width:100%;  margin-bottom:0px;">
						  <input type="text" class="form-control  {% if errorQuestionEmpty %} form-control-error {% endif %}"
								 id="question" name="question" value="{{ data['question'] }}" style="width:100%;">
					  </div>
				  </div>




				  <!--  ANSWER TYPE -->
				  <div class="form-group" style="margin-top:30px; margin-bottom:0px" id="answer-types">

					  {% if errorAnswerTypeEmpty %}
					  	<div class="form-group form-group-error">
					  {% endif %}

						  <label class="form-label-bold">
							  Set response format
							  {% if errorAnswerTypeEmpty %}
								  <span class="error-message">
									  Select type of answer
								  </span>
							  {% endif %}
						  </label>
						  <div class="form-date" style="margin-top:5px">
							  <div class="multiple-choice">
								  <input id="enter-text" type="radio" name="radio-additional-questions-answers-type" value="enter-text">
								  <label for="enter-text">Free text</label>
							  </div>
							  <div class="multiple-choice" data-target="show-answers">
								  <input id="select-one" type="radio" name="radio-additional-questions-answers-type" value="select-one"
										 {% if errorOneSelected %} checked="checked" {% endif %} >
								  <label for="select-one">Multiple choice: single answer</label>
							  </div>
							  <div class="multiple-choice" data-target="show-answers">
								  <input id="select-multiple" type="radio" name="radio-additional-questions-answers-type" value="select-multiple"
										 {% if errorMultipleSelected %} checked="checked" {% endif %} >
								  <label for="select-multiple">Multiple choice: unrestricted</label>
							  </div>
						  </div>

					  {% if errorAnswerTypeEmpty %}
						</div>
					  {% endif %}

				  </div>

		  </fieldset>




		  <fieldset class="form-group js-hidden" id="show-answers" style="margin-bottom:10px;">

			  <!--   THE ANSWERS -->
			  <div class="form-group  " style="margin-bottom:0px; margin-top:0px;" >

				  {% if errorAnswersError %}
				  	<div class="form-group  form-group-error">
				  {% endif %}

					  <label class="form-label-bold">
						  Answers
						  {% if errorAnswersError %}
							  <span class="error-message">
								  Error message about not providing enough (2 or more) answers go here.
							  </span>
						  {% endif %}
					  </label>

					  <div style="width:50%; float:left; margin-top:5px">
						  <input type="text" class="form-control  {% if errorAnswersEmpty %} form-control-error {% endif %}"
								 id="answer-1" name="answer-1" value="{{ data['answer-1'] }}" style="width:90%; margin-bottom: 15px;">

						  <input type="text" class="form-control  {% if errorAnswersEmpty %} form-control-error {% endif %}
								  								   {% if errorAnswersOnlyOneEntered %}  form-control-error {% endif %}"
								 id="answer-2" name="answer-2" value="{{ data['answer-2'] }}" style="width:90%; margin-bottom: 15px;">

						  <p id="answer-3-add" style="color: #005ea5; text-decoration: underline; cursor: pointer;" onclick="show3()">Add another answer</p>
						  <input type="text" class="form-control"  style="width:90%; margin-bottom: 15px; display:none;"
								 id="answer-3-box" name="answer-3" value="{{ data['answer-3'] }}">

						  <p id="answer-4-add" style="color: #005ea5; text-decoration: underline; display:none; cursor: pointer" onclick="show4()">Add another answer</p>
						  <input type="text" class="form-control"  style="width:90%; margin-bottom: 15px; display:none;"
								 id="answer-4-box" name="answer-4" value="{{ data['answer-4'] }}">

						  <p id="answer-5-add" style="color: #005ea5; text-decoration: underline; display:none; cursor: pointer" onclick="show5()">Add another answer</p>
						  <input type="text" class="form-control"  style="width:90%; margin-bottom: 15px; display:none;"
								 id="answer-5-box" name="answer-5" value="{{ data['answer-5'] }}" style="width:90%; margin-bottom: 0px;">
					  </div>

				  {% if errorAnswersError %}
					  </div>
				  {% endif %}

			  </div>

		  </fieldset>





		  <fieldset class="form-group inline" style="margin-bottom:15px">
			  <!--  Addtional questions that the registering user need to answer  -->
			  <div class="form-group" style="margin-top:0px; margin-bottom:0px">
				  <label class="form-label-bold" style="margin-bottom:10px">
					  Is this question mandatory?
				  </label>
				  <div class="" style="margin-top:5px">
					  <div class="multiple-choice" style="margin-bottom:10px">
						  <input id="radio-mandatory-no" type="radio" name="radio-additional-question-mandatory" value="no" checked="checked">
						  <label for="radio-mandatory-no">No</label>
					  </div>
					  <br>
					  <br>
					  <div class="multiple-choice" style="margin-bottom:10px">
						  <input id="radio-mandatory-yes" type="radio" name="radio-additional-question-mandatory" value="yes">
						  <label for="radio-mandatory-yes">Yes - mandatory</label>
					  </div>
				  </div>
			  </div>

		  </fieldset>




		  <div class="form-group" style="margin-top:30px">

			  <div class=" {% if data['additional-questions-incrementer'] == 5 %}  js-hidden {% endif %} ">
				  <input type="submit" class="button-secondary" formaction="/create-event/add-other-question-submit" value="Save this question and add another">

				  <br>
				  <br>
				  <br>
			  </div>

			  <input type="submit" class="button" formaction="/create-event/final-question" value="Questions done - save this one and continue">
			  <p style="margin-top:30px"><a href="/create-event/summary-prelude">Cancel this question and continue</a></p>
		  </div>



	  </form>

    </div>
  </div>




	<!-- THIS IS ALL HIDDEN AND SHOULD BE.  IT IS TO MAKE PREPOPULATION EASIER -->

	<div class="js-hidden" >

		<!--  All the questions  -->
		<input id="question-1-label" value="{{ session.previousQuestions[0][0] }}">
		<input id="question-2-label" value="{{ session.previousQuestions[1][0] }}">
		<input id="question-3-label" value="{{ session.previousQuestions[2][0] }}">
		<input id="question-4-label" value="{{ session.previousQuestions[3][0] }}">
		<input id="question-5-label" value="{{ session.previousQuestions[4][0] }}">

		<br>

		<!--  All the type of answers  -->
		<input id="at1" value="{{ session.previousQuestions[0][1] }}">
		<input id="at2" value="{{ session.previousQuestions[1][1] }}">
		<input id="at3" value="{{ session.previousQuestions[2][1] }}">
		<input id="at4" value="{{ session.previousQuestions[3][1] }}">
		<input id="qa5" value="{{ session.previousQuestions[4][1] }}">


		<br>

		<!-- ALL THE ANSWERS  -->
		<input id="ans1-1" value="{{ session.previousQuestions[0][2] }}">
		<input id="ans1-2" value="{{ session.previousQuestions[0][3] }}">
		<input id="ans1-3" value="{{ session.previousQuestions[0][4] }}">
		<input id="ans1-4" value="{{ session.previousQuestions[0][5] }}">
		<input id="ans1-5" value="{{ session.previousQuestions[0][6] }}">

		<input id="ans2-1" value="{{ session.previousQuestions[1][2] }}">
		<input id="ans2-2" value="{{ session.previousQuestions[1][3] }}">
		<input id="ans2-3" value="{{ session.previousQuestions[1][4] }}">
		<input id="ans2-4" value="{{ session.previousQuestions[1][5] }}">
		<input id="ans2-5" value="{{ session.previousQuestions[1][6] }}">

		<input id="ans3-1" value="{{ session.previousQuestions[2][2] }}">
		<input id="ans3-2" value="{{ session.previousQuestions[2][3] }}">
		<input id="ans3-3" value="{{ session.previousQuestions[2][4] }}">
		<input id="ans3-4" value="{{ session.previousQuestions[2][5] }}">
		<input id="ans3-5" value="{{ session.previousQuestions[2][6] }}">

		<input id="ans4-1" value="{{ session.previousQuestions[3][2] }}">
		<input id="ans4-2" value="{{ session.previousQuestions[3][3] }}">
		<input id="ans4-3" value="{{ session.previousQuestions[3][4] }}">
		<input id="ans4-4" value="{{ session.previousQuestions[3][5] }}">
		<input id="ans4-5" value="{{ session.previousQuestions[3][6] }}">

		<input id="ans5-1" value="{{ session.previousQuestions[4][2] }}">
		<input id="ans5-2" value="{{ session.previousQuestions[4][3] }}">
		<input id="ans5-3" value="{{ session.previousQuestions[4][4] }}">
		<input id="ans5-4" value="{{ session.previousQuestions[4][5] }}">
		<input id="ans5-5" value="{{ session.previousQuestions[5][6] }}">

	</div>


</main>


<script>



//  When selecting new question after a preselect make sure to clear fields
	function prepopClear()
	{
		document.getElementById('question').value = "";
		document.getElementById('enter-text').checked = false;
		document.getElementById('select-one').checked = false;
		document.getElementById('select-multiple').checked = false;

		document.getElementById('show-answers').classList.add("js-hidden");
		document.getElementById('answer-1').value = "";
		document.getElementById('answer-2').value = "";
		document.getElementById('answer-3').value = "";
		document.getElementById('answer-4').value = "";
		document.getElementById('answer-5').value = "";
	}




	function prepopQuestionOne()
	{
		document.getElementById('question').value = document.getElementById('question-1-label').value;

		if(document.getElementById('at1').value == "Free text")
		{
			document.getElementById('enter-text').checked = true;
			document.getElementById('show-answers').classList.add("js-hidden");
			document.getElementById('answer-1').value = "";
			document.getElementById('answer-2').value = "";
			document.getElementById('answer-3').value = "";
			document.getElementById('answer-4').value = "";
			document.getElementById('answer-5').value = "";
		}
		else if(document.getElementById('at1').value == "Select one answer")
		{
			document.getElementById('show-answers').classList.remove("js-hidden");
			document.getElementById('select-one').checked = true;
			document.getElementById('answer-1').value =  document.getElementById('ans1-1').value;
			document.getElementById('answer-2').value = document.getElementById('ans1-2').value;
			document.getElementById('answer-3').value = document.getElementById('ans1-3').value;
			document.getElementById('answer-4').value = document.getElementById('ans1-4').value;
			document.getElementById('answer-5').value = document.getElementById('ans1-5').value;

		}
		else if(document.getElementById('at1').value == "Select multiple answers")
		{
			document.getElementById('select-multiple').checked = true;
			document.getElementById('show-answers').classList.remove("js-hidden");
			document.getElementById('answer-1').value =  document.getElementById('ans1-1').value;
			document.getElementById('answer-2').value = document.getElementById('ans1-2').value;
			document.getElementById('answer-3').value = document.getElementById('ans1-3').value;
			document.getElementById('answer-4').value = document.getElementById('ans1-4').value;
			document.getElementById('answer-5').value = document.getElementById('ans1-5').value;
		}



	}


	function prepopQuestionTwo()
	{
		document.getElementById('question').value = document.getElementById('question-2-label').value;

		if(document.getElementById('at2').value == "Free text")
		{
			document.getElementById('enter-text').checked = true;
			document.getElementById('show-answers').classList.add("js-hidden");
			document.getElementById('answer-1').value =  "";
			document.getElementById('answer-2').value = "";
			document.getElementById('answer-3').value = "";
			document.getElementById('answer-4').value = "";
			document.getElementById('answer-5').value = "";
		}
		else if(document.getElementById('at2').value == "Select one answer")
		{
			document.getElementById('show-answers').classList.remove("js-hidden");
			document.getElementById('select-one').checked = true;
			document.getElementById('answer-1').value = document.getElementById('ans2-1').value;
			document.getElementById('answer-2').value = document.getElementById('ans2-2').value;
			document.getElementById('answer-3').value = document.getElementById('ans2-3').value;
			document.getElementById('answer-4').value = document.getElementById('ans2-4').value;
			document.getElementById('answer-5').value = document.getElementById('ans2-5').value;

		}
		else if(document.getElementById('at2').value == "Select multiple answers")
		{
			document.getElementById('select-multiple').checked = true;
			document.getElementById('show-answers').classList.remove("js-hidden");
			document.getElementById('answer-1').value = document.getElementById('ans2-1').value;
			document.getElementById('answer-2').value = document.getElementById('ans2-2').value;
			document.getElementById('answer-3').value = document.getElementById('ans2-3').value;
			document.getElementById('answer-4').value = document.getElementById('ans2-4').value;
			document.getElementById('answer-5').value = document.getElementById('ans2-5').value;
		}


	}



	function prepopQuestionThree()
	{
		document.getElementById('question').value = document.getElementById('question-3-label').value;

		if(document.getElementById('at3').value == "Free text")
		{
			document.getElementById('enter-text').checked = true;
			document.getElementById('show-answers').classList.add("js-hidden");
			document.getElementById('answer-1').value =  "";
			document.getElementById('answer-2').value = "";
			document.getElementById('answer-3').value = "";
			document.getElementById('answer-4').value = "";
			document.getElementById('answer-5').value = "";
		}
		else if(document.getElementById('at3').value == "Select one answer")
		{
			document.getElementById('show-answers').classList.remove("js-hidden");
			document.getElementById('select-one').checked = true;
			document.getElementById('answer-1').value = document.getElementById('ans3-1').value;
			document.getElementById('answer-2').value = document.getElementById('ans3-2').value;
			document.getElementById('answer-3').value = document.getElementById('ans3-3').value;
			document.getElementById('answer-4').value = document.getElementById('ans3-4').value;
			document.getElementById('answer-5').value = document.getElementById('ans3-5').value;
		}
		else if(document.getElementById('at3').value == "Select multiple answers")
		{
			document.getElementById('select-multiple').checked = true;
			document.getElementById('show-answers').classList.remove("js-hidden");
			document.getElementById('answer-1').value = document.getElementById('ans3-1').value;
			document.getElementById('answer-2').value = document.getElementById('ans3-2').value;
			document.getElementById('answer-3').value = document.getElementById('ans3-3').value;
			document.getElementById('answer-4').value = document.getElementById('ans3-4').value;
			document.getElementById('answer-5').value = document.getElementById('ans3-5').value;
		}


	}

	function prepopQuestionFour()
	{
		document.getElementById('question').value = document.getElementById('question-4-label').value;

		if(document.getElementById('at4').value == "Free text")
		{
			document.getElementById('enter-text').checked = true;
			document.getElementById('show-answers').classList.add("js-hidden");
			document.getElementById('answer-1').value =  "";
			document.getElementById('answer-2').value = "";
			document.getElementById('answer-3').value = "";
			document.getElementById('answer-4').value = "";
			document.getElementById('answer-5').value = "";
		}
		else if(document.getElementById('at4').value == "Select one answer")
		{
			document.getElementById('show-answers').classList.remove("js-hidden");
			document.getElementById('select-one').checked = true;
			document.getElementById('answer-1').value = document.getElementById('ans4-1').value;
			document.getElementById('answer-2').value = document.getElementById('ans4-2').value;
			document.getElementById('answer-3').value = document.getElementById('ans4-3').value;
			document.getElementById('answer-4').value = document.getElementById('ans4-4').value;
			document.getElementById('answer-5').value = document.getElementById('ans4-5').value;
		}
		else if(document.getElementById('at4').value == "Select multiple answers")
		{
			document.getElementById('select-multiple').checked = true;
			document.getElementById('show-answers').classList.remove("js-hidden");
			document.getElementById('answer-1').value = document.getElementById('ans4-1').value;
			document.getElementById('answer-2').value = document.getElementById('ans4-2').value;
			document.getElementById('answer-3').value = document.getElementById('ans4-3').value;
			document.getElementById('answer-4').value = document.getElementById('ans4-4').value;
			document.getElementById('answer-5').value = document.getElementById('ans4-5').value;
		}


	}


	function prepopQuestionFive()
	{
		document.getElementById('question').value = document.getElementById('question-5-label').value;

		if(document.getElementById('at5').value == "Free text")
		{
			document.getElementById('enter-text').checked = true;
			document.getElementById('show-answers').classList.add("js-hidden");
			document.getElementById('answer-1').value =  "";
			document.getElementById('answer-2').value = "";
			document.getElementById('answer-3').value = "";
			document.getElementById('answer-4').value = "";
			document.getElementById('answer-5').value = "";
		}
		else if(document.getElementById('at5').value == "Select one answer")
		{
			document.getElementById('show-answers').classList.remove("js-hidden");
			document.getElementById('select-one').checked = true;
			document.getElementById('answer-1').value = document.getElementById('ans5-1').value;
			document.getElementById('answer-2').value = document.getElementById('ans5-2').value;
			document.getElementById('answer-3').value = document.getElementById('ans5-3').value;
			document.getElementById('answer-4').value = document.getElementById('ans5-4').value;
			document.getElementById('answer-5').value = document.getElementById('ans5-5').value;

		}
		else if(document.getElementById('at5').value == "Select multiple answers")
		{
			document.getElementById('select-multiple').checked = true;
			document.getElementById('show-answers').classList.remove("js-hidden");
			document.getElementById('answer-1').value = document.getElementById('ans5-1').value;
			document.getElementById('answer-2').value = document.getElementById('ans5-2').value;
			document.getElementById('answer-3').value = document.getElementById('ans5-3').value;
			document.getElementById('answer-4').value = document.getElementById('ans5-4').value;
			document.getElementById('answer-5').value = document.getElementById('ans5-5').value;
		}
	}













	// SHOW MORE ANSWER BOXES
	function show3()
	{
		document.getElementById('answer-3-add').style.display = 'none';
		document.getElementById('answer-3-box').style.display = 'inline';
		document.getElementById('answer-4-add').style.display = 'inline';
	}
	function show4()
	{
		document.getElementById('answer-4-add').style.display = 'none';
		document.getElementById('answer-4-box').style.display = 'inline';
		document.getElementById('answer-5-add').style.display = 'inline';
	}
	function show5()
	{
		document.getElementById('answer-5-add').style.display = 'none';
		document.getElementById('answer-5-box').style.display = 'inline';
	}



</script>



{% endblock %}


