{% extends "layout.html" %}
{% set loggedIn = true %}
{% block page_title %}

  GOV.UK prototype kit
{% endblock %}

{% block content %}

{% include "includes/gov-beta-banner.html" %}


<main id="content" role="main">
  <div class="grid-row">
    <div class="column-two-thirds">

	  <!--  BREADCRUMB  -->
	  <div class="breadcrumbs">
		<ol>
			<li><a href="/account">Account home</a></li>
		</ol>
	  </div>


	  <!-- CONDITIONAL ERROR  -->
		{% if false %}
		<div class="error-summary" role="alert" aria-labelledby="error-summary-heading-example-1" tabindex="-1">

			<h2 class="heading-medium error-summary-heading" id="error-summary-heading-example-1">
				Message to alert the user to a problem goes here
			</h2>

			<p>
				Optional description of the errors and how to correct them
			</p>

			<ul class="error-summary-list">
				<li><a href="#example-personal-details">Descriptive link to the question with an error</a></li>
			</ul>

		</div>
      {% endif %}

	  <h1 class="heading-large" style="margin-top:15px">
		  Event registration questions
      </h1>


	  <form action="/create-event/attendee-onwards" method="get" class="form">


		  <p>The following default fields will be included on your event registration form:</p>
		  <ul class="list list-bullet">
			  <li>first name</li>
			  <li>last name</li>
			  <li>job title</li>
			  <li>business  name</li>
			  <li>full business address</li>
			  <li>phone number</li>
			  <li>email address</li>
			  <li>primary sector of business</li>
			  <li>company website</li>
			  <li>export experience level</li>
			  <li>annual turnover</li>
			  <details role="group" style="width:650px; margin-bottom:10px;">
				  <summary role="button" aria-controls="details-content-0" aria-expanded="false"><span class="summary">See turnover brackets</span></summary>
				  <div class="panel panel-border-narrow" id="details-content-0" aria-hidden="true"  style="margin-top:0px; margin-bottom:30px; padding-bottom:10px;">


					  <p style="margin-bottom:5px;">Turnover levels:</p>
					  <ul class="list list-bullet">
						  <li>£0 &nbsp;to&nbsp; £150,000</li>
						  <li>£150,001 &nbsp;to&nbsp; £500,000</li>
						  <li>£500,001 &nbsp;to&nbsp; £2,000,000</li>
						  <li>£2,000,001 &nbsp;to&nbsp; £5,000,000</li>
						  <li>£5,000,001 &nbsp;to&nbsp; £34,000,000</li>
						  <li>£34,000,000+</li>
					  </ul>

				  </div>
			  </details>
		  </ul>

		  <br>
		  <!-- <p>The above fields will automatically appear on this event's registration form.</p>  -->



		  <fieldset class="form-group inline" style="margin-bottom:15px">
				  <!--  Addtional questions that the registering user need to answer  -->
				  <div class="form-group" style="margin-top:0px; margin-bottom:0px">
					  <label class="form-label-bold" style="margin-bottom:10px">
						  Do you need to collect any other details?
					  </label>
					  <div class="form-date" style="margin-top:5px">
						  <div class="multiple-choice" style="margin-bottom:10px">
							  <input id="radio-inline-2" type="radio" name="radio-additional-questions-boolean" value="no" checked="checked">
							  <label for="radio-inline-2">No, I don't need to add any further registration questions</label>
						  </div>
						  <div class="multiple-choice" style="margin-bottom:10px"  data-target="more-reg-questions">
							  <input id="radio-inline-1" type="radio" name="radio-additional-questions-boolean" value="yes">
							  <label for="radio-inline-1">Yes, I need to add further registration questions</label>
						  </div>
					  </div>

					  <div class="form-group panel panel-border-narrow js-hidden" style="padding-bottom:12px;" id="more-reg-questions">
					  	<p>You can enter questions on the next page.</p>
					  </div>

				  </div>
		  </fieldset>



 		  <div class="form-group" style="margin-top:20px">
			  <input type="submit" class="button" value="Save and continue">
			  <!-- <p style="margin-top:30px"><a href="/create-event/summary">There is no limit</a></p>  -->
		  </div>



	  </form>

    </div>
  </div>
</main>




{% endblock %}


