{% extends "layout.html" %}

{% block page_title %}
  GOV.UK prototype kit
{% endblock %}

{% block content %}

<main id="content" role="main">
  <div class="grid-row">
    <div class="column-two-thirds">

      <h1 class="heading-large">
        Attendees
      </h1>

	  <form action="/create-event/summary" method="get" class="form">

		  <fieldset class="form-group">
			  <label class="form-label-bold">
				  Maximum number places
			  </label>

			  <div class="form-date">
				  <!-- <p class="form-hint">For example, 31 3 1980</p>  -->
				  <div class="form-group form-group-day">
					  <input class="form-control" id="attendee-quantity" name="attendee-quantity" type="number" pattern="[0-9]*" >
				  </div>

			  </div>
		  </fieldset>


		  <div class="form-group" style="margin-top:0px">
			  <input type="submit" class="button" value="Continue">
			  <p style="margin-top:30px"><a href="/create-event/summary">There is no limit</a></p>
		  </div>

	  </form>

    </div>
  </div>
</main>

{% endblock %}


