{% extends "layout.html" %}
{% set loggedIn = true %}
{% block page_title %}

  GOV.UK prototype kit
{% endblock %}

{% block content %}

<main id="content" role="main">



  <div class="grid-row">
    <div class="column-two-thirds">

	  <!--  BREADCRUMB  -->
	  <div class="breadcrumbs">
		<ol>
			<li><a href="/account">Account home</a></li>
		</ol>
	  </div>


		<!-- CONDITIONAL ERROR  -->
		{% if errorOnDayTime %}
		<div class="error-summary" role="alert" aria-labelledby="error-summary-heading-example-1" tabindex="-1">

			<h2 class="heading-medium error-summary-heading" id="error-summary-heading-example-1">
				Invalid or missing fields
			</h2>

			<p>
				Please check the following errors and try again
			</p>

			<ul class="error-summary-list">
				{% if errorDayFound %}
					<li><a href="#date-area">Event date: day</a></li>
				{% endif %}
				{% if errorMonthFound %}
					<li><a href="#date-area">Event date: month</a></li>
				{% endif %}
				{% if errorYearFound %}
					<li><a href="#date-area">Event date: year</a></li>
				{% endif %}

				{% if errorOnStartHour %}
					<li><a href="#start-time-area">Start time: hour</a></li>
				{% endif %}
				{% if errorOnStartMinutes %}
					<li><a href="#start-time-area">Start time: minutes</a></li>
				{% endif %}

				{% if errorOnFinishHour %}
					<li><a href="#finish-time-area">Finish time: hour</a></li>
				{% endif %}
				{% if errorOnFinishMinutes %}
					<li><a href="#finish-time-area">Finish time: minutes</a></li>
				{% endif %}
			</ul>

		</div>
		{% endif %}


      <h1 class="heading-large" style="margin-top:15px">
		 When is the event?
      </h1>


	  <form action="/create-event/date-onwards" method="get" class="form">

		  <fieldset id="date-area" class="form-group">

			  {% if errorOnDate %}
			  <div class="form-group  form-group-error">
			  {% endif %}

				  <label class="form-label-bold">
					  Event date

					  {% if errorDayFound %}
						  <span class="error-message">
							  Please enter a valid future date (from 2017 onwards)
						  </span>

					  {% elif errorMonthFound %}
						  <span class="error-message">
							  Please enter a valid future date (from 2017 onwards)
						  </span>

					  {% elif errorYearFound %}
						  <span class="error-message">
							  Please enter a valid future date (from 2017 onwards)
						  </span>
					  {% endif %}

				  </label>
				  <div class="form-date">

					  <!-- <p class="form-hint">For example, 31 3 1980</p>  -->
					  <div class="form-group form-group-day">
						  <label for="event-day">Day</label>
						  <input class="form-control  {% if errorDayFound %} form-control-error {% endif %}"
								 id="event-day" name="event-day" type="number" pattern="[0-9]*" value="{{ data['event-day'] }}">
					  </div>

					  <div class="form-group form-group-month">
						  <label for="event-month">Month</label>
						  <input class="form-control  {% if errorMonthFound %} form-control-error {% endif %}"
								 id="event-month" name="event-month" type="number"  value="{{ data['event-month'] }}">
					  </div>

					  <div class="form-group form-group-year">
						  <label for="event-year">Year</label>
						  <input class="form-control   {% if errorYearFound %} form-control-error {% endif %}"
						  		 id="event-year" name="event-year" type="number"  value="{{ data['event-year'] }}">
					  </div>

				  </div>

			  {% if errorOnDate %}
			  </div>
			  {% endif %}


		  </fieldset>





		  <!--   START TIME  --->
		  <fieldset id="start-time-area" class="form-group">

			{% if errorOnStartTime %}
			  <div class="form-group form-group-error">
			{% endif %}

			  <label class="form-label-bold">
				  Start time

				  {% if errorOnStartHour %}
					  <span class="error-message">
						  Please enter a valid hour (0 to 23)
					  </span>
				  {% endif %}

				  {% if errorOnStartMinutes %}
					  <span class="error-message">
						  Please enter a valid minute (0 to 59)
					  </span>
				  {% endif %}

			  </label>

			  <div class="form-date">
				  <p class="form-hint" style="margin-bottom: 0px;">For example, 14 00</p>
				  <div class="form-group form-group-day">
					  <label for="start-hours">Hours</label>
					  <input class="form-control  {% if errorOnStartHour %} form-control-error {% endif %}"
							 id="start-hours" name="start-hours" type="tel" pattern="[0-9]*" value="{{ data['start-hours'] }}">
				  </div>
				  <div class="form-group form-group-month">
					  <label for="start-minutes">Minutes</label>
					  <input class="form-control  {% if errorOnStartMinutes %} form-control-error {% endif %}"
							 id="start-minutes" name="start-minutes" type="tel" pattern="[0-9]*" value="{{ data['start-minutes'] }}" >
				  </div>

				  <!--
				  <div class="form-group form-group-month multiple-choice" style="margin-left:25px; margin-top:28px">
					  <input id="radio-inline-1" type="radio" name="radio-inline-group" value="AM">
					  <label for="radio-inline-1">AM</label>
				  </div>
				  <div class="form-group form-group-month multiple-choice" style="margin-left:25px; margin-top:28px">
					  <input id="radio-inline-2" type="radio" name="radio-inline-group" value="PM">
					  <label for="radio-inline-2">PM</label>
				  </div>
				  -->

			  </div>

			{% if errorOnStartTime %}
			  </div>
			{% endif %}

		  </fieldset>




		  <!--   FINISH TIME  --->
		  <fieldset  id="finish-time-area" class="form-group">

			{% if errorOnFinishTime %}
			  <div class="form-group  form-group-error">
			{% endif %}

			  <label class="form-label-bold">
				  Finish time

				  {% if errorOnFinishHour %}
					  <span class="error-message">
						  Please enter a valid hour (0 to 23)
					  </span>
				  {% endif %}

				  {% if errorOnFinishMinutes %}
					  <span class="error-message">
						  Please enter a valid minute (0 to 59)
					  </span>
				  {% endif %}

			  </label>

			  <div class="form-date">
				  <!-- <p class="form-hint">For example, 9 30</p>  -->
				  <div class="form-group form-group-day">
					  <label for="finish-hours">Hours</label>
					  <input class="form-control  {% if errorOnFinishHour %} form-control-error {% endif %}" id="finish-hours" name="finish-hours" type="number" pattern="[0-9]*"  value="{{ data['finish-hours'] }}">
				  </div>
				  <div class="form-group form-group-month">
					  <label for="finish-minutes">Minutes</label>
					  <input class="form-control  {% if errorOnFinishMinutes %} form-control-error {% endif %}" id="finish-minutes" name="finish-minutes" type="number" pattern="[0-9]*" value="{{ data['finish-minutes'] }}" >
				  </div>

			  </div>

			{% if errorOnFinishTime %}
			  </div>
			{% endif %}

		  </fieldset>



		  <div class="form-group" style="margin-top:5px">
			  <input type="submit" class="button" value="Save and continue">
			  <p style="margin-top:25px"><a href="/create-event/venue">I'll complete this later - I don't have this information yet</a></p>
		  </div>

	  </form>

    </div>
  </div>
</main>

{% endblock %}


