{% extends "layout.html" %}
{% set loggedIn = true %}
{% block page_title %}

  GOV.UK prototype kit
{% endblock %}

{% block content %}

{% include "includes/gov-beta-banner.html" %}


<main id="content" role="main">



  <div class="grid-row">
    <div class="column-two-thirds">

	  <!--  BREADCRUMB  -->
	  <div class="breadcrumbs">
		<ol>
			<li><a href="/account">Account home</a></li>
		</ol>
	  </div>


		<!-- CONDITIONAL ERROR  -->
		{% if errorOnDayTime %}
		<div class="error-summary" role="alert" aria-labelledby="error-summary-heading-example-1" tabindex="-1">

			<h2 class="heading-medium error-summary-heading" id="error-summary-heading-example-1">
				Invalid or missing fields
			</h2>

			<p>
				Please check the following errors and try again
			</p>

			<ul class="error-summary-list">

				<!--  DATE ERRORS  -->
				{% if errorDateMissing and errorDateInvalid %}
					<li><a href="#date-area">Event date: missing and invalid entries</a></li>
				{% elif errorDateMissing %}
					<li><a href="#date-area">Event date: missing information</a></li>
				{% elif errorDateInvalid %}
					<li><a href="#date-area">Event date: invalid entry</a></li>
				{% elif errorDateInPast %}
					<li><a href="#date-area">Event date: past date entered</a></li>
				{% endif %}

				<!--  START TIME -->
				{% if errorStartTimeMissing and errorStartTimeInvalid %}
					<li><a href="#start-time-area">Start time: missing and invalid entries</a></li>
				{% elif errorStartTimeMissing %}
					<li><a href="#start-time-area">Start time: hour missing</a></li>
				{% elif errorStartTimeInvalid %}
					<li><a href="#start-time-area">Start time: invalid entry</a></li>
				{% endif %}

				<!--  END TIME -->
				{% if errorFinishTimeMissing and errorFinishTimeInvalid %}
					<li><a href="#finish-time-area">Finish  time: missing and invalid entries</a></li>
				{% elif errorFinishTimeMissing %}
					<li><a href="#finish-time-area">Finish  time: hour missing</a></li>
				{% elif errorFinishTimeInvalid %}
					<li><a href="#finish-time-area">Finish  time: invalid entry</a></li>
				{% elif errorStartTimeAfterFinishTime %}
					<li><a href="#start-time-area">Event times: start time is later than finish time</a></li>
				{% endif %}

			</ul>

		</div>
		{% endif %}


      <h1 class="heading-large" style="margin-top:15px">
		  Event date and time
      </h1>


	  <form action="/create-event/date-onwards" method="get" class="form">

		  <fieldset id="date-area"
					class="form-group {% if errorDateMissing or  errorDateInvalid or errorDateInPast %} form-group-error {% endif %}">


				  <label class="form-label-bold">
					  Event date

					  {% if errorDateMissing and errorDateInvalid %}
						  <span class="error-message">
							Please enter a full date and check that values are valid. For example, months of the year run from 1 to 12.
						  </span>
					  {% elif errorDateMissing %}
					  	  <span class="error-message">
							Please enter a full date.
						  </span>
					  {% elif errorDateInvalid %}
						  <span class="error-message">
							Check date values are valid. For example, months of the year run from 1 to 12.
						  </span>
					  {% elif errorDateInPast %}
					      <span class="error-message">
							Event date cannot be in the past. Please enter a future date.
						  </span>
					  {% endif %}


				  </label>

				  <div class="form-date">

					  <!-- <p class="form-hint">For example, 31 3 1980</p>  -->
					  <div class="form-group form-group-day">
						  <label for="event-day">Day</label>
						  <input class="form-control  {% if errorMissingDay or errorInvalidDay %} form-control-error {% endif %}"
								 id="event-day" name="event-day" type="number" pattern="[0-9]*" value="{{ data['event-day'] }}">
					  </div>

					  <div class="form-group form-group-month">
						  <label for="event-month">Month</label>
						  <input class="form-control  {% if errorMissingMonth or errorInvalidMonth %} form-control-error {% endif %}"
								 id="event-month" name="event-month" type="number"  value="{{ data['event-month'] }}">
					  </div>

					  <div class="form-group form-group-year">
						  <label for="event-year">Year</label>
						  <input class="form-control   {% if errorMissingYear or errorInvalidYear %} form-control-error {% endif %}"
						  		 id="event-year" name="event-year" type="number"  value="{{ data['event-year'] }}">
					  </div>

				  </div>

		  </fieldset>





		  <!--   START TIME  --->
		  <fieldset id="start-time-area"
					class="form-group {% if errorStartTimeMissing or  errorStartTimeInvalid or errorStartTimeAfterFinishTime %} form-group-error {% endif %}">


			  <label class="form-label-bold">
				  Start time

				  {% if errorStartTimeMissing and errorStartTimeInvalid %}
				  	<span class="error-message">
						  Hour missing and invalid values entered. Please enter a valid start time
					</span>
				  {% elif errorStartTimeMissing %}
				  	<span class="error-message">
						Please enter a valid hour for the start time.
					</span>
				  {% elif errorStartTimeInvalid %}
				  	<span class="error-message">
					  Check time values. Valid hours run from 00 to 23 and minutes from 00 to 59.
					</span>
				  {% elif errorStartTimeAfterFinishTime %}
				    <span class="error-message">
					    Start time is later than finish time
					</span>
				  {% endif %}

			  </label>

			  <div class="form-date">
				  <p class="form-hint" style="margin-bottom: 0px;">24-hour format. For example, 14 00</p>
				  <div class="form-group form-group-day">
					  <label for="start-hours">Hours</label>
					  <input class="form-control  {% if errorMissingStartHour or errorInvalidStartHour %} form-control-error {% endif %}"
							 id="start-hours" name="start-hours" type="tel" pattern="[0-9]*" value="{{ data['start-hours'] }}">
				  </div>
				  <div class="form-group form-group-month">
					  <label for="start-minutes">Minutes</label>
					  <input class="form-control  {% if errorInvalidStartMins %} form-control-error {% endif %}"
							 id="start-minutes" name="start-minutes" type="tel" pattern="[0-9]*" value="{{ data['start-minutes'] }}" >
				  </div>

			  </div>

		  </fieldset>




		  <!--   FINISH TIME  --->
		  <fieldset  id="finish-time-area"
					 class="form-group {% if errorFinishTimeMissing or  errorFinishTimeInvalid or errorStartTimeAfterFinishTime %} form-group-error {% endif %}">

			{% if errorOnFinishTime %}
			  <div class="form-group  form-group-error">
			{% endif %}

			  <label class="form-label-bold">
				  Finish time

				  <!--  END TIME -->
				  {% if errorFinishTimeMissing and errorFinishTimeInvalid %}
				  	<span class="error-message">
					    Hour missing and invalid time values entered. Please enter a valid finish time.
					</span>
				  {% elif errorFinishTimeMissing %}
				    <span class="error-message">
					    Please enter a valid hour for the finish time.
					</span>
				  {% elif errorFinishTimeInvalid %}
				    <span class="error-message">
					    Check time values. Valid hours range from 00 to 23 and minutes from 00 to 59.
					</span>
				  {% elif errorStartTimeAfterFinishTime %}
				    <span class="error-message">
					    Finish time is earlier than start time
					</span>
				  {% endif %}

			  </label>

			  <div class="form-date">
				  <!-- <p class="form-hint">For example, 9 30</p>  -->
				  <div class="form-group form-group-day">
					  <label for="finish-hours">Hours</label>
					  <input class="form-control  {% if errorMissingFinishHour or errorInvalidFinishHour  %} form-control-error {% endif %}" id="finish-hours" name="finish-hours" type="number" pattern="[0-9]*"  value="{{ data['finish-hours'] }}">
				  </div>
				  <div class="form-group form-group-month">
					  <label for="finish-minutes">Minutes</label>
					  <input class="form-control  {% if errorInvalidFinishMins %} form-control-error {% endif %}" id="finish-minutes" name="finish-minutes" type="number" pattern="[0-9]*" value="{{ data['finish-minutes'] }}" >
				  </div>

			  </div>

			{% if errorOnFinishTime %}
			  </div>
			{% endif %}

		  </fieldset>



		  <div class="form-group" style="margin-top:5px">
			  <input type="submit" class="button" value="Save and continue">

			  <input type="submit" formaction="/create-event/date-skip" value="I'll complete this later - I don't have this information yet"
					 style="margin-top:25px; border:0px; padding:0px; background-color: transparent; color: #005ea5; text-decoration: underline; cursor: pointer; ">
		  </div>

	  </form>

    </div>
  </div>
</main>

{% endblock %}


