{% extends "layout.html" %}
{% set loggedIn = true %}
{% block page_title %}

  GOV.UK prototype kit
{% endblock %}

{% block content %}

<main id="content" role="main">
  <div class="grid-row">
    <div class="column-two-thirds">


	  <!--  BREADCRUMB  -->
	  <div class="breadcrumbs">
		<ol>
			<li><a href="/account">Account home</a></li>
		</ol>
	  </div>



		<!-- CONDITIONAL ERROR  -->
		{% if errorMissingTitle %}
		<div class="error-summary" role="alert" aria-labelledby="error-summary-heading-example-1" tabindex="-1">

			<h2 class="heading-medium error-summary-heading" id="error-summary-heading-example-1">
				Missing fields
			</h2>

			<p>
				Please check the following errors and try again.
			</p>

			<ul class="error-summary-list">
				{% if errorMissingTitle %}
					<li><a href="#title-section">Missing title</a></li>
				{% endif %}
			</ul>

		</div>
		{% endif %}



	  <h1 class="heading-large" style="margin-top:15px; margin-bottom:30px;">
		  Event details and description
      </h1>




	  <form action="/create-event/description-onwards" method="get" class="form">

		  <!--  MARKETS  -->
		  <div class="form-group">
			  <fieldset>
				  <div  >
					  <label class="form-label-bold" >
						  Is this event related to export in any specific international markets?
					  </label>
					  <div class="form-date" style="margin-top:5px">
						  <div class="multiple-choice" style="margin-bottom:10px">
							  <input id="radio-market-2" type="radio" name="radio-markets" value="no">
							  <label for="radio-market-2">No, this is relevant to all markets</label>
						  </div>
						  <div class="multiple-choice" style="margin-bottom:10px" data-target="market-section">
							  <input id="radio-market-1" type="radio" name="radio-markets" value="yes">
							  <label for="radio-market-1">Yes</label>
						  </div>
					  </div>
				  </div>
			  </fieldset>


			  <fieldset>
				  <div class="form-group js-hidden"  id="market-section" style="margin-top:10px; margin-bottom:20px;">
					  <label class="form-label-bold" for="event-description">
						  Markets
					  </label>
					  <input type="text" class="form-control"  style="width:80%; margin-bottom:10px;"
							 id="market-box" name="market-box" value="{{ data['market-box'] }}">

					  <input type="text" class="form-control"  style="width:80%; margin-bottom:10px;"
							 id="market-box-2" name="market-box-2" value="{{ data['market-box-2'] }}">

					  <input type="text" class="form-control"  style="width:80%;"
							 id="market-box-3" name="market-box-3" value="{{ data['market-box-3'] }}">
				  </div>
			  </fieldset>
		  </div>




		  <!--   BENEFITS   -->
		  <div class="form-group">
			  <fieldset>

				  <legend class="form-label-bold" style="margin-bottom:10px;">
					  What specific benefits or outcomes will attendees get from this event?
				  </legend>


				  <div class="multiple-choice">
					  <input id="buyers" name="benefits" type="checkbox" value="Meet with buyers">
					  <label for="buyers">Meet with buyers</label>
				  </div>
				  <div class="multiple-choice">
					  <input id="expert" name="benefits" type="checkbox" value="Hear from industry experts">
					  <label for="expert">Hear from industry experts</label>
				  </div>
				  <div class="multiple-choice">
					  <input id="skills" name="benefits" type="checkbox" value="Learn new skills">
					  <label for="skills">Learn new skills</label>
				  </div>
				  <div class="multiple-choice">
					  <input id="network" name="benefits" type="checkbox" value="Network with other businessses">
					  <label for="network">Network with other businessses</label>
				  </div>
				  <div class="multiple-choice" data-target="add-benefit-section">
					  <input id="add-other" name="benefits" type="checkbox" value="Add your own">
					  <label for="add-other">Add your own</label>
				  </div>


				  <div class="panel panel-border-narrow js-hidden" id="add-benefit-section" style="margin-bottom:20px">
					  <label class="form-label js-hidden" for="add-benefit">Add your own</label>
					  <input class="form-control" type="text" id="add-benefit" name="add-benefit" style="margin-bottom:10px;">
					  <input class="form-control" type="text" id="add-benefit-2" name="add-benefit" style="margin-bottom:10px;">
					  <input class="form-control" type="text" id="add-benefit-3" name="add-benefit" >
				  </div>

			  </fieldset>
		  </div>




		  <!--   AGENDA   -->
		  <div class="form-group">

			  <fieldset>
				  <div style="" id="answer-types">

					  {% if errorAnswerTypeEmpty %}
					  <div class="form-group form-group-error">
						  {% endif %}

						  <label class="form-label-bold">
							  Does the event have an agenda?
							  {% if errorAnswerTypeEmpty %}
										  <span class="error-message">
											  Select type of answer
										  </span>
							  {% endif %}
						  </label>
						  <div class="form-date" style="margin-top:5px">
							  <div class="multiple-choice">
								  <input id="enter-text" type="radio" name="radio-additional-questions-answers-type" value="enter-text" checked="checked">
								  <label for="enter-text">No</label>
							  </div>
							  <div class="multiple-choice" data-target="show-answers">
								  <input id="select-one" type="radio" name="radio-additional-questions-answers-type" value="select-one"
										 {% if errorOneSelected %} checked="checked" {% endif %} >
								  <label for="select-one">Yes</label>
							  </div>
						  </div>

						  {% if errorAnswerTypeEmpty %}
					  </div>
					  {% endif %}

				  </div>
			  </fieldset>



			  <fieldset class="form-group js-hidden" id="show-answers" style="margin-top:20px; margin-bottom:0px">

				  <!--   THE ANSWERS -->
				  <div class="" style="margin-bottom:0px; margin-top:0px;" >

					  {% if errorAnswersError %}
					  	  <div class="form-group  form-group-error">
					  {% endif %}

						  <label class="form-label-bold">
							  Agenda
							  {% if errorAnswersError %}
								  <span class="error-message">
									  Error message about not providing enough (2 or more) answers go here.
								  </span>
							  {% endif %}
						  </label>

						  <div style="width:100%; float:left; margin-top:5px">

							  <div>
								  <p style="margin-bottom: 10px">Hours &nbsp;&nbsp;&nbsp;&nbsp; Minutes &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Activity</p>
							  </div>

							  <!-- Row one -->
							  <div style="  margin-bottom: 15px;">
								  <input class="form-control" style="width:50px; margin-right:20px"
										 id="agenda-hour-1" name="agenda-hour-1" type="number" pattern="[0-9]*" value="{{ data['agenda-hour-1'] }}">

								  <input class="form-control" style="width:50px; margin-right:40px;"
										 id="agenda-minutes-1" name="agenda-minutes-1" type="number"  value="{{ data['agenda-minutes-1'] }}">

								  <input class="form-control" style="width:462px"
										 id="agenda-1" name="event-month" type="text"  value="{{ data['agenda-1'] }}">
							  </div>
							  <!-- Row two -->
							  <div style="  margin-bottom: 15px;">
								  <input class="form-control" style="width:50px; margin-right:20px"
										 id="agenda-hour-2" name="agenda-hour-2" type="number" pattern="[0-9]*" value="{{ data['agenda-hour-2'] }}">

								  <input class="form-control" style="width:50px; margin-right:40px;"
										 id="agenda-minutes-2" name="agenda-minutes-2" type="number"  value="{{ data['agenda-minutes-2'] }}">

								  <input class="form-control" style="width:462px"
										 id="agenda-2" name="agenda-2" type="text"  value="{{ data['agenda-2'] }}">
							  </div>
							  <!-- Row three -->
							  <div style="  margin-bottom: 15px;">
								  <input class="form-control" style="width:50px; margin-right:20px"
										 id="agenda-hour-3" name="agenda-hour-3" type="number" pattern="[0-9]*" value="{{ data['agenda-hour-3'] }}">

								  <input class="form-control" style="width:50px; margin-right:40px;"
										 id="agenda-minutes-3" name="agenda-minutes-3" type="number"  value="{{ data['agenda-minutes-3'] }}">

								  <input class="form-control" style="width:462px"
										 id="agenda-3" name="agenda-3" type="text"  value="{{ data['agenda-3'] }}">
							  </div>


							  <p id="answer-5-add" style="color: #005ea5; text-decoration: underline; cursor: pointer; margin-top:20px;" onclick="show5()">Add another item</p>
							  <input type="text" class="form-control"  style="width:90%; margin-bottom: 15px; display:none;"
									 id="answer-5-box" name="answer-5" value="{{ data['answer-5'] }}" style="width:90%; margin-bottom: 0px;">
						  </div>

					  {% if errorAnswersError %}
					  	</div>
					  {% endif %}

				  </div>

			  </fieldset>

		  </div>






		  <!--  Detailed event description  -->
		  <div class="form-group" style="margin-top:10px; margin-bottom:20px">
			  <div>
				  <label class="form-label-bold" for="event-description" style="float:left; margin-top:4px;">
					  Detailed event description
				  </label>
				  <img  src="/public/images/editicons.png" style="width:104px;height:36px; float: right; margin-bottom:4px">
			  </div>

			  <textarea class="form-control" name="event-description" id="event-description" rows="12" style="width: 100%;"></textarea>
		  </div>




		  <div class="form-group" style="margin-top:20px">
			  <input type="submit" class="button" value="Save and continue">
			  <p style="margin-top:25px"><a href="/create-event/date">I'll complete this later - I don't have this information yet</a></p>
		  </div>

	  </form>

    </div>
  </div>
</main>

{% endblock %}


