{% extends "layout.html" %}

{% block page_title %}
  GOV.UK prototype kit
{% endblock %}

{% block content %}

<main id="content" role="main">
  <div class="grid-row">
    <div class="column-two-thirds">


	  <!--  BREADCRUMB  -->
	  <div class="breadcrumbs">
		<ol>
			<li><a href="/account">Account home</a></li>
		</ol>
	  </div>



		<!-- CONDITIONAL ERROR  -->
		{% if errorMissingTitle %}
		<div class="error-summary" role="alert" aria-labelledby="error-summary-heading-example-1" tabindex="-1">

			<h2 class="heading-medium error-summary-heading" id="error-summary-heading-example-1">
				Missing fields
			</h2>

			<p>
				Please check the following errors and try again.
			</p>

			<ul class="error-summary-list">
				{% if errorMissingTitle %}
				<li><a href="#title-section">Missing title</a></li>
				{% endif %}
			</ul>

		</div>
		{% endif %}



	  <h1 class="heading-large" style="margin-top:15px">
        Description
      </h1>


	  <form action="/create-event/description-onwards" method="get" class="form">

		  {% if errorMissingTitle %}
		  	<div class="form-group form-group-error">
		  {% endif %}

			  <div id="title-section" class="form-group" style="margin-top:10px; margin-bottom:20px">
				  <label class="form-label-bold" for="event-title">

					  Event title

					  {% if errorMissingTitle %}
						  <span class="error-message">
							  Please enter a clear and descriptive title for your event
						  </span>
					  {% endif %}

				  </label>
				  <input type="text" class="form-control  {% if errorMissingTitle %} form-control-error {% endif %}"
						 id="event-title" name="event-title" value="{{ data['event-title'] }}" style="width: 100%">
			  </div>

		  {% if errorMissingTitle %}
			</div>
		  {% endif %}

		  <div class="form-group" style="margin-top:10px; margin-bottom:20px">
			  <label class="form-label-bold" for="event-description">
				  Event description
			  </label>
			  <textarea class="form-control" name="event-description" id="event-description" rows="5" style="width: 100%; "  ></textarea>
		  </div>


		  <!--
		  <div class="form-group" style="margin-top:10px; margin-bottom:20px">
			<label class="form-label-bold" for="target-audience">
					Target audience
			</label>
			  <p class="form-hint"  style="margin-bottom:5px">The kind of business that should attend this event</p>
			  <input type="text" class="form-control" id="target-audience" style="width: 100%">
		  </div>
			-->


		  <div class="form-group" style="margin-top:20px">
			  <input type="submit" class="button" value="Continue">
		  </div>

	  </form>

    </div>
  </div>
</main>

{% endblock %}


