{% extends "layout.html" %}
{% set loggedIn = true %}
{% block page_title %}

  GOV.UK prototype kit
{% endblock %}

{% block content %}

{% include "includes/gov-alpha-banner.html" %}


<main id="content" role="main">
  <div class="grid-row">
    <div class="full-grid-mode" style="margin-left:15px">


	  <!--  BREADCRUMB  -->
	  <div class="breadcrumbs">
		<ol>
			<li><a href="/account">Account home</a></li>
		</ol>
	  </div>

		<!-- CONDITIONAL ERROR  -->
		{% if errorLinkAccessLevel or errorMainLinkEmpty or errorMainLinkInvalid or errorTrackingUrlEmpty or errorTrackingUrlInvalid %}
			<div class="error-summary" role="alert" aria-labelledby="error-summary-heading-example-1" tabindex="-1">

			<h2 class="heading-medium error-summary-heading" id="error-summary-heading-example-1">
				Message to alert the user to a problem goes here
			</h2>

			<p>
				Optional description of the errors and how to correct them
			</p>

			<ul class="error-summary-list">
				{% if errorLinkAccessLevel %}
					<li><a href="#access-level-section">Page access: no selection</a></li>
				{% endif %}

				{% if errorMainLinkEmpty %}
					<li><a href="#main-link-section">Default link: missing</a></li>
				{% endif %}

				{% if errorMainLinkInvalid %}
					<li><a href="#main-link-section">Default link: invalid</a></li>
				{% endif %}

				<!--  no used ad it is messily done in javascript
					<li><a href="#tracking-links-section">Tracking link: tracking link label missing</a></li>
				-->

				{% if errorTrackingUrlEmpty %}
					<li><a href="#tracking-links-section">Tracking link url: missing</a></li>
				{% endif %}

				{% if errorTrackingUrlInvalid %}
					<li><a href="#tracking-links-section"> Tracking link: invalid</a></li>
				{% endif %}
			</ul>

		</div>
		{% endif %}



	  <h1 class="heading-large" style="margin-top:15px">
		  Event publishing options
      </h1>


	  <form action="/make-draft-live" method="get" class="form">

		<!-- Access level  -->
		<div id="access-level-section" class="form-group {% if errorLinkAccessLevel %} form-group-error {% endif %}" style="margin-top:20px; margin-bottom:30px" >
			<label class="form-label-bold" >
				Who should be able to view this page?
				{% if errorLinkAccessLevel %}
				  <span class="error-message">
					Please select access level of this page
				  </span>
				{% endif %}
			</label>
			<div class="form-date" style="margin-top:5px">
				<div class="multiple-choice" style="margin-bottom:10px">
					<input id="radio-access-level-public" type="radio" name="radio-link-access" value="Anyone on the web" {% if session.data['radio-link-access'] == "Anyone on the web" %} checked="checked" {% endif %}  >
					<label for="radio-access-level-public">
						Anyone on the web</label>
				</div>
				<div class="multiple-choice" style="margin-bottom:10px">
					<input id="radio-access-level-link-only" type="radio" name="radio-link-access" value="Only people we share the link with" {% if session.data['radio-link-access'] == "Only people we share the link with" %} checked="checked" {% endif %} >
					<label for="radio-access-level-link-only">Only people we share the link with</label>
				</div>
			</div>
		</div>




		<!-- MAIN URL LINK -->
		<div id="main-link-section" class="form-group {% if errorMainLinkEmpty or errorMainLinkInvalid %} form-group-error {% endif %}" style="margin-top:20px; " >
			<label class="form-label-bold" >
				{{ session.eventsLiveURLS[session.currentEventShowing][0][1] }}
			</label>

			<!-- EDIT MODE -->
			<div id="edit-mode"
				 {% if errorMainLinkEmpty or errorMainLinkInvalid %}
				 	style="margin-bottom:10px;"
				 {% else %}
				 	style="display:none; margin-bottom:10px;"
				 {% endif %}>

				{% if errorMainLinkEmpty %}
				  <p class="error-message">
					  Please enter a valid webpage url
				  </p>
				{% endif %}
				{% if errorMainLinkInvalid %}
					<p class="error-message">
						Please enter a valid webpage url. Spaces are not allowed.
					</p>
				{% endif %}

				<div style="display:flex">
					<p style="margin-top:10px;">www.events.great.gov.uk/</p>
					<input type="text" class="form-control {% if errorMainLinkEmpty or errorMainLinkInvalid %} form-control-error  {% endif %}" id="new-main-url" name="new-main-url"
							  style="width: 70%;  margin-top:0px; margin-bottom:10px;" value="{{ session.data['new-main-url'] }}">
				</div>

				<input style="width:10%;" id="save-button" type="submit" class="button" formaction="/update-main-event-link-go-live" value="Save">
			</div>

			<!-- VIEW MODE -->
			<div id="view-mode" {% if errorMainLinkEmpty or errorMainLinkInvalid  %}  style="display:none;"  {% endif %}>
				<p>www.events.great.gov.uk/{{ session.eventsLiveURLS[session.currentEventShowing][1][1] }}
					<br><span style="text-decoration: underline;  color: #0000EE; cursor: pointer;" onclick="editMainLink()">Edit link</span>
				</p>
			</div>
		</div>



		<!-- TRACKING LINKS -->
		<div class="form-group" style=" margin-bottom:20px;">
			<label class="form-label-bold" >
				Do you want to create tracking links for this page?
				<!--<span class="form-hint">Track the effectiveness of your marketing channels</span>-->
			</label>

			<details role="group" style="width:650px; margin-bottom:10px;">
				<summary role="button" aria-controls="details-content-0" aria-expanded="false"><span class="summary">How does this work?</span></summary>
				<div class="panel panel-border-narrow" id="details-content-0" aria-hidden="true"  style="margin-top:0px; margin-bottom:30px; padding-bottom:10px;">
					<!--
					<p>
						You can use tracking links to identify where webpage traffic and event registrations are coming from.
					</p>

					<p>
						This allows you to find out exactly which promotion channels are creating the most amount of webpage traffic and converting most effectively into event registrations.
						For example, you can measure the precise number of registrations that originate from Twitter, by using that channel's unique link in your tweets.
					</p>
					-->
					<p>
						Traffic and registrations originating from any of these links will appear in your performance dashboard.
					</p>

				</div>
			</details>


			<!-- {{ session.eventsLiveURLS[session.currentEventShowing][0].length }}  -->

			<div class="form-date" style="margin-top:5px">
				<div class="multiple-choice" style="margin-bottom:10px">
					<input id="radio-links-1" type="radio" name="radio-markets" value="no"
						   {% if session.eventsLiveURLS[session.currentEventShowing][0].length < 3 %} checked="checked" {% endif %}>
					<label for="radio-links-1">No - do this later</label>
				</div>
				<div class="multiple-choice" style="margin-bottom:10px" data-target="tracking-links-section">
					<input id="radio-links-2" type="radio" name="radio-markets" value="yes"
						   {% if 2 < session.eventsLiveURLS[session.currentEventShowing][0].length  or errorTrackingName or errorTrackingUrlEmpty or errorTrackingUrlInvalid %} checked="checked" {% endif %}>
					<label for="radio-links-2">Yes - add links now</label>
				</div>
			</div>

			<div id="tracking-links-section"	{% if session.eventsLiveURLS[session.currentEventShowing][0].length < 3 %}
						class="form-group panel panel-border-narrow js-hidden"
					{% else %}
						class="form-group panel panel-border-narrow"
					{% endif %}
					id="tracking-links-section" style="margin-top:10px; margin-bottom:20px;">

				{% include "includes/tracking-links-go-live.html" %}
			</div>

		</div>




		  <div class="form-group" style="margin-top:20px">

			  {% if session.liveOrNot == "true" %}
			  		<input type="submit" class="button" value="Update event" formaction="/create-event/preview">
			  {% else %}
			  		<input type="submit" class="button" value="Make the event live">
			  {% endif %}


			  <!-- <p style="margin-top:25px"><a href="/create-event/tickets">I'll complete this later - I don't have this information yet</a></p>  -->
		  </div>

	  </form>

    </div>
  </div>
</main>




<script>
	function editMainLink()
	{
		document.getElementById('edit-mode').style.display = 'block';
		document.getElementById('view-mode').style.display = 'none';
	}

</script>

{% endblock %}




