{% extends "layout.html" %}

{% block page_title %}
  GOV.UK prototype kit
{% endblock %}

{% block content %}

<main id="content" role="main">
  <div class="grid-row">
    <div class="column-two-thirds">


	  <!--  BREADCRUMB  -->
	  <div class="breadcrumbs">
		<ol>
			<li><a href="/account">Account home</a></li>
		</ol>
	  </div>



		<!-- CONDITIONAL ERROR  -->
		{% if errorMissingImage %}
		<div class="error-summary" role="alert" aria-labelledby="error-summary-heading-example-1" tabindex="-1">

			<h2 class="heading-medium error-summary-heading" id="error-summary-heading-example-1">
				Message to alert the user to a problem goes here
			</h2>

			<p>
				Optional description of the errors and how to correct them
			</p>

			<ul class="error-summary-list">
				{% if errorMissingTitle %}
				<li><a href="#example-personal-details">Descriptive link to MISSING IMAGE error</a></li>
				{% endif %}
			</ul>

		</div>
		{% endif %}



	  <h1 class="heading-large" style="margin-top:15px">
        Images and logos
      </h1>


	  <form action="/create-event/images-onwards" method="get" class="form">

		  <!-- MAIN IMAGE LOGO -->
		  {% if errorMissingImage %}
		  	<div class="form-group form-group-error">
		  {% endif %}

			  <div class="form-group"
				   style="margin-top:10px; margin-bottom:20px">
				  <label class="form-label-bold" for="event-title">
					  Main image of event
				  </label>

			  </div>

		  {% if errorMissingImage %}
			</div>
		  {% endif %}



		  <!--  THE PARTNER LOGOS  -->
		  {% if errorMissingPartnerImage %}
		  <div class="form-group form-group-error">
			  {% endif %}

			  <div class="form-group"
				   style="margin-top:10px; margin-bottom:20px">
				  <label class="form-label-bold" for="event-title">
					  Partner logos
				  </label>

			  </div>

			  {% if errorMissingPartnerImage %}
		  </div>
		  {% endif %}


		  <div class="form-group" style="margin-top:20px">
			  <input type="submit" class="button" value="Continue">
		  </div>

	  </form>

    </div>
  </div>
</main>

{% endblock %}


