{% extends "layout.html" %}
{% set loggedIn = true %}
{% block page_title %}

  GOV.UK prototype kit
{% endblock %}

{% block content %}

<main id="content" role="main">

  <div class="grid-row">

    <div class="column-two-thirds">


	  <!--  BREADCRUMB  -->
	  <div class="breadcrumbs">
		<ol>
			<li><a href="/account">Account home</a></li>
		</ol>
	  </div>

		<!-- CONDITIONAL ERROR  -->
		{% if missingImage %}
			<div class="error-summary" role="alert" aria-labelledby="error-summary-heading-example-1" tabindex="-1">

				<h2 class="heading-medium error-summary-heading" id="error-summary-heading-example-1">
					Missing fields
				</h2>

				<p>
					Please check the following errors and try again.
				</p>

				<ul class="error-summary-list">
					{% if missingImage %}
						<li><a href="#image-and-guidance">Main event image: missing</a></li>
					{% endif %}
				</ul>

			</div>
		{% endif %}



	  <h1 class="heading-large" style="margin-top:15px">
		 Choose a webpage image
      </h1>



		  <!-- MAIN IMAGE LOGO -->

		  <!-- styles to adjust checkboxes positioning. To be fixed with a cleaner solution :D -->
		  <style>
		  	.multiple-choice input {
		  		margin-top: 28px;
		  	}

		  	.multiple-choice label::before {
		  		margin-top: 27px;
		  	}

		  	.multiple-choice label::after {
		  		margin-top: 27px;
		  	}
		  </style>


		<form action="/create-event/images-onwards" method="get" class="form">


		  <div class="form-group {% if errorMissingImage %} form-group-error {% endif %}" style="margin-top:10px; margin-bottom:10px;" id="new-image-area">
			  <label class="form-label-bold" style="display:none">
				  Main event image
			  </label>
			  <div style="margin-top:5px">


				  <div id="image-and-guidance" class="{% if missingImage %} form-group-error {% endif %}">
					  {% if missingImage %}
						  <p class="error-message">
							  Please upload a relevant image for this event
						  </p>
					  {% endif %}
					  <input type="submit" class="button-secondary" formaction="/create-event/images-uploading" value="Choose an image" id="main-button-image">

					  <div style="display:block; margin-bottom:70px;">
						  <details role="group" style="width:650px;  ">
							  <summary role="button" aria-controls="details-content-0" aria-expanded="false"
									   style="margin-top:10px;"><span class="summary">Image guidance</span></summary>
							  <div class="panel panel-border-narrow" id="details-content-0" aria-hidden="true"  style="margin-top:0px; margin-bottom:30px; padding-bottom:10px;">
								  <p style="margin-bottom:10px;">  <!-- note these are made up -->
									  Minimum resolution: 300px x 200px. Images will be cropped to 3:2 aspect ratio.
								  </p>

								  <p>  <!-- note these are made up -->
									  File types accepted: JPEG and PNG
								  </p>

								  <p style="margin-bottom:10px;">
									  <span class="bold">GREAT brand library</span><br>
									  You may find the <a href="#">GREAT brand website</a> useful. It includes:
								  </p>

								  <ul class="list list-bullet">
									  <li>fully licensed and DIT-approved stock photography</li>
									  <li>official DIT and GREAT brand assets, including logos</li>
									  <li>full brand guidelines and supporting documentation</li>
								  </ul>



								  <p><span class="bold">Sourcing images from elsewhere</span><br>

									  If you source images from outside the GREAT image library, you need to have gained explicit permission from the copyright holder for their commercial reuse.
									  <br>Never use images found through general web search. <a href="https://unsplash.com/" target="_blank">Unplash</a> is an example of a legitimate free stock image library.
								  </p>
							  </div>
						  </details>
					  </div>
				  </div>




				  <div style="margin-bottom:25px; display:none "  id="image-area" >
					<input type="submit" class="button-secondary" value="Choose a different image" id="main-button-image"
							 onclick="hide()">

					<p class="bold" style="margin-top:40px; margin-bottom:10px;">Image preview</p>
					<img src="/public/images/exportingheroimagesmall.jpg" style="width:240px;height:100px;">

				  	<div>
						<p style="margin-bottom:0;">We've cropped your image.</p>

						<details role="group" style="width:650px;  ">
							<summary role="button" aria-controls="details-content-0" aria-expanded="false"
									 style="margin-top:0px;"><span class="summary">More details</span></summary>
							<div class="panel panel-border-narrow" id="details-content-0" aria-hidden="true"  style="margin-top:0px; margin-bottom:30px; padding-bottom:10px;">
								<p style="margin-bottom:10px;">
									<span class="bold">We use a 3:2 image shape</span><br>
									<img src="/public/images/3by2.jpg" style="width:150px;height:100px;">
								</p>

								<div style="margin-top:30px; display:flex; flex-direction: row;">
									<div style="margin-right:80px;">
										<p style="margin-bottom:10px;">
											<span class="bold">Uploading wide images</span><br>
											We hide the sides
										</p>
										<img src="/public/images/skyline-wide.jpg" style="width:226px;height:100px;">
									</div>
									<div>
										<p style="margin-bottom:10px;">
											<span class="bold">Uploading tall images</span><br>
											We hide the top and bottom
										</p>
										<img src="/public/images/skyline-tall.jpg" style="width:100px;height:147px;">

									</div>
								</div>

							</div>
						</details>

				  	</div>

				  </div>
		  	  </div>
		  </div>


		  <div class="form-group" style="margin-top:160px">
			  <input type="submit" class="button" value="Save and continue">

			  <input type="submit" formaction="/create-event/images-skip" value="I'll complete this later - I don't have this information yet"
					 style="margin-top:25px; border:0px; padding:0px; background-color: transparent; color: #005ea5; text-decoration: underline; cursor: pointer; ">
		  </div>


	  	</form>

    </div>


  </div>
</main>




<script>
	// When pressing the get main image button it swap in an image

	function hide()
	{
		document.getElementById('image-and-guidance').style.display = 'none';
		document.getElementById('image-area').style.display = 'inline';
	}

</script>

{% endblock %}




