{% extends "layout.html" %}
{% set loggedIn = true %}
{% block page_title %}

  GOV.UK prototype kit
{% endblock %}

{% block content %}

<main id="content" role="main">

  <div class="grid-row">

    <div class="column-two-thirds">


	  <!--  BREADCRUMB  -->
	  <div class="breadcrumbs">
		<ol>
			<li><a href="/account">Account home</a></li>
		</ol>
	  </div>

		<!-- CONDITIONAL ERROR  -->
		{% if errorMissingImage %}
		<div class="error-summary" role="alert" aria-labelledby="error-summary-heading-example-1" tabindex="-1">

			<h2 class="heading-medium error-summary-heading" id="error-summary-heading-example-1">
				Message to alert the user to a problem goes here
			</h2>

			<p>
				Optional description of the errors and how to correct them
			</p>

			<ul class="error-summary-list">
				{% if errorMissingTitle %}
				<li><a href="#example-personal-details">Descriptive link to MISSING IMAGE error</a></li>
				{% endif %}
			</ul>

		</div>
		{% endif %}



	  <h1 class="heading-large" style="margin-top:15px">
        Images and logos
      </h1>




		  <!-- MAIN IMAGE LOGO -->

		  <!-- styles to adjust checkboxes positioning. To be fixed with a cleaner solution :D -->
		  <style>
		  	.multiple-choice input {
		  		margin-top: 28px;
		  	}

		  	.multiple-choice label::before {
		  		margin-top: 27px;
		  	}

		  	.multiple-choice label::after {
		  		margin-top: 27px;
		  	}
		  </style>


			  <div class="form-group {% if errorMissingImage %} form-group-error {% endif %}" style="margin-top:10px; height:150px" id="new-image-area">
				  <label class="form-label-bold">
					  Main event image
				  </label>
				  <div style="margin-top:5px">
				  	<input type="submit" class="button-secondary" value="Choose an image" id="main-button-image"
						   onclick="hide()">

					<div style="margin-bottom:25px; display:none "  id="image-area" >
						<img src="/public/images/exportingheroimagesmall.jpg" style="width:240px;height:100px;">
						<p style="margin-bottom:25px;">
							<a href="#">Choose a different image</a>
						</p>
					</div>



				  </div>



			  </div>


		  <!--  THE PARTNER LOGOS  -->
		  {% if errorMissingPartnerImage %}
		  	  <div class="form-group form-group-error">
		  {% endif %}

			  <div class="form-group"
				   style="margin-top:10px; margin-bottom:20px">
				  <label class="form-label-bold" style="margin-bottom:10px;">
					  Select partner logos
				  </label>
				  <fieldset style="width:100%;;">

					  <div style=" padding-top:0px; width:500px; display: flex; ">

						  <div class="multiple-choice" style="margin-right:30px; padding-top:0px;">
							  <input id="eu-logo" name="eu-logo" type="checkbox" value="Meet with buyers" style="margin-top:5px">
							  <label for="eu-logo"><img src="/public/images/partner11.jpg" style="width:205px;height:89px; border:1px solid #000000"></label>
						  </div>

						  <div>
							  &nbsp;
						  </div>

						  <div class="multiple-choice" style="float: left; padding-top:0px; ">
							  <input id="dit-logo" name="dit-logo" type="checkbox" value="Meet with buyers" style="margin-top:5px">
							  <label for="dit-logo"><img src="/public/images/partner12.jpg" style="width:205px;height:89px; border:1px solid #000000"></label>
						  </div>
					  </div>

					  <div style=" padding-top:0px; width:500px;  display: flex;">

						  <div class="multiple-choice" style="margin-right:30px;">
							  <input id="growth-logo" name="growth-logo" type="checkbox" value="Meet with buyers" style="margin-top:5px">
							  <label for="growth-logo"><img src="/public/images/partner13.jpg" style="width:205px;height:89px; border:1px solid #000000"></label>
						  </div>

						  <div>
							  &nbsp;
						  </div>

						  <div class="multiple-choice" style="float: left; padding-top:0px; ">
							  <input id="bw-logo" name="bw-logo" type="checkbox" value="Meet with buyers" style="margin-top:5px">
							  <label for="bw-logo"><img src="/public/images/partner14.jpg" style="width:205px;height:89px; border:1px solid #000000"></label>
						  </div>
					  </div>

				  </fieldset>

				  <div style="margin-top:5px">
					  <input type="submit" class="button-secondary" value="Choose an new image">
				  </div>
			  </div>

		  {% if errorMissingPartnerImage %}
		  		</div>
		  {% endif %}


		<form action="/create-event/images-onwards" method="get" class="form">

		  <div class="form-group" style="margin-top:20px">
			  <input type="submit" class="button" value="Save and continue">
			  <p style="margin-top:25px"><a href="/create-event/tickets">I'll complete this later - I don't have this information yet</a></p>
		  </div>

	  </form>

    </div>

	  <div class="column-third add-title-margin" style="margin-top:120px;">
		  <aside class="govuk-related-items" data-module="track-click" role="complementary">
			  <p class="heading-small" style="margin-top:5px; margin-bottom:15px;">
				  Image guidance
			  </p>

			  <p>
				  Resolution and file type
			  </p>

			  <p>
				  Guidance on branding and link to DIT image library
			  </p>
		  </aside>

	  </div>


  </div>
</main>




<script>
	// When pressing the get main image button it swap in an image

	function hide()
	{
		document.getElementById('main-button-image').style.display = 'none';
		document.getElementById('image-area').style.display = 'inline';
	}

</script>

{% endblock %}




