{% extends "layout.html" %}

{% block page_title %}
  GOV.UK prototype kit
{% endblock %}

{% block content %}

<main id="content" role="main">
  <div class="grid-row">
    <div class="column-two-thirds">


      <h1 class="heading-large">
        Create an event
      </h1>


	  <form action="/create-event/address" method="get" class="form">


		  <div class="form-group" style="margin-top:10px; margin-bottom:20px">
			<label class="form-label-bold" for="event-name">
				Event name
			</label>
			<input type="text" class="form-control" id="event-name" style="width: 100%">
		  </div>



		  <fieldset class="form-group">
			  <label class="form-label-bold">
				  Event date
			  </label>
			  <div class="form-date">

				  <!-- <p class="form-hint">For example, 31 3 1980</p>  -->

				  <div class="form-group form-group-day">
					  <label for="dob-day">Day</label>
					  <input class="form-control" id="dob-day" name="dob-day" type="number" pattern="[0-9]*" min="0" max="31">
				  </div>

				  <div class="form-group form-group-month">
					  <label for="dob-month">Month</label>
					  <input class="form-control" id="dob-month" name="dob-month" type="number" pattern="[0-9]*" min="0" max="12">
				  </div>

				  <div class="form-group form-group-year">
					  <label for="dob-year">Year</label>
					  <input class="form-control" id="dob-year" name="dob-year" type="number" pattern="[0-9]*" min="0" max="2014">
				  </div>

			  </div>
		  </fieldset>

		  <div class="form-group">
			<input type="submit" class="button" value="Continue">
		  </div>

	  </form>

    </div>
  </div>
</main>

{% endblock %}


