{% extends "layout.html" %}

{% block page_title %}
  GOV.UK prototype kit
{% endblock %}

{% block content %}

<main id="content" role="main">
  <div class="grid-row">
    <div class="column-two-thirds">


      <h1 class="heading-large">
        When is the event
      </h1>


	  <form action="/create-event/create-event-onwards" method="get" class="form">

		  <fieldset class="form-group">
			  <label class="form-label-bold">
				  Event date
			  </label>
			  <div class="form-date">

				  <!-- <p class="form-hint">For example, 31 3 1980</p>  -->
				  <div class="form-group form-group-day">
					  <label for="event-day">Day</label>
					  <input class="form-control" id="event-day" name="event-day" type="number" pattern="[0-9]*" >
				  </div>

				  <div class="form-group form-group-month">
					  <label for="event-month">Month</label>
					  <input class="form-control" id="event-month" name="event-month" type="number" pattern="[0-9]*" >
				  </div>

				  <div class="form-group form-group-year">
					  <label for="event-year">Year</label>
					  <input class="form-control" id="event-year" name="event-year" type="number" pattern="[0-9]*">
				  </div>

			  </div>
		  </fieldset>



			  <fieldset class="form-group">
				  <label class="form-label-bold">
					  Start time
				  </label>
				  <div class="form-date">
					  <p class="form-hint" style="margin-bottom: 0px;">For example, 14 00</p>
					  <div class="form-group form-group-day">
						  <label for="start-hours">Hours</label>
						  <input class="form-control" id="start-hours" name="start-hours" type="number" pattern="[0-9]*" >
					  </div>
					  <div class="form-group form-group-month">
						  <label for="start-minutes">Minutes</label>
						  <input class="form-control" id="start-minutes" name="start-minutes" type="number" pattern="[0-9]*" >
					  </div>

					  <!--
					  <div class="form-group form-group-month multiple-choice" style="margin-left:25px; margin-top:28px">
						  <input id="radio-inline-1" type="radio" name="radio-inline-group" value="AM">
						  <label for="radio-inline-1">AM</label>
					  </div>
					  <div class="form-group form-group-month multiple-choice" style="margin-left:25px; margin-top:28px">
						  <input id="radio-inline-2" type="radio" name="radio-inline-group" value="PM">
						  <label for="radio-inline-2">PM</label>
					  </div>
					  -->

				  </div>
			  </fieldset>



		  <fieldset class="form-group">
			  <label class="form-label-bold">
				  Finish time
			  </label>
			  <div class="form-date">
				  <!-- <p class="form-hint">For example, 9 30</p>  -->
				  <div class="form-group form-group-day">
					  <label for="finish-hours">Hours</label>
					  <input class="form-control" id="finish-hours" name="finish-hours" type="number" pattern="[0-9]*">
				  </div>
				  <div class="form-group form-group-month">
					  <label for="finish-minutes">Minutes</label>
					  <input class="form-control" id="finish-minutes" name="finish-minutes" type="number" pattern="[0-9]*">
				  </div>

				  <!--
					  <div class="form-group form-group-month multiple-choice" style="margin-left:25px; margin-top:28px">
						  <input id="radio-inline-1" type="radio" name="radio-inline-group" value="AM">
						  <label for="radio-inline-1">AM</label>
					  </div>
					  <div class="form-group form-group-month multiple-choice" style="margin-left:25px; margin-top:28px">
						  <input id="radio-inline-2" type="radio" name="radio-inline-group" value="PM">
						  <label for="radio-inline-2">PM</label>
					  </div>
				  -->

			  </div>
		  </fieldset>




		  <div class="form-group">
			  <input type="submit" class="button" value="Continue">
			  <p style="margin-top:30px"><a href="/create-event/create-event-onwards">I don't know the date or time</a></p>
		  </div>

	  </form>

    </div>
  </div>
</main>

{% endblock %}


