{% extends "layout.html" %}
{% set loggedIn = true %}
{% block page_title %}

  GOV.UK prototype kit
{% endblock %}

{% block content %}

<main id="content" role="main">
  <div class="grid-row">
    <div class="column-two-thirds">


	  <!--  BREADCRUMB  -->
	  <div class="breadcrumbs">
		<ol>
			<li><a href="/account">Account home</a></li>
		</ol>
	  </div>



		<!-- CONDITIONAL ERROR  -->
		{% if errorsExist %}
			<div class="error-summary" role="alert" aria-labelledby="error-summary-heading-example-1" tabindex="-1">

				<h2 class="heading-medium error-summary-heading" id="error-summary-heading-example-1">
					Missing fields
				</h2>

				<p>
					Please check the following errors and try again.
				</p>

				<ul class="error-summary-list">
					{% if errorOrganiserMissing %}
						<li><a href="#organiser-name-area">Organiser name: missing</a></li>
					{% endif %}
					{% if errorEmailMissing %}
						<li><a href="#contact-email-area">Organiser email contact: missing</a></li>
					{% endif %}
					{% if errorInvalidEmail %}
						<li><a href="#contact-email-area">Organiser email contact: invalid</a></li>
					{% endif %}
					{% if errorPhoneMissing %}
						<li><a href="#contact-phone-area">Organiser phone number contact: missing</a></li>
					{% endif %}
					{% if errorPhoneInvalid %}
						<li><a href="#contact-phone-area">Organiser phone number contact: invalid</a></li>
					{% endif %}
					{% if errorInternalContactMissing %}
						<li><a href="#contact-internal-area">Internal contact: missing</a></li>
					{% endif %}

				</ul>

			</div>
		{% endif %}



	  <h1 class="heading-large" style="margin-top:15px">
		  Event owner and contact details
      </h1>



	  <form action="/create-event/organiser-onwards" method="get" class="form">


		  <!-- <p class="panel panel-border-narrow" style="margin-bottom:0px;">The following information will appear on your event webpage and emails.</p> -->

		  <div class="form-group {% if errorOrganiserMissing %} form-group-error {% endif %}" style="margin-top:10px;" id="organiser-name-area">

			  <label class="form-label-bold" for="organiser-name">
				  Organiser name to display on webpage<br>
				  <!-- <span class="form-hint" style="margin-bottom: 0px;">Public facing - to be displayed on your webpage.</span> -->

					  <span style="font-weight:400"></span>
				  {% if errorOrganiserMissing %}
					  <span class="error-message">
						  Please enter event organiser name
					  </span>
				  {% endif %}
			  </label>

			  <input type="text" class="form-control  {% if errorMissingTitle %} form-control-error {% endif %}"
					 id="organiser-name" name="organiser-name" value="{{ data['organiser-name'] }}" style="width: 80%">
		  </div>




		  <!--  contact from the public   -->
		  <div class="form-group {% if experienceEmpty %} form-group-error {% endif %}" style="margin-top:10px" id="contact-details-area">
			  <label class="form-label-bold" >
				  Contact details to display on webpage
			  </label>

			  <div class="form-date" style="margin-top:5px">
				  <div class="multiple-choice" style="margin-bottom:10px"  data-target="contact-email-area">
					  <input id="checkbox-contact-email" type="checkbox" name="checkbox-contact-email" value="email" {% if errorEmailSelected %} checked="checked" {% endif %}>
					  <label for="checkbox-contact-email">Email address</label>
				  </div>
				  <div class="multiple-choice" style="margin-bottom:10px"  data-target="contact-phone-area">
					  <input id="checkbox-contact-phone" type="checkbox" name="checkbox-contact-phone" value="phone" {% if errorPhoneSelected %} checked="checked" {% endif %}>
					  <label for="checkbox-contact-phone">Phone number</label>
				  </div>
			  </div>
		  </div>


		  <!-- EMAIL  -->
		  <div class=" js-hidden form-group {% if errorEmailMissing or errorInvalidEmail %} form-group-error {% endif %}" style=""  id="contact-email-area">

			  <label class="form-label-bold" for="contact-email">
				  Email address
				  {% if errorEmailMissing %}
					  <span class="error-message">
						  Please enter organiser email contact
					  </span>
				  {% elif errorInvalidEmail %}
					  <span class="error-message">
						  Please enter a valid email address
					  </span>
				  {% endif %}
			  </label>

			  <input type="text" class="form-control  {% if errorMissingTitle %} form-control-error {% endif %}"
					 id="contact-email" name="contact-email" value="{{ data['contact-email'] }}" style="width: 60%">
		  </div>


		  <!--  PHONE  -->
		  <div id="contact-phone-area" class=" js-hidden form-group {% if errorPhoneMissing or errorPhoneInvalid %} form-group-error {% endif %}" style=" margin-bottom:35px"  >

			  <label class="form-label-bold" for="contact-phone">
				  Phone number
				  {% if errorPhoneMissing %}
					  <span class="error-message">
						  Please enter organiser phone number contact
					  </span>
				  {% elif errorPhoneInvalid %}
					  <span class="error-message">
						  Please enter a valid phone number
					  </span>
				  {% endif %}
			  </label>

			  <input type="text" class="form-control  {% if errorMissingTitle %} form-control-error {% endif %}"
					 id="contact-phone" name="contact-phone" value="{{ data['contact-phone'] }}" style="width: 25%">
		  </div>



		  <!-- internal contact -->
		  <div id="contact-internal-area" class="form-group {% if errorInternalContactMissing %} form-group-error {% endif %}" style="margin-top:10px;"  >

			  <label class="form-label-bold" for="organiser-name">
				  Name of internal contact for this event<br>
				  <span class="form-hint" style="margin-bottom: 0px;">Not publicly displayed - for staff reference.</span>
				  {% if errorInternalContactMissing %}
					  <span class="error-message">
						  Please enter an internal contact
					  </span>
				  {% endif %}
			  </label>

			  <input type="text" class="form-control  {% if errorMissingTitle %} form-control-error {% endif %}"
					 id="owner-name" name="owner-name" value="{{ data['owner-name'] }}" style="width: 60%">
		  </div>




		  <div class="form-group" style="margin-top:10px">
			  <input type="submit" class="button" value="Save and continue">

			  <input type="submit" formaction="/create-event/organiser-skip" value="I'll complete this later - I don't have this information yet"
				 style="margin-top:25px; border:0px; padding:0px; background-color: transparent; color: #005ea5; text-decoration: underline; cursor: pointer; ">

			  <!--<p ><a href="/create-event/date">I'll complete this later - I don't have this information yet</a></p>-->
		  </div>

	  </form>

    </div>
  </div>
</main>

{% endblock %}


