{% extends "layout.html" %}
{% set loggedIn = true %}
{% block page_title %}

  GOV.UK prototype kit
{% endblock %}

{% block content %}

{% include "includes/gov-beta-banner.html" %}


<main id="content" role="main">

  <div class="grid-row">

    <div class="column-two-thirds">


	  <!--  BREADCRUMB  -->
	  <div class="breadcrumbs">
		<ol>
			<li><a href="/account">Account home</a></li>
		</ol>
	  </div>

		<!-- CONDITIONAL ERROR  -->
		{% if errorMissingImage %}
		<div class="error-summary" role="alert" aria-labelledby="error-summary-heading-example-1" tabindex="-1">

			<h2 class="heading-medium error-summary-heading" id="error-summary-heading-example-1">
				Message to alert the user to a problem goes here
			</h2>

			<p>
				Optional description of the errors and how to correct them
			</p>

			<ul class="error-summary-list">
				{% if errorMissingTitle %}
				<li><a href="#example-personal-details">Descriptive link to MISSING IMAGE error</a></li>
				{% endif %}
			</ul>

		</div>
		{% endif %}



	  <h1 class="heading-large" style="margin-top:15px">
		  Partner logos
      </h1>



		  <!-- MAIN IMAGE LOGO -->

		  <!-- styles to adjust checkboxes positioning. To be fixed with a cleaner solution :D -->
		  <style>
		  	.multiple-choice input {
		  		margin-top: 28px;
		  	}

		  	.multiple-choice label::before {
		  		margin-top: 27px;
		  	}

		  	.multiple-choice label::after {
		  		margin-top: 27px;
		  	}
		  </style>






			  <!--  THE PARTNER LOGOS  -->
			  <div class="form-group"
				   style="margin-top:10px; margin-bottom:20px">

				  <p style="margin-bottom:0px;">Partner logos will be displayed on the footer of your webpage.<br>Images will appear in the order that you upload them.</p>

				  <details role="group" style="width:650px;  ">
					  <summary role="button" aria-controls="details-content-0" aria-expanded="false" style="margin-top:0px;">
						  <span class="summary">Image guidance</span></summary>
					  <div class="panel panel-border-narrow" id="details-content-0" aria-hidden="true"  style="margin-top:0px; margin-bottom:30px; padding-bottom:10px;">
						  <p style="margin-bottom:10px;">  <!-- note these are made up -->
							  Minimum resolution width: 160px
							  <br>
							  Images won't be cropped or stretched.
						  </p>
					  </div>
				  </details>



				  <div id="partner-1" style="margin-bottom:30px; margin-top:30px;">
					  <label class="form-label-bold" style="margin-bottom:0px;">
						  Partner logo 1
					  </label>
					  <div id="logo-1-button" style="margin-top:2px">
						  <input type="submit" class="button-secondary" value="Choose an image" onclick="showlogo1()">
					  </div>

					  <div id="uploading-1" style="margin-top:5px; margin-bottom:20px; display:none;">
						  <img id="upload-image-1" src="/public/images/uploading.gif" style="width:217px;height:54px;">
						  <p><a style="color: #005ea5; text-decoration: underline; cursor: pointer;" onclick="hidelogo1()" >Cancel upload</a></p>
					  </div>

					  <div id="image-area-1" style="margin-top:2px; display:none">
						  <div style="display:flex; flex-direction: row;">
							  <img src="/public/images/partner11.jpg" style="width:205px;height:89px; border:1px solid #000000; margin-bottom:4px;">
							  <div style="display:flex; flex-direction: column;">
								  <p style="flex: 1 1 auto;"></p>
							  	  <p style="margin-left:10px; margin-bottom:0px; color: #005ea5; text-decoration: underline; cursor: pointer;" ><a onclick="showlogo1()">Change image</a><br>
								  	<a style="color: #005ea5; text-decoration: underline; cursor: pointer;" onclick="hidelogo1()" >Remove image</a></p>
							  </div>
						  </div>
					  </div>
				  </div>



				  <div id="partner-2" style="margin-bottom:30px; display:none;">
					  <label class="form-label-bold" style="margin-bottom:0px;">
						  Partner logo 2
					  </label>

					  <div id="logo-2-button" style="margin-top:2px; display:none;">
						  <input type="submit" class="button-secondary" value="Choose an image" onclick="showlogo2()">
					  </div>

					  <div id="uploading-2" style="margin-top:5px; margin-bottom:20px; display:none;">
						  <img id="upload-image-2" src="/public/images/uploading.gif" style="width:217px;height:54px;">
						  <p><a style="color: #005ea5; text-decoration: underline; cursor: pointer;" onclick="hidelogo2()" >Cancel upload</a></p>
					  </div>

					  <div id="image-area-2" style="margin-top:2px;">
						  <div style="display:flex; flex-direction: row;">
							  <img src="/public/images/partner12.jpg" style="width:205px;height:89px; border:1px solid #000000; margin-bottom:4px;">
							  <div style="display:flex; flex-direction: column;">
								  <p style="flex: 1 1 auto;"></p>
								  <p style="margin-left:10px; margin-bottom:0px; color: #005ea5; text-decoration: underline; cursor: pointer;" ><a onclick="showlogo2()">Change image</a><br>
									  <a style="color: #005ea5; text-decoration: underline; cursor: pointer;" onclick="hidelogo2()" >Remove image</a></p>
							  </div>
						  </div>
					  </div>
				  </div>



				  <div id="partner-3" style="margin-bottom:30px; display:none;">
					  <label class="form-label-bold" style="margin-bottom:0px;">
						  Partner logo 3
					  </label>

					  <div id="logo-3-button" style="margin-top:2px; display:none;">
						  <input type="submit" class="button-secondary" value="Choose an image" onclick="showlogo3()">
					  </div>

					  <div id="uploading-3" style="margin-top:5px; margin-bottom:20px; display:none;">
						  <img id="upload-image-3" src="/public/images/uploading.gif" style="width:217px;height:54px;">
						  <p><a style="color: #005ea5; text-decoration: underline; cursor: pointer;" onclick="hidelogo3()" >Cancel upload</a></p>
					  </div>

					  <div id="image-area-3" style="margin-top:2px;">
						  <div style="display:flex; flex-direction: row;">
							  <img src="/public/images/partner13.jpg" style="width:205px;height:89px; border:1px solid #000000; margin-bottom:4px;">
							  <div style="display:flex; flex-direction: column;">
								  <p style="flex: 1 1 auto;"></p>
								  <p style="margin-left:10px; margin-bottom:0px; color: #005ea5; text-decoration: underline; cursor: pointer;" ><a onclick="showlogo3()">Change image</a><br>
									  <a style="color: #005ea5; text-decoration: underline; cursor: pointer;" onclick="hidelogo3()">Remove image</a></p>
							  </div>
						  </div>
					  </div>
				  </div>



				  <div id="partner-4" style="margin-bottom:30px; display:none;">
					  <label class="form-label-bold" style="margin-bottom:0px;">
						  Partner logo 4
					  </label>

					  <div id="logo-4-button" style="margin-top:2px; display:none;">
						  <input type="submit" class="button-secondary" value="Choose an image" onclick="showlogo4()">
					  </div>

					  <div id="uploading-4" style="margin-top:5px; margin-bottom:20px; display:none;">
						  <img id="upload-image-4" src="/public/images/uploading.gif" style="width:217px;height:54px;">
						  <p><a style="color: #005ea5; text-decoration: underline; cursor: pointer;" onclick="hidelogo4()" >Cancel upload</a></p>
					  </div>

					  <div id="image-area-4" style="margin-top:2px;">
						  <div style="display:flex; flex-direction: row;">
							  <img src="/public/images/partner14.jpg" style="width:205px;height:89px; border:1px solid #000000; margin-bottom:4px;">
							  <div style="display:flex; flex-direction: column;">
								  <p style="flex: 1 1 auto;"></p>
								  <p style="margin-left:10px; margin-bottom:0px; color: #005ea5; text-decoration: underline; cursor: pointer;" ><a onclick="showlogo4()">Change image</a><br>
									  <a style="color: #005ea5; text-decoration: underline; cursor: pointer;" onclick="hidelogo4()">Remove image</a></p>
							  </div>
						  </div>
					  </div>
				  </div>



				  <div id="partner-5" style="margin-bottom:30px; display:none;">
					  <label class="form-label-bold" style="margin-bottom:0px;">
						  Partner logo 5
					  </label>

					  <div id="logo-5-button" style="margin-top:2px; display:none;">
						  <input type="submit" class="button-secondary" value="Choose an image" onclick="showlogo5()">
					  </div>

					  <div id="uploading-5" style="margin-top:5px; margin-bottom:20px; display:none;">
						  <img id="upload-image-5" src="/public/images/uploading.gif" style="width:217px;height:54px;">
						  <p><a style="color: #005ea5; text-decoration: underline; cursor: pointer;" onclick="hidelogo5()" >Cancel upload</a></p>
					  </div>

					  <div id="image-area-5" style="margin-top:2px;">
						  <div style="display:flex; flex-direction: row;">
							  <img src="/public/images/partner11.jpg" style="width:205px;height:89px; border:1px solid #000000; margin-bottom:4px;">
							  <div style="display:flex; flex-direction: column;">
								  <p style="flex: 1 1 auto;"></p>
								  <p style="margin-left:10px; margin-bottom:0px; color: #005ea5; text-decoration: underline; cursor: pointer;" ><a onclick="showlogo5()">Change image</a><br>
									  <a style="color: #005ea5; text-decoration: underline; cursor: pointer;" onclick="hidelogo5()">Remove image</a></p>
							  </div>
						  </div>
					  </div>
				  </div>



				  <div id="partner-6" style="margin-bottom:30px; display:none;">
					  <label class="form-label-bold" style="margin-bottom:0px;">
						  Partner logo 6
					  </label>

					  <div id="logo-6-button" style="margin-top:2px; display:none;">
						  <input type="submit" class="button-secondary" value="Choose an image" onclick="showlogo6()">
					  </div>

					  <div id="uploading-6" style="margin-top:5px; margin-bottom:20px; display:none;">
						  <img id="upload-image-6" src="/public/images/uploading.gif" style="width:217px;height:54px;">
						  <p><a style="color: #005ea5; text-decoration: underline; cursor: pointer;" onclick="hidelogo6()" >Cancel upload</a></p>
					  </div>

					  <div id="image-area-6" style="margin-top:2px;">
						  <div style="display:flex; flex-direction: row;">
							  <img src="/public/images/partner12.jpg" style="width:205px;height:89px; border:1px solid #000000; margin-bottom:4px;">
							  <div style="display:flex; flex-direction: column;">
								  <p style="flex: 1 1 auto;"></p>
								  <p style="margin-left:10px; margin-bottom:0px; color: #005ea5; text-decoration: underline; cursor: pointer;" ><a onclick="showlogo6()">Change image</a><br>
									  <a style="color: #005ea5; text-decoration: underline; cursor: pointer; color: #005ea5; text-decoration: underline; cursor: pointer;" ><a onclick="hidelogo6()">Remove image</a></p>
							  </div>
						  </div>
					  </div>
				  </div>




				  <div id="partner-another" style="margin-bottom:30px;">
					  <label class="form-label-bold" style="margin-bottom:0px;">
						  Add another logo
					  </label>
					  <div style="margin-top:2px">
						  <input type="submit" class="button-secondary" value="Choose an image" onclick="shownextlogo()">
					  </div>
				  </div>




			  </div>


		<form action="/create-event/partner-logos-onwards" method="get" class="form">

		  <div style="display:none" >
			  <input id="logo-1" name="logo-1" type="checkbox" value="logo1">
			  <input id="logo-2" name="logo-2" type="checkbox" value="logo2">
			  <input id="logo-3" name="logo-3" type="checkbox" value="logo3">
			  <input id="logo-4" name="logo-4" type="checkbox" value="logo4">
			  <input id="logo-5" name="logo-5" type="checkbox" value="logo5">
			  <input id="logo-6" name="logo-6" type="checkbox" value="logo6">
		  </div>

		  <div class="form-group" style="margin-top:20px">
			  <input type="submit" class="button" value="Save and continue">
			  <input type="submit" formaction="/create-event/partner-logos-skip" value="I'll complete this later - I don't have this information yet"
					 style="margin-top:25px; border:0px; padding:0px; background-color: transparent; color: #005ea5; text-decoration: underline; cursor: pointer; ">
		  </div>

	  	</form>

    </div>

  </div>
</main>




<script>
	// When pressing the get main image button it swap in an image



	function showlogo1()
	{
		document.getElementById('logo-1-button').style.display = 'none';
		document.getElementById('image-area-1').style.display = 'none';

		// Show the alert and then loading gif
		document.getElementById('uploading-1').style.display = 'block';
		alert("\n \n \n A window would open and you would select an image from your computer. \n \n \n" );
		document.getElementById('upload-image-1').src = '/public/images/uploading.gif';

		setTimeout(showlogo1end, 2500)
	}

	function showlogo1end()
	{
		if(document.getElementById('uploading-1').style.display != 'none')
		{
			document.getElementById('uploading-1').style.display = 'none';
			document.getElementById('image-area-1').style.display = 'block';
			document.getElementById("logo-1").checked = true;
		}
	}

	function hidelogo1()
	{
		document.getElementById('logo-1-button').style.display = 'inline';
		document.getElementById('image-area-1').style.display = 'none';
		document.getElementById("logo-1").checked = false;
		document.getElementById('uploading-1').style.display = 'none';
	}





	function showlogo2()
	{
		document.getElementById('logo-2-button').style.display = 'none';
		document.getElementById('image-area-2').style.display = 'none';

		// Show the alert and then loading gif
		document.getElementById('uploading-2').style.display = 'block';
		alert("\n \n \n A window would open and you would select an image from your computer. \n \n \n" );
		document.getElementById('upload-image-2').src = '/public/images/uploading.gif';

		setTimeout(showlogo2end, 2500)
	}

	function showlogo2end()
	{
		if(document.getElementById('uploading-2').style.display != 'none')
		{
			document.getElementById('uploading-2').style.display = 'none';
			document.getElementById('image-area-2').style.display = 'block';
			document.getElementById("logo-2").checked = true;
		}
	}

	function hidelogo2()
	{
		document.getElementById('logo-2-button').style.display = 'inline';
		document.getElementById('image-area-2').style.display = 'none';
		document.getElementById("logo-2").checked = false;
		document.getElementById('uploading-2').style.display = 'none';
	}




	function showlogo3()
	{
		document.getElementById('logo-3-button').style.display = 'none';
		document.getElementById('image-area-3').style.display = 'none';

		// Show the alert and then loading gif
		document.getElementById('uploading-3').style.display = 'block';
		alert("\n \n \n A window would open and you would select an image from your computer. \n \n \n" );
		document.getElementById('upload-image-3').src = '/public/images/uploading.gif';

		setTimeout(showlogo3end, 2500)
	}

	function showlogo3end()
	{
		if(document.getElementById('uploading-3').style.display != 'none')
		{
			document.getElementById('uploading-3').style.display = 'none';
			document.getElementById('image-area-3').style.display = 'block';
			document.getElementById("logo-3").checked = true;
		}
	}

	function hidelogo3()
	{
		document.getElementById('logo-3-button').style.display = 'inline';
		document.getElementById('image-area-3').style.display = 'none';
		document.getElementById("logo-3").checked = false;
		document.getElementById('uploading-3').style.display = 'none';
	}




	function showlogo4()
	{
		document.getElementById('logo-4-button').style.display = 'none';
		document.getElementById('image-area-4').style.display = 'none';
		// Show the alert and then loading gif
		document.getElementById('uploading-4').style.display = 'block';
		alert("\n \n \n A window would open and you would select an image from your computer. \n \n \n" );
		document.getElementById('upload-image-4').src = '/public/images/uploading.gif';

		setTimeout(showlogo4end, 2500)
	}

	function showlogo4end()
	{
		if(document.getElementById('uploading-4').style.display != 'none')
		{
			document.getElementById('uploading-4').style.display = 'none';
			document.getElementById('image-area-4').style.display = 'block';
			document.getElementById("logo-4").checked = true;
		}
	}

	function hidelogo4()
	{
		document.getElementById('logo-4-button').style.display = 'inline';
		document.getElementById('image-area-4').style.display = 'none';
		document.getElementById("logo-4").checked = false;
		document.getElementById('uploading-4').style.display = 'none';
	}




	function showlogo5()
	{
		document.getElementById('logo-5-button').style.display = 'none';
		document.getElementById('image-area-5').style.display = 'none';
		// Show the alert and then loading gif
		document.getElementById('uploading-5').style.display = 'block';
		alert("\n \n \n A window would open and you would select an image from your computer. \n \n \n" );
		document.getElementById('upload-image-5').src = '/public/images/uploading.gif';

		setTimeout(showlogo5end, 2500)
	}

	function showlogo5end()
	{
		if(document.getElementById('uploading-5').style.display != 'none')
		{
			document.getElementById('uploading-5').style.display = 'none';
			document.getElementById('image-area-5').style.display = 'block';
			document.getElementById("logo-5").checked = true;
		}
	}

	function hidelogo5()
	{
		document.getElementById('logo-5-button').style.display = 'inline';
		document.getElementById('image-area-5').style.display = 'none';
		document.getElementById("logo-5").checked = false;
		document.getElementById('uploading-5').style.display = 'none';
	}





	function showlogo6()
	{
		document.getElementById('logo-6-button').style.display = 'none';
		document.getElementById('image-area-6').style.display = 'none';
		// Show the alert and then loading gif
		document.getElementById('uploading-6').style.display = 'block';
		alert("\n \n \n A window would open and you would select an image from your computer. \n \n \n" );
		document.getElementById('upload-image-6').src = '/public/images/uploading.gif';

		setTimeout(showlogo6end, 2500)
	}

	function showlogo6end()
	{
		if(document.getElementById('uploading-6').style.display != 'none')
		{
			document.getElementById('uploading-6').style.display = 'none';
			document.getElementById('image-area-6').style.display = 'block';
			document.getElementById("logo-6").checked = true;
		}
	}

	function hidelogo6()
	{
		document.getElementById('logo-6-button').style.display = 'inline';
		document.getElementById('image-area-6').style.display = 'none';
		document.getElementById("logo-6").checked = false;
		document.getElementById('uploading-6').style.display = 'none';
	}







	function shownextlogo()
	{
		if(document.getElementById('partner-2').style.display == 'none')
		{
			document.getElementById('image-area-2').style.display = 'none';
			document.getElementById('partner-2').style.display = 'block';
			document.getElementById('uploading-2').style.display = 'block';
			alert("\n \n \n A window would open and you would select an image from your computer. \n \n \n" );
			document.getElementById('upload-image-2').src = '/public/images/uploading.gif';
			setTimeout(showlogo2end, 2500);
		}
		else if(document.getElementById('partner-3').style.display == 'none')
		{
			document.getElementById('image-area-3').style.display = 'none';
			document.getElementById('partner-3').style.display = 'block';
			document.getElementById('uploading-3').style.display = 'block';
			alert("\n \n \n A window would open and you would select an image from your computer. \n \n \n" );
			document.getElementById('upload-image-3').src = '/public/images/uploading.gif';
			setTimeout(showlogo3end, 2500);
		}
		else if(document.getElementById('partner-4').style.display == 'none')
		{
			document.getElementById('image-area-4').style.display = 'none';
			document.getElementById('partner-4').style.display = 'block';
			document.getElementById('uploading-4').style.display = 'block';
			alert("\n \n \n A window would open and you would select an image from your computer. \n \n \n" );
			document.getElementById('upload-image-4').src = '/public/images/uploading.gif';
			setTimeout(showlogo4end, 2500);
		}
		else if(document.getElementById('partner-5').style.display == 'none')
		{
			document.getElementById('image-area-5').style.display = 'none';
			document.getElementById('partner-5').style.display = 'block';
			document.getElementById('uploading-5').style.display = 'block';
			alert("\n \n \n A window would open and you would select an image from your computer. \n \n \n" );
			document.getElementById('upload-image-5').src = '/public/images/uploading.gif';
			setTimeout(showlogo5end, 2500);
		}
		else if(document.getElementById('partner-6').style.display == 'none')
		{
			document.getElementById('image-area-6').style.display = 'none';
			document.getElementById('partner-6').style.display = 'block';
			document.getElementById('uploading-6').style.display = 'block';
			alert("\n \n \n A window would open and you would select an image from your computer. \n \n \n" );
			document.getElementById('upload-image-6').src = '/public/images/uploading.gif';
			document.getElementById('partner-another').style.display = 'none';
			setTimeout(showlogo6end, 2500);
		}
	}


</script>

{% endblock %}




