{% extends "layout.html" %}
{% set loggedIn = true %}
{% block page_title %}

  GOV.UK prototype kit
{% endblock %}

{% block content %}

<main id="content" role="main">
  <div class="grid-row">
    <div class="full-grid-mode" style="margin-left:15px">


	  <!--  BREADCRUMB  -->
	  <div class="breadcrumbs">
		<ol>
			<li><a href="/account">Account home</a></li>
		</ol>
	  </div>


		<h1 class="heading-large" style="margin-top:15px;">
			Create an event
		</h1>


		<form action="/create-event/" method="get" class="form">


		<div style="display: flex; margin-right:0px;">

			<div style="flex:1">
				<p>This tool will allow you to create and publish: </p>

				<ul class="list list-bullet">
					<li>creation of your event webpage</li>
					<li>design of your event registration form</li>
					<li>setup and scheduling of your event emails</li>
				</ul>

				<p>Before you begin, it might be useful to familiarise yourself with the structure of the webpage you’ll be populating.</p>

				<p>If you’re not yet ready to complete a particular section, that’s fine. Just select the ‘I’ll complete this later’ link at the bottom of each page.</p>

				<p>All unpublished events will be saved under the ‘Draft’ tab on your account homepage - so you can keep it as a work in progress until you’re ready to publish. </p>


				<div class="form-group" style="margin-top:20px">
					<input type="submit" class="button" value="Create new event">
				</div>
			</div>


			<div style="flex:1; margin-left:40px;">
				<p class="bold" align="center" >Event webpage template</p>
				<!-- <p align="center" >The event webpage template has been designed to help visitors quickly scan key details and decide if the event is relevant.</p> -->

				<p align="center"> <a href="/create-event/example-event-image" target="_blank" >View full-size example</a> (opens in new tab)</p>

				<img src="/public/images/event-template-image.png" style="width:455px;height:728px;">
			</div>


		</div>

	  </form>

    </div>
  </div>
</main>

{% endblock %}


