{% extends "layout.html" %}

{% block page_title %}
  GOV.UK prototype kit
{% endblock %}

{% block content %}

<main id="content" role="main">
  <div class="grid-row">
    <div class="column-full">

      <h1 class="heading-large">
        Summary
      </h1>

	  <form action="/" method="get" class="form">



		  <!-- use additional modifier class to change column widths for multiple groups of questions and answers: -->
		  <!--   * `cya-questions-short` for short questions -->
		  <!--   * `cya-questions-long` for long questions -->
		  <!--   * none for single group of q&a -->
		  <dl class="govuk-check-your-answers cya-questions-short">
			  <div>
				  <dt class="cya-question">
					  Title
				  </dt>
				  <dd class="cya-answer">
					  {{ data['event-title'] }}
				  </dd>
				  <dd class="cya-change">
					  <a href="#">
						  Change<span class="visually-hidden"> name</span>
					  </a>
				  </dd>
			  </div>

			  <div>
				  <dt class="cya-question">
					  Time
				  </dt>
				  <dd class="cya-answer">
					  {{ data['event-start-time'] }} to {{ data['event-finish-time'] }}
				  </dd>
				  <dd class="cya-change">
					  <a href="#">
						  Change<span class="visually-hidden"> date of birth</span>
					  </a>
				  </dd>
			  </div>

			  <div>
				  <dt class="cya-question">
					  Date
				  </dt>
				  <dd class="cya-answer">
					  {{ data['event-day'] }} {{ data['event-month'] }} {{ data['event-year'] }}
				  </dd>
				  <dd class="cya-change">
					  <a href="#">
						  Change<span class="visually-hidden">date of birth</span>
					  </a>
				  </dd>
			  </div>

			  <div>
				  <dt class="cya-question">
					  Venue
				  </dt>
				  <dd class="cya-answer">
					  XYZ
				  </dd>
				  <dd class="cya-change">
					  <a href="#">
						  Change<span class="visually-hidden"> home address</span>
					  </a>
				  </dd>
			  </div>

			  <div>
				  <dt class="cya-question">
					  Attendee places
				  </dt>
				  <dd class="cya-answer">
					  XYZ
				  </dd>
				  <dd class="cya-change">
					  <a href="#">
						  Change<span class="visually-hidden"> contact details</span>
					  </a>
				  </dd>
			  </div>

			  <div>
				  <dt class="cya-question">
					  Event description
				  </dt>
				  <dd class="cya-answer">
					  {{ data['event-description'] }}
				  </dd>
				  <dd class="cya-change">
					  <a href="#">
						  Change<span class="visually-hidden"> contact details</span>
					  </a>
				  </dd>
			  </div>
		  </dl>





		  <div class="form-group" style="margin-top:40px">
			  <input type="submit" class="button" value="Preview event page">
		  </div>

	  </form>

    </div>
  </div>
</main>

{% endblock %}


