{% extends "layout.html" %}

{% block page_title %}
  GOV.UK prototype kit
{% endblock %}

{% block content %}

<main id="content" role="main">
  <div class="grid-row">
    <div class="column-full">

      <!--  BREADCRUMB  -->
	  <div class="breadcrumbs">
		<ol>
			<li><a href="/account">Account home</a></li>
		</ol>
	  </div>

	  <h1 class="heading-large" style="margin-top:15px">
        Summary
      </h1>

	  <br>

	  <form action="/" method="get" class="form">



		  <!-- use additional modifier class to change column widths for multiple groups of questions and answers: -->
		  <!--   * `cya-questions-short` for short questions -->
		  <!--   * `cya-questions-long` for long questions -->
		  <!--   * none for single group of q&a -->
		  <dl class="govuk-check-your-answers cya-questions-short">
			  <div>
				  <dt class="cya-question">
					  Title
				  </dt>
				  <dd class="cya-answer">
					  {{ data['event-title'] }}
				  </dd>
				  <dd class="cya-change">
					  <a href="#">
						  Change<span class="visually-hidden"> name</span>
					  </a>
				  </dd>
			  </div>

			  <div>
				  <dt class="cya-question">
					  Time
				  </dt>
				  <dd class="cya-answer">
					  {{ data['event-start-time'] }} to {{ data['event-finish-time'] }}
				  </dd>
				  <dd class="cya-change">
					  <a href="#">
						  Change<span class="visually-hidden"> date of birth</span>
					  </a>
				  </dd>
			  </div>

			  <div>
				  <dt class="cya-question">
					  Date
				  </dt>
				  <dd class="cya-answer">
					  {{ data['event-day'] }} {{ data['event-month-name'] }} {{ data['event-year'] }}
				  </dd>
				  <dd class="cya-change">
					  <a href="#">
						  Change<span class="visually-hidden">date of birth</span>
					  </a>
				  </dd>
			  </div>

			  <div>
				  <dt class="cya-question">
					  Venue
				  </dt>
				  <dd class="cya-answer" style="white-space: pre-wrap;">{{ data['full-address-holder'] }}</dd>
				  <dd class="cya-change ">
					  <a href="#">
						  Change<span class="visually-hidden">home address</span>
					  </a>
				  </dd>
			  </div>

			  <div>
				  <dt class="cya-question">
					  Attendee places
				  </dt>
				  <dd class="cya-answer">
					  {{ data['attendee-quantity'] }}
				  </dd>
				  <dd class="cya-change">
					  <a href="#">
						  Change<span class="visually-hidden"> contact details</span>
					  </a>
				  </dd>
			  </div>

			  <div>
				  <dt class="cya-question">
					  When all ticket are gone
				  </dt>
				  <dd class="cya-answer">
					  {{ data['after-tickets-gone'] }}
				  </dd>
				  <dd class="cya-change">
					  <a href="#">
						  Change<span class="visually-hidden"> contact details</span>
					  </a>
				  </dd>
			  </div>

			  <div>
				  <dt class="cya-question">
					  Event description
				  </dt>
				  <dd class="cya-answer"   style="white-space: pre-wrap;">{{ data['event-description'] }}</dd>
				  <dd class="cya-change">
					  <a href="#">
						  Change<span class="visually-hidden"> contact details</span>
					  </a>
				  </dd>
			  </div>

			  <div>
				  <dt class="cya-question">
					  Main image
				  </dt>
				  <dd class="cya-answer">
					  <img src="/public/images/exportingheroimagesmall.jpg" style="width:240px;height:100px;">
				  </dd>
				  <dd class="cya-change">
					  <a href="#">
						  Change<span class="visually-hidden"> contact details</span>
					  </a>
				  </dd>
			  </div>
		  </dl>



		  <div class="form-group" style="margin-top:40px">
			  <input type="submit" class="button" value="Preview event page">
		  </div>

	  </form>

    </div>
  </div>
</main>

{% endblock %}


