{% extends "layout.html" %}
{% set loggedIn = true %}
{% block page_title %}

  GOV.UK prototype kit
{% endblock %}

{% block content %}

<main id="content" role="main">
  <div class="grid-row">
    <div class="full-grid-mode" style="margin-left:15px; width:957px">

      <!--  BREADCRUMB  -->
	  <div class="breadcrumbs">
		<ol>
			<li><a href="/account">Account home</a></li>
		</ol>
	  </div>

	  <h1 class="heading-large" style="margin-top:15px">
        Summary
      </h1>


	  <form action="/create-event/preview" method="get" class="form">

		  <!-- use additional modifier class to change column widths for multiple groups of questions and answers: -->
		  <!--   * `cya-questions-short` for short questions -->
		  <!--   * `cya-questions-long` for long questions -->
		  <!--   * none for single group of q&a -->


		  <!-- contact details -->
		  <dl class="govuk-check-your-answers cya-questions-short" style="margin-top:35px;">

			  <div>
				  <dt class="cya-question heading-medium" style="vertical-align:top">Event ownership</dt>
				  <dd class="cya-answer">  </dd>
				  <dd class="cya-change" style="vertical-align:top">  </dd>
			  </div>

			  <div>
				  <dt class="cya-question" style="vertical-align:top">Event organiser</dt>
				  <dd class="cya-answer">
					  Department for International Trade
					  <br>{{ data['organiser-name'] }}
				  </dd>
				  <dd class="cya-change" style="vertical-align:top">
					  <a href="/create-event/change-organiser">
						  Change
					  </a>
				  </dd>
			  </div>

			  <div>
				  <dt class="cya-question" style="vertical-align:top">Contact email address</dt>
				  <dd class="cya-answer">
					  {{ data['contact-email'] }}
				  </dd>
				  <dd class="cya-change" style="vertical-align:top">
					  <a href="/create-event/change-organiser">
						  Change
					  </a>
				  </dd>
			  </div>

			  <div>
				  <dt class="cya-question" style="vertical-align:top">Contact phone number</dt>
				  <dd class="cya-answer">
					  {{ data['contact-phone'] }}
				  </dd>
				  <dd class="cya-change" style="vertical-align:top">
					  <a href="/create-event/change-organiser">
						  Change
					  </a>
				  </dd>
			  </div>


		  </dl>


		  <dl class="govuk-check-your-answers cya-questions-short" style="margin-top:45px;">

			  <div>
				  <dt class="cya-question heading-medium" style="vertical-align:top">Event webpage</dt>
				  <dd class="cya-answer">  </dd>
				  <dd class="cya-change" style="vertical-align:top">  </dd>
			  </div>



			  <div>
				  <dt class="cya-question" style="width:30%">
					  Title
				  </dt>
				  <dd class="cya-answer">
					  {{ data['event-title'] }}
				  </dd>
				  <dd class="cya-change">
					  <a href="/create-event/change-title">
						  Change
					  </a>
				  </dd>
			  </div>


			  <div>
				  <dt class="cya-question">
					  Date
				  </dt>
				  <dd class="cya-answer">
					  {{ data['event-day-of-the-week'] }}<br>{{ data['event-day'] }} {{ data['event-month-name'] }} {{ data['event-year'] }}
				  </dd>
				  <dd class="cya-change">
					  <a href="/create-event/change-date">
						  Change
					  </a>
				  </dd>
			  </div>


			  <div>
				  <dt class="cya-question">
					  Time
				  </dt>
				  <dd class="cya-answer">
					  {{ data['event-start-time'] }} to {{ data['event-finish-time'] }}
				  </dd>
				  <dd class="cya-change">
					  <a href="/create-event/change-date">
						  Change
					  </a>
				  </dd>
			  </div>


			  <div>
				  <dt class="cya-question">
					  Venue
				  </dt>
				  <dd class="cya-answer" style="white-space: pre-wrap;">{{ data['full-address-holder'] }}</dd>
				  <dd class="cya-change ">
					  <a href="/create-event/change-venue">
						  Change
					  </a>
				  </dd>
			  </div>


			  <div>
				  <dt class="cya-question">
					  Additional venue details
				  </dt>
				  <dd class="cya-answer" style="white-space: pre-wrap;">{{ data['venue-additional-notes'] }}</dd>
				  <dd class="cya-change ">
					  <a href="/create-event/change-venue">
						  Change
					  </a>
				  </dd>
			  </div>


			  <div>
				  <dt class="cya-question">
					  Target sectors
				  </dt>
				  <dd class="cya-answer"    style="white-space: pre-wrap;">{{ data['sectors'] }}</dd>
				  <dd class="cya-change" >
					  <a href="/create-event/change-title">
						  Change
					  </a>
				  </dd>
			  </div>


			  <div>
				  <dt class="cya-question">
					  Export experience
				  </dt>
				  <dd class="cya-answer"     style="white-space: pre-wrap;">{{ data['audience-experience'] }}</dd>
				  <dd class="cya-change">
					  <a href="/create-event/change-title">
						  Change
					  </a>
				  </dd>
			  </div>


			  <div>
				  <dt class="cya-question">
					  Target audience summary
				  </dt>
				  <dd class="cya-answer"     style="white-space: pre-wrap;">{{ data['summary-target-audience'] }}</dd>
				  <dd class="cya-change">
					  <a href="/create-event/change-title">
						  Change
					  </a>
				  </dd>
			  </div>


			  <div>
				  <dt class="cya-question">
					  Attendee benefits
				  </dt>
				  <dd class="cya-answer"     style="white-space: pre-wrap;">{{ data['benefits'] }}</dd>
				  <dd class="cya-change">
					  <a href="/create-event/change-description">
						  Change
					  </a>
				  </dd>
			  </div>


			  <div>
				  <dt class="cya-question">
					  Target markets
				  </dt>
				  <dd class="cya-answer"     style="white-space: pre-wrap;">{{ data['markets'] }}</dd>
				  <dd class="cya-change">
					  <a href="/create-event/change-description">
						  Change
					  </a>
				  </dd>
			  </div>


			  <div>
				  <dt class="cya-question">
					  Agenda
				  </dt>
				  <dd class="cya-answer"     style="white-space: pre-wrap;">{{ data['agenda'] }}</dd>
				  <dd class="cya-change">
					  <a href="/create-event/change-description">
						  Change
					  </a>
				  </dd>
			  </div>


			  <div>
				  <dt class="cya-question">
					  Further event details
				  </dt>
				  <dd class="cya-answer"   style="white-space: pre-wrap;">{{ data['event-description'] }}</dd>
				  <dd class="cya-change">
					  <a href="/create-event/change-description">
						  Change
					  </a>
				  </dd>
			  </div>


			  <div>
				  <dt class="cya-question" style="vertical-align:top">Main image</dt>
				  <dd class="cya-answer">
					  <img src="/public/images/exportingheroimagesmall.jpg" style="width:240px; height:100px;">
				  </dd>
				  <dd class="cya-change" style="vertical-align:top">
					  <a href="/create-event/change-images">
						  Change
					  </a>
				  </dd>
			  </div>


		  </dl>




		  <dl class="govuk-check-your-answers cya-questions-short" style="margin-top:50px;">

			  <div>
				  <dt class="cya-question heading-medium" style="vertical-align:top">Registration</dt>
				  <dd class="cya-answer">  </dd>
				  <dd class="cya-change" style="vertical-align:top">  </dd>
			  </div>


			  <div>
				  <dt class="cya-question">
					  Number of places
				  </dt>
				  <dd class="cya-answer">
					  {{ data['attendee-quantity'] }}
				  </dd>
				  <dd class="cya-change">
					  <a href="/create-event/change-attendees">
						  Change
					  </a>
				  </dd>
			  </div>


			  <div>
				  <dt class="cya-question">
					  Registration closing time
				  </dt>
				  <dd class="cya-answer">
					  {{ data['reg-close-time'] }}
				  </dd>
				  <dd class="cya-change">
					  <a href="/create-event/change-attendees">
						  Change
					  </a>
				  </dd>
			  </div>


			  <div>
				  <dt class="cya-question">
					  Message displayed when event is full
				  </dt>
				  <dd class="cya-answer" style="white-space: pre-wrap;">{{ data['sold-out-message'] }}</dd>
				  <dd class="cya-change">
					  <a href="/create-event/change-attendees">
						  Change
					  </a>
				  </dd>
			  </div>


			  {% if session.questionsData.length == 0  %}
				  <div>
					  <dt class="cya-question">
						  Additional questions
					  </dt>
					  <dd class="cya-answer" style="white-space: pre-wrap; vertical-align:top">No additional questions</dd>
					  <dd class="cya-change">
						  <a href="/create-event/change-questions">
							  Change<span class="visually-hidden">Contact details</span>
						  </a>
					  </dd>
				  </div>
			  {% endif %}


			  {% if session.questionsExist[0] %}
				  <div>
					  <dt class="cya-question">
						  Question 1<br><br>
						  Answers
					  </dt>
					  <dd class="cya-answer" style="white-space: pre-wrap; vertical-align:top">{{ session.questionsData[0][0] }}<br><br>{{ session.questionsData[0][2] }}<br>{{ session.questionsData[0][3] }}</dd>
					  <dd class="cya-change">
						  <a href="#">
							  Change<span class="visually-hidden"> contact details</span>
						  </a>
					  </dd>
				  </div>
			  {% endif %}

			  {% if session.questionsExist[1] %}
			  <div>
				  <dt class="cya-question">
					  Question 2<br><br>
					  Answers
				  </dt>
				  <dd class="cya-answer" style="white-space: pre-wrap; vertical-align:top">{{ session.questionsData[1][0] }}<br><br>{{ session.questionsData[1][2] }}<br>{{ session.questionsData[1][3] }}</dd>
				  <dd class="cya-change">
					  <a href="#">
						  Change<span class="visually-hidden"> contact details</span>
					  </a>
				  </dd>
			  </div>
			  {% endif %}

			  {% if session.questionsExist[2] %}
			  <div>
				  <dt class="cya-question">
					  Question 3<br><br>
					  Answers
				  </dt>
				  <dd class="cya-answer"   style="white-space: pre-wrap;">{{ session.questionsData[2][0] }}<br><br>{{ session.questionsData[2][2] }}<br>{{ session.questionsData[2][3] }}</dd>
				  <dd class="cya-change">
					  <a href="#">
						  Change<span class="visually-hidden"> contact details</span>
					  </a>
				  </dd>
			  </div>
			  {% endif %}

			  {% if session.questionsExist[3] %}
			  <div>
				  <dt class="cya-question">
					  Question 4<br><br>
					  Answers
				  </dt>
				  <dd class="cya-answer"   style="white-space: pre-wrap;">{{ session.questionsData[3][0] }}<br><br>{{ session.questionsData[3][2] }}<br>{{ session.questionsData[3][3] }}</dd>
				  <dd class="cya-change">
					  <a href="#">
						  Change<span class="visually-hidden"> contact details</span>
					  </a>
				  </dd>
			  </div>
			  {% endif %}

			  {% if session.questionsExist[4] %}
			  <div>
				  <dt class="cya-question">
					  Question 5<br><br>
					  Answers
				  </dt>
				  <dd class="cya-answer"   style="white-space: pre-wrap;">{{ session.questionsData[4][0] }}<br><br>{{ session.questionsData[4][2] }}<br>{{ session.questionsData[4][3] }}</dd>
				  <dd class="cya-change">
					  <a href="#">
						  Change<span class="visually-hidden"> contact details</span>
					  </a>
				  </dd>
			  </div>
			  {% endif %}



		  </dl>


		  <dl class="govuk-check-your-answers cya-questions-short" style="margin-top:45px;">

			  <div>
				  <dd class="cya-answer heading-medium" style="vertical-align:top">Confirmation and reminders</dd>
				  <dd class="cya-change" style="vertical-align:top">  </dd>
			  </div>

		  </dl>


		  <dl class="govuk-check-your-answers cya-questions-short" style="margin-top:10px;">

			  <!--   EMAIL TEMPLATES  -->

			  <div>
				  <dt class="cya-question" style="vertical-align:top">Registration message</dt>
				  <dd class="cya-answer">
					  Your event booking ...
				  </dd>
				  <dd class="cya-change" style="vertical-align:top">
					  <a href="/create-event/change-registration-message">
						  Change
					  </a>
				  </dd>
			  </div>


			  <div>
				  <dt class="cya-question" style="vertical-align:top">Reminder message</dt>
				  <dd class="cya-answer">
					  Reminder of your upcoming event ...
				  </dd>
				  <dd class="cya-change" style="vertical-align:top">
					  <a href="/create-event/change-reminder-message">
						  Change
					  </a>
				  </dd>
			  </div>

			  <div>
				  <dt class="cya-question" style="vertical-align:top">Reminder send time</dt>
				  <dd class="cya-answer">
					  {{ data['email-reminder-1'] }} days before the event
				  </dd>
				  <dd class="cya-change" style="vertical-align:top">
					  <a href="/create-event/change-reminder-message">
						  Change
					  </a>
				  </dd>
			  </div>

			  {% if  data['email-reminder-2'] != 0 %}
				  <div>
					  <dt class="cya-question" style="vertical-align:top">Second reminder send time</dt>
					  <dd class="cya-answer">
						  {{ data['email-reminder-2'] }} days before the event
					  </dd>
					  <dd class="cya-change" style="vertical-align:top">
						  <a href="/create-event/change-reminder-message">
							  Change
						  </a>
					  </dd>
				  </div>
			  {% endif %}



		  </dl>




		  <div class="form-group" style="margin-top:50px">
			  <input type="submit" class="button" value="Preview event page">
			  <p style="margin-top:30px"><a href="/account">Account home</a></p>
		  </div>

	  </form>

    </div>
  </div>
</main>

{% endblock %}


