{% extends "layout.html" %}
{% set loggedIn = true %}
{% block page_title %}

  GOV.UK prototype kit
{% endblock %}

{% block content %}

<main id="content" role="main">
  <div class="grid-row">
    <div class="full-grid-mode" style="margin-left:15px">


	  <!--  BREADCRUMB  -->
	  <div class="breadcrumbs">
		<ol>
			<li><a href="/account">Account home</a></li>
		</ol>
	  </div>




	  <h1 class="heading-large" style="margin-top:15px; margin-bottom:35px">
		  Set event registration message
      </h1>


	  <p style="margin-bottom:40px;">A confirmation email will automatically be sent to every new person who registers for this event.</p>


	  <form action="/create-event/template-reg-onwards" method="get" class="form">

		  <p class="heading-small">Email subject</p>

		  <div id="email-reg-subject-section" class="form-group panel panel-border-narrow" >
			  <p style="margin-left:5px; ">Your event booking - {{data['event-title']}}</p>
		  </div>


		  <p class="heading-small">Email body</p>

		  <div id="email-reg-body-section" class="form-group panel panel-border-narrow" style="margin-top:10px;">



		  <p style="margin-left:5px; margin-bottom:5px; ">Dear [NAME]<br><br>

			 Thank you for deciding to join us for the following event
			  <br>
			  <br>{{data['event-title']}}
			  <br>
			  <br>{{ data['event-day-of-the-week'] }}
			  <br>{{data['event-day'] }} {{ data['event-month-name'] }} {{ data['event-year'] }}
			  <br>{{data['event-start-time'] }} to {{ data['event-finish-time'] }}
		  </p>
		  <p style="margin-left:5px; margin-top:5px;"><a href="#">Add to calendar</a></p>


		  <p class="heading-small" style="margin-left:5px; ">Venue</p>
		  <p style="white-space: pre-wrap; margin-left:5px; margin-bottom:5px; ">{{ data['full-address-holder'] }}</p>

		  <p style="margin-left:5px; margin-top:5px;"><a href="#">Map of venue</a></p>

		  {% if data['venue-additional-notes-entered'] == true %}
			  <p class="heading-small" style="margin-left:5px; ">Additional venue details</p>
			  <p style="margin-left:5px; margin-top:5px; margin-bottom:40px;">  {{ data['venue-additional-notes'] }} </p>
		  {% endif %}

					<textarea class="form-control" name="event-reg-body" id="event-reg-body" rows="20" style="width: 80%;"
					>We really hope that you enjoy the experience and that it will be a valuable part of your business export journey with us.

Remember to regularly check the event web page for latest additions to the agenda, confirmed speakers and experts - plus a list of fellow attendees that could prove useful for networking opportunities.
[EVENT PAGE LINK]

If you have any questions or special requests that will help you to get the most out of the day, please don't hesitate to get in touch. We'd be happy to assist.

We look forward to seeing you on the day.

Best wishes,

Department for International Trade
{{ data['organiser-name'] }}

{{ data['contact-email'] }}
{{ data['contact-phone'] }}</textarea>


		  </div>


		  <div class="form-group" style="margin-top:10px">
			  <input type="submit" class="button" value="Save and continue">
		  </div>

	  </form>

    </div>
  </div>
</main>

{% endblock %}


