{% extends "layout.html" %}
{% set loggedIn = true %}
{% block page_title %}

  GOV.UK prototype kit
{% endblock %}

{% block content %}

<main id="content" role="main">
  <div class="grid-row">
    <div class="full-grid-mode" style="margin-left:15px">


	  <!--  BREADCRUMB  -->
	  <div class="breadcrumbs">
		<ol>
			<li><a href="/account">Account home</a></li>
		</ol>
	  </div>


		{% if errorMissingSubject %}
		<div class="error-summary" role="alert" aria-labelledby="error-summary-heading-example-1" tabindex="-1">

			<h2 class="heading-medium error-summary-heading" id="error-summary-heading-example-1">
				Invalid or missing fields
			</h2>

			<p>
				Please check the following errors and try again
			</p>

			<ul class="error-summary-list">

				<!--  DATE ERRORS  -->
				{% if errorMissingSubject %}
					<li><a href="#email-reg-subject-section">Subject line: missing</a></li>
				{% endif %}

			</ul>

		</div>
		{% endif %}




	  <h1 class="heading-large" style="margin-top:15px; margin-bottom:35px">
		  Registration confirmation email
      </h1>


	  <p style="margin-bottom:40px;">Each person who registers for your event will receive the following confirmation email.</p>


	  <form action="/create-event/template-reg-onwards" method="get" class="form">

		  <p class="heading-small">Email subject</p>

		  <div id="email-reg-subject-section" class="form-group panel panel-border-narrow {% if errorMissingSubject %} form-group-error {% endif %}" >
			  {% if errorMissingSubject %} <p class="error-message">Please enter an email subject line</p> {% endif %}
			  <input type="text" class="form-control  {% if errorMissingSubject %} form-control-error {% endif %}"
					 id="event-email-reg-subject" name="event-email-reg-subject" value="{{ session.data['event-email-reg-subject'] }}" style="width: 80%">
		  </div>


		  <p class="heading-small">Email body</p>

		  <div id="email-reg-body-section" class="form-group panel panel-border-narrow" style="margin-top:10px;">



		  <p style="margin-left:5px; margin-bottom:5px; ">Dear [NAME]<br><br>

			 Thank you for deciding to join us for the following event
			  <br>
			  <br>
		  </p>

			  <table style="margin-left:5px; margin-bottom:50px; width:745px;">
				  <!--<caption class="heading-small" style="text-align:left">Your booking details</caption> -->
				  <tbody>

				  <tr>
					  <td style="width:150px; margin-right:30px;">Event title</td>

					  {% if session.data['event-title-error'] %}
					  	<td>Not yet entered</td>
					  {% else %}
					  	<td>{{ data['event-title'] }}</td>
					  {% endif %}

				  </tr>
				  <tr>
					  <td>Date and time</td>
					  {% if session.data['date-error'] %}
					  	  <td>Not yet entered</td>
					  {% else %}
						  <td>{{ data['event-day-of-the-week'] }}
							  <br>{{data['event-day'] }} {{ data['event-month-name'] }} {{ data['event-year'] }}
							  <br>{{data['event-start-time'] }} to {{ data['event-finish-time'] }}
							  <br><a href="#">Add to calendar</a>
						  </td>
					  {% endif %}
				  </tr>

				  <tr>
					  <td>Venue</td>

					  {% if session.data['full-address-holder-error'] %}
					  	<td>Not yet entered</td>
					  {% else %}
					  	<td style="white-space: pre-wrap; ">{{ data['full-address-holder'] }}
						  <a href="#">Map of venue</a></td>
					  {% endif %}
				  </tr>

				  {% if data['venue-additional-notes-entered'] == true %}
				  <tr>
					  <td>Parking and directions</td>
					  <td>{{ data['venue-additional-notes'] }}</td>
				  </tr>
				  {% endif %}

				  <tr>
					  <td>Name of attendee</td>
					  <td>[NAME]</td>
				  </tr>

				  <tr>
					  <td>Business </td>
					  <td>[BUSINESS NAME]</td>
				  </tr>

				  <tr>
					  <td style="width:150px; padding-right:40px;">Organiser contact details</td>
					  <td>{{ data['organiser-name'] }}
						  <br> {{ data['contact-email'] }}
						  <br> {{ data['contact-phone'] }}</td>
				  </tr>

				  <tr>
					  <td>Webpage</td>
					  <td><a href="#">[EVENT PAGE LINK]</a></td>
				  </tr>

				  </tbody>
			  </table>

					<textarea class="form-control" name="event-reg-body" id="event-reg-body" rows="16" style="width: 80%;"
					>Remember to regularly check the event web page for latest additions to the agenda, confirmed speakers and experts.

If you have any questions or special requests that will help you to get the most out of the day, please don't hesitate to get in touch. We'd be happy to assist.

We look forward to seeing you on the day.

Best wishes,

{{ data['organiser-name'] }}

</textarea>


			  <!-- CANCEL -->
			  <p class="bold" style="margin-top:30px; margin-bottom:5px;">No longer able to attend this event? </p>
			  <p>Please let us know if [you need to cancel] so that we can free up additional spaces for others.</p>


		  </div>


		  <div class="form-group" style="margin-top:10px">
			  <input type="submit" class="button" value="Save and continue">

			  <input type="submit" formaction="/create-event/template-reg-skip" value="I'll complete this later - I don't have this information yet"
					 style="margin-top:25px; border:0px; padding:0px; background-color: transparent; color: #005ea5; text-decoration: underline; cursor: pointer; width:800px; text-align: left;">
		  </div>

	  </form>

    </div>
  </div>
</main>

{% endblock %}


