{% extends "layout.html" %}
{% set loggedIn = true %}
{% block page_title %}

GOV.UK prototype kit
{% endblock %}

{% block content %}

<main id="content" role="main">
	<div class="grid-row">
		<div class="full-grid-mode" style="margin-left:15px">


			<!--  BREADCRUMB  -->
			<div class="breadcrumbs">
				<ol>
					<li><a href="/account">Account home</a></li>
				</ol>
			</div>


			<h1 class="heading-large" style="margin-top:15px; margin-bottom:35px">
				Set event reminder message
			</h1>


			<form action="/create-event/template-reminder-onwards" method="get" class="form">


				<fieldset class="form-group" style="margin-bottom:0px">

					<label class="form-label-bold" for="email-reminder-1">
						When to send reminder
					</label>
					<!-- <p class="form-hint">For example, 31 3 1980</p>  -->
					<div class="form-group-day form-date">

						<input class="form-control  {% if errorAttendee %} form-control-error {% endif %}"
							   id="email-reminder-1" name="email-reminder-1" type="number" pattern="[0-9]*"
							   value="2" style="float: left; width:50px;">
						<p style="float: left; margin-left:10px; margin-top:8px;">days before event</p>
					</div>
				</fieldset>

				<p id="add-second-reminder"
				   style="color: #005ea5; text-decoration: underline; cursor: pointer; margin-top:20px; margin-bottom:0px;"
				   onclick="showSecondReminder()">Add another reminder</p>


				<div id="second-reminder-section"  style="display:none; ">
					<fieldset class="form-group" style="margin-bottom:0px; margin-top:20px;" >

						<label class="form-label-bold" for="email-reminder-2">
							Second reminder
						</label>
						<!-- <p class="form-hint">For example, 31 3 1980</p>  -->
						<div class="form-group-day form-date">

							<input class="form-control  {% if errorAttendee %} form-control-error {% endif %}"
								   id="email-reminder-2" name="email-reminder-2" type="number" pattern="[0-9]*"
								   value="0" style="float: left; width:50px;">
							<p style="float: left; margin-left:10px; margin-top:8px;"> days before event</p>

						</div>

					</fieldset>
					<p id="remove-second-reminder"
					   style="color: #005ea5; text-decoration: underline; cursor: pointer; margin-top:20px; margin-bottom:0px;"
					   onclick="hideSecondReminder()">Remove this reminder</p>
				</div>



				<p class="heading-small" style="margin-top:50px;" >Email subject</p>

				<div id="email-reg-subject-section" class="form-group panel panel-border-narrow" >
					<input type="text" class="form-control  {% if errorMissingTitle %} form-control-error {% endif %}"
						   id="event-title" name="event-title" value="Reminder of your upcoming event" style="width: 80%">
				</div>


				<p class="heading-small">Email body</p>

				<div id="email-reg-body-section" class="form-group panel panel-border-narrow" style="margin-top:10px;">

					<p style="margin-left:5px;  margin-bottom:5px;">Dear [NAME]<br><br>
						We're getting in touch to remind you about your upcoming event
						<br>
						<br>{{ data['event-day-of-the-week'] }}
						<br>{{data['event-day'] }} {{ data['event-month-name'] }} {{ data['event-year'] }}
						<br>{{data['event-start-time'] }} to {{ data['event-finish-time'] }}
					</p>
					<p style="margin-left:5px; margin-top:5px;"><a href="#">Add to calendar</a></p>


					<!-- VENUE -->
					<p class="heading-small" style="margin-left:5px; ">Venue</p>
					<p style="white-space: pre-wrap; margin-left:5px; margin-bottom:5px; ">{{ data['full-address-holder'] }}</p>

					<p style="margin-left:5px; margin-top:5px;"><a href="#">Map of venue</a></p>

					{% if data['venue-additional-notes-entered'] == true %}
					<p class="heading-small" style="margin-left:5px; ">Parking and directions</p>
					<p style="margin-left:5px; margin-top:5px; margin-bottom:40px;">  {{ data['venue-additional-notes'] }} </p>
					{% endif %}

					<p class="heading-small" style="margin-left:5px; ">Organiser contact details</p>
					<p style="margin-left:5px;" >{{ data['organiser-name'] }}
						<br> {{ data['contact-email'] }}
						<br> {{ data['contact-phone'] }}
					</p>



					<textarea class="form-control" name="event-reminder-body" id="event-reminder-body" rows="12" style="width: 80%;"
					>If you have any questions or special requests that will help you to get the most out of the day, please don't hesitate to get in touch. We'd be happy to assist.

We look forward to seeing you on the day.

Best wishes,

{{ data['organiser-name'] }}




					</textarea>


				</div>


				<div class="form-group" style="margin-top:10px">
					<input type="submit" class="button" value="Save and continue">
					<p style="margin-top:25px"><a href="/create-event/template-reminder-onwards">I'll complete this later - I don't have this information yet</a></p>
				</div>

			</form>

		</div>
	</div>
</main>

{% endblock %}


{% block page_scripts %}
<script>

	// SHOW AND HIDE THE SEOND REMINDER OPTION
	function showSecondReminder()
	{
		document.getElementById('add-second-reminder').style.display = 'none';
		document.getElementById('second-reminder-section').style.display = 'block';
		document.getElementById('email-reminder-2').value = '10';
	}

	function hideSecondReminder()
	{
		document.getElementById('add-second-reminder').style.display = 'block';
		document.getElementById('second-reminder-section').style.display = 'none';
		document.getElementById('email-reminder-2').value = '0';
	}

</script>
{% endblock %}