{% extends "layout.html" %}
{% set loggedIn = true %}
{% block page_title %}

GOV.UK prototype kit
{% endblock %}

{% block content %}

<main id="content" role="main">
	<div class="grid-row">
		<div class="full-grid-mode" style="margin-left:15px">


			<!--  BREADCRUMB  -->
			<div class="breadcrumbs">
				<ol>
					<li><a href="/account">Account home</a></li>
				</ol>
			</div>




			<h1 class="heading-large" style="margin-top:15px; margin-bottom:35px">
				Set event reminder message
			</h1>


			<form action="/create-event/template-reminder-onwards" method="get" class="form">

				<p class="heading-small">Email subject</p>

				<div id="email-reg-subject-section" class="form-group panel panel-border-narrow" >
					<p style="margin-left:5px; ">Reminder of your upcoming event</p>
				</div>


				<p class="heading-small">Email body</p>

				<div id="email-reg-body-section" class="form-group panel panel-border-narrow" style="margin-top:10px;">



					<p style="margin-left:5px; ">Dear [NAME]<br><br>

						We're getting in touch to remind you about your upcoming event
						<br>
						<br>{{data['event-title']}}
						<br>
						<br>{{data['event-day'] }} {{ data['event-month-name'] }} {{ data['event-year'] }}
						<br>{{data['event-start-time'] }} to {{ data['event-finish-time'] }}
					</p>
					<p style="white-space: pre-wrap; margin-left:5px; ">{{data['full-address-holder'] }}</p>



					<textarea class="form-control" name="event-reminder-body" id="event-reminder-body" rows="12" style="width: 80%;"
					>If you have any questions or special requests that will help you to get the most out of the day, please don't hesitate to get in touch. We'd be happy to assist.

We look forward to seeing you on the day.

Best wishes,

Department for International Trade
{{ data['organiser-name'] }}

{{ data['contact-email'] }}
{{ data['contact-phone'] }}</textarea>


				</div>


				<div class="form-group" style="margin-top:10px">
					<input type="submit" class="button" value="Save and continue">
				</div>

			</form>

		</div>
	</div>
</main>

{% endblock %}


