{% extends "layout.html" %}
{% set loggedIn = true %}
{% block page_title %}

  GOV.UK prototype kit
{% endblock %}

{% block content %}

<main id="content" role="main">
  <div class="grid-row">
    <div class="column-two-thirds">

	  <!--  BREADCRUMB  -->
	  <div class="breadcrumbs">
		<ol>
			<li><a href="/account">Account home</a></li>
		</ol>
	  </div>


	  <!-- CONDITIONAL ERROR  -->
		{% if errorAttendee %}
		<div class="error-summary" role="alert" aria-labelledby="error-summary-heading-example-1" tabindex="-1">

			<h2 class="heading-medium error-summary-heading" id="error-summary-heading-example-1">
				Message to alert the user to a problem goes here
			</h2>

			<p>
				Optional description of the errors and how to correct them
			</p>

			<ul class="error-summary-list">
				<li><a href="#example-personal-details">Descriptive link to the question with an error</a></li>
			</ul>

		</div>
      {% endif %}

	  <h1 class="heading-large" style="margin-top:15px">
        Tickets
      </h1>


	  <form action="/create-event/tickets-onwards" method="get" class="form">

		  <!--   PLACES  -->
		  <fieldset class="form-group {% if errorAttendee %} form-group-error {% endif %}">

			  <label class="form-label-bold">
				  The maximum number of registrations allowed for this event?
				  {% if errorAttendee %}
					  <span class="error-message">
						  Error message about personal details goes here
					  </span>
				  {% endif %}
			  </label>


			  <div class="form-date">
					<!-- <p class="form-hint">For example, 31 3 1980</p>  -->
				  <div class="form-group form-group-day">
					   <input class="form-control  {% if errorAttendee %} form-control-error {% endif %}"
							  id="attendee-quantity" name="attendee-quantity" type="number" pattern="[0-9]*"
							  value="{{ data['attendee-quantity'] }}">
				  </div>
			  </div>


			  <div style="">
				  <details role="group" style="width:650px;  ">
					  <summary role="button" aria-controls="details-content-0" aria-expanded="false" style="margin-top:10px;"><span class="summary">How availability will be displayed</span></summary>
					  <div class="panel panel-border-narrow" id="details-content-0" aria-hidden="true"  style="margin-top:0px; margin-bottom:30px; padding-bottom:10px;">
						  <p>
							  Overall event capacity won't be made public - but as soon as 10 or fewer tickets remain, a message will display on the webpage.
						  </p>
					  </div>
				  </details>
			  </div>

		  </fieldset>



		  <fieldset class="form-group">
			  <!--  message user will see when all tickets are gone -->
			  <div class="form-group" style="margin-top:0px; margin-bottom:0px">
				  <label class="form-label-bold" for="sold-out-message">
					  Set a message to display once the registration limit has been reached
				  </label>
				  <p style="margin-top:5px; margin-bottom:5px">A waiting list feature will be introduced soon. In the meantime, you may want to use this space to communicate waiting list instructions.</p>
				  <textarea class="form-control" name="sold-out-message" id="sold-out-message" rows="3" style="width: 100%;">{{ data['sold-out-message'] }}</textarea>
			  </div>
		  </fieldset>



		  <fieldset class="form-group" style="margin-bottom:0px; margin-top:10px;">

			  <label class="form-label-bold">
				  Do you want to close registrations early
			  </label>
			  <div class="form-date" style="margin-top:5px">
				  <div class="multiple-choice" style="margin-bottom:10px">
					  <input id="radio-days-before-no" type="radio" name="radio-close-early-yes-no" value="no" checked="checked">
					  <label for="radio-days-before-no">No</label>
				  </div>
				  <div class="multiple-choice" style="margin-bottom:10px"  data-target="date-selection-area">
					  <input id="radio-days-before-yes" type="radio" name="radio-close-early-yes-no" value="yes" >
					  <label for="radio-days-before-yes">Yes - close registration early</label>
				  </div>
			  </div>
		  </fieldset>


			  <div class="form-group panel panel-border-narrow js-hidden" id="date-selection-area">

				  <div style="width:100%">
					  <label class="form-label-bold">
						  Close date
					  </label>

		  			<fieldset>
					  <div class="" style="margin-top:5px"  style="width:100%">
						  <div class="multiple-choice" style="margin-bottom:10px; width:100%;" >
							  <input id="radio-days-before-1" type="radio" name="radio-days-before" value="oneday" >
							  <label for="radio-days-before-1">{{ data['days-before-1'] }}</label>
						  </div>
						  <div class="multiple-choice" style="margin-bottom:10px; width:100%;">
							  <input id="radio-days-before-2" type="radio" name="radio-days-before" value="twoday" >
							  <label for="radio-days-before-2">{{ data['days-before-2'] }}</label>
						  </div>
						  <div class="multiple-choice" style="margin-bottom:10px; width:100%;">
							  <input id="radio-days-before-3" type="radio" name="radio-days-before" value="threeday" >
							  <label for="radio-days-before-3">{{ data['days-before-3'] }}</label>
						  </div><!--
						  <div class="multiple-choice" style="margin-bottom:10px">
							  <input id="radio-days-before-4" type="radio" name="radio-days-before" value="">
							  <label for="radio-days-before-4">{{ data['days-before-4'] }}</label>
						  </div>
						  -->
						  <div class="multiple-choice" style="margin-bottom:10px; width:100%;" data-target="specific-date">
							  <input id="radio-days-before-other" type="radio" name="radio-days-before" value="differentdate" >
							  <label for="radio-days-before-other">Another date</label>
						  </div>
					  </div>
				  </fieldset>


				  <fieldset>
					  <div class="js-hidden" id="specific-date"  style="width:100%;">

						  <label class="form-label-bold" for="dates" style="width:100%;">
							  Enter close date
						  </label>

						  <div class="form-date" id="dates" style="width:100%;">

							  <!-- <p class="form-hint">For example, 31 3 1980</p>  -->
							  <div class="form-group form-group-day">
								  <label for="event-day-close">Day</label>
								  <input class="form-control  {% if errorDayFound %} form-control-error {% endif %}"
										 id="event-day-close" name="event-day-close" type="number" pattern="[0-9]*" value="{{ data['event-day-close'] }}">
							  </div>

							  <div class="form-group form-group-month">
								  <label for="event-month-close">Month</label>
								  <input class="form-control  {% if errorMonthFound %} form-control-error {% endif %}"
										 id="event-month-close" name="event-month-close" type="number"  value="{{ data['event-month-close'] }}">
							  </div>

							  <div class="form-group form-group-year">
								  <label for="event-year-close">Year</label>
								  <input class="form-control   {% if errorYearFound %} form-control-error {% endif %}"
										 id="event-year-close" name="event-year-close" type="number"  value="{{ data['event-year-close'] }}">
							  </div>

							  <div style="width:100%">&nbsp;<br>&nbsp;<br>&nbsp;</div>

						  </div>
					  </div>
					</fieldset>


				  </div>


				  <!-- FINISH TIME -->
				  <div style="width:100%">&nbsp;</div>


		  		<fieldset>
				  <!-- time -->
				  <div style="width:100%; display:block;">

					  <label class="form-label-bold" style="margin-top:0px";>
						  Close time

						  {% if errorOnFinishHour %}
							  <span class="error-message">
								  Please enter a valid hour (0 to 23)
							  </span>
						  {% endif %}

						  {% if errorOnFinishMinutes %}
							  <span class="error-message">
								  Please enter a valid minute (0 to 59)
							  </span>
						  {% endif %}

					  </label>

					  <div class="form-date" >
						  <!-- <p class="form-hint">For example, 9 30</p>  -->
						  <div class="form-group form-group-day">
							  <label for="close-hours">Hours</label>
							  <input class="form-control  {% if errorOnFinishHour %} form-control-error {% endif %}"
									 id="close-hours" name="close-hours" type="number" pattern="[0-9]*"  value="12">
						  </div>
						  <div class="form-group form-group-month">
							  <label for="close-minutes">Minutes</label>
							  <input class="form-control  {% if errorOnFinishMinutes %} form-control-error {% endif %}"
									 id="close-minutes" name="close-minutes" type="number" pattern="[0-9]*" value="00" >
						  </div>
					  </div>
				  </div>

		  		</fieldset>

			  </div>





		  <div class="form-group" style="margin-top:40px">
			  <input type="submit" class="button" value="Save and continue">
			  <p style="margin-top:25px"><a href="/create-event/attendees">I'll complete this later - I don't have this information yet</a></p>
		  </div>



	  </form>

    </div>
  </div>
</main>



<script>

	function showAnotherQuestion()
	{
		if(document.getElementById('q-1-section').style.display == 'none')
		{
			document.getElementById('q-1-section').style.display = 'inline';
		}
		else if (document.getElementById('q-2-section').style.display == 'none')
		{
			document.getElementById('q-2-section').style.display = 'inline';
		}
		else if (document.getElementById('q-3-section').style.display == 'none')
		{
			document.getElementById('q-3-section').style.display = 'inline';
		}
		else if (document.getElementById('q-4-section').style.display == 'none')
		{
			document.getElementById('q-4-section').style.display = 'inline';
		}
		else if (document.getElementById('q-5-section').style.display == 'none')
		{
			document.getElementById('q-5-section').style.display = 'inline';
			document.getElementById('add-question-button').style.display = 'none';
		}


	}
</script>


{% endblock %}


