{% extends "layout.html" %}

{% block page_title %}
  GOV.UK prototype kit
{% endblock %}

{% block content %}

<main id="content" role="main">
  <div class="grid-row">
    <div class="column-two-thirds">

	  <!--  BREADCRUMB  -->
	  <div class="breadcrumbs">
		<ol>
			<li><a href="/account">Account home</a></li>
		</ol>
	  </div>


	  <!-- CONDITIONAL ERROR  -->
		{% if errorAttendee %}
		<div class="error-summary" role="alert" aria-labelledby="error-summary-heading-example-1" tabindex="-1">

			<h2 class="heading-medium error-summary-heading" id="error-summary-heading-example-1">
				Message to alert the user to a problem goes here
			</h2>

			<p>
				Optional description of the errors and how to correct them
			</p>

			<ul class="error-summary-list">
				<li><a href="#example-personal-details">Descriptive link to the question with an error</a></li>
			</ul>

		</div>
      {% endif %}

	  <h1 class="heading-large" style="margin-top:15px">
        Tickets
      </h1>


	  <form action="/create-event/tickets-onwards" method="get" class="form">

		  <!--   PLACES  -->
		  <fieldset class="form-group">

			  {% if errorAttendee %}
			  	<div class="form-group  form-group-error">
			  {% endif %}

				  <label class="form-label-bold">
					  Event capacity
					  {% if errorAttendee %}
						  <span class="error-message">
							  Error message about personal details goes here
						  </span>
					  {% endif %}
				  </label>


				  <div class="form-date">
						<!-- <p class="form-hint">For example, 31 3 1980</p>  -->
					  <div class="form-group form-group-day">
						   <input class="form-control  {% if errorAttendee %} form-control-error {% endif %}"
								  id="attendee-quantity" name="attendee-quantity" type="number" pattern="[0-9]*"
								  value="{{ data['attendee-quantity'] }}">
				      </div>
				  </div>

			  {% if errorAttendee %}
				</div>
			  {% endif %}

		  </fieldset>


		  <fieldset class="form-group">
			  <!--  message user will see when all tickets are gone -->
			  <div class="form-group" style="margin-top:0px; margin-bottom:0px">
				  <label class="form-label-bold" for="sold-out-message">
					  Message when event reaches capacity (optional)
				  </label>
				  <textarea class="form-control" name="sold-out-message" id="sold-out-message" rows="2" style="width: 100%;"></textarea>
			  </div>
		  </fieldset>



		  <fieldset class="form-group" style="margin-bottom:0px">

				  <label class="form-label-bold" for="sold-out-message">
					  Close registration before event (optional)
				  </label>
				  <!-- <p class="form-hint">For example, 31 3 1980</p>  -->
				  <div class="form-group form-group-day form-date">

					  <input class="form-control  {% if errorAttendee %} form-control-error {% endif %}"
							 id="close-reg-early-days" name="close-reg-early-days" type="number" pattern="[0-9]*"
							 value="{{ data['close-reg-early-days'] }}" style="float: left; width:50px;">
					  <p style="float: left; margin-left:10px; margin-top:8px;"> days before event</p>
			  	  </div>
		  </fieldset>



		  <div class="form-group" style="margin-top:0px">
			  <input type="submit" class="button" value="Save and continue">
			  <!-- <p style="margin-top:30px"><a href="/create-event/summary">There is no limit</a></p>  -->
		  </div>



	  </form>

    </div>
  </div>
</main>



<script>

	function showAnotherQuestion()
	{
		if(document.getElementById('q-1-section').style.display == 'none')
		{
			document.getElementById('q-1-section').style.display = 'inline';
		}
		else if (document.getElementById('q-2-section').style.display == 'none')
		{
			document.getElementById('q-2-section').style.display = 'inline';
		}
		else if (document.getElementById('q-3-section').style.display == 'none')
		{
			document.getElementById('q-3-section').style.display = 'inline';
		}
		else if (document.getElementById('q-4-section').style.display == 'none')
		{
			document.getElementById('q-4-section').style.display = 'inline';
		}
		else if (document.getElementById('q-5-section').style.display == 'none')
		{
			document.getElementById('q-5-section').style.display = 'inline';
			document.getElementById('add-question-button').style.display = 'none';
		}


	}
</script>


{% endblock %}


