{% extends "layout.html" %}
{% set loggedIn = true %}
{% block page_title %}

  GOV.UK prototype kit
{% endblock %}

{% block content %}

<main id="content" role="main">
  <div class="grid-row">
    <div class="column-two-thirds">

	  <!--  BREADCRUMB  -->
	  <div class="breadcrumbs">
		<ol>
			<li><a href="/account">Account home</a></li>
		</ol>
	  </div>


	  <!-- CONDITIONAL ERROR  -->
		{% if errorAttendee %}
		<div class="error-summary" role="alert" aria-labelledby="error-summary-heading-example-1" tabindex="-1">

			<h2 class="heading-medium error-summary-heading" id="error-summary-heading-example-1">
				Message to alert the user to a problem goes here
			</h2>

			<p>
				Optional description of the errors and how to correct them
			</p>

			<ul class="error-summary-list">

				{% if errorMissingCapacity %}
					<li><a href="#capacity-section">Event capacity: missing</a></li>
				{% elif errorInvalidCapacity %}
					<li><a href="#capacity-section">Event capacity: invalid entry</a></li>
				{% endif %}
				{% if errorMissingCapacityMessage %}
					<li><a href="#close-message-area">Event capacity message: missing</a></li>
				{% endif %}

				{% if errorMissingCloseDate %}
					<li><a href="#closing-date-time">Custom closing date: missing</a></li>
				{% elif errorMissingCustomCloseDate %}
					<li><a href="#closing-date-time">Custom closing date: date missing</a></li>
				{% elif errorInvalidCustomCloseDate %}
					<li><a href="#closing-date-time">Customer closing date: time missing or invalid</a></li>
				{% endif %}

				{% if errorMissingCloseTime %}
					<li><a href="#closing-date-time">Custom closing date: date missing</a></li>
				{% endif %}
				{% if errorInvalidCloseTime %}
					<li><a href="#closing-date-time">Customer closing date: time missing or invalid</a></li>
				{% endif %}

			</ul>

		</div>
        {% endif %}

	  <h1 class="heading-large" style="margin-top:15px">
		  Event capacity and closing date
      </h1>


	  <form action="/create-event/tickets-onwards" method="get" class="form">

		  <!--   PLACES  -->
		  <fieldset class="form-group {% if errorAttendee %} form-group-error {% endif %}" id="capacity-section">

			  <label class="form-label-bold">
				  Set event capacity
				  {% if errorMissingCapacity %}
					  <span class="error-message">
						  Please set maximum capacity for this event.
					  </span>
				  {% elif errorInvalidCapacity %}
				  	  <span class="error-message">
						  Only numbers are allowed here. Check the values entered and try again.
					  </span>
				  {% endif %}
			  </label>


			  <div class="form-date">
					<!-- <p class="form-hint">For example, 31 3 1980</p>  -->
				  <div class="form-group form-group-day">
					   <input class="form-control  {% if errorAttendee %} form-control-error {% endif %}"
							  id="attendee-quantity" name="attendee-quantity" type="text"
							  value="{{ data['attendee-quantity'] }}">
				  </div>
			  </div>


			  <div style="">
				  <details role="group" style="width:650px;  ">
					  <summary role="button" aria-controls="details-content-0" aria-expanded="false" style="margin-top:10px;"><span class="summary">How capacity will be displayed</span></summary>
					  <div class="panel panel-border-narrow" id="details-content-0" aria-hidden="true"  style="margin-top:0px; margin-bottom:30px; padding-bottom:10px;">
						  <p>
							  This number won't be displayed on your webpage. It can be edited at any time. The only thing visitors will see is a 'limited availability' message once registration exceeds 80% of this number.
						  </p>
					  </div>
				  </details>
			  </div>
		  </fieldset>


		  <!-- WAITING LIST  -->
		  <fieldset class="form-group" id="waiting-list">
			  <!--  message user will see when all tickets are gone -->
			  <div class="form-group" style="margin-top:0px; margin-bottom:0px">
				  <label class="form-label-bold">
					  When capacity is reached
				  </label>
				  <div class="form-date" style="margin-top:5px">
					  <div class="multiple-choice" style="margin-bottom:10px">
						  <input id="waiting-list-no" type="radio" name="waiting-list" value="no" checked="checked">
						  <label for="waiting-list-no">Close registrations only</label>
					  </div>
					  <div class="multiple-choice" style="margin-bottom:10px"  data-target="waiting-list-questions-area">
						  <input id="waiting-list-yes" type="radio" name="waiting-list" value="yes" >
						  <label for="waiting-list-yes">Open waiting list</label>
					  </div>
				  </div>

				  <div class="form-group panel panel-border-narrow js-hidden" style="padding-bottom:12px;" id="waiting-list-questions-area">
					  <label class="form-label-bold">
						  When places become available
					  </label>
					  <div class="form-date" style="margin-top:5px">
						  <div class="multiple-choice" style="margin-bottom:10px">
							  <input id="waiting-list-auto" type="radio" name="waiting-list-free-up" value="no" checked="checked">
							  <label for="waiting-list-no">Automatically offer places</label>
						  </div>
						  <div class="multiple-choice" style="margin-bottom:10px"  >
							  <input id="waiting-list-manual" type="radio" name="waiting-list-free-up" value="yes" >
							  <label for="waiting-list-yes">I will select who if offered a place</label>
						  </div>
					  </div>
				  </div>
			  </div>
		  </fieldset>


		  <!-- FULL MESSAGE -->
		  <fieldset class="form-group {% if errorMissingCapacityMessage %} form-group-error {% endif %}" id="close-message-area">
			  <!--  message user will see when all tickets are gone -->
			  <div class="form-group " style="margin-top:0px; margin-bottom:0px">
				  <label class="form-label-bold" for="sold-out-message">
					  Customise event capacity message
					  {% if errorMissingCapacityMessage %}
						  <span class="error-message">
							  Please provide a message to display to visitors once the event reaches capacity.
						  </span>
					  {% endif %}
				  </label>
				  <textarea class="form-control {% if errorMissingCapacityMessage %} form-control-error {% endif %}" name="sold-out-message" id="sold-out-message" rows="3" style="width: 100%;">{{ data['sold-out-message'] }}</textarea>
			  </div>
		  </fieldset>



		  <!--   EDIT CLOSE DATE -->
		  <fieldset class="form-group" style="margin-bottom:0px; margin-top:10px;" id="closing-date-time">

			  <!-- Try without this as the page is getting way to busy -->
			  <!--
				  <p class="panel panel-border-narrow" style="padding-bottom:15px;">Registration will automatically close at 12:00 on the day of the event</p>
				-->

			  <label class="form-label-bold">
				  Do you want to edit the closing date?
			  </label>
			  <div class="form-date" style="margin-top:5px">
				  <div class="multiple-choice" style="margin-bottom:10px">
					  <input id="radio-days-before-no" type="radio" name="radio-close-early-yes-no" value="no"
							   {% if not errorMissingCloseDate %} checked="checked"{% endif %}>
					  <label for="radio-days-before-no">No, leave registration open up until the event starts</label>
				  </div>
				  <div class="multiple-choice" style="margin-bottom:10px"  data-target="date-selection-area">
					  <input id="radio-days-before-yes" type="radio" name="radio-close-early-yes-no" value="yes"
							 {% if errorMissingCloseDate or errorMissingCustomCloseDate or errorInvalidCustomCloseDate  or errorCustomCloseSelected %} checked="checked"{% endif %}>
					  <label for="radio-days-before-yes">Yes, close registration early</label>
				  </div>
			  </div>
		  </fieldset>




		  <div class="form-group panel panel-border-narrow js-hidden  {% if errorMissingCloseDate %} form-group-error {% endif %}" id="date-selection-area">

				  <div style="width:100%">
					  <label class="form-label-bold">
						  Close date
						  {% if errorMissingCloseDate %}
							  <span class="error-message">
								  Please select a response.
							  </span>
						  {% endif %}
					  </label>

		  			<fieldset>
					  <div class="" style="margin-top:5px"  style="width:100%">
						  <div class="multiple-choice" style="margin-bottom:10px; width:100%;" >
							  <input id="radio-days-before-1" type="radio" name="radio-days-before" value="oneday" >
							  <label for="radio-days-before-1">{{ data['days-before-1'] }}</label>
						  </div>
						  <div class="multiple-choice" style="margin-bottom:10px; width:100%;">
							  <input id="radio-days-before-2" type="radio" name="radio-days-before" value="twoday" >
							  <label for="radio-days-before-2">{{ data['days-before-2'] }}</label>
						  </div>
						  <div class="multiple-choice" style="margin-bottom:10px; width:100%;">
							  <input id="radio-days-before-3" type="radio" name="radio-days-before" value="threeday" >
							  <label for="radio-days-before-3">{{ data['days-before-3'] }}</label>
						  </div><!--
						  <div class="multiple-choice" style="margin-bottom:10px">
							  <input id="radio-days-before-4" type="radio" name="radio-days-before" value="">
							  <label for="radio-days-before-4">{{ data['days-before-4'] }}</label>
						  </div>
						  -->
						  <div class="multiple-choice" style="margin-bottom:10px; width:100%;" data-target="specific-date">
							  <input id="radio-days-before-other" type="radio" name="radio-days-before" value="differentdate"
									 {% if errorMissingCustomCloseDate or errorInvalidCustomCloseDate or errorCustomCloseDateSelected %}  checked="checked" {% endif %}>
							  <label for="radio-days-before-other">Another date</label>
						  </div>
					  </div>
				  </fieldset>


				  <fieldset class="{% if errorMissingCustomCloseDate or errorInvalidCustomCloseDate %} form-group-error {% endif %}">
					  <div class="js-hidden" id="specific-date"  style="width:100%;">

						  <label class="form-label-bold" for="dates" style="width:100%;">
							  Enter close date
							  {% if errorMissingCustomCloseDate %}
								  <span class="error-message">
									  Please specify your custom closing date
								  </span>
							  {% elif errorInvalidCustomCloseDate %}
								  <span class="error-message">
									  Please enter a full and valid time to close this event.
								  </span>
							  {% endif %}
						  </label>

						  <div class="form-date" id="dates" style="width:100%;">

							  <!-- <p class="form-hint">For example, 31 3 1980</p>  -->
							  <div class="form-group form-group-day">
								  <label for="event-day-close">Day</label>
								  <input class="form-control  {% if errorInvalidDay or errorMissingDay %} form-control-error {% endif %}"
										 id="event-day-close" name="event-day-close" type="number" pattern="[0-9]*" value="{{ data['event-day-close'] }}">
							  </div>

							  <div class="form-group form-group-month">
								  <label for="event-month-close">Month</label>
								  <input class="form-control  {% if errorInvalidMonth or errorMissingMonth %} form-control-error {% endif %}"
										 id="event-month-close" name="event-month-close" type="number"  value="{{ data['event-month-close'] }}">
							  </div>

							  <div class="form-group form-group-year">
								  <label for="event-year-close">Year</label>
								  <input class="form-control   {% if errorInvalidYear or errorMissingYear %} form-control-error {% endif %}"
										 id="event-year-close" name="event-year-close" type="number"  value="{{ data['event-year-close'] }}">
							  </div>

							  <div style="width:100%">&nbsp;<br>&nbsp;<br>&nbsp;</div>

						  </div>
					  </div>
					</fieldset>


				  </div>


				  <!-- FINISH TIME -->
				  <div style="width:100%">&nbsp;</div>


		  		<fieldset>
				  <!-- time -->
				  <div style="width:100%; display:block;" >

					  <label class="form-label-bold" style="margin-top:0px";>
						  Close time

						  {% if errorOnFinishHour %}
							  <span class="error-message">
								  Please enter a valid hour (0 to 23)
							  </span>
						  {% endif %}

						  {% if errorOnFinishMinutes %}
							  <span class="error-message">
								  Please enter a valid minute (0 to 59)
							  </span>
						  {% endif %}

					  </label>

					  <div class="form-date" >
						  <!-- <p class="form-hint">For example, 9 30</p>  -->
						  <div class="form-group form-group-day">
							  <label for="close-hours">Hours</label>
							  <input class="form-control  {% if errorOnFinishHour %} form-control-error {% endif %}"
									 id="close-hours" name="close-hours" type="number" pattern="[0-9]*"  value="12">
						  </div>
						  <div class="form-group form-group-month">
							  <label for="close-minutes">Minutes</label>
							  <input class="form-control  {% if errorOnFinishMinutes %} form-control-error {% endif %}"
									 id="close-minutes" name="close-minutes" type="number" pattern="[0-9]*" value="00" >
						  </div>
					  </div>
				  </div>

		  		</fieldset>

			  </div>





		  <div class="form-group" style="margin-top:40px">
			  <input type="submit" class="button" value="Save and continue">
			  <p style="margin-top:25px"><a href="/create-event/attendees">I'll complete this later - I don't have this information yet</a></p>
		  </div>



	  </form>

    </div>

				 <!--
					  <div class="column-third add-title-margin" style="margin-top:50px;">
						  <aside class="govuk-related-items" data-module="track-click" role="complementary">
							  <p class="heading-small" style="margin-top:5px; margin-bottom:15px;">
								  Waiting lists
							  </p>

							  <p>
								  A waiting list feature is being developed.
							  </p>

							  <p>
								  In the meantime, you can use the message editor to communicate any waiting list instructions and details to visitors.
							  </p>

						  </aside>

					  </div>
				-->

  </div>
</main>



<script>

	function showAnotherQuestion()
	{
		if(document.getElementById('q-1-section').style.display == 'none')
		{
			document.getElementById('q-1-section').style.display = 'inline';
		}
		else if (document.getElementById('q-2-section').style.display == 'none')
		{
			document.getElementById('q-2-section').style.display = 'inline';
		}
		else if (document.getElementById('q-3-section').style.display == 'none')
		{
			document.getElementById('q-3-section').style.display = 'inline';
		}
		else if (document.getElementById('q-4-section').style.display == 'none')
		{
			document.getElementById('q-4-section').style.display = 'inline';
		}
		else if (document.getElementById('q-5-section').style.display == 'none')
		{
			document.getElementById('q-5-section').style.display = 'inline';
			document.getElementById('add-question-button').style.display = 'none';
		}


	}
</script>


{% endblock %}


