{% extends "layout.html" %}
{% set loggedIn = true %}
{% block page_title %}

  GOV.UK prototype kit
{% endblock %}

{% block content %}

<main id="content" role="main">
  <div class="grid-row">
    <div class="full-grid-mode" style="margin-left:15px">


	  <!--  BREADCRUMB  -->
	  <div class="breadcrumbs">
		<ol>
			<li><a href="/account">Account home</a></li>
		</ol>
	  </div>



		<!-- CONDITIONAL ERROR  -->
		{% if errorsExist %}
		<div class="error-summary" role="alert" aria-labelledby="error-summary-heading-example-1" tabindex="-1">

			<h2 class="heading-medium error-summary-heading" id="error-summary-heading-example-1">
				Missing fields
			</h2>

			<p>
				Check the following errors and try again.
			</p>

			<ul class="error-summary-list">
				{% if errorMissingTitle %}
					<li><a href="#title-section">Missing title</a></li>
				{% endif %}
				{% if errorMissingSector %}
					<li><a href="#sector-area">Missing sector answer</a></li>
				{% endif %}
				{% if errorMissingSectorBox %}
					<li><a href="#sector-section">Missing sector</a></li>
				{% endif %}
				{% if experienceEmpty %}
					<li><a href="#export-experience">Missing export experience</a></li>
				{% endif %}

				{% if emptyTargetAudienceText %}
					<li><a href="#export-experience">Missing target audience summary</a></li>
				{% endif %}



			</ul>

		</div>
		{% endif %}



	  <h1 class="heading-large" style="margin-top:15px;">
        Title and audience
      </h1>


	  <form action="/create-event/title-onwards" method="get" class="form">

		  <p>Use these fields to create event summary content for your webpage.</p>

		  <!--
		  <details role="group" open="">
			  <summary role="button" aria-controls="details-content-0" aria-expanded="false"><span class="summary">More details</span></summary>
			  <div class="panel panel-border-narrow" id="details-content-0" aria-hidden="true">
				  <p>
					  This structure is designed to optimise readability and help visitors to quickly decide if this event is relevant to them.
				  </p>
			  </div>
		  </details>

		  -->

		  <div id="title-section" class="form-group" style="margin-top:10px; margin-bottom:35px;  width:630px;">

			  {% if errorMissingTitle %}
				<div class="form-group-error">
			  {% endif %}


				  <label class="form-label-bold" for="event-title">
				  Event title
				  {% if errorMissingTitle %}
					  <span class="error-message">
						  Enter a clear and descriptive title for your event
					  </span>
				  {% endif %}
				  </label>

				  <input type="text" class="form-control  {% if errorMissingTitle %} form-control-error {% endif %}"
						 id="event-title" name="event-title" value="{{ data['event-title'] }}" style="width: 90%">

			  {% if errorMissingTitle %}
				</div>
			  {% endif %}

		  </div>



		  <div id="summary-section" class="form-group" style="margin-top:10px; margin-bottom:35px;  width:750px;">

			  <label class="form-label-bold" for="event-title">
				  Event summary (optional)
				  <span class="form-hint" style="margin-bottom: 5px; margin-top:3px;">For example: For North west-based SMEs interested in exporting to Germany.</span>
			  </label>

			  <input type="text" class="form-control  {% if errorMissingTitle %} form-control-error {% endif %}"
					 id="summary-title" name="event-title" value="{{ data['event-title'] }}" style="width: 90%">

		  </div>




		  <!--  Sector  -->
		  <div class="form-group {% if errorMissingSector %} form-group-error  {% endif %} " id="sector-area" style="margin-bottom:10px;" >

			  <label class="form-label-bold" >
				  Is this event aimed at any specific sectors?

				  {% if errorMissingSector %}
					  <span class="error-message">
						  Select no or yes
					  </span>
				  {% endif %}
			  </label>

			  <div style="margin-top:5px;">

				  <div class="multiple-choice" style="margin-bottom:10px">
					  <input id="radio-inline-2" type="radio" name="radio-sector" value="no" {% if sectorIsNo %} checked="checked" {% endif %}>
					  <label for="radio-inline-2">No, this is relevant to all sectors</label>
				  </div>

				  <div class="multiple-choice" style="margin-bottom:10px" data-target="sector-section">
					  <input id="radio-inline-1" type="radio" name="radio-sector" value="yes"
							 {% if errorMissingSectorBox %} checked="checked" {% endif %} {% if sectorIsYes %} checked="checked" {% endif %}>
					  <label for="radio-inline-1">Yes</label>
				  </div>

			  </div>

		  </div>


			<div class="form-group panel panel-border-narrow js-hidden {% if errorMissingSectorBox %} form-group-error {% endif %}"  id="sector-section" style="margin-bottom:20px">

				<label class="form-label-bold" >
					Sectors
					{% if errorMissingSectorBox %}
				  <span class="error-message">
					  If this event is sector-specific, select at least one sector.
				  </span>
					{% endif %}
				</label>


				<div style="margin-top:5px; display: flex;" >

					<!-- COLUMN 2 -->
					<div style="width:50%">
						<div class="multiple-choice">
							<input id="sectors1" name="sectors1" type="checkbox" value="Aerospace" {% if sector1Selected == true %} checked="checked" {% endif %}>
							<label for="sectors1">Aerospace</label>
						</div>
						<div class="multiple-choice">
							<input id="sectors2" name="sectors2" type="checkbox" value="Airports" {% if sector2Selected == true %} checked="checked" {% endif %}>
							<label for="sectors2">Airports</label>
						</div>
						<div class="multiple-choice">
							<input id="sectors3" name="sectors3" type="checkbox" value="Biotechnology and pharmaceuticals" {% if sector3Selected == true %} checked="checked" {% endif %}>
							<label for="sectors3">Biotechnology and pharmaceuticals</label>
						</div>
						<div class="multiple-choice">
							<input id="sectors4" name="sectors4" type="checkbox" value="Chemicals" {% if sector4Selected == true %} checked="checked" {% endif %}>
							<label for="sectors4">Chemicals</label>
						</div>
						<div class="multiple-choice">
							<input id="sectors5" name="sectors5" type="checkbox" value="Communications" {% if sector5Selected == true %} checked="checked" {% endif %}>
							<label for="sectors5">Communications</label>
						</div>
						<div class="multiple-choice">
							<input id="sectors6" name="sectors6" type="checkbox" value="Creative and media" {% if sector6Selected == true %} checked="checked" {% endif %}>
							<label for="sectors6">Creative and media</label>
						</div>
						<div class="multiple-choice">
							<input id="sectors7" name="sectors7" type="checkbox" value="Electronics and IT hardware" {% if sector7Selected == true %} checked="checked" {% endif %}>
							<label for="sectors7">Electronics and IT hardware</label>
						</div>
						<div class="multiple-choice">
							<input id="sectors8" name="sectors8" type="checkbox" value="Financial and professional services" {% if sector8Selected == true %} checked="checked" {% endif %}>
							<label for="sectors8">Financial and professional services</label>
						</div>
						<div class="multiple-choice">
							<input id="sectors9" name="sectors9" type="checkbox" value="Giftware, jewellery and tableware" {% if sector9Selected == true %} checked="checked" {% endif %}>
							<label for="sectors9">Giftware, jewellery and tableware</label>
						</div>
						<div class="multiple-choice">
							<input id="sectors10" name="sectors10" type="checkbox" value="Healthcare and medical" {% if sector10Selected == true %} checked="checked" {% endif %}>
							<label for="sectors10">Healthcare and medical</label>
						</div>
						<div class="multiple-choice">
							<input id="sectors11" name="sectors11" type="checkbox" value="Leisure and tourism" {% if sector11Selected == true %} checked="checked" {% endif %}>
							<label for="sectors11">Leisure and tourism</label>
						</div>
						<div class="multiple-choice">
							<input id="sectors12" name="sectors12" type="checkbox" value="Marine" {% if sector12Selected == true %} checked="checked" {% endif %}>
							<label for="sectors12">Marine</label>
						</div>
						<div class="multiple-choice">
							<input id="sectors13" name="sectors13" type="checkbox" value="Metallurgical process plant" {% if sector13Selected == true %} checked="checked" {% endif %}>
							<label for="sectors13">Metallurgical process plant</label>
						</div>
						<div class="multiple-choice">
							<input id="sectors14" name="sectors14" type="checkbox" value="Mining" {% if sector14Selected == true %} checked="checked" {% endif %}>
							<label for="sectors14">Mining</label>
						</div>
						<div class="multiple-choice">
							<input id="sectors15" name="sectors15" type="checkbox" value="Ports and logistics" {% if sector15Selected == true %} checked="checked" {% endif %}>
							<label for="sectors15">Ports and logistics</label>
						</div>
						<div class="multiple-choice">
							<input id="sectors16" name="sectors16" type="checkbox" value="Railways" {% if sector16Selected == true %} checked="checked" {% endif %}>
							<label for="sectors16">Railways</label>
						</div>
						<div class="multiple-choice">
							<input id="sectors17" name="sectors17" type="checkbox" value="Retail and luxury" {% if sector17Selected == true %} checked="checked" {% endif %}>
							<label for="sectors17">Retail and luxury</label>
						</div>
						<div class="multiple-choice">
							<input id="sectors18" name="sectors18" type="checkbox" value="Software and computer services" {% if sector18Selected == true %} checked="checked" {% endif %}>
							<label for="sectors18">Software and computer services</label>
						</div>
						<div class="multiple-choice">
							<input id="sectors19" name="sectors19" type="checkbox" value="Water" {% if sector19Selected == true %} checked="checked" {% endif %}>
							<label for="sectors19">Water</label>
						</div>


					</div>


					<!-- COLUMN 3 -->
					<div style="width:50%">

						<div class="multiple-choice">
							<input id="sectors20" name="sectors20" type="checkbox" value="Agriculture, horticulture and fisheries" {% if sector20Selected == true %} checked="checked" {% endif %}>
							<label for="sectors20">Agriculture, horticulture and fisheries</label>
						</div>
						<div class="multiple-choice">
							<input id="sectors21" name="sectors21" type="checkbox" value="Automotive" {% if sector21Selected == true %} checked="checked" {% endif %}>
							<label for="sectors21">Automotive</label>
						</div>
						<div class="multiple-choice">
							<input id="sectors22" name="sectors22" type="checkbox" value="Business and consumer services" {% if sector22Selected == true %} checked="checked" {% endif %}>
							<label for="sectors22">Business and consumer services</label>
						</div>
						<div class="multiple-choice">
							<input id="sectors23" name="sectors23" type="checkbox" value="Clothing, footwear and fashion" {% if sector23Selected == true %} checked="checked" {% endif %}>
							<label for="sectors23">Clothing, footwear and fashion</label>
						</div>
						<div class="multiple-choice">
							<input id="sectors24" name="sectors24" type="checkbox" value="Construction" {% if sector24Selected == true %} checked="checked" {% endif %}>
							<label for="sectors24">Construction</label>
						</div>
						<div class="multiple-choice">
							<input id="sectors25" name="sectors25" type="checkbox" value="Education and training" {% if sector25Selected == true %} checked="checked" {% endif %}>
							<label for="sectors25">Education and training</label>
						</div>
						<div class="multiple-choice">
							<input id="sectors26" name="sectors26" type="checkbox" value="Environment" {% if sector26Selected == true %} checked="checked" {% endif %}>
							<label for="sectors26">Environment</label>
						</div>
						<div class="multiple-choice">
							<input id="sectors27" name="sectors27" type="checkbox" value="Food and drink" {% if sector27Selected == true %} checked="checked" {% endif %}>
							<label for="sectors27">Food and drink</label>
						</div>
						<div class="multiple-choice">
							<input id="sectors28" name="sectors28" type="checkbox" value="Global sports infrastructure" {% if sector28Selected == true %} checked="checked" {% endif %}>
							<label for="sectors28">Global sports infrastructure</label>
						</div>
						<div class="multiple-choice">
							<input id="sectors29" name="sectors29" type="checkbox" value="Household goods, furniture and furnishings" {% if sector29Selected == true %} checked="checked" {% endif %}>
							<label for="sectors29">Household goods, furniture and furnishings</label>
						</div>
						<div class="multiple-choice">
							<input id="sectors30" name="sectors30" type="checkbox" value="Legal services" {% if sector30Selected == true %} checked="checked" {% endif %}>
							<label for="sectors30">Legal services</label>
						</div>
						<div class="multiple-choice">
							<input id="sectors31" name="sectors31" type="checkbox" value="Mechanical electrical and process engineering" {% if sector31Selected == true %} checked="checked" {% endif %}>
							<label for="sectors31">Mechanical electrical and process engineering</label>
						</div>
						<div class="multiple-choice">
							<input id="sectors32" name="sectors32" type="checkbox" value="Metals, minerals and materials" {% if sector32Selected == true %} checked="checked" {% endif %}>
							<label for="sectors32">Metals, minerals and materials</label>
						</div>
						<div class="multiple-choice">
							<input id="sectors33" name="sectors33" type="checkbox" value="Oil and gas" {% if sector33Selected == true %} checked="checked" {% endif %}>
							<label for="sectors33">Oil and gas</label>
						</div>
						<div class="multiple-choice">
							<input id="sectors34" name="sectors34" type="checkbox" value="Power" {% if sector34Selected == true %} checked="checked" {% endif %}>
							<label for="sectors34">Power</label>
						</div>
						<div class="multiple-choice">
							<input id="sectors35" name="sectors35" type="checkbox" value="Renewable energy"  {% if sector35Selected == true %} checked="checked" {% endif %}>
							<label for="sectors35">Renewable energy</label>
						</div>
						<div class="multiple-choice">
							<input id="sectors36" name="sectors36" type="checkbox" value="Security"  {% if sector36Selected == true %} checked="checked" {% endif %}>
							<label for="sectors36">Security</label>
						</div>
						<div class="multiple-choice">
							<input id="sectors37" name="sectors37" type="checkbox" value="Textiles, interior textiles and carpets"  {% if sector37Selected == true %} checked="checked" {% endif %}>
							<label for="sectors37">Textiles, interior textiles and carpets</label>
						</div>

					</div>

				</div>

			</div>




		  <!--  EXPORT EXPERINCE    -->
		  <div class="form-group {% if experienceEmpty %} form-group-error {% endif %}" style="margin-top:20px" id="export-experience">
			  <label class="form-label-bold" >
				  Is this event aimed at a specific level of export experience?
				  {% if experienceEmpty %}
					  <span class="error-message">
						  Indicate the level of export experience this event is relevant to.
					  </span>
				  {% endif %}
			  </label>
			  <div class="form-date" style="margin-top:5px">
				  <div class="multiple-choice" style="margin-bottom:10px">
					  <input id="checkbox-never" type="checkbox" name="checkbox-never" value="new" {% if experienceNew %} checked="checked" {% endif %}>
					  <label for="checkbox-never">Not yet exporting</label>
				  </div>
				  <div class="multiple-choice" style="margin-bottom:10px">
					  <input id="checkbox-occasional" type="checkbox" name="checkbox-occasional" value="experienced" {% if experienceOld %} checked="checked" {% endif %}>
					  <label for="checkbox-occasional">Occasionally exporting</label>
				  </div>
				  <div class="multiple-choice" style="margin-bottom:10px">
					  <input id="checkbox-regular" type="checkbox" name="checkbox-regular" value="open" {% if experienceAll %} checked="checked" {% endif %}>
					  <label for="checkbox-regular">Regularly exporting</label>
				  </div>
			  </div>
		  </div>





		  <!--  Summary of target audience  -->
		  <div class="form-group  {% if emptyTargetAudienceText %} form-group-error {% endif %}" style="margin-top:0px; margin-bottom:20px;">
			  <label class="form-label-bold" for="summary-target-audience" >
				  Event eligibility criteria

				  <span class="form-hint" style="margin-bottom: 5px; margin-top:3px;">For example: This event is for North west-based SMEs interested in exporting to Germany.</span>

				  {% if emptyTargetAudienceText %}
					  <span class="error-message">
						  Provide at least one sentence that describes your overall target audience.
					  </span>
				  {% endif %}
			  </label>
			  <textarea class="form-control {% if emptyTargetAudienceText %} form-control-error {% endif %}"
						name="summary-target-audience" id="summary-target-audience" rows="4" style="width:570px;%;">{{ data['summary-target-audience'] }}</textarea>
		  </div>




		  <div class="form-group" style="margin-top:20px">
			  <input type="submit" class="button" value="Save and continue">
			  <p style="margin-top:25px"><a href="/create-event/description">I'll complete this later - I don't have this information yet</a></p>
		  </div>

	  </form>

    </div>
  </div>
</main>

{% endblock %}


