{% extends "layout.html" %}
{% set loggedIn = true %}
{% block page_title %}

  GOV.UK prototype kit
{% endblock %}

{% block content %}

<main id="content" role="main">
  <div class="grid-row">
    <div class="full-grid-mode" style="margin-left:15px">


	  <!--  BREADCRUMB  -->
	  <div class="breadcrumbs">
		<ol>
			<li><a href="/account">Account home</a></li>
		</ol>
	  </div>



		<!-- CONDITIONAL ERROR  -->
		{% if errorsExist %}
		<div class="error-summary" role="alert" aria-labelledby="error-summary-heading-example-1" tabindex="-1">

			<h2 class="heading-medium error-summary-heading" id="error-summary-heading-example-1">
				Missing fields
			</h2>

			<p>
				Please check the following errors and try again.
			</p>

			<ul class="error-summary-list">
				{% if errorMissingTitle %}
					<li><a href="#title-section">Missing title</a></li>
				{% endif %}
				{% if errorMissingSector %}
					<li><a href="#sector-area">Missing sector</a></li>
				{% endif %}
				{% if errorMissingSectorBox %}
					<li><a href="#sector-area">Missing sector</a></li>
				{% endif %}
			</ul>

		</div>
		{% endif %}



	  <h1 class="heading-large" style="margin-top:15px;">
        Title and audience
      </h1>


	  <form action="/create-event/title-onwards" method="get" class="form">


			  <div id="title-section" class="form-group" style="margin-top:10px; margin-bottom:35px;  width:630px;">

				  {% if errorMissingTitle %}
				  	<div class="form-group-error">
				  {% endif %}


					  <label class="form-label-bold" for="event-title">
					  Event title
					  {% if errorMissingTitle %}
						  <span class="error-message">
							  Please enter a clear and descriptive title for your event
						  </span>
					  {% endif %}
					  </label>

					  <input type="text" class="form-control  {% if errorMissingTitle %} form-control-error {% endif %}"
							 id="event-title" name="event-title" value="{{ data['event-title'] }}" style="width: 100%">

				  {% if errorMissingTitle %}
			  		</div>
				  {% endif %}

			  </div>




		  <!--  Sector  -->
		  <div class="form-group" id="sector-area" style="margin-bottom:10px;" >

			  {% if errorMissingSector %}
			  	<div class="form-group-error">
			  {% endif %}

				  <label class="form-label-bold" >
					  Is this event aimed at any specific sectors?

					  {% if errorMissingSector %}
						  <span class="error-message">
							  Please enter a sector
						  </span>
					  {% endif %}
				  </label>

				  <div style="margin-top:5px;">

					  <div class="multiple-choice" style="margin-bottom:10px">
						  <input id="radio-inline-2" type="radio" name="radio-sector" value="no" {% if sectorIsNo %} checked="checked" {% endif %}>
						  <label for="radio-inline-2">No, this is relevant to all sectors</label>
					  </div>

					  <div class="multiple-choice" style="margin-bottom:10px" data-target="sector-section">
						  <input id="radio-inline-1" type="radio" name="radio-sector" value="yes"
								 {% if errorMissingSectorBox %} checked="checked" {% endif %} {% if sectorIsYes %} checked="checked" {% endif %}>
						  <label for="radio-inline-1">Yes</label>
					  </div>

					  &nbsp;<br>&nbsp;<br>&nbsp;<br>&nbsp;<br>

				  </div>

			  {% if errorMissingSector %}
				</div>
			  {% endif %}

		  </div>


			<div class="form-group panel panel-border-narrow js-hidden {% if errorMissingSectorBox %} form-group-error {% endif %}"  id="sector-section" style="margin-bottom:20px">

				<label class="form-label-bold" for="sector-box">
					Sectors
					{% if errorMissingSectorBox %}
				  <span class="error-message">
					  Please enter a sector
				  </span>
					{% endif %}
				</label>


				<div style="margin-top:5px; display: flex;" >

					<!-- COLUMN 2 -->
					<div style="width:50%">
						<div class="multiple-choice">
							<input id="buyers" name="sectors" type="checkbox" value="Aerospace">
							<label for="buyers">Aerospace</label>
						</div>
						<div class="multiple-choice">
							<input id="buyers" name="sectors" type="checkbox" value="Airports">
							<label for="buyers">Airports</label>
						</div>
						<div class="multiple-choice">
							<input id="buyers" name="sectors" type="checkbox" value="Biotechnology and pharmaceuticals">
							<label for="buyers">Biotechnology and pharmaceuticals</label>
						</div>
						<div class="multiple-choice">
							<input id="buyers" name="sectors" type="checkbox" value="Chemicals">
							<label for="buyers">Chemicals</label>
						</div>
						<div class="multiple-choice">
							<input id="buyers" name="sectors" type="checkbox" value="Communications">
							<label for="buyers">Communications</label>
						</div>
						<div class="multiple-choice">
							<input id="buyers" name="sectors" type="checkbox" value="Creative and media">
							<label for="buyers">Creative and media</label>
						</div>
						<div class="multiple-choice">
							<input id="buyers" name="sectors" type="checkbox" value="Electronics and IT hardware">
							<label for="buyers">Electronics and IT hardware</label>
						</div>
						<div class="multiple-choice">
							<input id="buyers" name="sectors" type="checkbox" value="Financial and professional services">
							<label for="buyers">Financial and professional services</label>
						</div>
						<div class="multiple-choice">
							<input id="buyers" name="sectors" type="checkbox" value="Giftware, jewellery and tableware">
							<label for="buyers">Giftware, jewellery and tableware</label>
						</div>
						<div class="multiple-choice">
							<input id="buyers" name="sectors" type="checkbox" value="Healthcare and medical">
							<label for="buyers">Healthcare and medical</label>
						</div>
						<div class="multiple-choice">
							<input id="buyers" name="sectors" type="checkbox" value="Leisure and tourism">
							<label for="buyers">Leisure and tourism</label>
						</div>
						<div class="multiple-choice">
							<input id="buyers" name="sectors" type="checkbox" value="Marine">
							<label for="buyers">Marine</label>
						</div>
						<div class="multiple-choice">
							<input id="buyers" name="sectors" type="checkbox" value="Metallurgical process plant">
							<label for="buyers">Metallurgical process plant</label>
						</div>
						<div class="multiple-choice">
							<input id="buyers" name="sectors" type="checkbox" value="Mining">
							<label for="buyers">Mining</label>
						</div>
						<div class="multiple-choice">
							<input id="buyers" name="sectors" type="checkbox" value="Ports and logistics">
							<label for="buyers">Ports and logistics</label>
						</div>
						<div class="multiple-choice">
							<input id="buyers" name="sectors" type="checkbox" value="Railways">
							<label for="buyers">Railways</label>
						</div>
						<div class="multiple-choice">
							<input id="buyers" name="sectors" type="checkbox" value="Retail and luxury">
							<label for="buyers">Retail and luxury</label>
						</div>
						<div class="multiple-choice">
							<input id="buyers" name="sectors" type="checkbox" value="Software and computer services">
							<label for="buyers">Software and computer services</label>
						</div>
						<div class="multiple-choice">
							<input id="buyers" name="sectors" type="checkbox" value="Water">
							<label for="buyers">Water</label>
						</div>


					</div>


					<!-- COLUMN 3 -->
					<div style="width:50%">

						<div class="multiple-choice">
							<input id="buyers" name="sectors" type="checkbox" value="Agriculture, horticulture and fisheries">
							<label for="buyers">Agriculture, horticulture and fisheries</label>
						</div>
						<div class="multiple-choice">
							<input id="buyers" name="sectors" type="checkbox" value="Automotive">
							<label for="buyers">Automotive</label>
						</div>
						<div class="multiple-choice">
							<input id="buyers" name="sectors" type="checkbox" value="Business and consumer services">
							<label for="buyers">Business and consumer services</label>
						</div>
						<div class="multiple-choice">
							<input id="buyers" name="sectors" type="checkbox" value="Clothing, footwear and fashion">
							<label for="buyers">Clothing, footwear and fashion</label>
						</div>
						<div class="multiple-choice">
							<input id="buyers" name="sectors" type="checkbox" value="Construction">
							<label for="buyers">Construction</label>
						</div>
						<div class="multiple-choice">
							<input id="buyers" name="sectors" type="checkbox" value="Education and training">
							<label for="buyers">Education and training</label>
						</div>
						<div class="multiple-choice">
							<input id="buyers" name="sectors" type="checkbox" value="Environment">
							<label for="buyers">Environment</label>
						</div>
						<div class="multiple-choice">
							<input id="buyers" name="sectors" type="checkbox" value="Food and drink">
							<label for="buyers">Food and drink</label>
						</div>
						<div class="multiple-choice">
							<input id="buyers" name="sectors" type="checkbox" value="Global sports infrastructure">
							<label for="buyers">Global sports infrastructure</label>
						</div>
						<div class="multiple-choice">
							<input id="buyers" name="sectors" type="checkbox" value="Household goods, furniture and furnishings">
							<label for="buyers">Household goods, furniture and furnishings</label>
						</div>
						<div class="multiple-choice">
							<input id="buyers" name="sectors" type="checkbox" value="Legal services">
							<label for="buyers">Legal services</label>
						</div>
						<div class="multiple-choice">
							<input id="buyers" name="sectors" type="checkbox" value="Mechanical electrical and process engineering">
							<label for="buyers">Mechanical electrical and process engineering</label>
						</div>
						<div class="multiple-choice">
							<input id="buyers" name="sectors" type="checkbox" value="Metals, minerals and materials">
							<label for="buyers">Metals, minerals and materials</label>
						</div>
						<div class="multiple-choice">
							<input id="buyers" name="sectors" type="checkbox" value="Oil and gas">
							<label for="buyers">Oil and gas</label>
						</div>
						<div class="multiple-choice">
							<input id="buyers" name="sectors" type="checkbox" value="Power">
							<label for="buyers">Power</label>
						</div>
						<div class="multiple-choice">
							<input id="buyers" name="sectors" type="checkbox" value="Renewable energy">
							<label for="buyers">Renewable energy</label>
						</div>
						<div class="multiple-choice">
							<input id="buyers" name="sectors" type="checkbox" value="Security">
							<label for="buyers">Security</label>
						</div>
						<div class="multiple-choice">
							<input id="buyers" name="sectors" type="checkbox" value="Textiles, interior textiles and carpets">
							<label for="buyers">Textiles, interior textiles and carpets</label>
						</div>

					</div>

				</div>






			</div>




		  <!--  Summary of target audience    -->
		  <div class="form-group" style="margin-top:20px" >
			  <label class="form-label-bold" >
				  What level of export experience is this event aimed at?
			  </label>
			  <div class="form-date" style="margin-top:5px">
				  <div class="multiple-choice" style="margin-bottom:10px">
					  <input id="radio-inline-audience-1" type="radio" name="radio-audience-experience" value="new" {% if experienceNew %} checked="checked" {% endif %}>
					  <label for="radio-inline-audience-1">New to export</label>
				  </div>
				  <div class="multiple-choice" style="margin-bottom:10px">
					  <input id="radio-inline-audience-2" type="radio" name="radio-audience-experience" value="experienced" {% if experienceOld %} checked="checked" {% endif %}>
					  <label for="radio-inline-audience-2">Experienced exporters</label>
				  </div>
				  <div class="multiple-choice" style="margin-bottom:10px">
					  <input id="radio-inline-audience-3" type="radio" name="radio-audience-experience" value="open" {% if experienceAll %} checked="checked" {% endif %}>
					  <label for="radio-inline-audience-3">Open to all</label>
				  </div>
			  </div>
		  </div>





		  <!--  Summary of target audience  -->
		  <div class="form-group" style="margin-top:0px; margin-bottom:20px; width:630px;">
			  <label class="form-label-bold" for="summary-target-audience">
				  Summarise who this event is for, including any eligibility criteria.
			  </label>
			  <textarea class="form-control" name="summary-target-audience" id="summary-target-audience" rows="4" style="width: 100%;"></textarea>
		  </div>




		  <div class="form-group" style="margin-top:20px">
			  <input type="submit" class="button" value="Save and continue">
			  <p style="margin-top:25px"><a href="/create-event/description">I'll complete this later - I don't have this information yet</a></p>
		  </div>

	  </form>

    </div>
  </div>
</main>

{% endblock %}


