{% extends "layout.html" %}
{% set loggedIn = true %}
{% block page_title %}

  GOV.UK prototype kit
{% endblock %}

{% block content %}

<main id="content" role="main">

  <div class="grid-row">
    <div class="column-two-thirds">

		<div id="smash">
			gwrgsrg
			sdgsr
		</div>

    </div>
  </div>





</main>

{% endblock %}


{% block page_scripts %}
<script>
	// SHOWING URL ENTRY
	$(document).ready(function()
	{
		document.getElementById('smash').style.background = 'green';


		window.location.replace("/create-event/venue");
	});
</script>
{% endblock %}