{% extends "layout.html" %}

{% block page_title %}
  GOV.UK prototype kit
{% endblock %}

{% block content %}

<main id="content" role="main">

  <div class="grid-row">
    <div class="column-two-thirds">

	  <!--  BREADCRUMB  -->
	  <div class="breadcrumbs">
		<ol>
			<li><a href="/account">Account home</a></li>
		</ol>
	  </div>

	  <h1 class="heading-large" style="margin-top:15px">
        Venue location
      </h1>

	  <form action="/create-event/venue-onwards" method="get" class="form">

		  <div class="form-group" style="margin-top:10px; margin-bottom:20px">
			  <label class="form-label-bold" for="address-venue-name">
				  Venue name
			  </label>
			  <input type="text" class="form-control" id="address-venue-name" name="address-venue-name">
			  <!-- <input type="text" class="form-control" id="address-street" style="margin-top:10px">  -->
		  </div>

		  <div class="form-group" style="margin-top:10px; margin-bottom:20px">
			<label class="form-label-bold" for="address-street">
					Street
			</label>
			<input type="text" class="form-control" id="address-street" name="address-street">
			<!-- <input type="text" class="form-control" id="address-street" style="margin-top:10px">  -->
		  </div>


		  <div class="form-group" style="margin-top:10px; margin-bottom:20px">
			  <label class="form-label-bold" for="event-town">
				  Town or city
			  </label>
			  <input type="text" class="form-control" id="event-town"  name="event-town">
		  </div>

		  <div class="form-group" style="margin-top:10px; margin-bottom:20px; width:240px">
			  <label class="form-label-bold" for="event-postcode">
				  Postcode
			  </label>
			  <input type="text" class="form-control" id="event-postcode"  name="event-postcode">
		  </div>


		  <div class="form-group" style="margin-top:20px">
			  <input type="submit" class="button" value="Continue">
			  <p style="margin-top:30px"><a href="/create-event/venue-onwards">I don't know the venue</a></p>
		  </div>

	  </form>

    </div>
  </div>
</main>

{% endblock %}


