{% extends "layout.html" %}
{% set loggedIn = true %}
{% block page_title %}

  GOV.UK prototype kit
{% endblock %}

{% block content %}

{% include "includes/gov-beta-banner.html" %}


<main id="content" role="main">

  <div class="grid-row">
    <div class="column-two-thirds">

	  <!--  BREADCRUMB  -->
	  <div class="breadcrumbs">
		<ol>
			<li><a href="/account">Account home</a></li>
		</ol>
	  </div>


		<!-- CONDITIONAL ERROR  -->
		{% if anError %}
		<div class="error-summary" role="alert" aria-labelledby="error-summary-heading-example-1" tabindex="-1">

			<h2 class="heading-medium error-summary-heading" id="error-summary-heading-example-1">
				Invalid or missing fields
			</h2>

			<p>
				Please check the following errors and try again
			</p>

			<ul class="error-summary-list">
				{% if errorVenueName %}
					<li><a href="#venue-name-area">Venue name: missing</a></li>
				{% endif %}

				{% if errorBuilding %}
					<li><a href="#street-area">Street: missing</a></li>
				{% endif %}

				{% if errorTown %}
					<li><a href="#town-area">Town or city: missing</a></li>
				{% endif %}

				{% if errorPostcodeMissing %}
					<li><a href="#postcode-area">Postcode: missing</a></li>
				{% endif %}

				{% if errorPostcode %}
					<li><a href="#postcode-area">Postcode: invalid</a></li>
				{% endif %}
			</ul>

		</div>
		{% endif %}




	  <h1 class="heading-large" style="margin-top:15px; margin-bottom:15px">
		  Event venue and location
      </h1>

	  <form action="/create-event/venue-onwards" method="get" class="form" id="venueform">

		  <!--   ADDRESS  -->
		  <div class="form-group" style="margin-top:0px; margin-bottom:0px; width:100%;">

			  <p style="margin-bottom:25px">Venue details will be displayed on the webpage, along with a link to a map.</p>


			  <div id="venue-name-area" class="form-group {% if errorVenueName %} form-group-error {% endif %}">
				  <label class="form-label-bold" for="venue"  style="margin-bottom:5px;  ">Venue name</label>
				  {% if errorVenueName %}
					  <span class="error-message">
						  Enter your event venue
					  </span>
				  {% endif %}
				  <input class="form-control {% if errorVenueName %} form-control-error {% endif %}" id="venue" type="text" name="venue" style="width:75%"  value="{{ data['venue'] }}" >
			  </div>



			  	<div id="street-area" class="form-group {% if errorBuilding %} form-group-error {% endif %}">

				  <label class="form-label-bold" for="building"  style="margin-bottom:5px;  ">Street</label>
				  {% if errorBuilding %}
					  <span class="error-message">
						  Enter venue street number and name
					  </span>
				  {% endif %}
				  <input class="form-control {% if errorBuilding %} form-control-error {% endif %}" id="building" type="text" name="building" style="width:75%"  value="{{ data['building'] }}" >
				  <input class="form-control" id="street" type="text" name="street" style="width:75%; margin-top:8px"   value="{{ data['street'] }}" >

				</div>



			  	<div id="town-area" class="form-group {% if errorTown %} form-group-error {% endif %}">

				  <label class="form-label-bold" for="town" style="margin-bottom:5px; ">Town or city</label>
				  {% if errorTown %}
					  <span class="error-message">
						  Enter valid town or city
					  </span>
				  {% endif %}
				  <input class="form-control {% if errorTown %} form-control-error {% endif %}" id="town" type="text" name="town" style="width:40%"  value="{{ data['town'] }}">

				</div>



			  	<div id="postcode-area" class="form-group {% if errorPostcode or errorPostcodeMissing%} form-group-error {% endif %}">


				  <label class="form-label-bold" for="postcode" style="margin-bottom:5px;">Postcode</label>
				  {% if errorPostcode or errorPostcodeMissing%}
					  <span class="error-message">
						  Enter valid postcode
					  </span>
				  {% endif %}
				  <input class="form-control {% if errorPostcode or errorPostcodeMissing%} form-control-error {% endif %}" id="postcode" type="text" name="postcode" style="width:25%"
						 value="{{ session.data['postcode'] }}">

			  	</div>



				  <!-- LINK URL TO MAP -->
				  <div class="form-group">
					  <label class="form-label-bold" for="map-url"  style="margin-bottom:5px;">Link to map</label>

					  <div id="default-map-link">
						  <p><a class="button-secondary" style=" padding: .526315em .789473em .263157em;  font-size: 1em;   line-height: 1.25;
				  " onclick="openLinkorValidate()">Check map location</a></p>
						  <p style="margin-top:20px; margin-bottom:10px;">Or you can <span style="color: #006ea5; text-decoration: underline; cursor: pointer;" onclick="showManualUrlEntry()">enter your own link</span> if you wish.</p>
					  </div>

					  <div id="manual-map-entry" style="display:none;">
						  <p style="margin-bottom:0;">Paste link to map</p>

						  <!-- <input class="form-control" id="map-url" type="text" name="map-url" style="width:100%"  value="{{ data['map-url'] }}" >  -->

						  <textarea class="form-control" name="map-url" id="map-url" rows="3" style="width: 100%;">{{ data['map-url'] }}</textarea>

						  <p>Alternatively, <span span style="color: #006ea5; text-decoration: underline; cursor: pointer;" onclick="hideManualUrlEntry()">revert to automatic map link</span></p>
						  <p><a class="button-secondary" style=" padding: .526315em .789473em .263157em;  font-size: 1em;   line-height: 1.25;
				  " onclick="openCustomLink()">Check map location</a></p>
					  </div>

				  </div>




				  <!--  LOCATION NOTES-->
				  <div class="form-group">
					  <label class="form-label-bold" for="venue-additional-notes">
						  Additional venue details (optional)

						  <span class="form-hint" style="margin-bottom: 0px; margin-top:3px;">For example, travel instructions or parking details.</span>
					  </label>
					  <textarea class="form-control" name="venue-additional-notes" id="venue-additional-notes" rows="3" style="width: 100%;">{{ data['venue-additional-notes'] }}</textarea>
				  </div>


		  </div>



		  <div class="form-group" style="margin-top:20px">
			  <input type="submit" class="button" value="Save and continue">

			  <input type="submit" formaction="/create-event/venue-skip" value="I'll complete this later - I don't have this information yet"
					 style="margin-top:25px; border:0px; padding:0px; background-color: transparent; color: #005ea5; text-decoration: underline; cursor: pointer; ">

		  </div>

	  </form>

    </div>
  </div>




	<script>
		// SHOWING URL ENTRY
		function showManualUrlEntry()
		{
			document.getElementById('default-map-link').style.display = 'none';
			document.getElementById('manual-map-entry').style.display = 'block';
		}

		function hideManualUrlEntry()
		{
			document.getElementById('default-map-link').style.display = 'block';
			document.getElementById('manual-map-entry').style.display = 'none';
		}

		function openLinkorValidate()
		{
			//alert("postcode is " + document.getElementById('building').value.length);

			if (document.getElementById('venue').value.length == 0  ||
				document.getElementById('building').value.length == 0  ||
				document.getElementById('town').value.length == 0  ||
				document.getElementById('postcode').value.length == 0 )
			{
				document.getElementById("venueform").submit();
				//window.location = "/create-event/venue-onwards";
			}
			else  // otherwise show addresss
			{
				window.open("https://www.google.co.uk/maps/place/The+Innovation+Centre/@50.7369133,-3.5307244,16.25z/data=!4m5!3m4!1s0x0:0x9a5f61816c99672c!8m2!3d50.7381353!4d-3.5306391", '_blank');
			}
		}


		function openCustomLink()
		{
			var mapurltemp = document.getElementById("map-url").value;

			if(mapurltemp.length < 5)
			{
				window.alert("See story for empty validation state");
			}
			else
			{
				window.open("" + mapurltemp, '_blank');
			}


		}

	</script>




























	<script>
		// This example displays an address form, using the autocomplete feature
		// of the Google Places API to help users fill in the information.

		// This example requires the Places library. Include the libraries=places
		// parameter when you first load the API. For example:
		// <script src="https://maps.googleapis.com/maps/api/js?key=YOUR_API_KEY&libraries=places">

		var placeSearch, autocomplete;
		var componentForm = {
			premise: 'long_name',
			street_number: 'long_name',
			route: 'long_name',
			postal_town: 'long_name',
			postal_code: 'long_name'
			//establishment: 'long_name',
			//street_address : 'long_name'
			//administrative_area_level_3: 'long_name',
			//administrative_area_level_2: 'long_name',
			//administrative_area_level_1: 'long_name',
			//point_of_interest: 'long_name',
			//subpremise: 'long_name'
		};

		function initAutocomplete() {
			// Create the autocomplete object, restricting the search to geographical
			// location types.
			autocomplete = new google.maps.places.Autocomplete(
					/** @type {!HTMLInputElement} */(document.getElementById('autocomplete')),
					{types: ['geocode']});

			// GUY CODE
			autocomplete.setComponentRestrictions({'country': ['gb']});


			// When the user selects an address from the dropdown, populate the address
			// fields in the form.
			autocomplete.addListener('place_changed', fillInAddress);
		}




		function fillInAddress() {
			// Get the place details from the autocomplete object.
			var place = autocomplete.getPlace();

			for (var component in componentForm) {
				document.getElementById(component).value = '';
				document.getElementById(component).disabled = false;
			}


			// GUY CODE - WIFE PREVIOUSE ADDRESSES LOOKED UP
			document.getElementById('full-address-holder').value = "";

			// Get each component of the address from the place details
			// and fill the corresponding field on the form.
			for (var i = 0; i < place.address_components.length; i++) {
				var addressType = place.address_components[i].types[0];
				if (componentForm[addressType]) {
					var val = place.address_components[i][componentForm[addressType]];
					document.getElementById(addressType).innerHTML  = val;


					if(val != null)
					{
						// GUY CODE
						var newline = "\n";
						if(isNaN(val) == false)
						{
							newline = " ";
						}
						document.getElementById('full-address-holder').value
								= document.getElementById('full-address-holder').value +  val + newline;
						console.log("fhusdyfjir" + val);
					}

				}
			}

			// GUY CODE
			var entryBox = document.getElementById('autocomplete');
			entryBox.style.display = 'none';

			var editAddress = document.getElementById('edit-address');
			editAddress.style.display = 'inline';

			var newAddress = document.getElementById('enter-new-address');
			newAddress.style.display = 'inline'

			var theFiller = document.getElementById('initial-filler-sapce');
			theFiller.style.display = 'none'
		}



		///  GUY - NEVER GONNA USE THIS I THINK

		// Bias the autocomplete object to the user's geographical location,
		// as supplied by the browser's 'navigator.geolocation' object.
		function geolocate() {
			if (navigator.geolocation) {
				navigator.geolocation.getCurrentPosition(function(position) {
					var geolocation = {
						lat: position.coords.latitude,
						lng: position.coords.longitude
					};
					var circle = new google.maps.Circle({
						center: geolocation,
						radius: position.coords.accuracy
					});
					autocomplete.setBounds(circle.getBounds());
				});
			}
		}
	</script>

	<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyClQzPEKHRfpqPQ6sdf4Ivdxg8pFvnxO80&libraries=places&callback=initAutocomplete"
			async defer></script>


</main>

{% endblock %}

