{% extends "layout.html" %}
{% set loggedIn = true %}
{% block page_title %}

  GOV.UK prototype kit
{% endblock %}

{% block content %}

<main id="content" role="main">

  <div class="grid-row">
    <div class="column-two-thirds">

		<div id="smash">
			gwrgsrg
			sdgsr
		</div>

    </div>
  </div>





</main>

{% endblock %}


{% block page_scripts %}
<script>
	// SHOWING URL ENTRY
	$(document).ready(function()
	{
		document.getElementById('smash').style.background = 'green';

		window.open("https://www.google.co.uk/maps/place/ExCeL+London/@51.5087539,0.0285156,15z/data=!4m5!3m4!1s0x0:0xa0de5f705d7aec7!8m2!3d51.5084601!4d0.029846", '_blank');

		window.location.replace("/create-event/venue");
	});
</script>
{% endblock %}