{% extends "layout.html" %}
{% set loggedIn = true %}
{% block page_title %}

  GOV.UK prototype kit
{% endblock %}

{% block content %}

<main id="content" role="main">

  <div class="grid-row">
    <div class="column-two-thirds">

		<div id="smash">
			gwrgsrg
			sdgsr
		</div>

    </div>
  </div>





</main>

{% endblock %}


{% block page_scripts %}
<script>
	// SHOWING URL ENTRY
	$(document).ready(function()
	{
		document.getElementById('smash').style.background = 'green';

		window.open("https://www.google.co.uk/maps/place/Royal+Devon+and+Exeter+Hospital/@50.7162594,-3.5088454,17z/data=!3m1!4b1!4m5!3m4!1s0x486da40437265199:0xb269d663e3730e3b!8m2!3d50.7162594!4d-3.5066567", '_blank');

		window.location.replace("/create-event/venue");
	});
</script>
{% endblock %}