{% extends "layout.html" %}

{% block page_title %}
  Testing prototype
{% endblock %}

{% block content %}

<main id="content" role="main">
  <div class="grid-row">
    <div class="column-two-thirds">

      <!--  BREADCRUMB  -->
      <div class="breadcrumbs">
        <ol>
          <li><a href="/account">Account home</a></li>
        </ol>
      </div>

      <h1 class="heading-large" style="margin-top:15px">
        Events user testing prototype
      </h1>

      <h2 class="heading-medium">Internal User</h2>

	  <ul>
		  <li><a href="/signin">Sign in page</a></li>
		  <li><a href="account">User's account page</a></li>
	  </ul>



    </div>
  </div>
</main>

{% endblock %}


