33
{% extends "layout.html" %}

{% block page_title %}
  Testing prototype
{% endblock %}

{% block content %}

<main id="content" role="main">
  <div class="grid-row">
    <div class="column-two-thirds">

      <!--  BREADCRUMB  -->
      <div class="breadcrumbs">
        <ol>
          <li><a href="/account">Account home</a></li>
        </ol>
      </div>

      <h1 class="heading-large" style="margin-top:15px">
        Events user testing prototype
      </h1>


      <h2 class="heading-medium">December 2017</h2>

      <br/>
      <p><a href="/return-journey/great-home">Great homepage</a></p>
      <p><a href="/return-journey/eb-email">email 1</a></p>

      <p><a href="/return-journey/b2match-email">email 2</a></p>
      <br/>
      <br/>


      <h2 class="heading-medium">November 2017</h2>

      <br/>
      <p><a href="/event-page">Event page</a></p>
      <br/>
      <br/>
      <p><a href="/b2match1">B2Match 1</a></p>
      <p><a href="/b2match2">B2Match 2</a></p>
      <p><a href="/b2match3">B2Match 3</a></p>
      <p><a href="/b2match4">B2Match 4</a></p>
      <p><a href="/b2match5">B2Match 5</a></p>
      <br/>
      <br/>


      <ul>
        <!-- <li><a href="/scenario-empty">Scenario one</a></li> -->
        <br/>
        <li><a href="/scenario-1">Scenario one</a></li>
        <br/>
        <br/>
        <li><a href="/scenario-2">Generic</a></li>
        <br/>
        <li><a href="/scenario-3">Food and drink</a></li>
        <br/>
        <li><a href="/scenario-4">Germany - retail</a></li>
        <br/>
        <li><a href="/scenario-5">Sports technology in France</a></li>
        <br/>
        <li><a href="/scenario-6">Sell your products and services overseas</a></li>
        <br/>
        <li><a href="/scenario-7">Manufacturing and engineering</a></li>
      </ul>

      <br>
      <br>
      <br>
      <br>
      <br>

      <ul>
        <li><a href="/scenario-previous-questions">Load saved questions</a></li>
      </ul>


      <br>

      <h2 class="heading-medium">Internal User</h2>

	  <ul>
		  <li><a href="/signin">Sign in page</a></li>
		  <li><a href="account">User's account page</a></li>
	  </ul>



      <br>
      <br>



      <p><a href="/clear-session">Start fresh</a></p>

    </div>
  </div>
</main>

{% endblock %}


